product-files/workflows/Social Media Automation/Scheduling/Expert/06982_Monitor brand mentions with HTTP REST API and Slack and log the results.json
{
  "name": "Monitor brand mentions with HTTP / REST API and Slack and log the results",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        400
      ],
      "id": "8ed67aa3-03c2-496b-8e45-850cec417592",
      "name": "Daily Schedule"
    },
    {
      "parameters": {
        "url": "https://news.example.com/feed.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        40,
        400
      ],
      "id": "a2169842-769f-4d7f-8b30-a4a2ed6817ee",
      "name": "Read Source Feed",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "logic": "removeItemsWithAlreadySeenKeyValues",
        "dedupeValue": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        280,
        400
      ],
      "id": "756093a7-c600-4129-a6c5-250cb150ed75",
      "name": "Skip Already-Seen Posts"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        520,
        400
      ],
      "id": "55c95012-3fb6-4ed1-8870-89650b70c185",
      "name": "Keep Top Stories"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rewrite this story as a punchy 3-sentence post for our audience:\n\n{{ $json.title }}\n{{ $json.contentSnippet || $json.content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        760,
        400
      ],
      "id": "975ae398-0e0f-4adf-9a8f-010d4ca7c3e4",
      "name": "Rewrite for Our Audience (AI)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        940,
        590
      ],
      "id": "6c058e16-0046-4987-9fcc-fcbdc648fbf4",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#social",
          "cachedResultName": "#social"
        },
        "text": "={{ $json.text || $json.title }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1180,
        320
      ],
      "id": "71d5f28d-5743-4fac-806a-111f476160c1",
      "name": "Publish to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Post Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1420,
        400
      ],
      "id": "4f26f460-8ac9-44d1-9e78-e73db6c2f828",
      "name": "Log Published Posts (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "postId",
              "value": "={{ $json.postId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        1660,
        400
      ],
      "id": "810a0d22-2026-4060-b400-247caa16370e",
      "name": "Save Execution Metadata"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "scheduledAt",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1900,
        400
      ],
      "id": "190ec953-6404-4bdd-a6db-334d197d8091",
      "name": "Sort Posts Newest First"
    },
    {
      "parameters": {
        "maxItems": 50
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2140,
        400
      ],
      "id": "84dce148-7893-4440-8f31-6f369751f8c4",
      "name": "Cap Batch Volume"
    },
    {
      "parameters": {
        "operation": "getCurrentDate",
        "outputFieldName": "processedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2380,
        400
      ],
      "id": "42eff79f-9756-4e86-924a-cd165f1c678f",
      "name": "Stamp Processing Time"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7868b9a9-15fa-4127-bf2f-3bbcc53110c9",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "51424722-c03a-4159-addd-60e7977d5fdb",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "abab0dc5-f74d-44c8-ae4f-dd95e9ddbfde",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2620,
        400
      ],
      "id": "4d8e6c21-03ab-4214-a112-90b1fae96ac6",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Post Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2860,
        400
      ],
      "id": "6e87089f-1f2d-42df-ad3e-c5984958db25",
      "name": "Append Audit Row (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#social",
          "cachedResultName": "#social"
        },
        "text": "=✅ Monitor brand mentions with HTTP / REST API and Slack and log the resu — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3100,
        400
      ],
      "id": "17fa33a1-68ff-4394-86b1-ce04e7e4286a",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b548abc-4700-472e-8a30-d2577c4d930a",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "13d7b4e1-c2de-4d80-9a03-c4b9637ed4ba",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "e071b479-2cf4-462f-88c8-a485eaf668e5",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2620,
        740
      ],
      "id": "5a5e5d67-738f-48c0-b369-130661e61e02",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#social",
          "cachedResultName": "#social"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2860,
        740
      ],
      "id": "a669adf4-88eb-4c8d-8e94-7f0a05f3e0cf",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Monitor brand mentions with HTTP / REST API and Slack and log the results\n\n**Pattern:** Social Listening  \n**Trigger:** Scheduled  \n**Level:** Advanced\n\nProcesses posts for scheduling — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        60
      ],
      "id": "196fafed-9038-4cab-ac5c-d25b603e43e8",
      "name": "Overview"
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Read Source Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Source Feed": {
      "main": [
        [
          {
            "node": "Skip Already-Seen Posts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Already-Seen Posts": {
      "main": [
        [
          {
            "node": "Keep Top Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Top Stories": {
      "main": [
        [
          {
            "node": "Rewrite for Our Audience (AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Rewrite for Our Audience (AI)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite for Our Audience (AI)": {
      "main": [
        [
          {
            "node": "Publish to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Slack": {
      "main": [
        [
          {
            "node": "Log Published Posts (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Published Posts (Google Sheets)": {
      "main": [
        [
          {
            "node": "Save Execution Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Execution Metadata": {
      "main": [
        [
          {
            "node": "Sort Posts Newest First",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort Posts Newest First": {
      "main": [
        [
          {
            "node": "Cap Batch Volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cap Batch Volume": {
      "main": [
        [
          {
            "node": "Stamp Processing Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Processing Time": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (Google Sheets)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "5312f1f1-bee0-4406-ae82-b657a6784b0c",
  "id": "FDX06982"
}