product-files/workflows/Workflow Automation/Integrations/Intermediate/06159_Streamline a multi-step process with HTTP REST API and MySQL hands-free.json
{
  "name": "Streamline a multi-step process with HTTP / REST API and MySQL hands-free",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        400
      ],
      "id": "f360cfb2-e859-4f49-b521-942db6edaef1",
      "name": "Weekly Schedule"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65c76096-c16c-401a-8056-13ae785b45a1",
              "name": "jobId",
              "value": "={{ $json.body?.jobId || $json.body?.id }}",
              "type": "string"
            },
            {
              "id": "a0f4b915-3859-48c6-82ed-55fc7257fd27",
              "name": "kind",
              "value": "={{ $json.body?.type || 'default' }}",
              "type": "string"
            },
            {
              "id": "b36cca8b-6d52-49de-b2fb-f370b179c310",
              "name": "payload",
              "value": "={{ JSON.stringify($json.body || $json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        400
      ],
      "id": "9365dd0b-8f20-4e0e-973c-0c1d4643f7a8",
      "name": "Map to Canonical Schema"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7a836fc1-4780-45a5-b3bf-404ae4bb9784",
                    "leftValue": "={{ $json.kind }}",
                    "rightValue": "job.start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "job.start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dcd4b8bd-1c91-4241-b71a-52db353854fa",
                    "leftValue": "={{ $json.kind }}",
                    "rightValue": "job.done",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "job.done"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        280,
        400
      ],
      "id": "458d5338-7b13-4a49-8fb6-c2968314e770",
      "name": "Route by Event Kind"
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "jobs",
          "cachedResultName": "jobs"
        },
        "dataMode": "autoMapInputData",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        520,
        310
      ],
      "id": "f62f9130-b5c0-4fa8-adbb-54f2a6c3240b",
      "name": "Handle 'job.start' → MySQL",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/v1/jobs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        480
      ],
      "id": "57fe4fab-81b7-4abe-b8a7-0145ed972ffc",
      "name": "Handle 'job.done' → Forward API",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "jobs",
          "cachedResultName": "jobs"
        },
        "dataMode": "autoMapInputData",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1000,
        650
      ],
      "id": "ee188f72-266f-4e23-aff8-b7acf1355b89",
      "name": "Log Unrecognized Kind",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1480,
        400
      ],
      "id": "a1898ddd-0dc1-4017-827d-e28a7e125200",
      "name": "Consolidate Handling"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://enrichment.example.com/v2/lookup",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.type }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        400
      ],
      "id": "dfe8a44f-c7cf-4d2c-9ae5-32ffe78d22a2",
      "name": "Enrich with Reference Data",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3aaa6247-7460-408e-a964-95e9572c1934",
              "name": "enrichedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "2d0481d0-5647-4d63-b9ee-15824149bc62",
              "name": "enrichmentSource",
              "value": "reference-api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2440,
        400
      ],
      "id": "5a956d5d-0039-4276-b7aa-f2f080f48266",
      "name": "Fold In Enrichment Fields"
    },
    {
      "parameters": {
        "operation": "csv",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2680,
        400
      ],
      "id": "9950eb1e-4518-40ba-b8dc-d4ce94e99ba4",
      "name": "Serialize Run Output (CSV)"
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "jobs",
          "cachedResultName": "jobs"
        },
        "dataMode": "autoMapInputData",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2920,
        400
      ],
      "id": "b3d7830f-e3c6-4b1d-90c7-923bfeb99f66",
      "name": "Archive Row Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build a stable idempotency key per job (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.jobId, j.type].join('|')) } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3160,
        400
      ],
      "id": "d1bf19b2-3c73-4a04-87e9-2a0fdf9b8044",
      "name": "Fingerprint for Idempotency"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "logic": "removeItemsWithAlreadySeenKeyValues",
        "dedupeValue": "={{ $json.idempotencyKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        3400,
        400
      ],
      "id": "ac5c3988-fcdf-4f05-87d9-4b672ed1eb9d",
      "name": "Drop Already-Processed Items"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "jobs",
          "cachedResultName": "jobs"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3640,
        400
      ],
      "id": "f5cd92e3-ec9f-4590-ab12-454714496522",
      "name": "Load Previous Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Compare current metrics with the previous snapshot\nconst current = $input.first().json;\nconst prev = $('Load Previous Snapshot').first().json || {};\nconst drift = {};\nfor (const k of Object.keys(current)) {\n  if (typeof current[k] === 'number' && typeof prev[k] === 'number' && prev[k] !== 0) {\n    drift[k] = Math.round(((current[k] - prev[k]) / prev[k]) * 1000) / 10;\n  }\n}\nreturn [{ json: { ...current, driftPct: drift, hasDrift: Object.values(drift).some(v => Math.abs(v) > 10) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3880,
        400
      ],
      "id": "520c161a-7f4e-4e2d-906e-1ac4b44351da",
      "name": "Compute Drift vs Snapshot"
    },
    {
      "parameters": {
        "operation": "getCurrentDate",
        "outputFieldName": "completedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4120,
        400
      ],
      "id": "97c508a3-06de-471f-8b62-9a552eae1978",
      "name": "Stamp Completion Time"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "runId",
              "value": "={{ $execution.id }}"
            },
            {
              "key": "itemCount",
              "value": "={{ $items().length }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        4360,
        400
      ],
      "id": "f9f01964-deb1-4785-b380-fb7f5f2456cf",
      "name": "Persist Run Metadata"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "167ddd1f-9ed7-4287-b0bc-16d49f28fe4b",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "c4895e6b-811e-4cfd-a085-f9d53f73faf6",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "628e6057-81ac-49df-bae8-ab6cb81e7e2f",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4600,
        400
      ],
      "id": "c1eb455a-baf9-4168-8084-5a793dd6b9e5",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "jobs",
          "cachedResultName": "jobs"
        },
        "dataMode": "autoMapInputData",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        4840,
        400
      ],
      "id": "7a014501-4e60-4eb0-829e-d601f238f129",
      "name": "Append Audit Row (MySQL)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#automation",
          "cachedResultName": "#automation"
        },
        "text": "=✅ Streamline a multi-step process with HTTP / REST API and MySQL hands-f — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        5080,
        400
      ],
      "id": "3a4d0ecd-08b3-466b-b4ec-18b06df629b6",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc1ba26d-ce0f-40ad-9281-909acb2ec005",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "889c776e-37c6-4548-b65a-6feb3bff42f5",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "eab8bc78-328a-4973-a5af-9dd295afcb0d",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4600,
        740
      ],
      "id": "e068a4f3-e44e-4c71-b213-e9ab29b33a63",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#automation",
          "cachedResultName": "#automation"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        4840,
        740
      ],
      "id": "f0e65675-a9dc-4d3f-8d67-5ba5e5871741",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Job Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5080,
        740
      ],
      "id": "c743849d-38a9-4dc8-910c-24c012aff38f",
      "name": "Park in Dead-Letter Queue",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Streamline a multi-step process with HTTP / REST API and MySQL hands-free\n\n**Pattern:** Workflow Automation  \n**Trigger:** Scheduled  \n**Level:** Production\n\nProcesses jobs for integrations — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        50
      ],
      "id": "b9505b67-481e-4b83-91b1-37dfb70a596e",
      "name": "Overview"
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Map to Canonical Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to Canonical Schema": {
      "main": [
        [
          {
            "node": "Route by Event Kind",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event Kind": {
      "main": [
        [
          {
            "node": "Handle 'job.start' → MySQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle 'job.done' → Forward API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Unrecognized Kind",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle 'job.start' → MySQL": {
      "main": [
        [
          {
            "node": "Consolidate Handling",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle 'job.done' → Forward API": {
      "main": [
        [
          {
            "node": "Consolidate Handling",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Unrecognized Kind": {
      "main": [
        [
          {
            "node": "Consolidate Handling",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Handling": {
      "main": [
        [
          {
            "node": "Enrich with Reference Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with Reference Data": {
      "main": [
        [
          {
            "node": "Fold In Enrichment Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fold In Enrichment Fields": {
      "main": [
        [
          {
            "node": "Serialize Run Output (CSV)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serialize Run Output (CSV)": {
      "main": [
        [
          {
            "node": "Archive Row Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Row Snapshot": {
      "main": [
        [
          {
            "node": "Fingerprint for Idempotency",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fingerprint for Idempotency": {
      "main": [
        [
          {
            "node": "Drop Already-Processed Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drop Already-Processed Items": {
      "main": [
        [
          {
            "node": "Load Previous Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Previous Snapshot": {
      "main": [
        [
          {
            "node": "Compute Drift vs Snapshot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Drift vs Snapshot": {
      "main": [
        [
          {
            "node": "Stamp Completion Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Completion Time": {
      "main": [
        [
          {
            "node": "Persist Run Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Run Metadata": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (MySQL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (MySQL)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Failure to Slack": {
      "main": [
        [
          {
            "node": "Park in Dead-Letter Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "1c29145c-2d50-4545-896d-6a9265bfecd9",
  "id": "FDX06159"
}