product-files/workflows/Workflow Automation/Triggers/Intermediate/06060_Notify stakeholders on changes with Twilio for your team.json
{
  "name": "Notify stakeholders on changes with Twilio for your team",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "886b8b56",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "d8e5f0ca-084b-4a72-8345-b5c300ec5c2b",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        300
      ],
      "webhookId": "c47245a7-24e6-4591-bbec-d0332237dc0d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "47af21a7-d313-4f6a-84d9-d3db3f3eaa05",
              "leftValue": "={{ $json.score }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "036084bc-0052-4153-b51f-198262d44def",
      "name": "Filter Items",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99d8a1b8-3d77-40a6-97ae-1b2296e756e1",
              "name": "status",
              "value": "='processed'",
              "type": "string"
            },
            {
              "id": "6dfe8c39-c11e-4329-88c4-4ce2a80cde14",
              "name": "summary",
              "value": "={{ JSON.stringify($json).slice(0, 280) }}",
              "type": "string"
            },
            {
              "id": "a1cdf8d8-f613-47f3-b381-424adf0547e7",
              "name": "source",
              "value": "='flowdex-workflow'",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0df57987-d3f9-4bb5-8ab0-7528f726426b",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "resource": "sms",
        "operation": "send",
        "from": "",
        "to": "={{ $json.phone }}",
        "message": "={{ $json.summary }}"
      },
      "id": "e8dcfc9e-6ae6-4f16-ba39-fd017071d777",
      "name": "Send Twilio Message",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1040,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Notify stakeholders on changes with Twilio for your team\n\n**Pattern:** Event Notification\n**Trigger:** Webhook\n**Integrations:** Twilio\n\nImport, add your credentials, then adjust parameters. Original FlowDex template.",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "c0cf5c99-095a-44c9-b83d-117b152346e1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1080,
        80
      ]
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Filter Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send Twilio Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "94dd8289-423b-48fa-9434-f19d879665c4",
  "id": "FDX06060"
}