product-files/workflows/Workflow Automation/Triggers/Advanced/06317_Ingest webhook payloads with Airtable 247.json
{
  "name": "Ingest webhook payloads with Airtable 24/7",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf06317-job",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        400
      ],
      "id": "7d5a00c0-0fd7-4616-a7d6-4138a7f1a710",
      "name": "Receive Inbound Webhook",
      "webhookId": "62acbd3b-a8cc-44b7-ae74-2c600ab9e20d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bef8a5a9-d134-4e9d-9d53-5a81aae5b7fc",
              "name": "jobId",
              "value": "={{ $json.body?.jobId || $json.body?.id }}",
              "type": "string"
            },
            {
              "id": "9676c6dd-775a-4b96-9c82-66708284bc71",
              "name": "kind",
              "value": "={{ $json.body?.type || 'default' }}",
              "type": "string"
            },
            {
              "id": "9d804c8d-4820-47b3-8175-1d4ba2098786",
              "name": "payload",
              "value": "={{ JSON.stringify($json.body || $json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        400
      ],
      "id": "93f892e9-fa46-49c6-a463-c2d4e5e2f851",
      "name": "Map to Canonical Schema"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c9485249-ea6a-412c-b7e6-95089949a3e0",
                    "leftValue": "={{ $json.kind }}",
                    "rightValue": "created",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "created"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "48649b6b-bc49-4696-9458-9491ad82f89b",
                    "leftValue": "={{ $json.kind }}",
                    "rightValue": "updated",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "updated"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        280,
        400
      ],
      "id": "a8e6d2c7-9db6-4711-a32f-09682a2477e8",
      "name": "Route by Event Kind"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Workflow Automation Base"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Jobs"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "jobId"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        520,
        310
      ],
      "id": "6b8ed6e3-c499-414e-9875-17bf82a3270c",
      "name": "Handle 'created' → Airtable",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/v1/jobs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        480
      ],
      "id": "5c28f60e-b1df-4a74-a71e-5c7748ec4bed",
      "name": "Handle 'updated' → Forward API",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Workflow Automation Base"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Jobs"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1000,
        650
      ],
      "id": "3bf199ea-0b8d-41c5-99fb-74d114e98ef0",
      "name": "Log Unrecognized Kind",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1480,
        400
      ],
      "id": "84472644-5343-4a77-b684-667b918e062a",
      "name": "Consolidate Handling"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2200,
        400
      ],
      "id": "34587f70-a8f3-4891-81b5-3e7e5ccb3181",
      "name": "Respond with Outcome"
    },
    {
      "parameters": {
        "maxItems": 50
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2440,
        400
      ],
      "id": "30ac5b35-6906-4b11-bd39-b7994c0c8e0d",
      "name": "Cap Batch Volume"
    },
    {
      "parameters": {
        "operation": "getCurrentDate",
        "outputFieldName": "processedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2680,
        400
      ],
      "id": "510c0343-2843-4e38-846a-906d97f0a8d0",
      "name": "Stamp Processing Time"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#automation",
          "cachedResultName": "#automation"
        },
        "text": "=✅ Ingest webhook payloads with Airtable 24/7 — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2920,
        400
      ],
      "id": "630eb59e-1ab7-4da7-b90c-387b5ad69358",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6df9e45e-081e-404b-bb68-8a45adf20d89",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "d75ddc89-8d40-4496-a179-84142de2dd64",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "1a0e0217-9807-4dd1-8407-d293295a9649",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2440,
        740
      ],
      "id": "fc366bab-2768-4706-a7f3-7ced512269ce",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#automation",
          "cachedResultName": "#automation"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2680,
        740
      ],
      "id": "014af8d2-f406-4cd0-bcc0-99ea69e3659e",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Ingest webhook payloads with Airtable 24/7\n\n**Pattern:** Webhook Pipeline  \n**Trigger:** Webhook  \n**Level:** Core\n\nProcesses jobs for triggers — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        50
      ],
      "id": "0b03cb5b-24f3-42a0-9eb5-8c8312ec6fdd",
      "name": "Overview"
    }
  ],
  "connections": {
    "Receive Inbound Webhook": {
      "main": [
        [
          {
            "node": "Map to Canonical Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to Canonical Schema": {
      "main": [
        [
          {
            "node": "Route by Event Kind",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event Kind": {
      "main": [
        [
          {
            "node": "Handle 'created' → Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle 'updated' → Forward API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Unrecognized Kind",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle 'created' → Airtable": {
      "main": [
        [
          {
            "node": "Consolidate Handling",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle 'updated' → Forward API": {
      "main": [
        [
          {
            "node": "Consolidate Handling",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Unrecognized Kind": {
      "main": [
        [
          {
            "node": "Consolidate Handling",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Handling": {
      "main": [
        [
          {
            "node": "Respond with Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond with Outcome": {
      "main": [
        [
          {
            "node": "Cap Batch Volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cap Batch Volume": {
      "main": [
        [
          {
            "node": "Stamp Processing Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Processing Time": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "022b73e7-0a70-4bbd-a838-1c494f5e890e",
  "id": "FDX06317"
}