product-files/workflows/Document Processing/Contracts/Advanced/03858_Generate invoices with HTTP REST API and MySQL for your team.json
{
  "name": "Generate invoices with HTTP / REST API and MySQL for your team",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dd86648a",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "10bfd1d1-f2cc-4717-88ce-9efb9c4502a5",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        300
      ],
      "webhookId": "3a848b36-a352-48e7-8f29-c8cfbe9564d2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1bb54653-a847-438d-831c-d4aa4da5d2f0",
              "name": "summary",
              "value": "={{ JSON.stringify($json).slice(0, 280) }}",
              "type": "string"
            },
            {
              "id": "a4423a23-7f96-4b56-a894-66b946bd3f7c",
              "name": "source",
              "value": "='flowdex-workflow'",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1f0c330c-464d-48da-a7bd-8b5fae7ee981",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://data.example.org/latest.json",
        "options": {},
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "e81e1850-8332-4e5d-97ee-635538fa01f3",
      "name": "Fetch Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "value": "records",
          "mode": "name"
        },
        "options": {}
      },
      "id": "23a6e7a3-257e-4180-872e-efebdffa5359",
      "name": "Save to MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1040,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "general",
          "mode": "name"
        },
        "text": "={{ $json.summary || 'New event' }}",
        "otherOptions": {}
      },
      "id": "d2606997-a043-4cac-abbf-3ca9f6bc2594",
      "name": "Send Slack Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1280,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Generate invoices with HTTP / REST API and MySQL for your team\n\n**Pattern:** Document Generation\n**Trigger:** Webhook\n**Integrations:** HTTP / REST API, MySQL, Slack\n\nImport, add your credentials, then adjust parameters. Original FlowDex template.",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "6ccc90eb-4438-4839-95df-ca253b5d91b4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1320,
        80
      ]
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Fetch Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Data": {
      "main": [
        [
          {
            "node": "Save to MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to MySQL": {
      "main": [
        [
          {
            "node": "Send Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "8332a4ab-d6fd-4d72-94c6-07495f5d9542",
  "id": "FDX03858"
}