product-files/workflows/Document Processing/Invoices/Intermediate/03259_Parse receipts with Google Drive and Notion on autopilot.json
{
  "name": "Parse receipts with Google Drive and Notion on autopilot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        400
      ],
      "id": "b2cd9a91-7934-433f-ad64-f88e7cb58346",
      "name": "Weekly Schedule"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id || $json.fileId }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        40,
        400
      ],
      "id": "edb36825-9f2c-4e81-963e-d4230ef362d9",
      "name": "Download from Google Drive",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        280,
        400
      ],
      "id": "c908efa7-0612-4656-bbf7-a33011c6a225",
      "name": "Parse XLSX Contents"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Normalize incoming document records to a stable schema\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  out.push({ json: {\n    documentId: String(j.documentId ?? j.id ?? '').trim(),\n    fileName: typeof j.fileName === 'string' ? j.fileName.trim() : j.fileName ?? null,\n    source: j.source ?? 'api',\n    receivedAt: new Date().toISOString(),\n  } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        400
      ],
      "id": "0fc8647e-4ee4-4807-9eec-2495e985843e",
      "name": "Clean & Reshape Rows"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f99aa190-4982-4c22-8b3e-81c7084cfb67",
              "leftValue": "={{ $json.documentId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        760,
        400
      ],
      "id": "23350f3c-a38e-4870-80ec-5675e0a35bd2",
      "name": "Rows Pass Validation?"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Document Database"
        },
        "title": "={{ $json.fileName || $json.documentId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1000,
        560
      ],
      "id": "0219cba9-ef9f-445c-82af-201674350fc1",
      "name": "Quarantine Bad Rows",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Document Database"
        },
        "title": "={{ $json.fileName || $json.documentId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1240,
        400
      ],
      "id": "cb8ba64c-9399-4584-97e1-ea19242c9fd1",
      "name": "Load Rows into Notion",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1480,
        400
      ],
      "id": "d7f68144-e041-4cfc-b19e-0b108abc4bd1",
      "name": "Repack as XLSX"
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ 'processed-' + $now.toFormat('yyyyLLdd') + '.xlsx' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Processed"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1720,
        400
      ],
      "id": "107569af-05fa-4360-b206-d382b3e3a1b4",
      "name": "Archive Processed File (Google Drive)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getCurrentDate",
        "outputFieldName": "processedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1960,
        400
      ],
      "id": "12305deb-7254-4686-92f8-f8a7895fd786",
      "name": "Stamp Processing Time"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "documentId",
              "value": "={{ $json.documentId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        2200,
        400
      ],
      "id": "a9b9d217-134a-4f77-b5a0-268c91d6e156",
      "name": "Save Execution Metadata"
    },
    {
      "parameters": {
        "maxItems": 50
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2440,
        400
      ],
      "id": "594f3582-7e1d-4ada-b266-6143c23f9ab2",
      "name": "Cap Batch Volume"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae47d554-def4-4edd-ae64-779709e09274",
              "name": "pipeline",
              "value": "Invoices",
              "type": "string"
            },
            {
              "id": "aac903d0-3f01-494c-9e5a-16d8d525fd91",
              "name": "version",
              "value": "2.0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2680,
        400
      ],
      "id": "1e93b6d4-8656-4bd1-9471-d9c3aa98b601",
      "name": "Tag Pipeline Metadata"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ddd117ac-a124-4bd4-b291-e5f272429068",
              "leftValue": "={{ $json.fileName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2920,
        400
      ],
      "id": "225dfce8-726b-4166-ab4c-c2cbb4529844",
      "name": "Guard Non-Empty fileName"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edeb6e2e-bc77-47d9-8ba3-34685539e830",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "c19d559f-4229-430a-8767-034a01877751",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "1d692c49-0b23-45d4-98b4-29072c6c5987",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3160,
        400
      ],
      "id": "cf33a392-985e-4a91-88f5-3fb96400ac76",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Document Database"
        },
        "title": "={{ $json.fileName || $json.documentId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3400,
        400
      ],
      "id": "beefa935-f73b-46a2-8bf8-28b6c3fa72ca",
      "name": "Append Audit Row (Notion)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#docs",
          "cachedResultName": "#docs"
        },
        "text": "=✅ Parse receipts with Google Drive and Notion on autopilot — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3640,
        400
      ],
      "id": "630e5753-0452-4233-99d2-0832cceb84cf",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69dcf6a9-8aa4-492a-b8ca-0d350bb91023",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "5082e98e-6129-454a-ab78-4bea8256b1fb",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "ffe98c03-a8e2-49a1-9979-dd7de3aa62ba",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3160,
        740
      ],
      "id": "09cfa501-1b57-4b52-b396-608ef311eaab",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#docs",
          "cachedResultName": "#docs"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3400,
        740
      ],
      "id": "2a3ca9c0-d562-47e0-af28-0ae1463a77af",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Parse receipts with Google Drive and Notion on autopilot\n\n**Pattern:** File Processing  \n**Trigger:** Scheduled  \n**Level:** Advanced\n\nProcesses documents for invoices — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        140
      ],
      "id": "72ffe178-8461-40c4-8742-54047f0edffd",
      "name": "Overview"
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Download from Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download from Google Drive": {
      "main": [
        [
          {
            "node": "Parse XLSX Contents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse XLSX Contents": {
      "main": [
        [
          {
            "node": "Clean & Reshape Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean & Reshape Rows": {
      "main": [
        [
          {
            "node": "Rows Pass Validation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rows Pass Validation?": {
      "main": [
        [
          {
            "node": "Load Rows into Notion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quarantine Bad Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Rows into Notion": {
      "main": [
        [
          {
            "node": "Repack as XLSX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repack as XLSX": {
      "main": [
        [
          {
            "node": "Archive Processed File (Google Drive)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Processed File (Google Drive)": {
      "main": [
        [
          {
            "node": "Stamp Processing Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Processing Time": {
      "main": [
        [
          {
            "node": "Save Execution Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Execution Metadata": {
      "main": [
        [
          {
            "node": "Cap Batch Volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cap Batch Volume": {
      "main": [
        [
          {
            "node": "Tag Pipeline Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Pipeline Metadata": {
      "main": [
        [
          {
            "node": "Guard Non-Empty fileName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard Non-Empty fileName": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (Notion)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (Notion)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quarantine Bad Rows": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "b4dd7e7e-93cd-44a1-be01-241e11b6a362",
  "id": "FDX03259"
}