product-files/workflows/AI Agents/Multi-Tool Agent/Advanced/00033_Reply to user questions automatically.json
{"name":"Reply to user questions automatically","nodes":[{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-270,400],"id":"1a8bd27b-4c4f-45ad-a5df-5b0d52415ff5","name":"When Chat Message Received","webhookId":"4f19b7b9-2d5d-49b6-9b7a-661714f5bdfa"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1243b8f7-d703-40ba-bb4f-9dcec710cdc4","leftValue":"={{ $json.requestId || $json.query }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[54,400],"id":"6453482a-9727-478d-b55f-ba16e87238ea","name":"Keep Valid Requests"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput || $json.question || JSON.stringify($json) }}","options":{"systemMessage":"You answer request questions using only the retrieved knowledge-base context. If the context does not contain the answer, say so and set needsHuman=true.","maxIterations":6}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[378,400],"id":"6399bc98-f120-45df-8eaa-b76b46908c2a","name":"Answer from Knowledge Base","onError":"continueErrorOutput"},{"parameters":{"model":"claude-sonnet-4-5-20250929","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[621,970],"id":"0202e6c1-59ae-4594-8398-fb97febdb3d8","name":"Anthropic Chat Model"},{"parameters":{"pineconeIndex":{"__rl":true,"mode":"list","value":"","cachedResultName":"kb-main"},"mode":"retrieve-as-tool","topK":5,"toolDescription":"Semantic search over the multi-tool agent knowledge base. Always call this before answering factual request questions."},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[675,1390],"id":"0ca1808d-b3bd-4cdf-b8a6-c04564f31f89","name":"Knowledge Base Retriever"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[729,1900],"id":"2a070831-98df-49fa-8ab6-52f5c85cd417","name":"Query Embeddings"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.rerankerCohere","typeVersion":1,"position":[1012,1900],"id":"cf355af6-5b19-4e8f-8074-f40b4a478f7d","name":"Rerank Retrieved Chunks"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"33cb943a-ebc5-41fd-99bd-1901b385f075","leftValue":"={{ !($json.output || '').includes('needsHuman') }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1336,400],"id":"d97189a9-e9f0-4ea3-b460-3a5863d970fc","name":"Grounded Answer Found?"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#ai-ops","cachedResultName":"#ai-ops"},"text":"={{ $json.output }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1660,160],"id":"07353b41-520e-4e7a-a9c6-5ecd9d1f6c9f","name":"Deliver Answer via Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Request Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1984,760],"id":"46299390-15bb-4730-a061-d2c48caa263e","name":"Log Knowledge Gap","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#ai-ops","cachedResultName":"#ai-ops"},"text":"=📚 Unanswered question logged: {{ $json.chatInput || $json.question }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2632,760],"id":"0253c574-f855-474d-b8bc-7eeed08ee217","name":"Flag Gap to KB Owners","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#ai-ops","cachedResultName":"#ai-ops"},"text":"=✅ Reply to user questions automatically — run completed at {{ $now.toFormat('HH:mm') }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[3604,400],"id":"bc040d3b-1994-415b-a5cd-4089edcb4b7c","name":"Send Summary to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"df212003-1f74-4040-9500-f26736eb3db8","name":"failedNode","value":"={{ $json.error?.node?.name || 'unknown' }}","type":"string"},{"id":"f3e09bba-658a-4e0f-ac49-8cea810ff1ea","name":"errorMessage","value":"={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}","type":"string"},{"id":"1c67ae2b-4cc3-43ae-b2f3-901615a2b2fd","name":"workflow","value":"={{ $workflow.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2956,1420],"id":"829379f7-8a7b-4100-9db3-5dab7529420a","name":"Capture Failure Context"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#ai-ops","cachedResultName":"#ai-ops"},"text":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[3280,1420],"id":"3fe003d8-f079-4be5-b915-2cb370ca7fec","name":"Escalate Failure to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"content":"### When Chat Message Received\n\nOpens a hosted chat session; every user message starts an execution with `chatInput` + `sessionId`.\n\nNext: Keep Valid Requests","width":280,"height":232,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-330,520],"id":"00bb16c6-2cb9-b00e-3de4-58371f2c5af7","name":"Note: When Chat Message Received"},{"parameters":{"content":"### Keep Valid Requests\n\nDrops items that fail the condition; only qualifying items continue (no false branch).\n\nNext: Answer from Knowledge Base","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6,520],"id":"72bbabd6-8082-610f-ba6d-a7f9deee03e9","name":"Note: Keep Valid Requests"},{"parameters":{"content":"### Answer from Knowledge Base\n\nThe AI brain: reads the input, decides which attached tools to call (and in what order), then composes the answer.\n\nPorts: ①→ Grounded Answer Found? · ②→ Capture Failure Context\n\n⚠ failures exit via the error rail","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[318,520],"id":"54f2c406-e1a5-bb8c-9189-c1ed36b4a991","name":"Note: Answer from Knowledge Base"},{"parameters":{"content":"### Anthropic Chat Model\n\nChat model powering the AI step (model: `claude-sonnet-4-5-20250929`). Swap providers here without rewiring.\n\nFeeds **Answer from Knowledge Base** as `languageModel`\n\n🔑 Anthropic API key","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[561,1090],"id":"5f2ecd54-d734-4a75-4237-a27aa2b15373","name":"Note: Anthropic Chat Model"},{"parameters":{"content":"### Knowledge Base Retriever\n\nExposes the vector index to the agent as a semantic-search tool.\n\nFeeds **Answer from Knowledge Base** as `tool`\n\n🔑 Pinecone API key","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[615,1510],"id":"7b037c54-4505-801e-34e9-ab5caeb767bc","name":"Note: Knowledge Base Retriever"},{"parameters":{"content":"### Query Embeddings\n\nEmbedding model — MUST be the same model for indexing and querying, or retrieval quality collapses.\n\nFeeds **Knowledge Base Retriever** as `embedding`\n\n🔑 OpenAI API key","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[669,2020],"id":"621980d9-408c-b7ee-cc8f-d02043650480","name":"Note: Query Embeddings"},{"parameters":{"content":"### Rerank Retrieved Chunks\n\nRe-scores retrieved chunks so only the most relevant reach the model.\n\nFeeds **Knowledge Base Retriever** as `reranker`\n\n🔑 Cohere API key","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[952,2020],"id":"7de1a138-8640-cc4f-0c8f-698a0bea8ec0","name":"Note: Rerank Retrieved Chunks"},{"parameters":{"content":"### Grounded Answer Found?\n\nTwo-way gate on `={{ !($json.output || '').includes('needsHuman') }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Deliver Answer via Slack · ②→ Log Knowledge Gap","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1276,520],"id":"1bca88bf-2be9-7714-e425-e691174c9114","name":"Note: Grounded Answer Found?"},{"parameters":{"content":"### Deliver Answer via Slack\n\nslack — `action` operation against the connected account.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1600,280],"id":"bbf20873-c281-e4ea-ea8e-f35f2415b1d7","name":"Note: Deliver Answer via Slack"},{"parameters":{"content":"### Log Knowledge Gap\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Flag Gap to KB Owners · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1924,880],"id":"996b9954-ab65-d133-b9b2-3906cbd186fb","name":"Note: Log Knowledge Gap"},{"parameters":{"content":"### Flag Gap to KB Owners\n\nslack — `action` operation against the connected account.\n\n↻ retries 3×/2s · 🔑 Slack OAuth2","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2572,880],"id":"28ee01c0-cba2-12a7-3c80-c76edbdafbf0","name":"Note: Flag Gap to KB Owners"},{"parameters":{"content":"### Send Summary to Slack\n\nslack — `action` operation against the connected account.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3544,520],"id":"fdd139ad-9074-6fb1-a6f1-1b318967d336","name":"Note: Send Summary to Slack"},{"parameters":{"content":"### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Slack","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2896,1540],"id":"b327a0b5-ddb6-54eb-c99a-8c3ed79b0123","name":"Note: Capture Failure Context"},{"parameters":{"content":"### Escalate Failure to Slack\n\nslack — `action` operation against the connected account.\n\n↻ retries 3×/2s · 🔑 Slack OAuth2","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3220,1540],"id":"77a88ab0-229d-182b-ccaf-641a042db3be","name":"Note: Escalate Failure to Slack"},{"parameters":{"content":"# Reply to user questions automatically\n\n**Pattern:** Chatbot Responder · **Level:** Core · **Trigger:** Chat\n\n## What it does\nReply to user questions automatically. It responds live to chat messages.\n\n## Why it exists\nManual multi-tool agent is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nWhen Chat Message Received → Keep Valid Requests → Answer from Knowledge Base → Grounded Answer Found? → Deliver Answer via Slack → Send Summary to Slack\n\n## Use it for\n- Teams that want to chatbot responder without manual effort\n- Anyone automating multi-tool agent in ai\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Improves response time\n- Standardizes the process every time\n- Saves hours of manual work each week\n\n## Before first run\nConnect credentials: Anthropic API key; Cohere API key; Google OAuth2 / service account; OpenAI API key; Pinecone API key; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.","width":480,"height":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,80],"id":"52f04578-a2cd-23d3-1c0c-5fea1d91dc80","name":"📘 Workflow Overview"},{"parameters":{"content":"## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Set an n8n **Error Workflow** in settings as the final safety net.","width":360,"height":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-230,-260],"id":"4832948e-e038-fb95-1052-cc829788d607","name":"🛟 Error handling & retries"},{"parameters":{"content":"## 🤖 AI cluster\n\nPurple nodes form one AI unit: the root node orchestrates, sub-nodes plug in via typed ports (model / memory / tools / parser). Swap the chat model without rewiring anything else. Costs scale with tokens — keep prompts lean and cap iterations.","width":360,"height":260,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[190,-260],"id":"98e89810-a0df-7d29-4543-8fb0ec3b7bf7","name":"🤖 AI cluster"},{"parameters":{"content":"## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your multi-tool agent process. Every node card explains its role — safe to extend at any marked branch.","width":360,"height":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[610,-260],"id":"82e432a5-487c-d59f-1f70-0cd1879a5370","name":"🛠 Customize me"}],"connections":{"When Chat Message Received":{"main":[[{"node":"Keep Valid Requests","type":"main","index":0}]]},"Keep Valid Requests":{"main":[[{"node":"Answer from Knowledge Base","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Answer from Knowledge Base","type":"ai_languageModel","index":0}]]},"Knowledge Base Retriever":{"ai_tool":[[{"node":"Answer from Knowledge Base","type":"ai_tool","index":0}]]},"Query Embeddings":{"ai_embedding":[[{"node":"Knowledge Base Retriever","type":"ai_embedding","index":0}]]},"Rerank Retrieved Chunks":{"ai_reranker":[[{"node":"Knowledge Base Retriever","type":"ai_reranker","index":0}]]},"Answer from Knowledge Base":{"main":[[{"node":"Grounded Answer Found?","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Grounded Answer Found?":{"main":[[{"node":"Deliver Answer via Slack","type":"main","index":0}],[{"node":"Log Knowledge Gap","type":"main","index":0}]]},"Log Knowledge Gap":{"main":[[{"node":"Flag Gap to KB Owners","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Deliver Answer via Slack":{"main":[[{"node":"Send Summary to Slack","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Capture Failure Context":{"main":[[{"node":"Escalate Failure to Slack","type":"main","index":0}]]},"Send Summary to Slack":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"meta":{"templateCredsSetupCompleted":false},"tags":[],"pinData":{},"versionId":"43ca6cc8-ce61-4bab-a21c-815fb916b68a","id":"FDX00033"}