product-files/workflows/AI Agents/Multi-Tool Agent/Advanced/00487_Handle chat messages for Multi-Tool Agent (00487).json
{
  "name": "Handle chat messages for Multi-Tool Agent (00487)",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -270,
        400
      ],
      "id": "e7182cf0-2dc2-452e-a32c-c44c6f47afc9",
      "name": "When Chat Message Received",
      "webhookId": "91c4bc3d-d4d1-43d6-b775-6893de6deff0"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Normalize incoming request records to a stable schema\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  out.push({ json: {\n    requestId: String(j.requestId ?? j.id ?? '').trim(),\n    query: typeof j.query === 'string' ? j.query.trim() : j.query ?? null,\n    source: j.source ?? 'api',\n    receivedAt: new Date().toISOString(),\n  } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        54,
        400
      ],
      "id": "301d92b5-645f-492b-89d0-5837bc9a8149",
      "name": "Normalize Request Payload"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49ed853f-378a-40e7-83e6-e0116bafc54a",
              "name": "assignment",
              "value": "={{ $json.chatInput || JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "cbc4cfba-b5fa-401f-9c6e-8b6f99ce7e1f",
              "name": "deadline",
              "value": "={{ $now.plus({minutes: 5}).toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        378,
        400
      ],
      "id": "80e3b260-9f73-49c3-ac64-aa5472ec2932",
      "name": "Frame the Assignment"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.assignment }}",
        "options": {
          "systemMessage": "You are the coordinator for a multi-tool agent pipeline. Break the request into sub-tasks, delegate each to the matching specialist tool, then merge results into one coherent answer. Never call the same specialist twice for one request.",
          "maxIterations": 10
        },
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        702,
        400
      ],
      "id": "5820e5a7-659b-40d4-8b0f-e853443d2f83",
      "name": "Coordinator Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        945,
        970
      ],
      "id": "880eda4c-d669-4b1d-926c-80aa828c0eb1",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "description": "Delegate research sub-tasks for a request to the Research specialist workflow.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "lib: Research Specialist"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        864,
        1390
      ],
      "id": "cbae4506-4bb0-40ba-9ff1-e0a0fe824bcc",
      "name": "Research Specialist (Sub-workflow)"
    },
    {
      "parameters": {
        "description": "Delegate draft sub-tasks for a request to the Draft specialist workflow.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "lib: Draft Specialist"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1120,
        1390
      ],
      "id": "fd41550c-12fb-40ce-abe3-fb6bd03b7e8c",
      "name": "Draft Specialist (Sub-workflow)"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary\": \"string\",\n  \"sections\": [\"string\"],\n  \"status\": \"complete\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1282,
        970
      ],
      "id": "8a900040-fc66-484f-9740-b92b03c2dc5b",
      "name": "Enforce Result Schema"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.sections",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1606,
        400
      ],
      "id": "795a25b7-4e89-449e-9c7b-1a6f6ec152f7",
      "name": "Unpack Sections"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Database"
        },
        "title": "={{ $json.query || $json.requestId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1930,
        400
      ],
      "id": "e18ab234-2a7f-4aba-abae-10c3fc165abb",
      "name": "Persist Deliverable to Notion",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build a stable idempotency key per request (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.requestId, j.query].join('|')) } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2254,
        400
      ],
      "id": "8244155a-5cee-446a-9641-194412e9faf6",
      "name": "Fingerprint for Idempotency"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "logic": "removeItemsWithAlreadySeenKeyValues",
        "dedupeValue": "={{ $json.idempotencyKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        2578,
        400
      ],
      "id": "10caa291-2e37-4684-80a3-b955d7fea6df",
      "name": "Drop Already-Processed Items"
    },
    {
      "parameters": {
        "operation": "csv",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2902,
        400
      ],
      "id": "50548652-ec0b-4c66-bf7f-a0aa88d7013c",
      "name": "Serialize Run Output (CSV)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3226,
        400
      ],
      "id": "4bcfa337-be2c-470a-aac6-04cff109bbf0",
      "name": "Archive Row Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getCurrentDate",
        "outputFieldName": "completedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3550,
        400
      ],
      "id": "5a649b16-2676-4a4c-8ccd-60b3fd18a369",
      "name": "Stamp Completion Time"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "runId",
              "value": "={{ $execution.id }}"
            },
            {
              "key": "itemCount",
              "value": "={{ $items().length }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        3874,
        400
      ],
      "id": "fcc02a9e-77da-44db-bf45-26ba6465ae98",
      "name": "Persist Run Metadata"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "lib: Post-Process Requests"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4198,
        400
      ],
      "id": "0f5de08b-7bf2-4e01-a91b-401cb4075130",
      "name": "Offload to Post-Process Sub-workflow",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "subflowStatus",
              "value": "={{ $json.status || 'done' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        4522,
        400
      ],
      "id": "5639fa11-4a7d-4a5d-b097-ab537c4cad23",
      "name": "Record Sub-workflow Result"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://enrichment.example.com/v2/lookup",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4846,
        400
      ],
      "id": "cabe488e-6534-4417-aa3c-97183d8add84",
      "name": "Enrich with Reference Data",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "21d21123-935d-4eac-94b7-f5dbdae9b081",
              "name": "enrichedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "e52b9e16-41e5-49cb-a06a-320d524aa648",
              "name": "enrichmentSource",
              "value": "reference-api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5170,
        400
      ],
      "id": "e7802ff7-0045-4fe1-bad3-bd7c9f3ff873",
      "name": "Fold In Enrichment Fields"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5494,
        400
      ],
      "id": "9fb017f0-9c6b-48ba-ac17-9c848bf6781a",
      "name": "Load Previous Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Compare current metrics with the previous snapshot\nconst current = $input.first().json;\nconst prev = $('Load Previous Snapshot').first().json || {};\nconst drift = {};\nfor (const k of Object.keys(current)) {\n  if (typeof current[k] === 'number' && typeof prev[k] === 'number' && prev[k] !== 0) {\n    drift[k] = Math.round(((current[k] - prev[k]) / prev[k]) * 1000) / 10;\n  }\n}\nreturn [{ json: { ...current, driftPct: drift, hasDrift: Object.values(drift).some(v => Math.abs(v) > 10) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5818,
        400
      ],
      "id": "ee3861be-a451-4894-bc79-9e6a657970ab",
      "name": "Compute Drift vs Snapshot"
    },
    {
      "parameters": {
        "operation": "getCurrentDate",
        "outputFieldName": "processedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        6142,
        400
      ],
      "id": "622b0bcb-702c-43e1-ab0c-00217b31722f",
      "name": "Stamp Processing Time"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c21bef27-7bd6-47a2-b470-370e7cadf79a",
              "name": "pipeline",
              "value": "Multi-Tool Agent",
              "type": "string"
            },
            {
              "id": "d7aca632-9a9a-4cf7-b87c-00e36e979921",
              "name": "version",
              "value": "2.0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6466,
        400
      ],
      "id": "3f6833b3-a31c-43d3-9401-d7c34e2b586c",
      "name": "Tag Pipeline Metadata"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "id",
              "newKey": "requestId"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        6790,
        400
      ],
      "id": "b074e187-aeb4-4472-bac7-03c2a5f85ee1",
      "name": "Align Field Names"
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        7114,
        400
      ],
      "id": "20e8e3dc-913d-4806-8d6e-fb0285489974",
      "name": "Cap Batch Volume"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c8f9530-ed26-4a0d-8342-cfdf3e6fc795",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "7ea4a488-2667-406f-892f-0c62cf5b9da4",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "bcd5b72b-f2f0-45db-8732-69ceb4eb432f",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7438,
        400
      ],
      "id": "0d6f17eb-1b1c-4f78-8962-05df57f41ebe",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Database"
        },
        "title": "={{ $json.query || $json.requestId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        7762,
        400
      ],
      "id": "30d0c84c-2358-44e3-9ca5-35c14b555e6d",
      "name": "Append Audit Row (Notion)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#ai-ops",
          "cachedResultName": "#ai-ops"
        },
        "text": "=✅ Handle chat messages for Multi-Tool Agent (00487) — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        8086,
        400
      ],
      "id": "f9786900-cdc1-4b72-8222-daf8d79d08a1",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0b374ec-fdaa-4197-a82c-0a831d615f83",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "c8507c5d-2ed5-471f-9554-faffcdd3e3a4",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "4c129068-91cd-4aaa-b04e-f761330c241a",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7438,
        1420
      ],
      "id": "304765f6-1949-45b7-8f97-a2968bddbb61",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#ai-ops",
          "cachedResultName": "#ai-ops"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        7762,
        1420
      ],
      "id": "90e4ecc1-8310-4d71-aca3-cace38a4aa83",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        8086,
        1420
      ],
      "id": "259b322e-27b1-43d7-8b3f-59662a8e4c8e",
      "name": "Park in Dead-Letter Queue",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "### When Chat Message Received\n\nOpens a hosted chat session; every user message starts an execution with `chatInput` + `sessionId`.\n\nNext: Normalize Request Payload",
        "width": 280,
        "height": 232,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -330,
        520
      ],
      "id": "fa5b8f1b-9125-bda9-ddab-f1e3bfe8cee3",
      "name": "Note: When Chat Message Received"
    },
    {
      "parameters": {
        "content": "### Normalize Request Payload\n\nCustom JavaScript: Normalize incoming request records to a stable schema\n\nNext: Frame the Assignment",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6,
        520
      ],
      "id": "45cd52c6-c582-f761-1812-c3a5218a9ab4",
      "name": "Note: Normalize Request Payload"
    },
    {
      "parameters": {
        "content": "### Frame the Assignment\n\nShapes the item: writes `assignment`, `deadline`. Keeps the schema explicit between stages.\n\nNext: Coordinator Agent",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        318,
        520
      ],
      "id": "ce3a2fe3-43d2-a55c-acc2-ba182ca2c954",
      "name": "Note: Frame the Assignment"
    },
    {
      "parameters": {
        "content": "### Coordinator Agent\n\nThe AI brain: reads the input, decides which attached tools to call (and in what order), then composes the answer.\n\nPorts: ①→ Unpack Sections · ②→ Capture Failure Context\n\n⚠ failures exit via the error rail",
        "width": 280,
        "height": 232,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        642,
        520
      ],
      "id": "5cd1ce86-be40-91e8-32e7-b5fdd531e693",
      "name": "Note: Coordinator Agent"
    },
    {
      "parameters": {
        "content": "### OpenAI Chat Model\n\nChat model powering the AI step (model: `gpt-4o-mini`). Swap providers here without rewiring.\n\nFeeds **Coordinator Agent** as `languageModel`\n\n🔑 OpenAI API key",
        "width": 280,
        "height": 232,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        885,
        1090
      ],
      "id": "4d8cdfdd-e216-04b3-08c7-60600f49261f",
      "name": "Note: OpenAI Chat Model"
    },
    {
      "parameters": {
        "content": "### Research Specialist (Sub-workflow)\n\nSpecialist sub-workflow exposed as a callable tool — one narrow capability per tool.\n\nFeeds **Coordinator Agent** as `tool`",
        "width": 280,
        "height": 232,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        804,
        1510
      ],
      "id": "f3c53b4a-399c-6d07-8d5b-4d767b9e4df7",
      "name": "Note: Research Specialist (Sub-workflow)"
    },
    {
      "parameters": {
        "content": "### Draft Specialist (Sub-workflow)\n\nSpecialist sub-workflow exposed as a callable tool — one narrow capability per tool.\n\nFeeds **Coordinator Agent** as `tool`",
        "width": 280,
        "height": 232,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1060,
        1750
      ],
      "id": "01c8ea14-9b8f-b623-9979-a6ed713b9d61",
      "name": "Note: Draft Specialist (Sub-workflow)"
    },
    {
      "parameters": {
        "content": "### Enforce Result Schema\n\nForces the agent's answer into the JSON schema below — downstream nodes rely on this exact shape.\n\nFeeds **Coordinator Agent** as `outputParser`",
        "width": 280,
        "height": 232,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1222,
        1090
      ],
      "id": "2f17b174-f4b6-67a4-dcc1-972aeed83095",
      "name": "Note: Enforce Result Schema"
    },
    {
      "parameters": {
        "content": "### Unpack Sections\n\nExplodes the `output.sections` array into one item per element.\n\nNext: Persist Deliverable to Notion",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1546,
        520
      ],
      "id": "640a4a02-3861-9808-ff04-73c36147e3ec",
      "name": "Note: Unpack Sections"
    },
    {
      "parameters": {
        "content": "### Persist Deliverable to Notion\n\nnotion — `create` operation against the connected account.\n\nPorts: ①→ Fingerprint for Idempotency · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Notion integration token",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1870,
        520
      ],
      "id": "4a986d50-11e6-5340-22bf-0f1ecaf92c41",
      "name": "Note: Persist Deliverable to Notion"
    },
    {
      "parameters": {
        "content": "### Fingerprint for Idempotency\n\nCustom JavaScript: Build a stable idempotency key per request (djb2 hash, no deps)\n\nNext: Drop Already-Processed Items",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2194,
        520
      ],
      "id": "4e5c01c6-ccd5-e642-1010-4d65ce18db89",
      "name": "Note: Fingerprint for Idempotency"
    },
    {
      "parameters": {
        "content": "### Drop Already-Processed Items\n\nCross-execution dedupe: remembers keys it has processed before and drops repeats — the idempotency guard.\n\nNext: Serialize Run Output (CSV)",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2518,
        520
      ],
      "id": "04f0ed8c-ed3f-c9ee-7f9e-7df425170702",
      "name": "Note: Drop Already-Processed Items"
    },
    {
      "parameters": {
        "content": "### Serialize Run Output (CSV)\n\nSerializes items to a CSV binary file.\n\nNext: Archive Row Snapshot",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2842,
        520
      ],
      "id": "d967bbda-1e29-7696-0f86-550c0c5511ba",
      "name": "Note: Serialize Run Output (CSV)"
    },
    {
      "parameters": {
        "content": "### Archive Row Snapshot\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Stamp Completion Time · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3166,
        520
      ],
      "id": "8451b23c-c4af-20a3-6b2a-2147f5a72fd7",
      "name": "Note: Archive Row Snapshot"
    },
    {
      "parameters": {
        "content": "### Stamp Completion Time\n\nStamps `completedAt` with the current time for auditing.\n\nNext: Persist Run Metadata",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3490,
        520
      ],
      "id": "5aef8e93-5a04-9fbb-034b-74cae2773556",
      "name": "Note: Stamp Completion Time"
    },
    {
      "parameters": {
        "content": "### Persist Run Metadata\n\nSaves key fields onto the execution record — searchable later in n8n's execution list.\n\nNext: Offload to Post-Process Sub-workflow",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3814,
        520
      ],
      "id": "37561440-3476-1dad-4020-e42ffdc3dc85",
      "name": "Note: Persist Run Metadata"
    },
    {
      "parameters": {
        "content": "### Offload to Post-Process Sub-workflow\n\nDelegates to a reusable sub-workflow (single-responsibility building block) and waits for its result.\n\nPorts: ①→ Record Sub-workflow Result · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4138,
        520
      ],
      "id": "f85f1593-5973-dde6-aa09-621fb6092fba",
      "name": "Note: Offload to Post-Process Sub-workflow"
    },
    {
      "parameters": {
        "content": "### Record Sub-workflow Result\n\nSaves key fields onto the execution record — searchable later in n8n's execution list.\n\nNext: Enrich with Reference Data",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4462,
        520
      ],
      "id": "06bdd6e5-9d9c-173b-321e-1d8aec2986f6",
      "name": "Note: Record Sub-workflow Result"
    },
    {
      "parameters": {
        "content": "### Enrich with Reference Data\n\nGET https://enrichment.example.com/v2/lookup — retries 3× with backoff on failure.\n\nPorts: ①→ Fold In Enrichment Fields · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4786,
        520
      ],
      "id": "c3004eeb-02e9-4846-84c6-25c375e16c60",
      "name": "Note: Enrich with Reference Data"
    },
    {
      "parameters": {
        "content": "### Fold In Enrichment Fields\n\nShapes the item: writes `enrichedAt`, `enrichmentSource`. Keeps the schema explicit between stages.\n\nNext: Load Previous Snapshot",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5110,
        520
      ],
      "id": "ca852090-9a25-56eb-55d2-244803ec4288",
      "name": "Note: Fold In Enrichment Fields"
    },
    {
      "parameters": {
        "content": "### Load Previous Snapshot\n\ngoogleSheets — `read` operation against the connected account.\n\nPorts: ①→ Compute Drift vs Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5434,
        520
      ],
      "id": "d6dee918-b6cd-cabb-de47-ece4fd518649",
      "name": "Note: Load Previous Snapshot"
    },
    {
      "parameters": {
        "content": "### Compute Drift vs Snapshot\n\nCustom JavaScript: Compare current metrics with the previous snapshot\n\nNext: Stamp Processing Time",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5758,
        520
      ],
      "id": "afba5379-addc-b231-faaa-e74b3c45eea0",
      "name": "Note: Compute Drift vs Snapshot"
    },
    {
      "parameters": {
        "content": "### Stamp Processing Time\n\nStamps `processedAt` with the current time for auditing.\n\nNext: Tag Pipeline Metadata",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6082,
        520
      ],
      "id": "dae22341-877c-18de-e648-a154096798f8",
      "name": "Note: Stamp Processing Time"
    },
    {
      "parameters": {
        "content": "### Tag Pipeline Metadata\n\nShapes the item: writes `pipeline`, `version`. Keeps the schema explicit between stages.\n\nNext: Align Field Names",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6406,
        520
      ],
      "id": "3daf9834-b9ca-00e3-2a8c-aae2d9d61bf8",
      "name": "Note: Tag Pipeline Metadata"
    },
    {
      "parameters": {
        "content": "### Align Field Names\n\nNormalizes field names so every source feeds the same downstream schema.\n\nNext: Cap Batch Volume",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6730,
        520
      ],
      "id": "db80aa69-5073-5c8d-4a09-c490bd0315bf",
      "name": "Note: Align Field Names"
    },
    {
      "parameters": {
        "content": "### Cap Batch Volume\n\nCaps the stream at 100 items to protect downstream quotas.\n\nNext: Summarize Run Stats",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7054,
        520
      ],
      "id": "20b67cb8-dcd0-fd9f-05ee-bbc36f6546bd",
      "name": "Note: Cap Batch Volume"
    },
    {
      "parameters": {
        "content": "### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Notion)",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7378,
        520
      ],
      "id": "ec12c6b4-16d1-4c9e-42b8-1ca8b492aff8",
      "name": "Note: Summarize Run Stats"
    },
    {
      "parameters": {
        "content": "### Append Audit Row (Notion)\n\nnotion — `create` operation against the connected account.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Notion integration token",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7702,
        520
      ],
      "id": "17830162-810e-fa29-05d1-3e226c14e0d3",
      "name": "Note: Append Audit Row (Notion)"
    },
    {
      "parameters": {
        "content": "### Send Summary to Slack\n\nslack — `action` operation against the connected account.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2",
        "width": 280,
        "height": 232,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8026,
        520
      ],
      "id": "b004170d-51c3-5cdb-c02f-ae6e53d472b4",
      "name": "Note: Send Summary to Slack"
    },
    {
      "parameters": {
        "content": "### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Slack",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7378,
        1540
      ],
      "id": "dcf02c0f-d8fc-b0a7-9e4f-7af6a05d281e",
      "name": "Note: Capture Failure Context"
    },
    {
      "parameters": {
        "content": "### Escalate Failure to Slack\n\nslack — `action` operation against the connected account.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Slack OAuth2",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7702,
        1540
      ],
      "id": "ab82a125-41bf-a24b-819b-5a26125f57f4",
      "name": "Note: Escalate Failure to Slack"
    },
    {
      "parameters": {
        "content": "### Park in Dead-Letter Queue\n\ngoogleSheets — `append` operation against the connected account.\n\n↻ retries 3×/2s · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8026,
        1540
      ],
      "id": "a839daaa-e605-6009-cf05-9c551de75e68",
      "name": "Note: Park in Dead-Letter Queue"
    },
    {
      "parameters": {
        "content": "# Handle chat messages for Multi-Tool Agent (00487)\n\n**Pattern:** Chatbot Responder · **Level:** Architect · **Trigger:** Chat\n\n## What it does\nHandle chat messages for Multi-Tool Agent (00487). It responds live to chat messages.\n\n## Why it exists\nManual multi-tool agent is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nWhen Chat Message Received → Normalize Request Payload → Frame the Assignment → Coordinator Agent → Unpack Sections → Persist Deliverable to Notion → Fingerprint for Idempotency → …\n\n## Use it for\n- Teams that want to chatbot responder without manual effort\n- Anyone automating multi-tool agent in ai\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Responds in seconds\n- Runs 24/7 in the background\n- Keeps your systems in sync\n\n## Before first run\nConnect credentials: API key / bearer for the target API; Google OAuth2 / service account; Notion integration token; OpenAI API key; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.",
        "width": 480,
        "height": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -830,
        80
      ],
      "id": "389b54dd-067f-4272-72cf-06fae1872594",
      "name": "📘 Workflow Overview"
    },
    {
      "parameters": {
        "content": "## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.",
        "width": 360,
        "height": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -230,
        -20
      ],
      "id": "9d9360e2-4999-b41b-b198-02810ff82b90",
      "name": "🛟 Error handling & retries"
    },
    {
      "parameters": {
        "content": "## 🤖 AI cluster\n\nPurple nodes form one AI unit: the root node orchestrates, sub-nodes plug in via typed ports (model / memory / tools / parser). Swap the chat model without rewiring anything else. Costs scale with tokens — keep prompts lean and cap iterations.",
        "width": 360,
        "height": 260,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        190,
        -20
      ],
      "id": "c3a8809a-1ba0-ba49-790b-d35a920d248d",
      "name": "🤖 AI cluster"
    },
    {
      "parameters": {
        "content": "## 🧹 Data quality\n\nDedupe/diff steps make re-runs safe: the same input twice will not create duplicate records. If you change the key fields, clear n8n's dedupe memory (node → 'Clear stored keys') before the next run.",
        "width": 360,
        "height": 260,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        610,
        -20
      ],
      "id": "f46b3942-d554-1160-5bd0-bf328ac429b9",
      "name": "🧹 Data quality"
    },
    {
      "parameters": {
        "content": "## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your multi-tool agent process. Every node card explains its role — safe to extend at any marked branch.",
        "width": 360,
        "height": 260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1030,
        -20
      ],
      "id": "0d9e40a9-b7e9-a890-6b16-930376192bfe",
      "name": "🛠 Customize me"
    }
  ],
  "connections": {
    "When Chat Message Received": {
      "main": [
        [
          {
            "node": "Normalize Request Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Request Payload": {
      "main": [
        [
          {
            "node": "Frame the Assignment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Frame the Assignment": {
      "main": [
        [
          {
            "node": "Coordinator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Coordinator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Research Specialist (Sub-workflow)": {
      "ai_tool": [
        [
          {
            "node": "Coordinator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Draft Specialist (Sub-workflow)": {
      "ai_tool": [
        [
          {
            "node": "Coordinator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enforce Result Schema": {
      "ai_outputParser": [
        [
          {
            "node": "Coordinator Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Coordinator Agent": {
      "main": [
        [
          {
            "node": "Unpack Sections",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unpack Sections": {
      "main": [
        [
          {
            "node": "Persist Deliverable to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Deliverable to Notion": {
      "main": [
        [
          {
            "node": "Fingerprint for Idempotency",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fingerprint for Idempotency": {
      "main": [
        [
          {
            "node": "Drop Already-Processed Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drop Already-Processed Items": {
      "main": [
        [
          {
            "node": "Serialize Run Output (CSV)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serialize Run Output (CSV)": {
      "main": [
        [
          {
            "node": "Archive Row Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Row Snapshot": {
      "main": [
        [
          {
            "node": "Stamp Completion Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Completion Time": {
      "main": [
        [
          {
            "node": "Persist Run Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Run Metadata": {
      "main": [
        [
          {
            "node": "Offload to Post-Process Sub-workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offload to Post-Process Sub-workflow": {
      "main": [
        [
          {
            "node": "Record Sub-workflow Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Sub-workflow Result": {
      "main": [
        [
          {
            "node": "Enrich with Reference Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with Reference Data": {
      "main": [
        [
          {
            "node": "Fold In Enrichment Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fold In Enrichment Fields": {
      "main": [
        [
          {
            "node": "Load Previous Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Previous Snapshot": {
      "main": [
        [
          {
            "node": "Compute Drift vs Snapshot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Drift vs Snapshot": {
      "main": [
        [
          {
            "node": "Stamp Processing Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Processing Time": {
      "main": [
        [
          {
            "node": "Tag Pipeline Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Pipeline Metadata": {
      "main": [
        [
          {
            "node": "Align Field Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Align Field Names": {
      "main": [
        [
          {
            "node": "Cap Batch Volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cap Batch Volume": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (Notion)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (Notion)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Failure to Slack": {
      "main": [
        [
          {
            "node": "Park in Dead-Letter Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "8aa18998-1b8e-44c1-9869-4bf9dfa44f38",
  "id": "FDX00487"
}