product-files/workflows/AI Agents/Multi-Tool Agent/Advanced/00628_Distill meeting notes with MySQL and Outlook end to end.json
{
  "name": "Distill meeting notes with MySQL and Outlook end to end",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "e086856e",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "9df4d093-1490-47b5-bf31-d06240fbda09",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        300
      ],
      "webhookId": "ebe11aa7-198e-4788-83f2-6d227e74965e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eeceb71d-ecfa-454b-b7b1-adf3978ebdd8",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "933448ee-b43d-452b-acc5-28a85853909d",
              "name": "isValid",
              "value": "={{ $json ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "ae315677-72b7-4a8f-b3b1-3fc6c30bc27d",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        300
      ],
      "notes": "Validate & normalize the input before downstream steps (§9.1)."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e35a0afe-0d2e-4195-b64f-c77d4effd6ce",
      "name": "Summarize with AI",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        800,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "45227db8-d466-4703-b859-d8c96a756669",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        740,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd58d59e-0702-4ee1-95c0-25f62d49fd41",
              "name": "source",
              "value": "='flowdex-workflow'",
              "type": "string"
            },
            {
              "id": "8edd7aba-b88b-43db-88ff-0589a98ef910",
              "name": "summary",
              "value": "={{ JSON.stringify($json).slice(0, 280) }}",
              "type": "string"
            },
            {
              "id": "818d15ea-366c-48c5-a32e-8456962f7e72",
              "name": "status",
              "value": "='processed'",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2a84cf79-4e0e-4943-97d5-c7b9d69cfead",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "value": "records",
          "mode": "name"
        },
        "options": {}
      },
      "id": "0830e885-6c7c-4ef2-83ba-9cf46be7d4aa",
      "name": "Save to MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1280,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "subject": "Automated update",
        "bodyContent": "={{ $json.summary }}",
        "toRecipients": "={{ $json.email }}"
      },
      "id": "e9f1a51b-8b70-4c7b-b1c7-7583212d1b1a",
      "name": "Send Outlook Message",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Distill meeting notes with MySQL and Outlook end to end\n\n**Pattern:** AI Summarize & Route\n**Trigger:** Webhook\n**Integrations:** MySQL, Outlook\n\nImport, add your credentials, then adjust parameters. Original FlowDex template.",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "0b891d3d-a845-4233-8391-5ad068bd002b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1560,
        80
      ]
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Summarize with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with AI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Save to MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to MySQL": {
      "main": [
        [
          {
            "node": "Send Outlook Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "07f9c805-7036-4037-bb75-b61c58b2bac0",
  "id": "FDX00628"
}