product-files/workflows/AI Agents/Multi-Tool Agent/Advanced/01249_Enrich contact records with HubSpot and HTTP REST API for Multi-Tool Agent (01249).json
{
  "name": "Enrich contact records with HubSpot and HTTP / REST API for Multi-Tool Agent (01249)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -270,
        400
      ],
      "id": "2b357bc8-781f-46cf-bf05-3c67e5f31708",
      "name": "Weekly Schedule"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        54,
        400
      ],
      "id": "4ff8c0c1-636a-4065-8579-c53d2bd45f9f",
      "name": "Read Pending Queue (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ceca6a52-04c7-4641-839c-a1b36da051c4",
              "leftValue": "={{ $json.requestId || $json.query }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        378,
        400
      ],
      "id": "92c4a14f-b223-4325-9975-e2b004b07b97",
      "name": "Keep Valid Requests"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        702,
        400
      ],
      "id": "7c708c11-166f-4624-99d3-eacd7737117b",
      "name": "Work in Batches"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/v1/requests",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1026,
        880
      ],
      "id": "0766c2bc-21c4-4b7d-9c70-f9876638912b",
      "name": "Process Batch Item",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1674,
        880
      ],
      "id": "518cf014-8c84-408d-8646-7f1309a3bb2b",
      "name": "Respect Rate Limits"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1998,
        400
      ],
      "id": "d1cf18c4-4b05-41c0-9f09-3fe27069ba31",
      "name": "Aggregate Batch Results"
    },
    {
      "parameters": {
        "resource": "contact",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "companyName": "={{ $json.company }}"
        },
        "authentication": "appToken"
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        2322,
        400
      ],
      "id": "6e0f6f2d-352d-4ddd-8ceb-b3a5a30d7121",
      "name": "Mark Completed in HubSpot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getCurrentDate",
        "outputFieldName": "completedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2646,
        400
      ],
      "id": "f375298e-a0f6-4de6-a024-f691f063b88b",
      "name": "Stamp Completion Time"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "runId",
              "value": "={{ $execution.id }}"
            },
            {
              "key": "itemCount",
              "value": "={{ $items().length }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        2970,
        400
      ],
      "id": "90cf0a2a-d426-4ab8-8a36-f514c1d38c0a",
      "name": "Persist Run Metadata"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build a stable idempotency key per request (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.requestId, j.query].join('|')) } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3294,
        400
      ],
      "id": "e2d50400-ee7f-4232-abaa-3c57a02e9f4b",
      "name": "Fingerprint for Idempotency"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "logic": "removeItemsWithAlreadySeenKeyValues",
        "dedupeValue": "={{ $json.idempotencyKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        3618,
        400
      ],
      "id": "698522e4-80bb-4a6e-918c-b5d35631fefd",
      "name": "Drop Already-Processed Items"
    },
    {
      "parameters": {
        "operation": "csv",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3942,
        400
      ],
      "id": "0255fdb9-9680-48dc-819b-548accf93a16",
      "name": "Serialize Run Output (CSV)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4266,
        400
      ],
      "id": "0c93d3b2-67c0-4e33-a5c0-c04bcf21f5fa",
      "name": "Archive Row Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4590,
        400
      ],
      "id": "28b51808-14f5-4c66-9b1e-c47ccb39985b",
      "name": "Load Previous Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Compare current metrics with the previous snapshot\nconst current = $input.first().json;\nconst prev = $('Load Previous Snapshot').first().json || {};\nconst drift = {};\nfor (const k of Object.keys(current)) {\n  if (typeof current[k] === 'number' && typeof prev[k] === 'number' && prev[k] !== 0) {\n    drift[k] = Math.round(((current[k] - prev[k]) / prev[k]) * 1000) / 10;\n  }\n}\nreturn [{ json: { ...current, driftPct: drift, hasDrift: Object.values(drift).some(v => Math.abs(v) > 10) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4914,
        400
      ],
      "id": "148c1f06-9976-456b-b38e-578bfebb2358",
      "name": "Compute Drift vs Snapshot"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://enrichment.example.com/v2/lookup",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5238,
        400
      ],
      "id": "7f0cc4b7-499e-4a76-9900-37d0246e1c01",
      "name": "Enrich with Reference Data",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a33284a3-3783-48e2-bbf7-90729bf40ba2",
              "name": "enrichedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "180a7f4e-3f9e-43a0-a4ff-072d071ca440",
              "name": "enrichmentSource",
              "value": "reference-api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5562,
        400
      ],
      "id": "f57748e6-8ce0-4bb1-947d-fd8930376721",
      "name": "Fold In Enrichment Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "509d5939-ba7a-4d8d-b1b6-729f8972f642",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "4cb7e5d3-7566-45fc-9c78-cf739018ec98",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "268fd090-45a2-43bc-a5e4-5c4aca8e20b8",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5886,
        400
      ],
      "id": "29d8c913-a8c1-4325-b50f-b3d11c37f190",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6210,
        400
      ],
      "id": "e78985c2-d3a2-4939-8323-9475bf20202e",
      "name": "Append Audit Row (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#ai-ops",
          "cachedResultName": "#ai-ops"
        },
        "text": "=✅ Enrich contact records with HubSpot and HTTP / REST API for Multi-Tool — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        6534,
        400
      ],
      "id": "93286b39-6a50-4c2c-8e2c-57de0bf7b098",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63fdeea8-65b1-4527-ba66-0da6d7fb3925",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "92d02864-846e-438b-837c-9d78b6119e3d",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "32a908a8-7172-4e77-8c64-f0b28b72ecf0",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5886,
        1420
      ],
      "id": "c2236bd4-02ae-4f91-a2ce-12ad5d6a8eaa",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#ai-ops",
          "cachedResultName": "#ai-ops"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        6210,
        1420
      ],
      "id": "5fb1f354-4b69-474b-a37d-5e5a3277e2d4",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6534,
        1420
      ],
      "id": "cb90df13-660b-49f1-8f0f-f1b98bfd47c7",
      "name": "Park in Dead-Letter Queue",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "### Weekly Schedule\n\nStarts the workflow on a timer — weekly. No input data; downstream nodes fetch what they need.\n\nNext: Read Pending Queue (Google Sheets)",
        "width": 280,
        "height": 232,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -330,
        520
      ],
      "id": "8466f209-776c-3cf6-ac1f-ef48cfe3ea94",
      "name": "Note: Weekly Schedule"
    },
    {
      "parameters": {
        "content": "### Read Pending Queue (Google Sheets)\n\ngoogleSheets — `read` operation against the connected account.\n\nPorts: ①→ Keep Valid Requests · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6,
        520
      ],
      "id": "2388a2f5-bdab-8471-22cb-0bac9e1240f4",
      "name": "Note: Read Pending Queue (Google Sheets)"
    },
    {
      "parameters": {
        "content": "### Keep Valid Requests\n\nDrops items that fail the condition; only qualifying items continue (no false branch).\n\nNext: Work in Batches",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        318,
        520
      ],
      "id": "04e36666-cb12-99e5-3ffc-24af79f4a494",
      "name": "Note: Keep Valid Requests"
    },
    {
      "parameters": {
        "content": "### Work in Batches\n\nLoop controller — releases 10 item(s) per pass. Output 2 (loop) processes the batch, output 1 (done) fires after the last batch.\n\nPorts: ①→ Aggregate Batch Results · ②→ Process Batch Item",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        642,
        520
      ],
      "id": "c5db7544-ed1b-d94f-95bd-55bc51365cfe",
      "name": "Note: Work in Batches"
    },
    {
      "parameters": {
        "content": "### Process Batch Item\n\nPOST https://api.example.com/v1/requests — retries 3× with backoff on failure.\n\nPorts: ①→ Respect Rate Limits · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        966,
        1000
      ],
      "id": "37fd4d63-90a7-b343-e229-c20d84c13e34",
      "name": "Note: Process Batch Item"
    },
    {
      "parameters": {
        "content": "### Respect Rate Limits\n\nPauses 2 seconds — spacing calls to respect rate limits.\n\nNext: Work in Batches",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1614,
        1000
      ],
      "id": "f9f45289-ff42-c7a5-b8ac-2954dc71fa05",
      "name": "Note: Respect Rate Limits"
    },
    {
      "parameters": {
        "content": "### Aggregate Batch Results\n\nCollapses all items into a single summary item (for counts and run stats).\n\nNext: Mark Completed in HubSpot",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1938,
        520
      ],
      "id": "099098f9-4b7e-9ed2-909e-549e67bc2625",
      "name": "Note: Aggregate Batch Results"
    },
    {
      "parameters": {
        "content": "### Mark Completed in HubSpot\n\nhubspot — `contact` operation against the connected account.\n\nPorts: ①→ Stamp Completion Time · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 HubSpot private-app token",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2262,
        520
      ],
      "id": "e7f87d52-2a35-1ad7-75bf-02424b9a2a37",
      "name": "Note: Mark Completed in HubSpot"
    },
    {
      "parameters": {
        "content": "### Stamp Completion Time\n\nStamps `completedAt` with the current time for auditing.\n\nNext: Persist Run Metadata",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2586,
        520
      ],
      "id": "f325af91-6ec5-4198-fa87-3633697a071e",
      "name": "Note: Stamp Completion Time"
    },
    {
      "parameters": {
        "content": "### Persist Run Metadata\n\nSaves key fields onto the execution record — searchable later in n8n's execution list.\n\nNext: Fingerprint for Idempotency",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2910,
        520
      ],
      "id": "031272a3-eb81-f864-cb13-898d93136bd5",
      "name": "Note: Persist Run Metadata"
    },
    {
      "parameters": {
        "content": "### Fingerprint for Idempotency\n\nCustom JavaScript: Build a stable idempotency key per request (djb2 hash, no deps)\n\nNext: Drop Already-Processed Items",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3234,
        520
      ],
      "id": "32146f6a-4fa2-6ef5-c7f2-5e10174572b2",
      "name": "Note: Fingerprint for Idempotency"
    },
    {
      "parameters": {
        "content": "### Drop Already-Processed Items\n\nCross-execution dedupe: remembers keys it has processed before and drops repeats — the idempotency guard.\n\nNext: Serialize Run Output (CSV)",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3558,
        520
      ],
      "id": "2caff998-324b-7f94-42a9-3da2ca98577e",
      "name": "Note: Drop Already-Processed Items"
    },
    {
      "parameters": {
        "content": "### Serialize Run Output (CSV)\n\nSerializes items to a CSV binary file.\n\nNext: Archive Row Snapshot",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3882,
        520
      ],
      "id": "20dafae7-7d0e-99fb-6547-9c7c169b59f2",
      "name": "Note: Serialize Run Output (CSV)"
    },
    {
      "parameters": {
        "content": "### Archive Row Snapshot\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Load Previous Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4206,
        520
      ],
      "id": "e4b066f0-87c3-7ac6-4ff9-e461a0b47c41",
      "name": "Note: Archive Row Snapshot"
    },
    {
      "parameters": {
        "content": "### Load Previous Snapshot\n\ngoogleSheets — `read` operation against the connected account.\n\nPorts: ①→ Compute Drift vs Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4530,
        520
      ],
      "id": "ff82bbbe-734d-f498-3b5a-dafa6ff851b2",
      "name": "Note: Load Previous Snapshot"
    },
    {
      "parameters": {
        "content": "### Compute Drift vs Snapshot\n\nCustom JavaScript: Compare current metrics with the previous snapshot\n\nNext: Enrich with Reference Data",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4854,
        520
      ],
      "id": "4a0f98c3-ce11-6bd9-0483-2f2b09f59ff0",
      "name": "Note: Compute Drift vs Snapshot"
    },
    {
      "parameters": {
        "content": "### Enrich with Reference Data\n\nGET https://enrichment.example.com/v2/lookup — retries 3× with backoff on failure.\n\nPorts: ①→ Fold In Enrichment Fields · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5178,
        520
      ],
      "id": "f9cbd4fa-036f-930b-89af-40fc4aa0abb9",
      "name": "Note: Enrich with Reference Data"
    },
    {
      "parameters": {
        "content": "### Fold In Enrichment Fields\n\nShapes the item: writes `enrichedAt`, `enrichmentSource`. Keeps the schema explicit between stages.\n\nNext: Summarize Run Stats",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5502,
        520
      ],
      "id": "693b6ad3-1947-c10f-af47-ac5c117089b3",
      "name": "Note: Fold In Enrichment Fields"
    },
    {
      "parameters": {
        "content": "### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Google Sheets)",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5826,
        520
      ],
      "id": "d2ce2634-b59f-5a3e-f669-76276ae0a43c",
      "name": "Note: Summarize Run Stats"
    },
    {
      "parameters": {
        "content": "### Append Audit Row (Google Sheets)\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6150,
        520
      ],
      "id": "ce5f5da1-2606-9a90-4f5b-5c5c86779054",
      "name": "Note: Append Audit Row (Google Sheets)"
    },
    {
      "parameters": {
        "content": "### Send Summary to Slack\n\nslack — `action` operation against the connected account.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2",
        "width": 280,
        "height": 232,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6474,
        520
      ],
      "id": "cfd200aa-dbae-436b-26ad-4a8852afa5e1",
      "name": "Note: Send Summary to Slack"
    },
    {
      "parameters": {
        "content": "### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Slack",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5826,
        1540
      ],
      "id": "1be8b3f1-b794-1ecf-7181-4d3b4a8af624",
      "name": "Note: Capture Failure Context"
    },
    {
      "parameters": {
        "content": "### Escalate Failure to Slack\n\nslack — `action` operation against the connected account.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Slack OAuth2",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6150,
        1540
      ],
      "id": "439bf57d-e3ab-3ddf-0ea6-de116ce6be27",
      "name": "Note: Escalate Failure to Slack"
    },
    {
      "parameters": {
        "content": "### Park in Dead-Letter Queue\n\ngoogleSheets — `append` operation against the connected account.\n\n↻ retries 3×/2s · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6474,
        1540
      ],
      "id": "ac43e9ec-74e6-c022-1cb8-40b7713592d1",
      "name": "Note: Park in Dead-Letter Queue"
    },
    {
      "parameters": {
        "content": "# Enrich contact records with HubSpot and HTTP / REST API for Multi-Tool Agent (01249)\n\n**Pattern:** Data Enrichment · **Level:** Production · **Trigger:** Scheduled\n\n## What it does\nEnrich contact records with HubSpot and HTTP / REST API for Multi-Tool Agent (01249). It runs automatically on a schedule.\n\n## Why it exists\nManual multi-tool agent is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nWeekly Schedule → Read Pending Queue (Google Sheets) → Keep Valid Requests → Work in Batches → Aggregate Batch Results → Mark Completed in HubSpot → Stamp Completion Time → …\n\n## Use it for\n- Teams that want to data enrichment without manual effort\n- Anyone automating multi-tool agent in ai\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Keeps your systems in sync\n- Responds in seconds\n- Removes copy-paste errors\n\n## Before first run\nConnect credentials: API key / bearer for the target API; Google OAuth2 / service account; HubSpot private-app token; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.",
        "width": 480,
        "height": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -830,
        80
      ],
      "id": "8b8f65dc-2273-3d3d-1926-82616658762b",
      "name": "📘 Workflow Overview"
    },
    {
      "parameters": {
        "content": "## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.",
        "width": 360,
        "height": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -230,
        -20
      ],
      "id": "e15a95bd-8d5f-97e0-7576-e46efc4aeef4",
      "name": "🛟 Error handling & retries"
    },
    {
      "parameters": {
        "content": "## ⏱ Rate limiting\n\nWork is batched and spaced with Wait so provider quotas aren't tripped. If you hit 429s, lower the batch size or raise the wait — throughput drops, reliability rises.",
        "width": 360,
        "height": 260,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        190,
        -20
      ],
      "id": "60fb4189-295e-c580-d540-932cd8650064",
      "name": "⏱ Rate limiting"
    },
    {
      "parameters": {
        "content": "## 🧹 Data quality\n\nDedupe/diff steps make re-runs safe: the same input twice will not create duplicate records. If you change the key fields, clear n8n's dedupe memory (node → 'Clear stored keys') before the next run.",
        "width": 360,
        "height": 260,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        610,
        -20
      ],
      "id": "7cce94c0-3146-ae05-7616-19d0b3fdc382",
      "name": "🧹 Data quality"
    },
    {
      "parameters": {
        "content": "## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your multi-tool agent process. Every node card explains its role — safe to extend at any marked branch.",
        "width": 360,
        "height": 260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1030,
        -20
      ],
      "id": "ab1c6366-0803-b2fd-5bbb-8cb974746ead",
      "name": "🛠 Customize me"
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Read Pending Queue (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Pending Queue (Google Sheets)": {
      "main": [
        [
          {
            "node": "Keep Valid Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Valid Requests": {
      "main": [
        [
          {
            "node": "Work in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Work in Batches": {
      "main": [
        [
          {
            "node": "Aggregate Batch Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Batch Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Batch Item": {
      "main": [
        [
          {
            "node": "Respect Rate Limits",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respect Rate Limits": {
      "main": [
        [
          {
            "node": "Work in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Batch Results": {
      "main": [
        [
          {
            "node": "Mark Completed in HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Completed in HubSpot": {
      "main": [
        [
          {
            "node": "Stamp Completion Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Completion Time": {
      "main": [
        [
          {
            "node": "Persist Run Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Run Metadata": {
      "main": [
        [
          {
            "node": "Fingerprint for Idempotency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fingerprint for Idempotency": {
      "main": [
        [
          {
            "node": "Drop Already-Processed Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drop Already-Processed Items": {
      "main": [
        [
          {
            "node": "Serialize Run Output (CSV)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serialize Run Output (CSV)": {
      "main": [
        [
          {
            "node": "Archive Row Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Row Snapshot": {
      "main": [
        [
          {
            "node": "Load Previous Snapshot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Previous Snapshot": {
      "main": [
        [
          {
            "node": "Compute Drift vs Snapshot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Drift vs Snapshot": {
      "main": [
        [
          {
            "node": "Enrich with Reference Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with Reference Data": {
      "main": [
        [
          {
            "node": "Fold In Enrichment Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fold In Enrichment Fields": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (Google Sheets)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Failure to Slack": {
      "main": [
        [
          {
            "node": "Park in Dead-Letter Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "98ea4301-5d4f-45c2-9b39-9ed90174a08e",
  "id": "FDX01249"
}