product-files/workflows/Chatbots & Conversational AI/Support Bots/Expert/07817_Handle user questions on autopilot for Support Bots.json
{
  "name": "Handle user questions on autopilot for Support Bots",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -200,
        400
      ],
      "id": "ac3e2c10-f65a-45ae-8c82-8a38f0b6f110",
      "name": "When Chat Message Received",
      "webhookId": "24c41380-1545-4b7f-8813-fb4040696f2f"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Normalize incoming conversation records to a stable schema\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  out.push({ json: {\n    sessionId: String(j.sessionId ?? j.id ?? '').trim(),\n    message: typeof j.message === 'string' ? j.message.trim() : j.message ?? null,\n    source: j.source ?? 'api',\n    receivedAt: new Date().toISOString(),\n  } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        400
      ],
      "id": "dda44244-034f-4f69-8e1c-377b51bf9b3e",
      "name": "Normalize Conversation Payload"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || $json.question || JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You answer conversation questions using only the retrieved knowledge-base context. If the context does not contain the answer, say so and set needsHuman=true.",
          "maxIterations": 6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        280,
        400
      ],
      "id": "0bccf764-2ca3-415b-ac91-98f6735b76f3",
      "name": "Answer from Knowledge Base",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        460,
        590
      ],
      "id": "c0266eef-c2aa-4810-b88f-b2d9ff757a13",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "kb-main"
        },
        "mode": "retrieve-as-tool",
        "topK": 5,
        "toolDescription": "Semantic search over the support bots knowledge base. Always call this before answering factual conversation questions."
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        500,
        730
      ],
      "id": "a7c0f88d-3c28-40a0-98de-b4719e6b6869",
      "name": "Knowledge Base Retriever"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        540,
        900
      ],
      "id": "5e87459a-0522-43f2-af85-d3657076274f",
      "name": "Query Embeddings"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d07d7db-921a-491b-a037-03d99e78f0d0",
              "leftValue": "={{ !($json.output || '').includes('needsHuman') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        400
      ],
      "id": "fcc4d92c-4895-4169-ab15-5b7f1ea1d089",
      "name": "Grounded Answer Found?"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#support",
          "cachedResultName": "#support"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1020,
        320
      ],
      "id": "f5fb84b4-e28e-450e-9f7e-3daaa63bcef9",
      "name": "Deliver Answer via Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Conversation Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1260,
        520
      ],
      "id": "160ccf21-7c0d-4e9f-9f2f-25752a669d8c",
      "name": "Log Knowledge Gap",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#support",
          "cachedResultName": "#support"
        },
        "text": "=📚 Unanswered question logged: {{ $json.chatInput || $json.question }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1740,
        520
      ],
      "id": "ca11bccb-12b2-4094-b039-d8f6fa834b8d",
      "name": "Flag Gap to KB Owners",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "language",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2460,
        400
      ],
      "id": "15834785-545c-4eea-8da1-71320936fee8",
      "name": "Sort Conversations Newest First"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#support",
          "cachedResultName": "#support"
        },
        "text": "=✅ Handle user questions on autopilot for Support Bots — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2700,
        400
      ],
      "id": "43e033b8-e2d2-4515-bbca-a8ea2f43c4a3",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c9a1118-d2df-4e4e-9c4b-8967155c1c09",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "724d15bd-8a65-45b9-b673-c898f2070c4d",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "f7f5c08f-6b52-4210-9423-77d4c37e304e",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2220,
        740
      ],
      "id": "80c14de3-b9f3-47b7-9026-75b116e8d43a",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#support",
          "cachedResultName": "#support"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2460,
        740
      ],
      "id": "78b609ca-d133-484c-851b-2f7b5169d2c1",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Handle user questions on autopilot for Support Bots\n\n**Pattern:** Chatbot Responder  \n**Trigger:** Chat  \n**Level:** Core\n\nProcesses conversations for support bots — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        60
      ],
      "id": "b9936ea0-d62b-4f5a-baa0-d1319bf6a12f",
      "name": "Overview"
    }
  ],
  "connections": {
    "When Chat Message Received": {
      "main": [
        [
          {
            "node": "Normalize Conversation Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Conversation Payload": {
      "main": [
        [
          {
            "node": "Answer from Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer from Knowledge Base",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base Retriever": {
      "ai_tool": [
        [
          {
            "node": "Answer from Knowledge Base",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base Retriever",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Answer from Knowledge Base": {
      "main": [
        [
          {
            "node": "Grounded Answer Found?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grounded Answer Found?": {
      "main": [
        [
          {
            "node": "Deliver Answer via Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Knowledge Gap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Knowledge Gap": {
      "main": [
        [
          {
            "node": "Flag Gap to KB Owners",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deliver Answer via Slack": {
      "main": [
        [
          {
            "node": "Sort Conversations Newest First",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort Conversations Newest First": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "2ba968f1-71da-4956-a528-3cd9c2d1ddca",
  "id": "FDX07817"
}