product-files/workflows/Trading & Crypto Automation/Price Alerts/Beginner/08889_Alert on market moves with HTTP REST API and Gmail for your team.json
{"name":"Alert on market moves with HTTP / REST API and Gmail for your team","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-270,400],"id":"4c2fe51d-0e63-42ef-a6bc-ff4f243a2e10","name":"Every Few Minutes"},{"parameters":{"method":"GET","url":"https://service-a.example.com/healthz","options":{"timeout":10000,"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[54,130],"id":"98d80b4b-8937-421d-ae82-9f4f27be7e16","name":"Probe Endpoint A","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"method":"GET","url":"https://service-b.example.com/healthz","options":{"timeout":10000,"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[378,640],"id":"8f2e3730-63a8-4785-8bf5-cccf8a8de7f2","name":"Probe Endpoint B","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"mode":"append","numberInputs":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1026,400],"id":"2a941203-955d-489e-8458-b131b2b9d451","name":"Combine Probe Results"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b4c11be-716b-4325-b1e0-a586dfe14acf","leftValue":"={{ ($json.statusCode || 200) < 400 }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1998,400],"id":"e76f294b-756c-470e-8c23-60c34d603797","name":"All Healthy?"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Asset Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2322,160],"id":"c50b15b1-75bb-419f-93f1-c804362c4210","name":"Record Uptime Metric","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"operation":"removeItemsSeenInPreviousExecutions","logic":"removeItemsWithAlreadySeenKeyValues","dedupeValue":"={{ $json.url || 'probe' }}","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[2646,760],"id":"ffdbd473-e7d6-4589-ba99-66ee17763d7c","name":"Already Alerted? (State Check)"},{"parameters":{"sendTo":"={{ $json.email || 'ops@company.com' }}","subject":"=🔴 Health check failed: {{ $json.url || 'endpoint' }} → {{ $json.statusCode }}","message":"=🔴 Health check failed: {{ $json.url || 'endpoint' }} → {{ $json.statusCode }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[3294,760],"id":"5447a4d4-48a0-4f8f-8cb2-04bacb9dcc26","name":"Page On-Call via Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"maxItems":100},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[4266,400],"id":"237dbf8a-8829-4f55-ba84-c3a57c299d9d","name":"Cap Batch Volume"},{"parameters":{"operation":"getCurrentDate","outputFieldName":"processedAt","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[4590,400],"id":"f068ded7-7cd8-4ead-9232-ba3f05e8e78a","name":"Stamp Processing Time"},{"parameters":{"keys":{"key":[{"currentKey":"id","newKey":"symbol"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[4914,400],"id":"7e055788-d2bb-4fc9-90ea-d0d8194911cd","name":"Align Field Names"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#trading","cachedResultName":"#trading"},"text":"=✅ Alert on market moves with HTTP / REST API and Gmail for your team — run completed at {{ $now.toFormat('HH:mm') }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[5238,400],"id":"6e65a541-bd10-450f-b23e-1ce4aa879349","name":"Send Summary to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"b7912805-7faf-46f8-a841-2d13ee8f53dd","name":"failedNode","value":"={{ $json.error?.node?.name || 'unknown' }}","type":"string"},{"id":"d32b652c-af35-4021-a9b8-3441834e715a","name":"errorMessage","value":"={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}","type":"string"},{"id":"195a36e5-9a15-4ff2-9cfe-aa339db4b6a7","name":"workflow","value":"={{ $workflow.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4590,1420],"id":"6ea41d6c-9619-4f29-afeb-36949aa3b04e","name":"Capture Failure Context"},{"parameters":{"sendTo":"={{ $json.email || 'ops@company.com' }}","subject":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage ","message":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[4914,1420],"id":"0d7e109e-7b5a-4448-bdfc-58089263beb3","name":"Escalate Failure to Gmail","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"content":"### Every Few Minutes\n\nStarts the workflow on a timer — every 30 min. No input data; downstream nodes fetch what they need.\n\nNext: Probe Endpoint A","width":280,"height":232,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-330,520],"id":"5a3eb2eb-dc8c-df90-7e49-dba05d499357","name":"Note: Every Few Minutes"},{"parameters":{"content":"### Probe Endpoint A\n\nGET https://service-a.example.com/healthz — retries 3× with backoff on failure.\n\nNext: Combine Probe Results\n\n↻ retries 3×/2s · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6,250],"id":"2b9b8512-4930-4857-e75d-54ee67169f51","name":"Note: Probe Endpoint A"},{"parameters":{"content":"### Probe Endpoint B\n\nGET https://service-b.example.com/healthz — retries 3× with backoff on failure.\n\nNext: Combine Probe Results\n\n↻ retries 3×/2s · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[318,760],"id":"f504c336-384a-1502-7cbc-69bcf38aea3f","name":"Note: Probe Endpoint B"},{"parameters":{"content":"### Combine Probe Results\n\nRejoins 2 branches into one stream (mode: append) so downstream logic runs once.\n\nNext: All Healthy?","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[966,520],"id":"f714f740-bce2-97b7-f745-c7d2ad811a9e","name":"Note: Combine Probe Results"},{"parameters":{"content":"### All Healthy?\n\nTwo-way gate on `={{ ($json.statusCode || 200) < 400 }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Record Uptime Metric · ②→ Already Alerted? (State Check)","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1938,520],"id":"94d199a7-9c52-ff74-487d-13866fcd1c93","name":"Note: All Healthy?"},{"parameters":{"content":"### Record Uptime Metric\n\nAppends a new row to 'Asset Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\nPorts: ①→ Cap Batch Volume · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2262,280],"id":"0bd6ca94-fea3-3841-0830-7f7ddc5acd9e","name":"Note: Record Uptime Metric"},{"parameters":{"content":"### Already Alerted? (State Check)\n\nCross-execution dedupe: remembers keys it has processed before and drops repeats — the idempotency guard.\n\nNext: Page On-Call via Slack","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2586,880],"id":"a7673313-3c9d-c2b6-829c-57a87b5fbc9b","name":"Note: Already Alerted? (State Check)"},{"parameters":{"content":"### Page On-Call via Slack\n\nSends an email via Gmail — subject is the first line of the message body, recipient comes from the item's `email` field.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3234,880],"id":"a9538c40-b62d-b4be-965d-da0c32a337a1","name":"Note: Page On-Call via Slack"},{"parameters":{"content":"### Cap Batch Volume\n\nCaps the stream at 100 items to protect downstream quotas.\n\nNext: Stamp Processing Time","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4206,520],"id":"918144b7-8e76-31d4-2898-c3d1756433a7","name":"Note: Cap Batch Volume"},{"parameters":{"content":"### Stamp Processing Time\n\nStamps `processedAt` with the current time for auditing.\n\nNext: Align Field Names","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4530,520],"id":"e7eb5ead-cb6e-3aaa-8c34-5b1a648be97a","name":"Note: Stamp Processing Time"},{"parameters":{"content":"### Align Field Names\n\nNormalizes field names so every source feeds the same downstream schema.\n\nNext: Send Summary to Slack","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4854,520],"id":"ec76a27c-e0a8-9c0b-7516-e5fa399de117","name":"Note: Align Field Names"},{"parameters":{"content":"### Send Summary to Slack\n\nPosts a message to Slack (`#trading`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5178,520],"id":"479351dd-9f0c-d376-cfae-faa303b01e56","name":"Note: Send Summary to Slack"},{"parameters":{"content":"### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Gmail","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4530,1540],"id":"5f814590-43f0-e54b-b352-f8a8ca86f8f3","name":"Note: Capture Failure Context"},{"parameters":{"content":"### Escalate Failure to Gmail\n\nSends an email via Gmail — subject is the first line of the message body, recipient comes from the item's `email` field.\n\n↻ retries 3×/2s · 🔑 Google OAuth2","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4854,1540],"id":"5e5ba7aa-dd30-2162-2b49-bbc50033d091","name":"Note: Escalate Failure to Gmail"},{"parameters":{"content":"# Alert on market moves with HTTP / REST API and Gmail for your team\n\n**Pattern:** Trading Alert · **Level:** Core · **Trigger:** Scheduled\n\n## What it does\nAlert on market moves with HTTP / REST API and Gmail for your team. It runs automatically on a schedule.\n\n## Why it exists\nManual price alerts is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nEvery Few Minutes → Probe Endpoint A → Combine Probe Results → All Healthy? → Record Uptime Metric → Cap Batch Volume → Stamp Processing Time → …\n\n## Use it for\n- Teams that want to trading alert without manual effort\n- Anyone automating price alerts in finance\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Removes copy-paste errors\n- Standardizes the process every time\n- Has retries and error handling built in\n\n## Before first run\nConnect credentials: API key / bearer for the target API; Google OAuth2; Google OAuth2 / service account; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.\n\n## Try it now\nSample data is pinned on the trigger — hit **Execute Workflow** to watch it flow through every node before connecting any real credentials. Unpin the trigger (right-click → Unpin) when you're ready to go live.","width":480,"height":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,80],"id":"60e4451a-f2ff-cb86-25e2-a181a0a90a3c","name":"📘 Workflow Overview"},{"parameters":{"content":"## Design decisions\n\n'Already Alerted?' uses cross-execution dedupe specifically so a service that's down for an hour pages on-call once, not on every scheduled probe — alert fatigue is a real failure mode, and this node is the guard against it.","width":480,"height":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1020],"id":"49e08b52-76d0-230b-76a0-0cfec7c705d9","name":"🎓 Design Decisions"},{"parameters":{"content":"## Practice exercises\n\nOnce it's wired up with real credentials, try:\n\n1. Add a third endpoint to probe and watch the Merge node's input count update.\n2. Point a probe at a URL that returns 500 and confirm exactly one page fires, not one per scheduled check.\n3. Change the alert dedupe key so alerts re-fire daily instead of once per incident.","width":480,"height":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1360],"id":"acd0c5cd-868d-c781-1bd3-c0ebff6f765e","name":"🧪 Practice Exercises"},{"parameters":{"content":"## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Set an n8n **Error Workflow** in settings as the final safety net.","width":360,"height":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-230,-290],"id":"a031d3ff-056a-d845-81b2-b7726d2391ca","name":"🛟 Error handling & retries"},{"parameters":{"content":"## 🧹 Data quality\n\nDedupe/diff steps make re-runs safe: the same input twice will not create duplicate records. If you change the key fields, clear n8n's dedupe memory (node → 'Clear stored keys') before the next run.","width":360,"height":260,"color":1},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[190,-290],"id":"c8990117-a122-bd44-5895-8493e360302c","name":"🧹 Data quality"},{"parameters":{"content":"## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your price alerts process. Every node card explains its role — safe to extend at any marked branch.","width":360,"height":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[610,-290],"id":"f20f6422-c30a-a320-970d-5942a74085f4","name":"🛠 Customize me"}],"connections":{"Every Few Minutes":{"main":[[{"node":"Probe Endpoint A","type":"main","index":0},{"node":"Probe Endpoint B","type":"main","index":0}]]},"Probe Endpoint A":{"main":[[{"node":"Combine Probe Results","type":"main","index":0}]]},"Probe Endpoint B":{"main":[[{"node":"Combine Probe Results","type":"main","index":1}]]},"Combine Probe Results":{"main":[[{"node":"All Healthy?","type":"main","index":0}]]},"All Healthy?":{"main":[[{"node":"Record Uptime Metric","type":"main","index":0}],[{"node":"Already Alerted? (State Check)","type":"main","index":0}]]},"Already Alerted? (State Check)":{"main":[[{"node":"Page On-Call via Slack","type":"main","index":0}]]},"Record Uptime Metric":{"main":[[{"node":"Cap Batch Volume","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Cap Batch Volume":{"main":[[{"node":"Stamp Processing Time","type":"main","index":0}]]},"Stamp Processing Time":{"main":[[{"node":"Align Field Names","type":"main","index":0}]]},"Align Field Names":{"main":[[{"node":"Send Summary to Slack","type":"main","index":0}]]},"Capture Failure Context":{"main":[[{"node":"Escalate Failure to Gmail","type":"main","index":0}]]},"Page On-Call via Slack":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Send Summary to Slack":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveManualExecutions":true,"executionTimeout":3600},"meta":{"templateCredsSetupCompleted":false},"tags":[],"pinData":{"Every Few Minutes":[{"json":{"symbol":"BTC-USD","price":64250.1,"change24h":2.3,"volume":28450000000}},{"json":{"symbol":"ETH-USD","price":3180.55,"change24h":-1.1,"volume":12300000000}}]},"versionId":"f3471c2a-fd44-4cc2-a6d3-1f8bedf359ec","id":"FDX08889"}