product-files/workflows/Social Media Automation/Listening/Intermediate/07018_Track mentions of brand mentions with HTTP REST API and Twilio at scale.json
{
  "name": "Track mentions of brand mentions with HTTP / REST API and Twilio at scale",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        400
      ],
      "id": "2b8520bd-484f-498c-98b2-ba763f1d40eb",
      "name": "Hourly Schedule"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb544e00-f46c-497b-a282-4771d18f0c26",
              "leftValue": "={{ $json.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        40,
        400
      ],
      "id": "12f2c0c3-26ea-487e-b8b6-f3af9ac32487",
      "name": "Required Fields Present?"
    },
    {
      "parameters": {
        "errorType": "errorMessage",
        "errorMessage": "Missing required field 'content' on incoming post."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        40,
        570
      ],
      "id": "ba8275e9-2b88-4b92-b78c-56bd56cb7d4c",
      "name": "Abort — Malformed Input"
    },
    {
      "parameters": {
        "inputText": "={{ $json.content || JSON.stringify($json) }}",
        "categories": {
          "categories": [
            {
              "category": "Mention",
              "description": "Posts that are mention for the listening team."
            },
            {
              "category": "Question",
              "description": "Posts that are question for the listening team."
            },
            {
              "category": "Complaint",
              "description": "Posts that are complaint for the listening team."
            }
          ]
        },
        "options": {
          "fallback": "other"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        280,
        400
      ],
      "id": "76b08dab-d58b-4262-a5ab-a346fc9a1c36",
      "name": "Classify with AI",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        460,
        590
      ],
      "id": "5d9771d1-fbeb-49b4-81d8-26e3966c0014",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Post Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        700,
        240
      ],
      "id": "f0e9cc00-e758-48e4-8cbf-defd5b80abeb",
      "name": "Store as Mention",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Post Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        940,
        390
      ],
      "id": "5267af08-bab8-4fd3-8115-787ddbfd014c",
      "name": "Store as Question",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Post Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1180,
        540
      ],
      "id": "6e79a73f-4ebf-4553-9997-35840ca393b5",
      "name": "Store as Complaint",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#social",
          "cachedResultName": "#social"
        },
        "text": "=[Other] {{ $json.content }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1420,
        690
      ],
      "id": "92d7a285-b1a6-402e-8f4d-fe972b8183b8",
      "name": "Alert Slack — Other",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1900,
        400
      ],
      "id": "69bc2e4a-7790-4fb0-a249-50c699ef94ba",
      "name": "Reunite Branches"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91a60077-4c08-4b44-9d80-42572a54fb02",
              "name": "pipeline",
              "value": "Listening",
              "type": "string"
            },
            {
              "id": "242f0de3-4ae6-48c3-904e-122d90209c0a",
              "name": "version",
              "value": "2.0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2620,
        400
      ],
      "id": "a60fde00-35e1-49a4-a02c-2bb4aaa1a178",
      "name": "Tag Pipeline Metadata"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "id",
              "newKey": "postId"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        2860,
        400
      ],
      "id": "33855bd1-2c0b-411c-9474-fa0fdc338000",
      "name": "Align Field Names"
    },
    {
      "parameters": {
        "operation": "getCurrentDate",
        "outputFieldName": "processedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3100,
        400
      ],
      "id": "4f11c4eb-8f2d-41b3-9d18-86b1f171b6c7",
      "name": "Stamp Processing Time"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "postId",
              "value": "={{ $json.postId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        3340,
        400
      ],
      "id": "4db202d9-70c4-4212-8968-8e16c022cfef",
      "name": "Save Execution Metadata"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48c49210-a982-4f09-8079-f33d49c0d9cc",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "8c9fe474-711e-4b22-930a-c547fb06c885",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "f96fd9b3-696c-412c-9263-31cf0584ad13",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3580,
        400
      ],
      "id": "94417541-1d6f-4a22-88cf-eea65d590249",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Post Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3820,
        400
      ],
      "id": "ad0d7390-97b1-426f-9fe5-2a879f9c2001",
      "name": "Append Audit Row (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "from": "+15550100000",
        "to": "={{ $json.phone || 'ONCALL_NUMBER' }}",
        "message": "=✅ Track mentions of brand mentions with HTTP / REST API and Twilio at sc — run completed at {{ $now.toFormat('HH:mm') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        4060,
        400
      ],
      "id": "111d794c-0a0f-4c47-9e82-6d160f547477",
      "name": "Send Summary to Twilio",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4dcbe7a4-1819-4644-ac1b-429b008da0e3",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "06428cdd-31c7-4efb-b4ff-cdc1ccbc93ee",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "b7c96dcf-b12d-403e-9ec7-bfe4441daf87",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3580,
        740
      ],
      "id": "f3962c96-c6d0-45b6-b767-3c93f1059991",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "from": "+15550100000",
        "to": "={{ $json.phone || 'ONCALL_NUMBER' }}",
        "message": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3820,
        740
      ],
      "id": "4d7d4141-5ded-4a9e-acbb-cb49e43853fd",
      "name": "Escalate Failure to Twilio",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Track mentions of brand mentions with HTTP / REST API and Twilio at scale\n\n**Pattern:** Social Listening  \n**Trigger:** Scheduled  \n**Level:** Advanced\n\nProcesses posts for listening — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        -20
      ],
      "id": "cfdcd56f-1632-464f-80f5-c60b40494d64",
      "name": "Overview"
    }
  ],
  "connections": {
    "Hourly Schedule": {
      "main": [
        [
          {
            "node": "Required Fields Present?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Required Fields Present?": {
      "main": [
        [
          {
            "node": "Classify with AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Abort — Malformed Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classify with AI": {
      "main": [
        [
          {
            "node": "Store as Mention",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Store as Question",
            "type": "main",
            "index": 0
          },
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Store as Complaint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert Slack — Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store as Mention": {
      "main": [
        [
          {
            "node": "Reunite Branches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store as Question": {
      "main": [
        [
          {
            "node": "Reunite Branches",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store as Complaint": {
      "main": [
        [
          {
            "node": "Reunite Branches",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Slack — Other": {
      "main": [
        [
          {
            "node": "Reunite Branches",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reunite Branches": {
      "main": [
        [
          {
            "node": "Tag Pipeline Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Pipeline Metadata": {
      "main": [
        [
          {
            "node": "Align Field Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Align Field Names": {
      "main": [
        [
          {
            "node": "Stamp Processing Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Processing Time": {
      "main": [
        [
          {
            "node": "Save Execution Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Execution Metadata": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (Google Sheets)": {
      "main": [
        [
          {
            "node": "Send Summary to Twilio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Twilio": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "4ca0f0f3-d57b-46bf-9cd8-52d2dfc73178",
  "id": "FDX07018"
}