product-files/workflows/Social Media Automation/Scheduling/Intermediate/07053_Track mentions of brand mentions with HTTP REST API and Microsoft Teams at scale.json
{
  "name": "Track mentions of brand mentions with HTTP / REST API and Microsoft Teams at scale",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 6,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        400
      ],
      "id": "6ff492e2-0ad7-4835-8ece-b8a004370cab",
      "name": "Daily Schedule"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Normalize incoming post records to a stable schema\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  out.push({ json: {\n    postId: String(j.postId ?? j.id ?? '').trim(),\n    content: typeof j.content === 'string' ? j.content.trim() : j.content ?? null,\n    source: j.source ?? 'api',\n    receivedAt: new Date().toISOString(),\n  } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        400
      ],
      "id": "0c84da5c-9e5c-450c-aa66-8a0df878b892",
      "name": "Normalize Post Payload"
    },
    {
      "parameters": {
        "inputText": "={{ $json.content || JSON.stringify($json) }}",
        "categories": {
          "categories": [
            {
              "category": "Mention",
              "description": "Posts that are mention for the scheduling team."
            },
            {
              "category": "Question",
              "description": "Posts that are question for the scheduling team."
            },
            {
              "category": "Complaint",
              "description": "Posts that are complaint for the scheduling team."
            }
          ]
        },
        "options": {
          "fallback": "other"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        280,
        400
      ],
      "id": "b09f5db8-3ba9-4f6f-ab9f-c7e063a14350",
      "name": "Classify with AI",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        460,
        590
      ],
      "id": "75620c94-df1c-4380-bfda-cf3595604856",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Post Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        700,
        240
      ],
      "id": "5b7aed3b-18e0-40e9-a9cc-9c4f5d733eee",
      "name": "Store as Mention",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Post Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        940,
        390
      ],
      "id": "c3abb6db-3779-4b79-bcb4-f567c67440fa",
      "name": "Store as Question",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Post Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1180,
        540
      ],
      "id": "b13448fd-b22a-41c1-8859-b61406de5476",
      "name": "Store as Complaint",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": "OPS_TEAM_CHAT_ID",
        "message": "=[Other] {{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1420,
        690
      ],
      "id": "aad98e5f-3344-4bdd-9462-95422602b945",
      "name": "Alert Microsoft Teams — Other",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1900,
        400
      ],
      "id": "d091154f-74f9-4d9d-9456-fce001dc3741",
      "name": "Reunite Branches"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "scheduledAt",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2620,
        400
      ],
      "id": "4b466a59-2397-4b54-9957-bc618fd7ba36",
      "name": "Sort Posts Newest First"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "postId",
              "value": "={{ $json.postId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        2860,
        400
      ],
      "id": "61c33507-51d1-4a1c-bbff-b205c2bfcbcf",
      "name": "Save Execution Metadata"
    },
    {
      "parameters": {
        "maxItems": 25
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3100,
        400
      ],
      "id": "315c6850-0b3b-4eb8-bfac-de6a7f9e746a",
      "name": "Cap Batch Volume"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fd7e303-6d5a-4c74-b959-324741ab38d4",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "1a7945a6-1251-4eba-adee-2d1197b2c166",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "39c11d25-c4b8-4524-bfd6-12f10248ceba",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3340,
        400
      ],
      "id": "01645460-3edb-418c-a12c-a085a447bc8a",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Post Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3580,
        400
      ],
      "id": "3d728f95-7110-4b2d-ae4a-592c1c03f9cd",
      "name": "Append Audit Row (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#social",
          "cachedResultName": "#social"
        },
        "text": "=✅ Track mentions of brand mentions with HTTP / REST API and Microsoft Te — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3820,
        400
      ],
      "id": "f77373d3-4148-43cf-9837-d4f9c431b890",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b95be53a-a94a-4078-821e-955ec9fbfb69",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "498e462f-0a2c-4a7f-a811-6f79db30343b",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "db16a12e-a338-4b69-8d22-537a2d4af423",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3340,
        740
      ],
      "id": "ab5e5427-5548-408d-8e94-807e2e23c618",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": "OPS_TEAM_CHAT_ID",
        "message": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        3580,
        740
      ],
      "id": "fe3223a2-fc61-439c-9190-238e96e8d94b",
      "name": "Escalate Failure to Microsoft Teams",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Track mentions of brand mentions with HTTP / REST API and Microsoft Teams at scale\n\n**Pattern:** Social Listening  \n**Trigger:** Scheduled  \n**Level:** Advanced\n\nProcesses posts for scheduling — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        -20
      ],
      "id": "17263b13-c754-4941-9229-ed3d15ed663c",
      "name": "Overview"
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Normalize Post Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Post Payload": {
      "main": [
        [
          {
            "node": "Classify with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classify with AI": {
      "main": [
        [
          {
            "node": "Store as Mention",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Store as Question",
            "type": "main",
            "index": 0
          },
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Store as Complaint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert Microsoft Teams — Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store as Mention": {
      "main": [
        [
          {
            "node": "Reunite Branches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store as Question": {
      "main": [
        [
          {
            "node": "Reunite Branches",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store as Complaint": {
      "main": [
        [
          {
            "node": "Reunite Branches",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Microsoft Teams — Other": {
      "main": [
        [
          {
            "node": "Reunite Branches",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reunite Branches": {
      "main": [
        [
          {
            "node": "Sort Posts Newest First",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort Posts Newest First": {
      "main": [
        [
          {
            "node": "Save Execution Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Execution Metadata": {
      "main": [
        [
          {
            "node": "Cap Batch Volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cap Batch Volume": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (Google Sheets)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Microsoft Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "175c2e03-3db6-4224-808f-1406152adf59",
  "id": "FDX07053"
}