product-files/workflows/Document Processing/Summarization/Intermediate/03791_Create quotes with HTTP REST API and PostgreSQL with instant alerts.json
{
  "name": "Create quotes with HTTP / REST API and PostgreSQL with instant alerts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4eef42d6",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "f5133328-e01b-42cb-8ae3-4b7d00f7b91c",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        300
      ],
      "webhookId": "130e2ea0-6912-4fb0-99a2-2433a5ed2dae"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2998d55a-4435-4dc6-b90f-0577f12decb8",
              "name": "count",
              "value": "={{ $json.items ? $json.items.length : 1 }}",
              "type": "number"
            },
            {
              "id": "c4e904f6-5924-4ed2-91a7-9eaf445e6a6e",
              "name": "status",
              "value": "='processed'",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "14fb11a8-b42a-4ba4-b974-b40609abc809",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.example.com/records",
        "options": {}
      },
      "id": "b8a8a216-9c45-48b1-9f53-ae2d1e26f022",
      "name": "Fetch Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "records",
          "mode": "name"
        },
        "options": {}
      },
      "id": "c613a936-5bb2-4a40-af49-787c3a5acb7e",
      "name": "Save to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "sms",
        "operation": "send",
        "from": "",
        "to": "={{ $json.phone }}",
        "message": "={{ $json.summary }}"
      },
      "id": "d83cb93a-327d-4977-a043-9850cb329d3f",
      "name": "Send Twilio Message",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1280,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Create quotes with HTTP / REST API and PostgreSQL with instant alerts\n\n**Pattern:** Document Generation\n**Trigger:** Webhook\n**Integrations:** HTTP / REST API, PostgreSQL, Twilio\n\nImport, add your credentials, then adjust parameters. Original FlowDex template.",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "55dbfdc3-45c5-4273-9d4f-5dcca01aa6bc",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1320,
        80
      ]
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Fetch Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Data": {
      "main": [
        [
          {
            "node": "Save to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to PostgreSQL": {
      "main": [
        [
          {
            "node": "Send Twilio Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "6b022675-cdde-4332-9d51-de6f24366a64",
  "id": "FDX03791"
}