product-files/workflows/Content Generation/Newsletters/Advanced/05475_Summarize meeting notes with MySQL and Twilio and log the results.json
{
  "name": "Summarize meeting notes with MySQL and Twilio and log the results",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "3f94621c",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "0f7a1f42-6f0f-458b-a63a-cc1ac1e90cc0",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        300
      ],
      "webhookId": "2bfd3d60-4faa-48ff-967a-05fc9fedaf50"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6d68ec0-e0a5-47f3-a176-a8c5e40e72bc",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "9a960b3c-8ceb-4823-8253-3a2c5ea05fe5",
              "name": "isValid",
              "value": "={{ $json ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "7d95d192-85dc-4e5a-bf39-a0484c18cb27",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        300
      ],
      "notes": "Validate & normalize the input before downstream steps (§9.1)."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "24166d0d-3c6e-4e86-bb93-61c7b0dc20c8",
      "name": "Summarize with AI",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        800,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "109e9729-2f64-4da0-9b7d-a2d3b7432f08",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        740,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a26f30b-a085-4e42-bcbc-50d3dc18946c",
              "name": "summary",
              "value": "={{ JSON.stringify($json).slice(0, 280) }}",
              "type": "string"
            },
            {
              "id": "d50f0a32-e09d-44c3-8440-48ad6fb5f243",
              "name": "status",
              "value": "='processed'",
              "type": "string"
            },
            {
              "id": "3a2230c1-50e9-4434-964f-a20140fc8cdf",
              "name": "source",
              "value": "='flowdex-workflow'",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d81eeb00-950e-4a38-a8c8-e2f74a6cfb71",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "value": "records",
          "mode": "name"
        },
        "options": {}
      },
      "id": "07192f26-4073-4c33-b1d6-dcd139c95428",
      "name": "Save to MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1280,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "sms",
        "operation": "send",
        "from": "",
        "to": "={{ $json.phone }}",
        "message": "={{ $json.summary }}"
      },
      "id": "2b8fc449-643d-4766-8ece-87720a13f04b",
      "name": "Send Twilio Message",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1520,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Summarize meeting notes with MySQL and Twilio and log the results\n\n**Pattern:** AI Summarize & Route\n**Trigger:** Webhook\n**Integrations:** MySQL, Twilio\n\nImport, add your credentials, then adjust parameters. Original FlowDex template.",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "4cffff14-004c-4383-9413-9930abdb3186",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1560,
        80
      ]
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Summarize with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with AI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Save to MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to MySQL": {
      "main": [
        [
          {
            "node": "Send Twilio Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "e3a34aa0-d482-43af-aca9-88d5860e4c3d",
  "id": "FDX05475"
}