product-files/workflows/Lead Generation/Enrichment/Intermediate/04921_Qualify demo requests with HubSpot and Microsoft Teams on autopilot.json
{
  "name": "Qualify demo requests with HubSpot and Microsoft Teams on autopilot",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Submit your details",
        "formDescription": "Fill in the fields below to get started.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "fieldType": "text",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Message",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "id": "1bf8bdac-1a0d-4773-96a8-997c9f67fdd1",
      "name": "On Form Submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        320,
        300
      ],
      "webhookId": "12259059-78c2-49e0-b709-1972783ab8a3"
    },
    {
      "parameters": {
        "jsCode": "// Normalize and tag each item\nreturn $input.all().map(i => {\n  i.json.normalized = true;\n  i.json.processedAt = new Date().toISOString();\n  return i;\n});"
      },
      "id": "94cffcfe-835b-4129-9923-cb3e88a40791",
      "name": "Transform Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "f515f042-95af-4a79-bfa3-f992ba85d0e0",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "new",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "26737212-1c29-460f-9745-1ee50bc22f26",
      "name": "Route on Condition",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "upsert",
        "email": "={{ $json.email }}",
        "additionalFields": {}
      },
      "id": "acd6bba5-0e21-4042-9911-6fde74dd2b35",
      "name": "Upsert HubSpot Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        1040,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "operation": "create",
        "message": "={{ $json.summary }}"
      },
      "id": "9d953841-0498-4965-9cb6-0ff15f6299cc",
      "name": "Send Microsoft Teams Message",
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1280,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {},
      "id": "569b136d-6939-4e3c-abfc-a9ffac23ac56",
      "name": "Skip (No Action)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        500
      ]
    },
    {
      "parameters": {
        "content": "## Qualify demo requests with HubSpot and Microsoft Teams on autopilot\n\n**Pattern:** Lead Capture & Routing\n**Trigger:** Form\n**Integrations:** HubSpot, Microsoft Teams\n\nImport, add your credentials, then adjust parameters. Original FlowDex template.",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "07e0a62d-d17f-4fd3-8c0c-13bfc2d9f8d1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1320,
        80
      ]
    }
  ],
  "connections": {
    "On Form Submission": {
      "main": [
        [
          {
            "node": "Transform Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Items": {
      "main": [
        [
          {
            "node": "Route on Condition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route on Condition": {
      "main": [
        [
          {
            "node": "Upsert HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip (No Action)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert HubSpot Contact": {
      "main": [
        [
          {
            "node": "Send Microsoft Teams Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "79fa2fb0-4b4b-4009-96c6-8c10409c8862",
  "id": "FDX04921"
}