product-files/workflows/Lead Generation/Capture Forms/Intermediate/04209_Capture applications with Airtable and Microsoft Teams 247.json
{"name":"Capture applications with Airtable and Microsoft Teams 24/7","nodes":[{"parameters":{"formTitle":"Capture applications with Airtable and Microsoft Teams 24/7","formFields":{"values":[{"fieldLabel":"Email","requiredField":true},{"fieldLabel":"Company","requiredField":false},{"fieldLabel":"Score","requiredField":false}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-270,400],"id":"6b17792d-f0a9-45f2-af78-b84626997f74","name":"New Lead Form Submission","webhookId":"42778cdd-6c0d-45bc-a274-bb61a29f1161"},{"parameters":{"method":"GET","url":"={{ $json.fileUrl }}","options":{"timeout":30000,"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[54,400],"id":"ea5156d8-f47d-4819-9420-a7afe28eaf3d","name":"Download Source File","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"operation":"csv","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[378,400],"id":"14975de1-bea9-49a0-a17f-936ef513cc0f","name":"Parse CSV Contents"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Normalize incoming lead records to a stable schema\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  out.push({ json: {\n    leadId: String(j.leadId ?? j.id ?? '').trim(),\n    email: typeof j.email === 'string' ? j.email.trim() : j.email ?? null,\n    source: j.source ?? 'api',\n    receivedAt: new Date().toISOString(),\n  } });\n}\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[702,400],"id":"48248be0-24bd-4835-b930-8433811099db","name":"Clean & Reshape Rows"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9505f90e-7cd9-40ad-b3e1-b1c4a414e5ae","leftValue":"={{ $json.leadId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1026,400],"id":"48da5b69-c846-4a99-ae05-c26284ee6412","name":"Rows Pass Validation?"},{"parameters":{"operation":"create","base":{"__rl":true,"mode":"list","value":"","cachedResultName":"Lead Generation Base"},"table":{"__rl":true,"mode":"list","value":"","cachedResultName":"Leads"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1350,880],"id":"a0ff085f-0c18-46c2-a6b8-fa6671681987","name":"Quarantine Bad Rows","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"operation":"upsert","base":{"__rl":true,"mode":"list","value":"","cachedResultName":"Lead Generation Base"},"table":{"__rl":true,"mode":"list","value":"","cachedResultName":"Leads"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["leadId"],"schema":[]},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1674,400],"id":"c24bf15d-2993-4788-bde2-274f389f3deb","name":"Load Rows into Airtable","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"a34efd30-5211-4fd9-a13a-12470c747e0a","name":"pipeline","value":"Capture Forms","type":"string"},{"id":"a101d8c6-ab12-4f25-bb81-fe8707263791","name":"version","value":"2.0","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1998,400],"id":"8d78cbb0-187d-43ea-89d6-2cc7309efe08","name":"Tag Pipeline Metadata"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"score","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[2322,400],"id":"bcfc18a3-68d2-4550-9e64-c29eaa8b6df3","name":"Sort Leads Newest First"},{"parameters":{"dataToSave":{"values":[{"key":"leadId","value":"={{ $json.leadId }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[2646,400],"id":"79c9b239-f71d-4e36-9e30-30c5f946bb5d","name":"Save Execution Metadata"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#sales","cachedResultName":"#sales"},"text":"=✅ Capture applications with Airtable and Microsoft Teams 24/7 — run completed at {{ $now.toFormat('HH:mm') }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2970,400],"id":"657c1d8d-3525-4e8a-a66d-f88b5d865e7f","name":"Send Summary to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"92d87fc8-7b39-4ae6-b018-991c0029d50c","name":"failedNode","value":"={{ $json.error?.node?.name || 'unknown' }}","type":"string"},{"id":"f9d5ac92-74ad-493b-ac3f-6f7541a10fad","name":"errorMessage","value":"={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}","type":"string"},{"id":"96ec6ed2-1e21-489c-8cad-9581ee2209cf","name":"workflow","value":"={{ $workflow.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2322,1420],"id":"479630c2-388c-4917-aa1f-e5b1d8ddb7f3","name":"Capture Failure Context"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#sales","cachedResultName":"#sales"},"text":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2646,1420],"id":"245d1f10-5637-436b-a3e4-02648a35e85f","name":"Escalate Failure to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"content":"### New Lead Form Submission\n\nServes an n8n-hosted form (Email, Company, Score). Each submission becomes one execution.\n\nNext: Download Source File","width":280,"height":232,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-330,520],"id":"82d0252c-fec1-cc31-d0f6-19d3440b21a3","name":"Note: New Lead Form Submission"},{"parameters":{"content":"### Download Source File\n\nGET ={{ $json.fileUrl }} — retries 3× with backoff on failure.\n\nPorts: ①→ Parse CSV Contents · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6,520],"id":"ff595d46-9968-a62a-207e-4f12c34b39d9","name":"Note: Download Source File"},{"parameters":{"content":"### Parse CSV Contents\n\nParses the incoming CSV binary into JSON items.\n\nNext: Clean & Reshape Rows","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[318,520],"id":"ecd4d48f-1ff8-ffa3-ed3a-2ed866d7ab6f","name":"Note: Parse CSV Contents"},{"parameters":{"content":"### Clean & Reshape Rows\n\nCustom JavaScript: Normalize incoming lead records to a stable schema\n\nNext: Rows Pass Validation?","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[642,520],"id":"c0c958b8-7dbc-c2bc-5aa0-89cb38c31284","name":"Note: Clean & Reshape Rows"},{"parameters":{"content":"### Rows Pass Validation?\n\nTwo-way gate on `={{ $json.leadId }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Load Rows into Airtable · ②→ Quarantine Bad Rows","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[966,520],"id":"0dc09639-86d3-e802-f096-c2bbebb9c7c0","name":"Note: Rows Pass Validation?"},{"parameters":{"content":"### Quarantine Bad Rows\n\nCreates a new record in Airtable's 'Leads' table.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Airtable PAT","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1290,1000],"id":"ba0150a2-bb8d-6dab-10c2-66c2cd2e7784","name":"Note: Quarantine Bad Rows"},{"parameters":{"content":"### Load Rows into Airtable\n\nUpserts into Airtable's 'Leads' table, matched on `leadId` — safe to re-run without creating duplicates.\n\nPorts: ①→ Tag Pipeline Metadata · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Airtable PAT","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1614,520],"id":"d97078e0-f0a5-133f-8e4e-d888180e5943","name":"Note: Load Rows into Airtable"},{"parameters":{"content":"### Tag Pipeline Metadata\n\nShapes the item: writes `pipeline`, `version`. Keeps the schema explicit between stages.\n\nNext: Sort Leads Newest First","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1938,520],"id":"aa58f023-7037-1ae1-01d3-56b580e18557","name":"Note: Tag Pipeline Metadata"},{"parameters":{"content":"### Sort Leads Newest First\n\nOrders items (newest first) so limits and digests pick the most relevant records.\n\nNext: Save Execution Metadata","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2262,520],"id":"57ecc158-aae5-a0d1-c15b-ad59b57559b0","name":"Note: Sort Leads Newest First"},{"parameters":{"content":"### Save Execution Metadata\n\nSaves key fields onto the execution record — searchable later in n8n's execution list.\n\nNext: Send Summary to Slack","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2586,520],"id":"df47acb7-53c2-88c1-4224-cd9b4350ac9c","name":"Note: Save Execution Metadata"},{"parameters":{"content":"### Send Summary to Slack\n\nPosts a message to Slack (`#sales`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2910,520],"id":"3b22d6dd-953c-0284-4c2c-d0093335ca24","name":"Note: Send Summary to Slack"},{"parameters":{"content":"### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Slack","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2262,1540],"id":"b1f14ab6-8a71-4da3-11e1-c80c9a18d957","name":"Note: Capture Failure Context"},{"parameters":{"content":"### Escalate Failure to Slack\n\nPosts a message to Slack (`#sales`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\n↻ retries 3×/2s · 🔑 Slack OAuth2","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2586,1540],"id":"f5787df1-3175-a39e-de86-5570428fd16f","name":"Note: Escalate Failure to Slack"},{"parameters":{"content":"# Capture applications with Airtable and Microsoft Teams 24/7\n\n**Pattern:** Form Intake · **Level:** Core · **Trigger:** Form\n\n## What it does\nCapture applications with Airtable and Microsoft Teams 24/7. It starts from a hosted form submission.\n\n## Why it exists\nManual capture forms is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nNew Lead Form Submission → Download Source File → Parse CSV Contents → Clean & Reshape Rows → Rows Pass Validation? → Load Rows into Airtable → Tag Pipeline Metadata → …\n\n## Use it for\n- Teams that want to form intake without manual effort\n- Anyone automating capture forms in sales\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Standardizes the process every time\n- Saves hours of manual work each week\n- Scales without extra headcount\n\n## Before first run\nConnect credentials: API key / bearer for the target API; Airtable PAT; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.\n\n## Try it now\nSample data is pinned on the trigger — hit **Execute Workflow** to watch it flow through every node before connecting any real credentials. Unpin the trigger (right-click → Unpin) when you're ready to go live.","width":480,"height":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,80],"id":"a1606ad7-b01e-c3e6-bf14-6d3217e9866f","name":"📘 Workflow Overview"},{"parameters":{"content":"## Design decisions\n\nBad rows are quarantined into their own store, not dropped silently and not allowed to break the whole batch — one malformed row in a 10,000-row file shouldn't stop the other 9,999 from loading, but it also shouldn't vanish without a trace.","width":480,"height":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1020],"id":"5e3b0cce-805c-3d1b-64bc-e8729a65bdf7","name":"🎓 Design Decisions"},{"parameters":{"content":"## Practice exercises\n\nOnce it's wired up with real credentials, try:\n\n1. Feed it a file with a few deliberately malformed rows and confirm they land in quarantine, not the main store.\n2. Switch the source format (e.g. csv to xlsx) and see how little actually has to change.\n3. Turn on archive mode and confirm the processed file gets repacked and stored.","width":480,"height":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1360],"id":"7a996e85-637a-74c1-12ce-045c1249d64e","name":"🧪 Practice Exercises"},{"parameters":{"content":"## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Set an n8n **Error Workflow** in settings as the final safety net.","width":360,"height":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-230,-20],"id":"00a5f3c8-3afb-1c7e-1875-fc0456537b52","name":"🛟 Error handling & retries"},{"parameters":{"content":"## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your capture forms process. Every node card explains its role — safe to extend at any marked branch.","width":360,"height":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[190,-20],"id":"c37ef5bc-7ffb-eecf-8dd5-681900c2bd2a","name":"🛠 Customize me"}],"connections":{"New Lead Form Submission":{"main":[[{"node":"Download Source File","type":"main","index":0}]]},"Download Source File":{"main":[[{"node":"Parse CSV Contents","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Parse CSV Contents":{"main":[[{"node":"Clean & Reshape Rows","type":"main","index":0}]]},"Clean & Reshape Rows":{"main":[[{"node":"Rows Pass Validation?","type":"main","index":0}]]},"Rows Pass Validation?":{"main":[[{"node":"Load Rows into Airtable","type":"main","index":0}],[{"node":"Quarantine Bad Rows","type":"main","index":0}]]},"Load Rows into Airtable":{"main":[[{"node":"Tag Pipeline Metadata","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Tag Pipeline Metadata":{"main":[[{"node":"Sort Leads Newest First","type":"main","index":0}]]},"Sort Leads Newest First":{"main":[[{"node":"Save Execution Metadata","type":"main","index":0}]]},"Save Execution Metadata":{"main":[[{"node":"Send Summary to Slack","type":"main","index":0}]]},"Capture Failure Context":{"main":[[{"node":"Escalate Failure to Slack","type":"main","index":0}]]},"Quarantine Bad Rows":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Send Summary to Slack":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveManualExecutions":true,"executionTimeout":3600},"meta":{"templateCredsSetupCompleted":false},"tags":[],"pinData":{"New Lead Form Submission":[{"json":{"leadId":"LEAD-8801","email":"tom.becker@innotech.com","company":"InnoTech Solutions","score":82}},{"json":{"leadId":"LEAD-8802","email":"grace.kim@harborworks.com","company":"Harborworks","score":47}}]},"versionId":"45032b68-f9f8-4e29-8842-edb0180ea138","id":"FDX04209"}