product-files/workflows/Lead Generation/Capture Forms/Intermediate/04548_Onboard trial users with Google Sheets and Slack at scale.json
{
  "name": "Onboard trial users with Google Sheets and Slack at scale",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -270,
        400
      ],
      "id": "a0c48dd6-277e-4283-9454-bc3dc24f4208",
      "name": "Weekly Schedule"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Lead Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        54,
        400
      ],
      "id": "becbd949-335d-406b-a484-a608e4baefb9",
      "name": "Read Pending Queue (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac6a464f-aca0-49e6-a7c7-510f84b1329b",
              "name": "leadId",
              "value": "={{ $json.leadId || $json.id || $execution.id }}",
              "type": "string"
            },
            {
              "id": "855cb60d-7378-4206-ab9f-007ed9e3ad38",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        378,
        400
      ],
      "id": "3c66c038-21af-425a-8d7d-7ec0f3ae88a8",
      "name": "Stamp & Shape Lead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e9c665a4-49d6-4f11-9d2d-a8d240fd792a",
              "leftValue": "={{ $json.leadId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        702,
        400
      ],
      "id": "45c9df16-e154-4b03-be5b-bd737b201f6c",
      "name": "Payload Valid?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Lead Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        702,
        910
      ],
      "id": "4303e7c1-a655-4c9a-82c3-f66244762cf9",
      "name": "Record Rejected Input",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1026,
        400
      ],
      "id": "557ff75f-3d5f-4c7c-8a12-122fb064b441",
      "name": "Work in Batches"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/v1/leads",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1350,
        880
      ],
      "id": "6a8b8464-8e00-445a-8cfc-fc089f49df6a",
      "name": "Process Batch Item",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1998,
        880
      ],
      "id": "bf2c3050-80e0-465e-87d6-ee17976f959a",
      "name": "Respect Rate Limits"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2322,
        400
      ],
      "id": "0c0dbb28-6216-48f0-b75b-cde376d47068",
      "name": "Aggregate Batch Results"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Lead Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "leadId"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2646,
        400
      ],
      "id": "ae3e880d-20f9-42d7-8bc5-c1307cfede80",
      "name": "Mark Completed in Google Sheets",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getCurrentDate",
        "outputFieldName": "completedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2970,
        400
      ],
      "id": "677b4c0c-699c-4896-a00c-229e51fc2e00",
      "name": "Stamp Completion Time"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "runId",
              "value": "={{ $execution.id }}"
            },
            {
              "key": "itemCount",
              "value": "={{ $items().length }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        3294,
        400
      ],
      "id": "73dcdd05-68cc-4da3-9619-0d1b188d3402",
      "name": "Persist Run Metadata"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build a stable idempotency key per lead (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.leadId, j.email].join('|')) } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3618,
        400
      ],
      "id": "06fd74b5-6d1e-4aa8-87a5-eb83adc91c68",
      "name": "Fingerprint for Idempotency"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "logic": "removeItemsWithAlreadySeenKeyValues",
        "dedupeValue": "={{ $json.idempotencyKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        3942,
        400
      ],
      "id": "b60d29cf-1edf-4707-ab78-6e0edb80e27b",
      "name": "Drop Already-Processed Items"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://enrichment.example.com/v2/lookup",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4266,
        400
      ],
      "id": "d03204a8-3754-4b97-be06-7b5dcad45e3c",
      "name": "Enrich with Reference Data",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33bc37c0-d69f-46bc-a712-5054d22e751b",
              "name": "enrichedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "1c40d38f-ba7a-4c76-be70-41a30d6dc2e0",
              "name": "enrichmentSource",
              "value": "reference-api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4590,
        400
      ],
      "id": "e9f9bb22-7534-444f-a5da-aa83fba14c13",
      "name": "Fold In Enrichment Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2dd641cb-2b0e-4058-ac15-277664b77ee6",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "57bf8dde-9834-4497-9df1-a6bcd1bbaf6d",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "5fdbb754-6c9d-4681-9a6e-2ee332881c21",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4914,
        400
      ],
      "id": "1e03de1d-e749-4e1d-8d69-82cd539c3551",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Lead Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5238,
        400
      ],
      "id": "c842ef02-20e4-4c68-af84-25fc10eda4a5",
      "name": "Append Audit Row (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#sales",
          "cachedResultName": "#sales"
        },
        "text": "=✅ Onboard trial users with Google Sheets and Slack at scale — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        5562,
        400
      ],
      "id": "cf34e782-422b-4666-8ff4-d1c363c3e6e6",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7da503eb-ec9a-4158-9917-b6aaa6b353e7",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "e8e5fbd6-ba70-4f3c-b007-8a5ca531d17d",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "af7cb6ab-74b9-4e01-be31-36dd60534163",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4914,
        1420
      ],
      "id": "053c652e-d33c-4c69-8e2c-6ae42ac6dfee",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#sales",
          "cachedResultName": "#sales"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        5238,
        1420
      ],
      "id": "f3e54b2a-f214-45be-9f3f-f247ba942363",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Lead Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5562,
        1420
      ],
      "id": "e0d44ace-cce9-4b39-b3cc-c4b7f39231a4",
      "name": "Park in Dead-Letter Queue",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "### Weekly Schedule\n\nStarts the workflow on a timer — weekly. No input data; downstream nodes fetch what they need.\n\nNext: Read Pending Queue (Google Sheets)",
        "width": 280,
        "height": 232,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -330,
        520
      ],
      "id": "142760ef-6f77-7dfb-365a-d88523bbd908",
      "name": "Note: Weekly Schedule"
    },
    {
      "parameters": {
        "content": "### Read Pending Queue (Google Sheets)\n\ngoogleSheets — `read` operation against the connected account.\n\nPorts: ①→ Stamp & Shape Lead · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6,
        520
      ],
      "id": "881f8013-c084-aa96-9d06-0aea73a0a6b3",
      "name": "Note: Read Pending Queue (Google Sheets)"
    },
    {
      "parameters": {
        "content": "### Stamp & Shape Lead\n\nShapes the item: writes `leadId`, `receivedAt`. Keeps the schema explicit between stages.\n\nNext: Payload Valid?",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        318,
        520
      ],
      "id": "60e1fe67-1f90-c522-006e-f213c25ae638",
      "name": "Note: Stamp & Shape Lead"
    },
    {
      "parameters": {
        "content": "### Payload Valid?\n\nTwo-way gate on `={{ $json.leadId }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Work in Batches · ②→ Record Rejected Input",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        642,
        520
      ],
      "id": "31ab95e1-e10a-36c9-d99b-d08e164fb570",
      "name": "Note: Payload Valid?"
    },
    {
      "parameters": {
        "content": "### Record Rejected Input\n\ngoogleSheets — `append` operation against the connected account.\n\n↻ retries 3×/2s · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        642,
        1030
      ],
      "id": "f53cca22-316f-529b-ada1-95f22ce8f7f8",
      "name": "Note: Record Rejected Input"
    },
    {
      "parameters": {
        "content": "### Work in Batches\n\nLoop controller — releases 20 item(s) per pass. Output 2 (loop) processes the batch, output 1 (done) fires after the last batch.\n\nPorts: ①→ Aggregate Batch Results · ②→ Process Batch Item",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        966,
        520
      ],
      "id": "69096798-4977-3b7b-24cf-8e07768aa478",
      "name": "Note: Work in Batches"
    },
    {
      "parameters": {
        "content": "### Process Batch Item\n\nPOST https://api.example.com/v1/leads — retries 3× with backoff on failure.\n\nPorts: ①→ Respect Rate Limits · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1290,
        1000
      ],
      "id": "36b82bea-ec2a-2920-cde4-e32cf5da695f",
      "name": "Note: Process Batch Item"
    },
    {
      "parameters": {
        "content": "### Respect Rate Limits\n\nPauses 2 seconds — spacing calls to respect rate limits.\n\nNext: Work in Batches",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1938,
        1000
      ],
      "id": "f686d624-52f8-1591-c31e-24cb33fee3d3",
      "name": "Note: Respect Rate Limits"
    },
    {
      "parameters": {
        "content": "### Aggregate Batch Results\n\nCollapses all items into a single summary item (for counts and run stats).\n\nNext: Mark Completed in Google Sheets",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2262,
        520
      ],
      "id": "cf415b50-bf08-d170-4681-fc191e916d3f",
      "name": "Note: Aggregate Batch Results"
    },
    {
      "parameters": {
        "content": "### Mark Completed in Google Sheets\n\ngoogleSheets — `appendOrUpdate` operation against the connected account.\n\nPorts: ①→ Stamp Completion Time · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2586,
        520
      ],
      "id": "72c85d53-a793-1d41-e828-322b47ec36ab",
      "name": "Note: Mark Completed in Google Sheets"
    },
    {
      "parameters": {
        "content": "### Stamp Completion Time\n\nStamps `completedAt` with the current time for auditing.\n\nNext: Persist Run Metadata",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2910,
        520
      ],
      "id": "b9f7a2a7-bb68-5eed-c221-950da6cde9cb",
      "name": "Note: Stamp Completion Time"
    },
    {
      "parameters": {
        "content": "### Persist Run Metadata\n\nSaves key fields onto the execution record — searchable later in n8n's execution list.\n\nNext: Fingerprint for Idempotency",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3234,
        520
      ],
      "id": "67dcebcd-7b04-fde4-4df6-1c575adb2f48",
      "name": "Note: Persist Run Metadata"
    },
    {
      "parameters": {
        "content": "### Fingerprint for Idempotency\n\nCustom JavaScript: Build a stable idempotency key per lead (djb2 hash, no deps)\n\nNext: Drop Already-Processed Items",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3558,
        520
      ],
      "id": "38cb9da2-068c-d852-888c-6819a781765e",
      "name": "Note: Fingerprint for Idempotency"
    },
    {
      "parameters": {
        "content": "### Drop Already-Processed Items\n\nCross-execution dedupe: remembers keys it has processed before and drops repeats — the idempotency guard.\n\nNext: Enrich with Reference Data",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3882,
        520
      ],
      "id": "e67aac83-37d3-2313-f519-0672fa16d72f",
      "name": "Note: Drop Already-Processed Items"
    },
    {
      "parameters": {
        "content": "### Enrich with Reference Data\n\nGET https://enrichment.example.com/v2/lookup — retries 3× with backoff on failure.\n\nPorts: ①→ Fold In Enrichment Fields · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4206,
        520
      ],
      "id": "d432001b-7b22-6ce5-2d47-c26e0f49e0e3",
      "name": "Note: Enrich with Reference Data"
    },
    {
      "parameters": {
        "content": "### Fold In Enrichment Fields\n\nShapes the item: writes `enrichedAt`, `enrichmentSource`. Keeps the schema explicit between stages.\n\nNext: Summarize Run Stats",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4530,
        520
      ],
      "id": "78d4fff4-7b6b-03e7-3a0c-2f64d8591bb9",
      "name": "Note: Fold In Enrichment Fields"
    },
    {
      "parameters": {
        "content": "### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Google Sheets)",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4854,
        520
      ],
      "id": "532428dc-1d8b-34c7-1ebf-ec10f95f8515",
      "name": "Note: Summarize Run Stats"
    },
    {
      "parameters": {
        "content": "### Append Audit Row (Google Sheets)\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5178,
        520
      ],
      "id": "09bfa1c2-df05-ea64-9798-9fb8ee911c08",
      "name": "Note: Append Audit Row (Google Sheets)"
    },
    {
      "parameters": {
        "content": "### Send Summary to Slack\n\nslack — `action` operation against the connected account.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2",
        "width": 280,
        "height": 232,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5502,
        520
      ],
      "id": "b79d0b5e-fa9d-e7fc-b7b2-f468b646b871",
      "name": "Note: Send Summary to Slack"
    },
    {
      "parameters": {
        "content": "### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Slack",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4854,
        1540
      ],
      "id": "2291958c-8fb2-f2c3-a1b9-911cb06f1f35",
      "name": "Note: Capture Failure Context"
    },
    {
      "parameters": {
        "content": "### Escalate Failure to Slack\n\nslack — `action` operation against the connected account.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Slack OAuth2",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5178,
        1540
      ],
      "id": "67948a82-1acc-e6de-d4c9-d33f752911b9",
      "name": "Note: Escalate Failure to Slack"
    },
    {
      "parameters": {
        "content": "### Park in Dead-Letter Queue\n\ngoogleSheets — `append` operation against the connected account.\n\n↻ retries 3×/2s · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5502,
        1540
      ],
      "id": "a39ba09f-6ea0-969d-36a1-28b636eda8e2",
      "name": "Note: Park in Dead-Letter Queue"
    },
    {
      "parameters": {
        "content": "# Onboard trial users with Google Sheets and Slack at scale\n\n**Pattern:** Drip Sequence · **Level:** Production · **Trigger:** Scheduled\n\n## What it does\nOnboard trial users with Google Sheets and Slack at scale. It runs automatically on a schedule.\n\n## Why it exists\nManual capture forms is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nWeekly Schedule → Read Pending Queue (Google Sheets) → Stamp & Shape Lead → Payload Valid? → Work in Batches → Aggregate Batch Results → Mark Completed in Google Sheets → …\n\n## Use it for\n- Teams that want to drip sequence without manual effort\n- Anyone automating capture forms in sales\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Saves hours of manual work each week\n- Improves response time\n- Scales without extra headcount\n\n## Before first run\nConnect credentials: API key / bearer for the target API; Google OAuth2 / service account; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.",
        "width": 480,
        "height": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -830,
        80
      ],
      "id": "e8584716-8dd3-1878-b69b-7a4b64a67786",
      "name": "📘 Workflow Overview"
    },
    {
      "parameters": {
        "content": "## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.",
        "width": 360,
        "height": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -230,
        -20
      ],
      "id": "a2650f4f-2d7c-0fb1-cbe5-4a0f09c1674a",
      "name": "🛟 Error handling & retries"
    },
    {
      "parameters": {
        "content": "## ⏱ Rate limiting\n\nWork is batched and spaced with Wait so provider quotas aren't tripped. If you hit 429s, lower the batch size or raise the wait — throughput drops, reliability rises.",
        "width": 360,
        "height": 260,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        190,
        -20
      ],
      "id": "e5c19242-07db-00de-eff5-332a08cc1488",
      "name": "⏱ Rate limiting"
    },
    {
      "parameters": {
        "content": "## 🧹 Data quality\n\nDedupe/diff steps make re-runs safe: the same input twice will not create duplicate records. If you change the key fields, clear n8n's dedupe memory (node → 'Clear stored keys') before the next run.",
        "width": 360,
        "height": 260,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        610,
        -20
      ],
      "id": "e34fc8ce-a2c6-9d92-963e-4cc7e6c1682d",
      "name": "🧹 Data quality"
    },
    {
      "parameters": {
        "content": "## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your capture forms process. Every node card explains its role — safe to extend at any marked branch.",
        "width": 360,
        "height": 260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1030,
        -20
      ],
      "id": "34487315-0ed4-a32b-192e-523be27b5194",
      "name": "🛠 Customize me"
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Read Pending Queue (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Pending Queue (Google Sheets)": {
      "main": [
        [
          {
            "node": "Stamp & Shape Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp & Shape Lead": {
      "main": [
        [
          {
            "node": "Payload Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Valid?": {
      "main": [
        [
          {
            "node": "Work in Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Rejected Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Work in Batches": {
      "main": [
        [
          {
            "node": "Aggregate Batch Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Batch Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Batch Item": {
      "main": [
        [
          {
            "node": "Respect Rate Limits",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respect Rate Limits": {
      "main": [
        [
          {
            "node": "Work in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Batch Results": {
      "main": [
        [
          {
            "node": "Mark Completed in Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Completed in Google Sheets": {
      "main": [
        [
          {
            "node": "Stamp Completion Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Completion Time": {
      "main": [
        [
          {
            "node": "Persist Run Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Run Metadata": {
      "main": [
        [
          {
            "node": "Fingerprint for Idempotency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fingerprint for Idempotency": {
      "main": [
        [
          {
            "node": "Drop Already-Processed Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drop Already-Processed Items": {
      "main": [
        [
          {
            "node": "Enrich with Reference Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with Reference Data": {
      "main": [
        [
          {
            "node": "Fold In Enrichment Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fold In Enrichment Fields": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (Google Sheets)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Failure to Slack": {
      "main": [
        [
          {
            "node": "Park in Dead-Letter Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "04d734cf-28d1-44f1-89f8-420e7f0a65a5",
  "id": "FDX04548"
}