product-files/workflows/RAG Knowledge Base/Knowledge Sync/Intermediate/06485_Distill documents with Airtable and Outlook 247.json
{
  "name": "Distill documents with Airtable and Outlook 24/7",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4de7d581",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "15deb61f-84da-468e-ab1f-27ef0c7c493f",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "webhookId": "be4a8c92-dc7c-4bec-9207-9c397769d7e3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1439fe0-41f8-4bc9-94bd-98fbf21b0c07",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "2490462f-b126-4ce6-9c21-9fad2af9df90",
              "name": "isValid",
              "value": "={{ $json ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "0d336f1b-23e0-4d70-adad-6e5c5225e4ef",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        300
      ],
      "notes": "Validate & normalize the input before downstream steps (§9.1)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "3490e665-5c8e-40dd-915e-8e104eb1d868",
              "leftValue": "={{ $json.receivedAt || $now.toISO() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "051f565f-749f-4ac2-ab67-6a7bdb254ab2",
      "name": "Idempotency Guard",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        780,
        300
      ],
      "notes": "Idempotency guard — replace with a real dedup key lookup (Redis/DB) in production (§9.1, §9.5)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4f823ec6-a52c-4510-82db-87097dab8a35",
              "leftValue": "={{ $json.isValid !== false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6bb656fe-431b-4c93-8739-b7199c410897",
      "name": "Input Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1020,
        300
      ],
      "notes": "Validate early — quarantine invalid items instead of processing them (§9.1)."
    },
    {
      "parameters": {},
      "id": "2620f60c-b571-4717-a4d4-df72b52e2e53",
      "name": "Log Invalid Input",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1020,
        500
      ],
      "notes": "Dead-letter placeholder — route to a data table/DB for later inspection (§9.3)."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "96659143-2778-4b90-8cf0-2234ae584c24",
      "name": "Summarize with AI",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        1260,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a84e02c-b26e-4bc1-bf80-d1e199c8614f",
              "name": "summary",
              "value": "={{ JSON.stringify($json).slice(0, 280) }}",
              "type": "string"
            },
            {
              "id": "7222b12c-d075-48dd-8cce-d7dea9ba40b3",
              "name": "count",
              "value": "={{ $json.items ? $json.items.length : 1 }}",
              "type": "number"
            },
            {
              "id": "21d60e84-6669-4597-bee4-04ef8fcbf337",
              "name": "source",
              "value": "='flowdex-workflow'",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "819db850-061b-4660-892c-c37046804484",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "options": {}
      },
      "id": "ccda7bc2-c0cf-432c-bd42-82ea377fd5ae",
      "name": "Save to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1740,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "subject": "Automated update",
        "bodyContent": "={{ $json.summary }}",
        "toRecipients": "={{ $json.email }}"
      },
      "id": "ced4e63c-df02-42ee-97df-f492590b1b62",
      "name": "Send Outlook Message",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1980,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "8527926c-88f8-4643-bbcb-7391fe4e3a67",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        740,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "7f4b084b-805b-4b11-bec6-7066069091d4",
              "leftValue": "={{ $json.retrievalScore }}",
              "rightValue": "0.6",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "700c2cc8-091d-4be9-9dc0-7197ee445b3f",
      "name": "Sufficient Context Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2220,
        300
      ],
      "notes": "Real business branch — route on the condition that actually distinguishes this item, per the category's production pattern (§8)."
    },
    {
      "parameters": {},
      "id": "fe0eeeeb-05b6-49af-91b3-30d6797e961e",
      "name": "Answer from Knowledge Base",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2460,
        300
      ]
    },
    {
      "parameters": {},
      "id": "5d43f2df-e5ce-4894-a5c7-005a501066e2",
      "name": "Fallback to General Answer",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2460,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e303fb6b-8189-46ad-bf28-b1de48455786",
              "name": "errorSource",
              "value": "primary",
              "type": "string"
            },
            {
              "id": "439c7fff-3625-491a-b5bf-9b89d581999d",
              "name": "errorAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3ce8b012-573d-4cef-adf2-fefad352e075",
      "name": "Handle Error — Primary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2700,
        700
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "745ba20e-6510-4e5e-b43c-c66cc083c5e6",
              "name": "errorSource",
              "value": "secondary",
              "type": "string"
            },
            {
              "id": "8df1562a-5c00-4994-bb08-d7102bce742c",
              "name": "errorAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f9265384-a9d7-40b5-a0f2-cfb0e15103db",
      "name": "Handle Error — Secondary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2700,
        860
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#alerts",
        "text": "={{ 'Failure in ' + $workflow.name + ': ' + JSON.stringify($json) }}",
        "otherOptions": {}
      },
      "id": "cff47940-e5d4-49a3-9192-c57f81113af1",
      "name": "Alert on Failure",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2940,
        760
      ],
      "notes": "Notify on failure without aborting the run (§9.3).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "id": "b351df68-b85d-4aad-9777-e85e2a5435b6",
      "name": "Merge Branch Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3180,
        300
      ],
      "notes": "Recombine both decision paths before shared downstream steps (§11.1 — avoid losing the false branch)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/v1/sync",
        "options": {}
      },
      "id": "65c067c6-0ce7-41f4-b892-a0fed7d594ed",
      "name": "Sync to Secondary System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3420,
        300
      ],
      "notes": "Second-system fan-out — real multi-integration requirement for this tier (§9.1).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "5bbd7049-9199-4ad5-916e-53351532a4f5",
      "name": "Rate Limit Guard",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3660,
        300
      ],
      "notes": "Respect downstream API rate limits before the next batch of writes (§9.5)."
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "a2b6973a-ec20-4618-a9f3-bdbb9d7a83d6",
      "name": "Write Audit Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3900,
        300
      ],
      "notes": "Audit trail entry — timestamp, outcome, and branch taken (§9.3, §8.14).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6ce9c9af-3e5f-4029-8a82-1710232fe36a",
              "leftValue": "={{ $json.queryValue }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ad514c4e-8bda-4708-9d59-54c295a05b07",
      "name": "High-Value Item?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4140,
        300
      ],
      "notes": "Human-in-the-loop for high-impact actions (§9.4)."
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "a9f72d02-cbf5-44a4-b8eb-7f7ce0dda939",
      "name": "Require Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4380,
        300
      ],
      "notes": "Pauses until the approval webhook/resume URL is called — human-in-the-loop gate."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0f47dde4-918f-4389-87b8-9de53996fb99",
              "leftValue": "={{ $json.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "50a51a96-9ed7-4cb9-a144-00cdc051b5bc",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4620,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b6a0da1-5bad-4e5b-91cf-38e7afb5d847",
              "name": "status",
              "value": "rejected",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "84b84519-6e27-48d2-be21-7f6c4fb8681b",
      "name": "Reject & Notify",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4620,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/v1/system-b",
        "options": {}
      },
      "id": "c36080aa-a7a7-4b37-bc02-cbf315a388e6",
      "name": "Parallel: Update System B",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4860,
        500
      ],
      "notes": "Independent parallel write — runs alongside the primary path, not blocked by approval (§8.14).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "id": "1f56995a-e1a3-41ac-a59a-cea313f8fc10",
      "name": "Merge Post-Approval",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5100,
        300
      ],
      "notes": "Recombine the approved and low-value-parallel paths."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "223db479-6847-472d-aaa4-15aec9455e82",
              "leftValue": "={{ $now.diff($('Validate Input').item.json.receivedAt).as('seconds') }}",
              "rightValue": 300,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "47c7cf13-d64c-44c4-8d54-fd2ebe050fd0",
      "name": "Check Processing SLA",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5340,
        300
      ],
      "notes": "Escalate if this run is breaching its SLA window (§8.11, §9.5)."
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#oncall",
        "text": "={{ 'SLA breach on ' + $workflow.name }}",
        "otherOptions": {}
      },
      "id": "099bcbfb-64d7-4ffa-bd32-0a8420d23e32",
      "name": "Escalate to On-Call",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        5580,
        500
      ],
      "notes": "Distinct on-call channel — separate from the general failure alert (§8.11).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "propertiesUi": {}
      },
      "id": "021bc276-013b-4e8f-87dd-9e988a1d79a8",
      "name": "Stream to Compliance Log",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        5580,
        300
      ],
      "notes": "Separate compliance/audit trail from the operational audit log (§8.14).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b94142a-c9dd-49eb-8ab4-f055d50e9a00",
              "name": "status",
              "value": "processed",
              "type": "string"
            },
            {
              "id": "92b335b0-5184-4a0d-b2be-4d91d0ccc609",
              "name": "archivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "07fdff73-b646-4cba-9c3b-6ab5ad666a1b",
      "name": "Close Out & Archive",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5820,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-log",
        "text": "={{ 'Completed: ' + $workflow.name }}",
        "otherOptions": {}
      },
      "id": "8ae5ba0b-166d-4218-af18-ec9534c6f878",
      "name": "Success Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        6060,
        300
      ],
      "notes": "Confirms completion — distinct from the failure alert channel.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Distill documents with Airtable and Outlook 24/7\n\n**Tier:** Enterprise · **Difficulty:** Intermediate\n**Pattern:** Knowledge Sync (RAG / Knowledge Base)\n**Architecture:** validated input, branch on sufficient context found?, multi-system sync, audit log, human-in-the-loop approval, SLA monitoring, compliance log.\n\nImport, add your credentials, then adjust parameters. Original WorkflowCrate template.",
        "height": 280,
        "width": 380,
        "color": 4
      },
      "id": "00008948-eda8-4471-b6a8-bfc3a96c5e5d",
      "name": "Sticky Note 13cc",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6340,
        40
      ]
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Idempotency Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotency Guard": {
      "main": [
        [
          {
            "node": "Input Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Valid?": {
      "main": [
        [
          {
            "node": "Summarize with AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with AI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error — Primary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Save to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Airtable": {
      "main": [
        [
          {
            "node": "Send Outlook Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error — Primary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Outlook Message": {
      "main": [
        [
          {
            "node": "Sufficient Context Found?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error — Primary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sufficient Context Found?": {
      "main": [
        [
          {
            "node": "Answer from Knowledge Base",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback to General Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error — Primary": {
      "main": [
        [
          {
            "node": "Alert on Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error — Secondary": {
      "main": [
        [
          {
            "node": "Alert on Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer from Knowledge Base": {
      "main": [
        [
          {
            "node": "Merge Branch Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback to General Answer": {
      "main": [
        [
          {
            "node": "Merge Branch Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Branch Results": {
      "main": [
        [
          {
            "node": "Sync to Secondary System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync to Secondary System": {
      "main": [
        [
          {
            "node": "Rate Limit Guard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error — Primary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Guard": {
      "main": [
        [
          {
            "node": "Write Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Audit Log": {
      "main": [
        [
          {
            "node": "High-Value Item?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High-Value Item?": {
      "main": [
        [
          {
            "node": "Require Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parallel: Update System B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Require Approval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Merge Post-Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject & Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parallel: Update System B": {
      "main": [
        [
          {
            "node": "Merge Post-Approval",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Handle Error — Secondary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Post-Approval": {
      "main": [
        [
          {
            "node": "Check Processing SLA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Processing SLA": {
      "main": [
        [
          {
            "node": "Stream to Compliance Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate to On-Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stream to Compliance Log": {
      "main": [
        [
          {
            "node": "Close Out & Archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close Out & Archive": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "5134b076-aa41-408b-a426-7076dab94b35",
  "id": "FDX06485"
}