product-files/workflows/RAG Knowledge Base/Knowledge Sync/Intermediate/06574_Query questions from a knowledge base with HTTP REST API with instant alerts for Knowledge.json
{
  "name": "Query questions from a knowledge base with HTTP / REST API with instant alerts for Knowledge Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf06574-document",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -270,
        400
      ],
      "id": "76e80794-55f9-463c-a3fc-26e332eb1ce2",
      "name": "Receive Inbound Webhook",
      "webhookId": "80f6beca-d8d1-4334-8cc5-c9466d72b34f"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Document Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        54,
        400
      ],
      "id": "ec0c649c-25f2-41c6-831c-ab2029be9d99",
      "name": "List Changed Docs (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "docId",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        378,
        400
      ],
      "id": "26c0b596-c5a7-4dc3-84e3-98ae558c93be",
      "name": "Remove Duplicate Documents"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Attach chunk-level metadata before embedding\nreturn $input.all().map((item, i) => ({\n  json: {\n    ...item.json,\n    chunkIndex: i,\n    sourceUrl: item.json.sourceUrl || item.json.url || 'internal',\n    ingestedAt: new Date().toISOString(),\n  },\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        702,
        400
      ],
      "id": "dab2010c-6f8b-43a5-a1bd-110169023cc7",
      "name": "Attach Chunk Metadata"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "kb-main"
        },
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1026,
        400
      ],
      "id": "0756dc26-969c-4c60-bca2-1d99d8fba666",
      "name": "Insert into Vector Store",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "sourceUrl",
                "value": "={{ $json.sourceUrl }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1026,
        970
      ],
      "id": "2f36dc8c-9eaf-49bd-ae3a-d0268995bec1",
      "name": "Prepare Documents"
    },
    {
      "parameters": {
        "chunkSize": 1200,
        "chunkOverlap": 120,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1026,
        1480
      ],
      "id": "81864828-6998-485e-8bca-13b81250b97a",
      "name": "Chunk with Overlap"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1269,
        970
      ],
      "id": "2b798cf1-621e-4f41-b8b2-32147f18bd7f",
      "name": "Document Embeddings"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1593,
        400
      ],
      "id": "63e5628e-c6f8-4db8-b45b-b4d31c6da0aa",
      "name": "Count Indexed Chunks"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build a stable idempotency key per document (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.docId, j.title].join('|')) } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1917,
        400
      ],
      "id": "d68deac5-1428-45b3-8790-0369a8427a23",
      "name": "Fingerprint for Idempotency"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "logic": "removeItemsWithAlreadySeenKeyValues",
        "dedupeValue": "={{ $json.idempotencyKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        2241,
        400
      ],
      "id": "bdb94a24-5987-4f2a-a9a3-1f3259e8affc",
      "name": "Drop Already-Processed Items"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Document Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2565,
        400
      ],
      "id": "e0b37ef6-95e7-4521-897e-b53e9a524ebf",
      "name": "Load Previous Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Compare current metrics with the previous snapshot\nconst current = $input.first().json;\nconst prev = $('Load Previous Snapshot').first().json || {};\nconst drift = {};\nfor (const k of Object.keys(current)) {\n  if (typeof current[k] === 'number' && typeof prev[k] === 'number' && prev[k] !== 0) {\n    drift[k] = Math.round(((current[k] - prev[k]) / prev[k]) * 1000) / 10;\n  }\n}\nreturn [{ json: { ...current, driftPct: drift, hasDrift: Object.values(drift).some(v => Math.abs(v) > 10) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2889,
        400
      ],
      "id": "13cd640e-bc95-4465-87b5-aab66eaddea2",
      "name": "Compute Drift vs Snapshot"
    },
    {
      "parameters": {
        "operation": "csv",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3213,
        400
      ],
      "id": "bef3e114-ab7c-4248-9545-e82f6e64ac39",
      "name": "Serialize Run Output (CSV)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Document Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3537,
        400
      ],
      "id": "385953b7-722a-4c4d-9c08-fbb8464ce6db",
      "name": "Archive Row Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://enrichment.example.com/v2/lookup",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.title }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3861,
        400
      ],
      "id": "96cb34c0-f8c6-48e4-ab3d-9f61e8eea13e",
      "name": "Enrich with Reference Data",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7081b456-d21c-437b-afa1-43cc1aba7b19",
              "name": "enrichedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "46476b07-2b3f-4752-894e-537dc5d4410d",
              "name": "enrichmentSource",
              "value": "reference-api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4185,
        400
      ],
      "id": "85a21e94-90e3-4e0b-b2a1-b74338337ec0",
      "name": "Fold In Enrichment Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb289796-8d89-4c45-83c5-33378b439c06",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "7c4f61ab-0c26-486f-9aa1-484f1e4ea5d4",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "103e7a87-c8ac-4495-aee0-9c37c0011670",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4509,
        400
      ],
      "id": "cd64f464-5d9a-429c-a16a-d6acd478f4c9",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Document Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4833,
        400
      ],
      "id": "90f07cbe-21a8-4bd5-a900-916f988b87c8",
      "name": "Append Audit Row (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#knowledge",
          "cachedResultName": "#knowledge"
        },
        "text": "=✅ Query questions from a knowledge base with HTTP / REST API with instan — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        5157,
        400
      ],
      "id": "cd087ca3-8b1e-4585-a347-1de2b03f8826",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66546567-36e7-492d-b2e0-7f8814801516",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "febe3a03-1622-4a4e-a542-cbfcbb7028aa",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "5f482ec0-c3e3-435b-8af2-94bd69e363b2",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4509,
        1420
      ],
      "id": "5ff70ccc-42ab-4abc-8ac3-733dbe0e3080",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#knowledge",
          "cachedResultName": "#knowledge"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        4833,
        1420
      ],
      "id": "4975a532-3255-44c1-bfda-924ce7d11eda",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Document Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5157,
        1420
      ],
      "id": "0d2dd649-7897-42db-a040-0b367042e02a",
      "name": "Park in Dead-Letter Queue",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "### Receive Inbound Webhook\n\nEntry point: listens for POST calls on `/wf06574-document`. Use the TEST url while building, switch callers to the PRODUCTION url after publishing.\n\nNext: List Changed Docs (Google Sheets)",
        "width": 280,
        "height": 232,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -330,
        520
      ],
      "id": "583c4f16-8587-fc64-db9e-ee8fb67e1c79",
      "name": "Note: Receive Inbound Webhook"
    },
    {
      "parameters": {
        "content": "### List Changed Docs (Google Sheets)\n\ngoogleSheets — `read` operation against the connected account.\n\nPorts: ①→ Remove Duplicate Documents · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6,
        520
      ],
      "id": "a97a2ce7-abf7-a8c9-bc9c-a342c6b3dc73",
      "name": "Note: List Changed Docs (Google Sheets)"
    },
    {
      "parameters": {
        "content": "### Remove Duplicate Documents\n\nDrops duplicates within this run (compared on `docId`).\n\nNext: Attach Chunk Metadata",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        318,
        520
      ],
      "id": "b75e960c-3ad9-37cb-2804-e0076cf5a40f",
      "name": "Note: Remove Duplicate Documents"
    },
    {
      "parameters": {
        "content": "### Attach Chunk Metadata\n\nCustom JavaScript: Attach chunk-level metadata before embedding\n\nNext: Insert into Vector Store",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        642,
        520
      ],
      "id": "e96dc0f2-0eb6-2ca2-b67d-c44c119f8ef7",
      "name": "Note: Attach Chunk Metadata"
    },
    {
      "parameters": {
        "content": "### Insert into Vector Store\n\nWrites embedded chunks into the vector index.\n\nPorts: ①→ Count Indexed Chunks · ②→ Capture Failure Context\n\n⚠ failures exit via the error rail · 🔑 Pinecone API key",
        "width": 280,
        "height": 232,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        966,
        520
      ],
      "id": "b9cd73e1-9bb3-05a0-dce9-c5339f0210e2",
      "name": "Note: Insert into Vector Store"
    },
    {
      "parameters": {
        "content": "### Prepare Documents\n\nWraps incoming items as documents (with metadata) for the vector store.\n\nFeeds **Insert into Vector Store** as `document`",
        "width": 280,
        "height": 232,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        966,
        1090
      ],
      "id": "9be1d6d0-a87a-2392-de1f-9b44b4250e66",
      "name": "Note: Prepare Documents"
    },
    {
      "parameters": {
        "content": "### Chunk with Overlap\n\nChunks documents (~1200 chars, 120 overlap) so retrieval hits stay focused.\n\nFeeds **Prepare Documents** as `textSplitter`",
        "width": 280,
        "height": 232,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        966,
        1600
      ],
      "id": "57f71b1d-dea6-5200-a362-c51dc676a5c2",
      "name": "Note: Chunk with Overlap"
    },
    {
      "parameters": {
        "content": "### Document Embeddings\n\nEmbedding model — MUST be the same model for indexing and querying, or retrieval quality collapses.\n\nFeeds **Insert into Vector Store** as `embedding`\n\n🔑 OpenAI API key",
        "width": 280,
        "height": 232,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1209,
        1810
      ],
      "id": "cf199b7d-08af-7f33-9ae7-16b5afd83d85",
      "name": "Note: Document Embeddings"
    },
    {
      "parameters": {
        "content": "### Count Indexed Chunks\n\nCollapses all items into a single summary item (for counts and run stats).\n\nNext: Fingerprint for Idempotency",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1533,
        520
      ],
      "id": "34a4c898-0be0-fe8e-191b-367f936f2684",
      "name": "Note: Count Indexed Chunks"
    },
    {
      "parameters": {
        "content": "### Fingerprint for Idempotency\n\nCustom JavaScript: Build a stable idempotency key per document (djb2 hash, no deps)\n\nNext: Drop Already-Processed Items",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1857,
        520
      ],
      "id": "3eb234c5-a4ea-f9ed-2c3b-4af09ccfe026",
      "name": "Note: Fingerprint for Idempotency"
    },
    {
      "parameters": {
        "content": "### Drop Already-Processed Items\n\nCross-execution dedupe: remembers keys it has processed before and drops repeats — the idempotency guard.\n\nNext: Load Previous Snapshot",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2181,
        520
      ],
      "id": "a9ca15f3-acc3-31cc-579f-4273c4fb2b16",
      "name": "Note: Drop Already-Processed Items"
    },
    {
      "parameters": {
        "content": "### Load Previous Snapshot\n\ngoogleSheets — `read` operation against the connected account.\n\nPorts: ①→ Compute Drift vs Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2505,
        520
      ],
      "id": "45b89942-e2f5-1cb7-80bf-a33756efdd2f",
      "name": "Note: Load Previous Snapshot"
    },
    {
      "parameters": {
        "content": "### Compute Drift vs Snapshot\n\nCustom JavaScript: Compare current metrics with the previous snapshot\n\nNext: Serialize Run Output (CSV)",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2829,
        520
      ],
      "id": "e9bef897-3669-260c-15e6-3e8c44bba604",
      "name": "Note: Compute Drift vs Snapshot"
    },
    {
      "parameters": {
        "content": "### Serialize Run Output (CSV)\n\nSerializes items to a CSV binary file.\n\nNext: Archive Row Snapshot",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3153,
        520
      ],
      "id": "00cfc131-cc8d-b6c8-f0be-f69a56a69c7d",
      "name": "Note: Serialize Run Output (CSV)"
    },
    {
      "parameters": {
        "content": "### Archive Row Snapshot\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Enrich with Reference Data · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3477,
        520
      ],
      "id": "82faf245-4140-8332-4501-5f7af971116d",
      "name": "Note: Archive Row Snapshot"
    },
    {
      "parameters": {
        "content": "### Enrich with Reference Data\n\nGET https://enrichment.example.com/v2/lookup — retries 3× with backoff on failure.\n\nPorts: ①→ Fold In Enrichment Fields · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3801,
        520
      ],
      "id": "e7bedac9-2794-27a8-f9ff-845678a67fbc",
      "name": "Note: Enrich with Reference Data"
    },
    {
      "parameters": {
        "content": "### Fold In Enrichment Fields\n\nShapes the item: writes `enrichedAt`, `enrichmentSource`. Keeps the schema explicit between stages.\n\nNext: Summarize Run Stats",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4125,
        520
      ],
      "id": "9a3d67fd-ab4e-935a-7bf3-bef7b26e3af6",
      "name": "Note: Fold In Enrichment Fields"
    },
    {
      "parameters": {
        "content": "### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Google Sheets)",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4449,
        520
      ],
      "id": "767040e0-d917-cb5e-3ff7-25f43569e6c6",
      "name": "Note: Summarize Run Stats"
    },
    {
      "parameters": {
        "content": "### Append Audit Row (Google Sheets)\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4773,
        520
      ],
      "id": "5dac24cd-7266-523b-29ec-d87d23b7aafc",
      "name": "Note: Append Audit Row (Google Sheets)"
    },
    {
      "parameters": {
        "content": "### Send Summary to Slack\n\nslack — `action` operation against the connected account.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2",
        "width": 280,
        "height": 232,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5097,
        520
      ],
      "id": "c1a9b47c-ccdf-43eb-3eed-5563a5475190",
      "name": "Note: Send Summary to Slack"
    },
    {
      "parameters": {
        "content": "### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Slack",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4449,
        1540
      ],
      "id": "92a2fd18-de6b-1132-5335-6d44d782c843",
      "name": "Note: Capture Failure Context"
    },
    {
      "parameters": {
        "content": "### Escalate Failure to Slack\n\nslack — `action` operation against the connected account.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Slack OAuth2",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4773,
        1540
      ],
      "id": "dac0fa3d-7f93-992b-6eca-b2b160a7d6f2",
      "name": "Note: Escalate Failure to Slack"
    },
    {
      "parameters": {
        "content": "### Park in Dead-Letter Queue\n\ngoogleSheets — `append` operation against the connected account.\n\n↻ retries 3×/2s · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5097,
        1540
      ],
      "id": "e7f3482b-f75d-042f-8394-5628a368888c",
      "name": "Note: Park in Dead-Letter Queue"
    },
    {
      "parameters": {
        "content": "# Query questions from a knowledge base with HTTP / REST API with instant alerts for Knowledge Sync\n\n**Pattern:** RAG Pipeline · **Level:** Production · **Trigger:** Webhook\n\n## What it does\nQuery questions from a knowledge base with HTTP / REST API with instant alerts for Knowledge Sync. It fires the moment an external system calls its webhook.\n\n## Why it exists\nManual knowledge sync is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nReceive Inbound Webhook → List Changed Docs (Google Sheets) → Remove Duplicate Documents → Attach Chunk Metadata → Insert into Vector Store → Count Indexed Chunks → Fingerprint for Idempotency → …\n\n## Use it for\n- Teams that want to rag pipeline without manual effort\n- Anyone automating knowledge sync in ai\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Improves response time\n- Keeps your systems in sync\n- Responds in seconds\n\n## Before first run\nConnect credentials: API key / bearer for the target API; Google OAuth2 / service account; OpenAI API key; Pinecone API key; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.",
        "width": 480,
        "height": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -830,
        80
      ],
      "id": "2a41cc62-5ee1-f2b2-0955-bdbcc29c8c7a",
      "name": "📘 Workflow Overview"
    },
    {
      "parameters": {
        "content": "## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.",
        "width": 360,
        "height": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -230,
        -20
      ],
      "id": "000e79fa-e2f7-e84c-51f4-18103a11a2f6",
      "name": "🛟 Error handling & retries"
    },
    {
      "parameters": {
        "content": "## 🔐 Security\n\nNever trust inbound payloads: the webhook path is unguessable. Add header auth or IP allow-listing for defense in depth. Secrets live in n8n credentials — never in node parameters.",
        "width": 360,
        "height": 260,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        190,
        -20
      ],
      "id": "208ce53f-d1c0-220c-efb7-b963c36aebd1",
      "name": "🔐 Security"
    },
    {
      "parameters": {
        "content": "## 🤖 AI cluster\n\nPurple nodes form one AI unit: the root node orchestrates, sub-nodes plug in via typed ports (model / memory / tools / parser). Swap the chat model without rewiring anything else. Costs scale with tokens — keep prompts lean and cap iterations.",
        "width": 360,
        "height": 260,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        610,
        -20
      ],
      "id": "47ea49a8-edc9-05a3-bc22-8f36f67a287c",
      "name": "🤖 AI cluster"
    },
    {
      "parameters": {
        "content": "## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your knowledge sync process. Every node card explains its role — safe to extend at any marked branch.",
        "width": 360,
        "height": 260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1030,
        -20
      ],
      "id": "e42a2ede-b9e7-9852-be8a-430d3534775f",
      "name": "🛠 Customize me"
    }
  ],
  "connections": {
    "Receive Inbound Webhook": {
      "main": [
        [
          {
            "node": "List Changed Docs (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Changed Docs (Google Sheets)": {
      "main": [
        [
          {
            "node": "Remove Duplicate Documents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate Documents": {
      "main": [
        [
          {
            "node": "Attach Chunk Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Chunk Metadata": {
      "main": [
        [
          {
            "node": "Insert into Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Documents": {
      "ai_document": [
        [
          {
            "node": "Insert into Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Chunk with Overlap": {
      "ai_textSplitter": [
        [
          {
            "node": "Prepare Documents",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Document Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Vector Store": {
      "main": [
        [
          {
            "node": "Count Indexed Chunks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Indexed Chunks": {
      "main": [
        [
          {
            "node": "Fingerprint for Idempotency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fingerprint for Idempotency": {
      "main": [
        [
          {
            "node": "Drop Already-Processed Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drop Already-Processed Items": {
      "main": [
        [
          {
            "node": "Load Previous Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Previous Snapshot": {
      "main": [
        [
          {
            "node": "Compute Drift vs Snapshot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Drift vs Snapshot": {
      "main": [
        [
          {
            "node": "Serialize Run Output (CSV)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serialize Run Output (CSV)": {
      "main": [
        [
          {
            "node": "Archive Row Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Row Snapshot": {
      "main": [
        [
          {
            "node": "Enrich with Reference Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with Reference Data": {
      "main": [
        [
          {
            "node": "Fold In Enrichment Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fold In Enrichment Fields": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (Google Sheets)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Failure to Slack": {
      "main": [
        [
          {
            "node": "Park in Dead-Letter Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "4d7dc705-ab72-458b-af47-71464238fbfb",
  "id": "FDX06574"
}