product-files/workflows/RAG Knowledge Base/Knowledge Sync/Intermediate/06600_Distill documents with PostgreSQL and Slack end to end.json
{
  "name": "Distill documents with PostgreSQL and Slack end to end",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3f52dc1e",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "dee42512-437d-4eee-a29c-2d57caca1843",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "webhookId": "b5b553a8-f6db-49fe-9685-ee4e5aef9e98"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60f7fe3b-c645-47d4-9e97-1cdfcc806fed",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "a83bd00e-eb3b-4c90-9916-2e943e4880ca",
              "name": "isValid",
              "value": "={{ $json ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "8e2b4451-ffab-4729-9272-99f27bf1370c",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        300
      ],
      "notes": "Validate & normalize the input before downstream steps (§9.1)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "52f5950f-0658-4aa3-8211-5dfcdeb53233",
              "leftValue": "={{ $json.isValid !== false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "155584a2-0be3-47e5-8004-ca0e6fe2957e",
      "name": "Input Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        300
      ],
      "notes": "Validate early — quarantine invalid items instead of processing them (§9.1)."
    },
    {
      "parameters": {},
      "id": "cf3a5bdf-7f1e-4244-9ff0-9bf3795374af",
      "name": "Log Invalid Input",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        780,
        500
      ],
      "notes": "Dead-letter placeholder — route to a data table/DB for later inspection (§9.3)."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "acd9d02d-af5c-4cdf-ac54-71f1a1038ef3",
      "name": "Summarize with AI",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        1020,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8e80f7ef-8e93-41f7-8326-fe8f04493c61",
              "name": "source",
              "value": "='flowdex-workflow'",
              "type": "string"
            },
            {
              "id": "9837a4a4-bf4b-4749-b231-600f0324d884",
              "name": "summary",
              "value": "={{ JSON.stringify($json).slice(0, 280) }}",
              "type": "string"
            },
            {
              "id": "b94f0f77-c33e-42e6-ba8e-32586e4a52ab",
              "name": "count",
              "value": "={{ $json.items ? $json.items.length : 1 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "96a6b4af-9e48-44f6-b40f-dc196403902d",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "records",
          "mode": "name"
        },
        "options": {}
      },
      "id": "69cc4854-c01c-4715-81f8-ee6c32d2c7cc",
      "name": "Save to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1500,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "general",
          "mode": "name"
        },
        "text": "={{ $json.summary || 'New event' }}",
        "otherOptions": {}
      },
      "id": "e38facf4-b61c-4991-b24e-0090ddf9c07b",
      "name": "Send Slack Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1740,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "1c3650ba-ce00-4b11-95b3-a584d519693d",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        740,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "04226286-978d-4994-89f3-a187d955298f",
              "leftValue": "={{ $json.retrievalScore }}",
              "rightValue": "0.6",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4d699fba-b11b-4a1e-969a-049bdc2da743",
      "name": "Sufficient Context Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1980,
        300
      ],
      "notes": "Real business branch — route on the condition that actually distinguishes this item, per the category's production pattern (§8)."
    },
    {
      "parameters": {},
      "id": "afa043bc-90a7-4428-b4d9-09948f3995b6",
      "name": "Answer from Knowledge Base",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {},
      "id": "0d520fc7-44a4-4a4c-808d-1f1308ab4e2c",
      "name": "Fallback to General Answer",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2220,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32d3c718-7840-4821-8163-a4a19efb25be",
              "name": "errorAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0b5e5d8f-ce42-4a17-aee3-a83fbe6930b8",
      "name": "Handle Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2460,
        700
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#alerts",
        "text": "={{ 'Failure in ' + $workflow.name + ': ' + JSON.stringify($json) }}",
        "otherOptions": {}
      },
      "id": "daa33d7c-bd62-4158-8da2-e4a8e98873e1",
      "name": "Alert on Failure",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2700,
        760
      ],
      "notes": "Notify on failure without aborting the run (§9.3).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-log",
        "text": "={{ 'Completed: ' + $workflow.name }}",
        "otherOptions": {}
      },
      "id": "ce64aa0e-02c7-425e-83ac-6668002e8192",
      "name": "Success Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2940,
        300
      ],
      "notes": "Confirms completion — distinct from the failure alert channel.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Distill documents with PostgreSQL and Slack end to end\n\n**Tier:** Professional · **Difficulty:** Intermediate\n**Pattern:** Knowledge Sync (RAG / Knowledge Base)\n**Architecture:** validated input, branch on sufficient context found?.\n\nImport, add your credentials, then adjust parameters. Original WorkflowCrate template.",
        "height": 280,
        "width": 380,
        "color": 4
      },
      "id": "a47ba584-52ba-4a4d-a410-966a65812d50",
      "name": "Sticky Note 8eb9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3220,
        40
      ]
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Input Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Valid?": {
      "main": [
        [
          {
            "node": "Summarize with AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with AI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Save to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to PostgreSQL": {
      "main": [
        [
          {
            "node": "Send Slack Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Message": {
      "main": [
        [
          {
            "node": "Sufficient Context Found?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sufficient Context Found?": {
      "main": [
        [
          {
            "node": "Answer from Knowledge Base",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback to General Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error": {
      "main": [
        [
          {
            "node": "Alert on Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer from Knowledge Base": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback to General Answer": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "c762b341-ac07-46cf-bdb0-d8b2b9999d2b",
  "id": "FDX06600"
}