product-files/workflows/RAG Knowledge Base/Knowledge Sync/Intermediate/06867_Summarize documents with Notion and Twilio and log the results.json
{
  "name": "Summarize documents with Notion and Twilio and log the results",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "003c7f1a",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "55438738-91ad-42fa-a7bc-b21f53a107be",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        300
      ],
      "webhookId": "e3abfcb5-258c-46c0-a416-fdd605ebc43d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28d54b9d-4607-4636-985f-6ce268d5e089",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "d6eec797-86ef-4bba-8a7c-42ceb50eed19",
              "name": "isValid",
              "value": "={{ $json ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "5d5f626d-239e-4f96-af40-7c29485c0c6c",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        300
      ],
      "notes": "Validate & normalize the input before downstream steps (§9.1)."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "962915bf-ecfb-4eb0-9e15-31dad9f79635",
      "name": "Summarize with AI",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        800,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "5f56d7b3-62cb-446b-bc7a-8b783c2d0fac",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        740,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76b91558-0da3-4d03-b221-5bbfb5a06537",
              "name": "summary",
              "value": "={{ JSON.stringify($json).slice(0, 280) }}",
              "type": "string"
            },
            {
              "id": "e16ae610-cf9b-4c06-8195-418589de3553",
              "name": "status",
              "value": "='processed'",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b00d35de-655c-4bd3-ab26-9b2683623d0c",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "options": {}
      },
      "id": "5e236be6-e62a-462d-9a99-9dfc694b34f8",
      "name": "Save to Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1280,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "sms",
        "operation": "send",
        "from": "",
        "to": "={{ $json.phone }}",
        "message": "={{ $json.summary }}"
      },
      "id": "dcd2fd3e-ce17-4ebc-9954-954ae64e7d57",
      "name": "Send Twilio Message",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1520,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Summarize documents with Notion and Twilio and log the results\n\n**Pattern:** AI Summarize & Route\n**Trigger:** Webhook\n**Integrations:** Notion, Twilio\n\nImport, add your credentials, then adjust parameters. Original FlowDex template.",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "c7007d29-212e-4088-a45d-de453c6cf30d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1560,
        80
      ]
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Summarize with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with AI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Save to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Notion": {
      "main": [
        [
          {
            "node": "Send Twilio Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "d9e1bc13-27c7-433b-9554-c2c92abd467d",
  "id": "FDX06867"
}