product-files/workflows/Email Automation/Newsletters/Advanced/02440_Nurture leads with Google Drive and Slack without manual work.json
{"name":"Nurture leads with Google Drive and Slack without manual work","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-270,400],"id":"49c5aca2-ef1e-4b3b-ab6d-5363eca9fc0b","name":"Hourly Schedule"},{"parameters":{"operation":"read","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Email Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[54,400],"id":"ee442496-0e81-48ac-bd8b-a93c8e829dee","name":"Read Pending Queue (Google Sheets)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Normalize incoming email records to a stable schema\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  out.push({ json: {\n    messageId: String(j.messageId ?? j.id ?? '').trim(),\n    from: typeof j.from === 'string' ? j.from.trim() : j.from ?? null,\n    source: j.source ?? 'api',\n    receivedAt: new Date().toISOString(),\n  } });\n}\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[378,400],"id":"81872ed9-8985-4844-aa65-d217438a57e6","name":"Normalize Email Payload"},{"parameters":{"batchSize":5,"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[702,400],"id":"f0b97ca7-416f-4cd2-9f94-202e9ebbf77a","name":"Work in Batches"},{"parameters":{"method":"POST","url":"https://api.example.com/v1/emails","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1026,880],"id":"f9bfd364-0214-4eed-8fe8-1ddfbd1397a6","name":"Process Batch Item","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"amount":2,"unit":"seconds"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1674,880],"id":"1b879069-c526-4089-b51a-aad03e577a06","name":"Respect Rate Limits"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1998,400],"id":"0572d30d-c676-4bbf-90d7-e69654e6db33","name":"Aggregate Batch Results"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Email Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["messageId"],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2322,400],"id":"805f555e-de76-4630-aad2-e5f2230d0803","name":"Mark Completed in Google Sheets","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"maxItems":50},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[2646,400],"id":"816cde24-133c-4d9b-b923-0669013dc603","name":"Cap Batch Volume"},{"parameters":{"assignments":{"assignments":[{"id":"78da042b-6945-4460-8d66-daba0ae08717","name":"pipeline","value":"Newsletters","type":"string"},{"id":"23811ee5-35ca-45ad-946f-63b399450180","name":"version","value":"2.0","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2970,400],"id":"8249a3a5-b71a-45b6-8db0-8ba021c4838c","name":"Tag Pipeline Metadata"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"receivedAt","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[3294,400],"id":"db2b873e-9f4b-4239-9a18-745fbed399d9","name":"Sort Emails Newest First"},{"parameters":{"operation":"getCurrentDate","outputFieldName":"processedAt","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[3618,400],"id":"19d4bb6b-0488-470e-8c89-2c20c9469233","name":"Stamp Processing Time"},{"parameters":{"assignments":{"assignments":[{"id":"90315d5d-66c6-44df-a16b-2bcfab4486d0","name":"runAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"b435797a-a90b-4996-ab53-049a0b925889","name":"itemCount","value":"={{ $input.all().length }}","type":"number"},{"id":"749f93e8-4b00-4223-b37c-112787c81d7b","name":"status","value":"completed","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3942,400],"id":"f7694cff-624a-4e82-87dc-8c1258c54883","name":"Summarize Run Stats"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Email Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4266,400],"id":"37d43306-8dea-4ddd-8bad-ff051ce52cc0","name":"Append Audit Row (Google Sheets)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#inbox-ops","cachedResultName":"#inbox-ops"},"text":"=✅ Nurture leads with Google Drive and Slack without manual work — run completed at {{ $now.toFormat('HH:mm') }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[4590,400],"id":"71350b56-68df-4f18-9442-342c3554b86a","name":"Send Summary to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"6228698b-5285-41bc-a20a-1b3c2c25bc35","name":"failedNode","value":"={{ $json.error?.node?.name || 'unknown' }}","type":"string"},{"id":"fb4fe896-d7aa-4304-a0d5-05fbd074b1c6","name":"errorMessage","value":"={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}","type":"string"},{"id":"75c013ad-44a9-4873-832f-29eb5a60ece1","name":"workflow","value":"={{ $workflow.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3942,1420],"id":"4d498d11-d9a4-4627-ae80-3e168d96212c","name":"Capture Failure Context"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#inbox-ops","cachedResultName":"#inbox-ops"},"text":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[4266,1420],"id":"4bdde5dc-3ead-471d-89e5-380d98bec8d9","name":"Escalate Failure to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"content":"### Hourly Schedule\n\nStarts the workflow on a timer — every 2 h. No input data; downstream nodes fetch what they need.\n\nNext: Read Pending Queue (Google Sheets)","width":280,"height":232,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-330,520],"id":"9b46313a-75f0-cb07-c79a-570caf3eff4d","name":"Note: Hourly Schedule"},{"parameters":{"content":"### Read Pending Queue (Google Sheets)\n\ngoogleSheets — `read` operation against the connected account.\n\nPorts: ①→ Normalize Email Payload · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6,520],"id":"deadf3e7-ec79-8f58-96b4-bfbb87e4e963","name":"Note: Read Pending Queue (Google Sheets)"},{"parameters":{"content":"### Normalize Email Payload\n\nCustom JavaScript: Normalize incoming email records to a stable schema\n\nNext: Work in Batches","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[318,520],"id":"924c25d8-1bf3-2458-1903-e6dcc0a17839","name":"Note: Normalize Email Payload"},{"parameters":{"content":"### Work in Batches\n\nLoop controller — releases 5 item(s) per pass. Output 2 (loop) processes the batch, output 1 (done) fires after the last batch.\n\nPorts: ①→ Aggregate Batch Results · ②→ Process Batch Item","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[642,520],"id":"ae1cf280-c3c1-79a8-d823-1f4d576ffb9f","name":"Note: Work in Batches"},{"parameters":{"content":"### Process Batch Item\n\nPOST https://api.example.com/v1/emails — retries 3× with backoff on failure.\n\nPorts: ①→ Respect Rate Limits · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[966,1000],"id":"7a34a998-c403-d076-85db-54fb89b9319e","name":"Note: Process Batch Item"},{"parameters":{"content":"### Respect Rate Limits\n\nPauses 2 seconds — spacing calls to respect rate limits.\n\nNext: Work in Batches","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1614,1000],"id":"ec3330eb-5357-4c89-c294-8bbf8451616d","name":"Note: Respect Rate Limits"},{"parameters":{"content":"### Aggregate Batch Results\n\nCollapses all items into a single summary item (for counts and run stats).\n\nNext: Mark Completed in Google Sheets","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1938,520],"id":"9eb5f1ac-6892-ac29-ad98-896da2714553","name":"Note: Aggregate Batch Results"},{"parameters":{"content":"### Mark Completed in Google Sheets\n\ngoogleSheets — `appendOrUpdate` operation against the connected account.\n\nPorts: ①→ Cap Batch Volume · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2262,520],"id":"e987e8ea-6cf2-c7ff-4bea-58ef1215625b","name":"Note: Mark Completed in Google Sheets"},{"parameters":{"content":"### Cap Batch Volume\n\nCaps the stream at 50 items to protect downstream quotas.\n\nNext: Tag Pipeline Metadata","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2586,520],"id":"90079028-51e4-7ece-50d0-0985a74f7fbd","name":"Note: Cap Batch Volume"},{"parameters":{"content":"### Tag Pipeline Metadata\n\nShapes the item: writes `pipeline`, `version`. Keeps the schema explicit between stages.\n\nNext: Sort Emails Newest First","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2910,520],"id":"d1f24afb-be5e-99d8-c524-0967bf7a488a","name":"Note: Tag Pipeline Metadata"},{"parameters":{"content":"### Sort Emails Newest First\n\nOrders items (newest first) so limits and digests pick the most relevant records.\n\nNext: Stamp Processing Time","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3234,520],"id":"3edcadf8-0cf0-9275-605d-2f6f8a0c86c9","name":"Note: Sort Emails Newest First"},{"parameters":{"content":"### Stamp Processing Time\n\nStamps `processedAt` with the current time for auditing.\n\nNext: Summarize Run Stats","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3558,520],"id":"6f77e2d2-c7d8-d8f2-223c-08c839daae91","name":"Note: Stamp Processing Time"},{"parameters":{"content":"### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Google Sheets)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3882,520],"id":"0fbdcdef-c6b9-ce23-b346-b2dba2b7fc04","name":"Note: Summarize Run Stats"},{"parameters":{"content":"### Append Audit Row (Google Sheets)\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4206,520],"id":"7c2c5c50-4c6d-ac21-d540-3711e6a88268","name":"Note: Append Audit Row (Google Sheets)"},{"parameters":{"content":"### Send Summary to Slack\n\nslack — `action` operation against the connected account.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4530,520],"id":"3aa9f46d-52d7-d3ed-90cf-944d889697b4","name":"Note: Send Summary to Slack"},{"parameters":{"content":"### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Slack","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3882,1540],"id":"f5b1f669-0bce-0723-4af8-4308eaff353d","name":"Note: Capture Failure Context"},{"parameters":{"content":"### Escalate Failure to Slack\n\nslack — `action` operation against the connected account.\n\n↻ retries 3×/2s · 🔑 Slack OAuth2","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4206,1540],"id":"6f72d85a-4728-1888-ba37-2fd1c295ab54","name":"Note: Escalate Failure to Slack"},{"parameters":{"content":"# Nurture leads with Google Drive and Slack without manual work\n\n**Pattern:** Drip Sequence · **Level:** Advanced · **Trigger:** Scheduled\n\n## What it does\nNurture leads with Google Drive and Slack without manual work. It runs automatically on a schedule.\n\n## Why it exists\nManual newsletters is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nHourly Schedule → Read Pending Queue (Google Sheets) → Normalize Email Payload → Work in Batches → Aggregate Batch Results → Mark Completed in Google Sheets → Cap Batch Volume → …\n\n## Use it for\n- Teams that want to drip sequence without manual effort\n- Anyone automating newsletters in marketing\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Standardizes the process every time\n- Removes copy-paste errors\n- Saves hours of manual work each week\n\n## Before first run\nConnect credentials: API key / bearer for the target API; Google OAuth2 / service account; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.","width":480,"height":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,80],"id":"37eeda89-c9a2-4d76-a260-8c9fd5f787f7","name":"📘 Workflow Overview"},{"parameters":{"content":"## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Set an n8n **Error Workflow** in settings as the final safety net.","width":360,"height":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-230,-20],"id":"64b8df94-dc65-ed1b-24f2-107f86d22360","name":"🛟 Error handling & retries"},{"parameters":{"content":"## ⏱ Rate limiting\n\nWork is batched and spaced with Wait so provider quotas aren't tripped. If you hit 429s, lower the batch size or raise the wait — throughput drops, reliability rises.","width":360,"height":260,"color":1},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[190,-20],"id":"9c87d128-4c28-4708-10a7-c2ee48a9c532","name":"⏱ Rate limiting"},{"parameters":{"content":"## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your newsletters process. Every node card explains its role — safe to extend at any marked branch.","width":360,"height":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[610,-20],"id":"28be09ab-8b9c-fabc-aaf8-1559b47dce71","name":"🛠 Customize me"}],"connections":{"Hourly Schedule":{"main":[[{"node":"Read Pending Queue (Google Sheets)","type":"main","index":0}]]},"Read Pending Queue (Google Sheets)":{"main":[[{"node":"Normalize Email Payload","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Normalize Email Payload":{"main":[[{"node":"Work in Batches","type":"main","index":0}]]},"Work in Batches":{"main":[[{"node":"Aggregate Batch Results","type":"main","index":0}],[{"node":"Process Batch Item","type":"main","index":0}]]},"Process Batch Item":{"main":[[{"node":"Respect Rate Limits","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Respect Rate Limits":{"main":[[{"node":"Work in Batches","type":"main","index":0}]]},"Aggregate Batch Results":{"main":[[{"node":"Mark Completed in Google Sheets","type":"main","index":0}]]},"Mark Completed in Google Sheets":{"main":[[{"node":"Cap Batch Volume","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Cap Batch Volume":{"main":[[{"node":"Tag Pipeline Metadata","type":"main","index":0}]]},"Tag Pipeline Metadata":{"main":[[{"node":"Sort Emails Newest First","type":"main","index":0}]]},"Sort Emails Newest First":{"main":[[{"node":"Stamp Processing Time","type":"main","index":0}]]},"Stamp Processing Time":{"main":[[{"node":"Summarize Run Stats","type":"main","index":0}]]},"Summarize Run Stats":{"main":[[{"node":"Append Audit Row (Google Sheets)","type":"main","index":0}]]},"Append Audit Row (Google Sheets)":{"main":[[{"node":"Send Summary to Slack","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Capture Failure Context":{"main":[[{"node":"Escalate Failure to Slack","type":"main","index":0}]]},"Send Summary to Slack":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"meta":{"templateCredsSetupCompleted":false},"tags":[],"pinData":{},"versionId":"f352d38f-200d-4be9-8f84-4257af67830e","id":"FDX02440"}