product-files/workflows/Document Processing/OCR & Extraction/Intermediate/03358_Distill long emails with PostgreSQL and Telegram on autopilot.json
{"name":"Distill long emails with PostgreSQL and Telegram on autopilot","nodes":[{"parameters":{"httpMethod":"POST","path":"wf03358-document","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-270,400],"id":"be4c4ba4-82cb-4a02-8843-86e8537e9330","name":"Receive Inbound Webhook","webhookId":"c447cb76-293d-4e3e-8a74-9653367e7398"},{"parameters":{"assignments":{"assignments":[{"id":"4b0aafdf-091e-4540-814b-353bb485d478","name":"content","value":"={{ $json.body?.text || $json.content || JSON.stringify($json) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[54,400],"id":"9da346c0-fde5-4363-b456-3038928ef5e1","name":"Collect Raw Text"},{"parameters":{"text":"={{ $json.text || $json.content }}","attributes":{"attributes":[{"name":"documentId","description":"The documentId of this document.","required":true},{"name":"fileName","description":"The fileName of this document.","required":true},{"name":"docType","description":"The docType of this document.","required":false}]},"options":{"systemPromptTemplate":"You are a precise extraction engine. Only extract values present in the text."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[378,400],"id":"59bc72ef-8de8-44fc-a5b1-abdf9d3d118c","name":"Extract Structured Fields","onError":"continueErrorOutput"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[621,970],"id":"2028bdfd-e548-458e-9d97-6dd08bd23c8d","name":"Groq Chat Model"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4caaa361-44bb-4bc4-aa3c-9b62623e5d75","leftValue":"={{ $json.output?.documentId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[945,400],"id":"facb9f8d-7ff4-49d8-bc78-86f7414dab54","name":"All Required Fields Found?"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Document Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["documentId"],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1269,160],"id":"f96cb199-1e6a-4beb-bb54-06954b341276","name":"Upsert into Google Sheets","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#docs","cachedResultName":"#docs"},"text":"=✍️ Extraction incomplete for {{ $json.fileName || 'document' }} — please review.","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1593,760],"id":"c2822baf-8ed6-4953-8ec2-d4393889985a","name":"Queue for Manual Review","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"mode":"append","numberInputs":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2241,400],"id":"02c8dedf-dfff-4c02-8e49-8c2f7950a82b","name":"Merge Review Paths"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Build a stable idempotency key per document (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.documentId, j.fileName].join('|')) } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3213,400],"id":"5a9f6056-fb67-4fef-9d64-4ab84a5f0b67","name":"Fingerprint for Idempotency"},{"parameters":{"operation":"removeItemsSeenInPreviousExecutions","logic":"removeItemsWithAlreadySeenKeyValues","dedupeValue":"={{ $json.idempotencyKey }}","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[3537,400],"id":"1a7bc0eb-2a55-4aba-94ec-1b374dc3a92f","name":"Drop Already-Processed Items"},{"parameters":{"method":"GET","url":"https://enrichment.example.com/v2/lookup","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.fileName }}"}]},"options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3861,400],"id":"abc58c93-c4df-4f15-8a95-9641ba3865ae","name":"Enrich with Reference Data","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"b606ec1c-03f0-4287-9ecb-759c3c2e1b75","name":"enrichedAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"0e5ebff6-1a2b-4fd1-9167-356eb9e6e1a0","name":"enrichmentSource","value":"reference-api","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4185,400],"id":"bd0928bf-99c4-4743-b262-9796da2319e5","name":"Fold In Enrichment Fields"},{"parameters":{"operation":"csv","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[4509,400],"id":"dbcffcf5-45ba-4ce9-8169-3a72d42f96a0","name":"Serialize Run Output (CSV)"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO document_log (documentId, fileName, docType, logged_at)\nVALUES ($1, $2, $3, NOW());","options":{"queryReplacement":"={{ [ $json.documentId, $json.fileName, $json.docType ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4833,400],"id":"313383f1-e0d8-46ed-b066-6833ccdc2a7c","name":"Archive Row Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM documents WHERE updated_at > NOW() - INTERVAL '1 day' ORDER BY updated_at DESC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[5157,400],"id":"094825cf-2830-4c90-931c-1376ba9f24a0","name":"Load Previous Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Compare current metrics with the previous snapshot\nconst current = $input.first().json;\nconst prev = $('Load Previous Snapshot').first().json || {};\nconst drift = {};\nfor (const k of Object.keys(current)) {\n  if (typeof current[k] === 'number' && typeof prev[k] === 'number' && prev[k] !== 0) {\n    drift[k] = Math.round(((current[k] - prev[k]) / prev[k]) * 1000) / 10;\n  }\n}\nreturn [{ json: { ...current, driftPct: drift, hasDrift: Object.values(drift).some(v => Math.abs(v) > 10) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5481,400],"id":"d39988dc-a62a-4310-ae96-91676a89d039","name":"Compute Drift vs Snapshot"},{"parameters":{"assignments":{"assignments":[{"id":"a467917d-94b0-4fb5-b2e6-e6c58c8a90f0","name":"runAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"cca2606a-5bef-42d5-a76b-9de327beeae1","name":"itemCount","value":"={{ $input.all().length }}","type":"number"},{"id":"6af3ca47-f0a0-4775-867f-07f210d1e3e1","name":"status","value":"completed","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5805,400],"id":"b9a693f3-7bfa-4f53-a447-83c1d792c521","name":"Summarize Run Stats"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Document Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[6129,400],"id":"bf30a032-5577-4285-8b02-216343f1c45f","name":"Append Audit Row (Google Sheets)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#docs","cachedResultName":"#docs"},"text":"=✅ Distill long emails with PostgreSQL and Telegram on autopilot — run completed at {{ $now.toFormat('HH:mm') }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[6453,400],"id":"c35765b4-c0bf-4c92-804e-e9e973419e2e","name":"Send Summary to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"78ba2186-fbe5-4ede-a3b9-1e21dd3fba6e","name":"failedNode","value":"={{ $json.error?.node?.name || 'unknown' }}","type":"string"},{"id":"3e34d0b0-20cf-4da9-9b78-4c692107acab","name":"errorMessage","value":"={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}","type":"string"},{"id":"49863710-e71d-431c-b23d-7d8400b2279b","name":"workflow","value":"={{ $workflow.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5805,1420],"id":"07a0ad1a-e5d1-45da-a45a-d54696cdb481","name":"Capture Failure Context"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#docs","cachedResultName":"#docs"},"text":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[6129,1420],"id":"92dcbcd7-f6d2-4512-b26c-94407bb2f1f9","name":"Escalate Failure to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"operation":"executeQuery","query":"INSERT INTO document_log (documentId, fileName, docType, logged_at)\nVALUES ($1, $2, $3, NOW());","options":{"queryReplacement":"={{ [ $json.documentId, $json.fileName, $json.docType ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6453,1420],"id":"e36b2a18-e266-4c67-a5f3-13f8cfd0b8db","name":"Park in Dead-Letter Queue","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"content":"### Receive Inbound Webhook\n\nEntry point: listens for POST calls on `/wf03358-document`. Use the TEST url while building, switch callers to the PRODUCTION url after publishing.\n\nNext: Collect Raw Text","width":280,"height":232,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-330,520],"id":"3f3eefa2-749b-2a0e-d172-9c5aba2d5a9a","name":"Note: Receive Inbound Webhook"},{"parameters":{"content":"### Collect Raw Text\n\nShapes the item: writes `content`. Keeps the schema explicit between stages.\n\nNext: Extract Structured Fields","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6,520],"id":"0d84fb34-721b-b1ad-ad74-053d1dce9ead","name":"Note: Collect Raw Text"},{"parameters":{"content":"### Extract Structured Fields\n\nPulls structured fields (documentId, fileName, docType) out of free text using a strict extraction prompt.\n\nPorts: ①→ All Required Fields Found? · ②→ Capture Failure Context\n\n⚠ failures exit via the error rail","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[318,520],"id":"d3c3ec0a-8b19-4559-2740-8942bf9afde3","name":"Note: Extract Structured Fields"},{"parameters":{"content":"### Groq Chat Model\n\nChat model powering the AI step (model: `llama-3.3-70b-versatile`). Swap providers here without rewiring.\n\nFeeds **Extract Structured Fields** as `languageModel`\n\n🔑 Groq API key","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[561,1090],"id":"b035451a-a549-b252-7c77-2dab02c2fd85","name":"Note: Groq Chat Model"},{"parameters":{"content":"### All Required Fields Found?\n\nTwo-way gate on `={{ $json.output?.documentId }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Upsert into Google Sheets · ②→ Queue for Manual Review","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[885,520],"id":"7a272625-7c3c-c18a-1fca-4711cb6d2f1f","name":"Note: All Required Fields Found?"},{"parameters":{"content":"### Upsert into Google Sheets\n\nUpserts a row into 'Document Tracker', matched on `documentId` — re-running with the same key updates the row instead of duplicating it.\n\nPorts: ①→ Merge Review Paths · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1209,280],"id":"e06ae215-cd3e-361c-7f32-440cc2788d5e","name":"Note: Upsert into Google Sheets"},{"parameters":{"content":"### Queue for Manual Review\n\nPosts a message to Slack (`#docs`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\nPorts: ①→ Merge Review Paths · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1533,880],"id":"6b6a9ac3-9712-eb59-cb90-2117450bcf11","name":"Note: Queue for Manual Review"},{"parameters":{"content":"### Merge Review Paths\n\nRejoins 2 branches into one stream (mode: append) so downstream logic runs once.\n\nNext: Fingerprint for Idempotency","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2181,520],"id":"c2132b03-5bcd-a680-a723-289792248f58","name":"Note: Merge Review Paths"},{"parameters":{"content":"### Fingerprint for Idempotency\n\nCustom JavaScript: Build a stable idempotency key per document (djb2 hash, no deps)\n\nNext: Drop Already-Processed Items","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3153,520],"id":"685be303-5547-6156-c444-7559811da6db","name":"Note: Fingerprint for Idempotency"},{"parameters":{"content":"### Drop Already-Processed Items\n\nCross-execution dedupe: remembers keys it has processed before and drops repeats — the idempotency guard.\n\nNext: Enrich with Reference Data","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3477,520],"id":"eb7b1e00-aa81-04a1-8b7f-2126c151420f","name":"Note: Drop Already-Processed Items"},{"parameters":{"content":"### Enrich with Reference Data\n\nGET https://enrichment.example.com/v2/lookup — retries 3× with backoff on failure.\n\nPorts: ①→ Fold In Enrichment Fields · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3801,520],"id":"6b1cd9bd-3858-b4a8-7996-2050a3216fda","name":"Note: Enrich with Reference Data"},{"parameters":{"content":"### Fold In Enrichment Fields\n\nShapes the item: writes `enrichedAt`, `enrichmentSource`. Keeps the schema explicit between stages.\n\nNext: Serialize Run Output (CSV)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4125,520],"id":"980c0619-1fdc-0ef8-6dd3-d8748fefb8a6","name":"Note: Fold In Enrichment Fields"},{"parameters":{"content":"### Serialize Run Output (CSV)\n\nSerializes items to a CSV binary file.\n\nNext: Archive Row Snapshot","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4449,520],"id":"a358212f-5696-4192-8348-73157920e84a","name":"Note: Serialize Run Output (CSV)"},{"parameters":{"content":"### Archive Row Snapshot\n\nRuns a parameterized SQL statement against Postgres — values are bound via `queryReplacement`, not string-interpolated, so it's immune to SQL injection.\n\nPorts: ①→ Load Previous Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Postgres connection","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4773,520],"id":"bc792121-88d6-2991-2d66-16920c7bc724","name":"Note: Archive Row Snapshot"},{"parameters":{"content":"### Load Previous Snapshot\n\nRuns a parameterized SQL statement against Postgres — values are bound via `queryReplacement`, not string-interpolated, so it's immune to SQL injection.\n\nPorts: ①→ Compute Drift vs Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Postgres connection","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5097,520],"id":"93180794-d640-959c-a2e2-35f549505756","name":"Note: Load Previous Snapshot"},{"parameters":{"content":"### Compute Drift vs Snapshot\n\nCustom JavaScript: Compare current metrics with the previous snapshot\n\nNext: Summarize Run Stats","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5421,520],"id":"5ce28912-6d13-7c8a-6d3d-ea0237d4708a","name":"Note: Compute Drift vs Snapshot"},{"parameters":{"content":"### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Google Sheets)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5745,520],"id":"9506acbf-ca30-70a5-76dc-b8f710f89ede","name":"Note: Summarize Run Stats"},{"parameters":{"content":"### Append Audit Row (Google Sheets)\n\nAppends a new row to 'Document Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6069,520],"id":"9b15a301-f47a-7d09-8405-55d81a24a955","name":"Note: Append Audit Row (Google Sheets)"},{"parameters":{"content":"### Send Summary to Slack\n\nPosts a message to Slack (`#docs`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6393,520],"id":"d9aaa381-aeec-957e-6872-529470d1fc19","name":"Note: Send Summary to Slack"},{"parameters":{"content":"### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Slack","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5745,1540],"id":"2ea769f3-1d25-ad3b-b53f-e902a54f6e96","name":"Note: Capture Failure Context"},{"parameters":{"content":"### Escalate Failure to Slack\n\nPosts a message to Slack (`#docs`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Slack OAuth2","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6069,1540],"id":"738f5723-3e44-82d1-d8c5-038e7ff5472a","name":"Note: Escalate Failure to Slack"},{"parameters":{"content":"### Park in Dead-Letter Queue\n\nRuns a parameterized SQL statement against Postgres — values are bound via `queryReplacement`, not string-interpolated, so it's immune to SQL injection.\n\n↻ retries 3×/2s · 🔑 Postgres connection","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6393,1540],"id":"53dfead2-8ad0-312c-f461-6ba40adaf91c","name":"Note: Park in Dead-Letter Queue"},{"parameters":{"content":"# Distill long emails with PostgreSQL and Telegram on autopilot\n\n**Pattern:** AI Summarize & Route · **Level:** Production · **Trigger:** Webhook\n\n## What it does\nDistill long emails with PostgreSQL and Telegram on autopilot. It fires the moment an external system calls its webhook.\n\n## Why it exists\nManual ocr & extraction is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nReceive Inbound Webhook → Collect Raw Text → Extract Structured Fields → All Required Fields Found? → Upsert into Google Sheets → Merge Review Paths → Fingerprint for Idempotency → …\n\n## Use it for\n- Teams that want to ai summarize & route without manual effort\n- Anyone automating ocr & extraction in legal\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Removes copy-paste errors\n- Scales without extra headcount\n- Standardizes the process every time\n\n## Before first run\nConnect credentials: API key / bearer for the target API; Google OAuth2 / service account; Groq API key; Postgres connection; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.\n\n## Try it now\nSample data is pinned on the trigger — hit **Execute Workflow** to watch it flow through every node before connecting any real credentials. Unpin the trigger (right-click → Unpin) when you're ready to go live.","width":480,"height":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,80],"id":"4a7116f4-fafa-30fd-4015-850e15462fa1","name":"📘 Workflow Overview"},{"parameters":{"content":"## Design decisions\n\nThe required-fields check runs *before* the write, not after — an incomplete extraction goes to manual review instead of landing a half-populated record in the system of record. Upsert (not plain create) means re-processing the same document twice updates the existing record instead of duplicating it.","width":480,"height":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1020],"id":"f2b25362-f79e-a27f-6bf5-e7c6fe32f9fd","name":"🎓 Design Decisions"},{"parameters":{"content":"## Practice exercises\n\nAlready production-grade — deepen your understanding:\n\n1. Add a new field to the extraction schema and mark it required — watch more documents route to manual review.\n2. Feed it a document deliberately missing a required field and trace exactly where it ends up.\n3. Change the extraction target (e.g. invoice → contract fields) and adjust the upsert key to match.","width":480,"height":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1360],"id":"b32b4431-61df-b951-657d-01c326222703","name":"🧪 Practice Exercises"},{"parameters":{"content":"## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.","width":360,"height":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-230,-260],"id":"bdfa0551-8700-e448-e92b-84a0c3dce81b","name":"🛟 Error handling & retries"},{"parameters":{"content":"## 🔐 Security\n\nNever trust inbound payloads: the webhook path is unguessable. Add header auth or IP allow-listing for defense in depth. Secrets live in n8n credentials — never in node parameters.","width":360,"height":260,"color":1},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[190,-260],"id":"fee8ae76-5090-822d-de8a-cc1fa20c73c1","name":"🔐 Security"},{"parameters":{"content":"## 🤖 AI cluster\n\nPurple nodes form one AI unit: the root node orchestrates, sub-nodes plug in via typed ports (model / memory / tools / parser). Swap the chat model without rewiring anything else. Costs scale with tokens — keep prompts lean and cap iterations.","width":360,"height":260,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[610,-260],"id":"0aab6f6b-4474-57ea-f093-01323b8f36e8","name":"🤖 AI cluster"},{"parameters":{"content":"## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your ocr & extraction process. Every node card explains its role — safe to extend at any marked branch.","width":360,"height":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1030,-260],"id":"cd836875-20ea-87bc-81bd-bc369b30024b","name":"🛠 Customize me"}],"connections":{"Receive Inbound Webhook":{"main":[[{"node":"Collect Raw Text","type":"main","index":0}]]},"Collect Raw Text":{"main":[[{"node":"Extract Structured Fields","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Extract Structured Fields","type":"ai_languageModel","index":0}]]},"Extract Structured Fields":{"main":[[{"node":"All Required Fields Found?","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"All Required Fields Found?":{"main":[[{"node":"Upsert into Google Sheets","type":"main","index":0}],[{"node":"Queue for Manual Review","type":"main","index":0}]]},"Upsert into Google Sheets":{"main":[[{"node":"Merge Review Paths","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Queue for Manual Review":{"main":[[{"node":"Merge Review Paths","type":"main","index":1}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Merge Review Paths":{"main":[[{"node":"Fingerprint for Idempotency","type":"main","index":0}]]},"Fingerprint for Idempotency":{"main":[[{"node":"Drop Already-Processed Items","type":"main","index":0}]]},"Drop Already-Processed Items":{"main":[[{"node":"Enrich with Reference Data","type":"main","index":0}]]},"Enrich with Reference Data":{"main":[[{"node":"Fold In Enrichment Fields","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Fold In Enrichment Fields":{"main":[[{"node":"Serialize Run Output (CSV)","type":"main","index":0}]]},"Serialize Run Output (CSV)":{"main":[[{"node":"Archive Row Snapshot","type":"main","index":0}]]},"Archive Row Snapshot":{"main":[[{"node":"Load Previous Snapshot","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Load Previous Snapshot":{"main":[[{"node":"Compute Drift vs Snapshot","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Compute Drift vs Snapshot":{"main":[[{"node":"Summarize Run Stats","type":"main","index":0}]]},"Summarize Run Stats":{"main":[[{"node":"Append Audit Row (Google Sheets)","type":"main","index":0}]]},"Append Audit Row (Google Sheets)":{"main":[[{"node":"Send Summary to Slack","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Capture Failure Context":{"main":[[{"node":"Escalate Failure to Slack","type":"main","index":0}]]},"Escalate Failure to Slack":{"main":[[{"node":"Park in Dead-Letter Queue","type":"main","index":0}]]},"Send Summary to Slack":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveManualExecutions":true,"executionTimeout":3600},"meta":{"templateCredsSetupCompleted":false},"tags":[],"pinData":{"Receive Inbound Webhook":[{"json":{"documentId":"DOCP-330","fileName":"invoice_acme_q3.pdf","docType":"invoice","pageCount":2}},{"json":{"documentId":"DOCP-331","fileName":"contract_beta_nda.pdf","docType":"contract","pageCount":5}}]},"versionId":"5ac40d2a-2de4-43e5-acd2-4929d9234d28","id":"FDX03358"}