product-files/workflows/Document Processing/OCR & Extraction/Intermediate/03595_Issue quotes with HTTP REST API and MySQL automatically.json
{
  "name": "Issue quotes with HTTP / REST API and MySQL automatically",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bfaa5979",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "38388890-de33-482e-85c3-ec09fbf25a27",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        300
      ],
      "webhookId": "799032c6-a63f-4602-9533-936f7057fbe0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5b73e2e-6dcf-459a-a3c7-6e2fbc989dcf",
              "name": "status",
              "value": "='processed'",
              "type": "string"
            },
            {
              "id": "248ab6ab-ea23-400e-a82a-80f955eb6df3",
              "name": "count",
              "value": "={{ $json.items ? $json.items.length : 1 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "3f60097b-af51-42aa-b97a-2375f43e88b2",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.example.com/v1/data",
        "options": {}
      },
      "id": "5a383032-cae1-4c0d-bf4e-5de9a2c9c8ab",
      "name": "Fetch Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "value": "records",
          "mode": "name"
        },
        "options": {}
      },
      "id": "f0a77b01-8ec7-4de3-865a-a4d8f3f38b70",
      "name": "Save to MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1040,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "content": "={{ $json.summary || 'Update' }}"
      },
      "id": "3d3c5a63-0999-4299-9961-6e3f7f8c2880",
      "name": "Send Discord Message",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1280,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Issue quotes with HTTP / REST API and MySQL automatically\n\n**Pattern:** Document Generation\n**Trigger:** Webhook\n**Integrations:** HTTP / REST API, MySQL, Discord\n\nImport, add your credentials, then adjust parameters. Original FlowDex template.",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "019c93fe-31e9-4176-962a-3a17a15f8fc8",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1320,
        80
      ]
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Fetch Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Data": {
      "main": [
        [
          {
            "node": "Save to MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to MySQL": {
      "main": [
        [
          {
            "node": "Send Discord Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "fc86407d-be16-435e-9bca-ab6cb613b576",
  "id": "FDX03595"
}