product-files/workflows/Workflow Automation/Utilities/Beginner/06346_Mirror contacts across systems with HubSpot and Airtable automatically.json
{"name":"Mirror contacts across systems with HubSpot and Airtable automatically","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-270,400],"id":"73eb6add-6eae-4cbc-9ea9-ef721077bb71","name":"Hourly Schedule"},{"parameters":{"assignments":{"assignments":[{"id":"fdfe0a6a-3753-41f6-88e4-fa16a34c81ec","name":"jobId","value":"={{ $json.body?.jobId || $json.body?.id }}","type":"string"},{"id":"6016a666-b024-4eb9-a3a8-17ce0a9162c6","name":"kind","value":"={{ $json.body?.type || 'default' }}","type":"string"},{"id":"79af4df0-9bcf-4026-8030-79631ff50b9a","name":"payload","value":"={{ JSON.stringify($json.body || $json) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[54,400],"id":"e0293c76-23d6-4a5a-b46e-b228730bd69e","name":"Map to Canonical Schema"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8a613643-747c-4374-8788-baef2f3831ab","leftValue":"={{ $json.kind }}","rightValue":"created","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"created"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"03a0a809-59a0-4373-a1f6-57101617695c","leftValue":"={{ $json.kind }}","rightValue":"updated","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"updated"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f895e4f1-3a51-470b-89c0-afd0c09f2110","leftValue":"={{ $json.kind }}","rightValue":"deleted","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"deleted"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[378,400],"id":"f1ad2687-2d8d-45aa-921a-5948593012c7","name":"Route by Event Kind"},{"parameters":{"operation":"upsert","base":{"__rl":true,"mode":"list","value":"","cachedResultName":"Workflow Automation Base"},"table":{"__rl":true,"mode":"list","value":"","cachedResultName":"Jobs"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["jobId"],"schema":[]},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[702,130],"id":"d99165d8-d2fc-4e09-b22f-f372f9f5356e","name":"Handle 'created' → Airtable","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"resource":"contact","email":"={{ $json.email }}","additionalFields":{"companyName":"={{ $json.company }}"},"authentication":"appToken"},"type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[1026,640],"id":"5013ba51-242d-4bde-97e1-f796738d9bd8","name":"Handle 'updated' → HubSpot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"resource":"contact","email":"={{ $json.email }}","additionalFields":{"companyName":"={{ $json.company }}"},"authentication":"appToken"},"type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[1350,1150],"id":"6a2cbd12-d603-4c09-b390-d9a043f22edf","name":"Handle 'deleted' → HubSpot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"operation":"create","base":{"__rl":true,"mode":"list","value":"","cachedResultName":"Workflow Automation Base"},"table":{"__rl":true,"mode":"list","value":"","cachedResultName":"Jobs"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1674,1660],"id":"1103df34-c3be-4a53-b0c0-ce91c2bd2e12","name":"Log Unrecognized Kind","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"mode":"append","numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2322,400],"id":"c44070fd-c9ec-4054-8ce9-9406bfe9c07d","name":"Consolidate Handling"},{"parameters":{"operation":"getCurrentDate","outputFieldName":"completedAt","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[3294,400],"id":"8eac63e2-eee0-4f78-b3ed-d959340de0ea","name":"Stamp Completion Time"},{"parameters":{"dataToSave":{"values":[{"key":"runId","value":"={{ $execution.id }}"},{"key":"itemCount","value":"={{ $items().length }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[3618,400],"id":"b204df6d-73c4-4de8-af4e-c257ef1ed20f","name":"Persist Run Metadata"},{"parameters":{"operation":"csv","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3942,400],"id":"a355df94-63c1-497f-ad52-8df7b9f6e621","name":"Serialize Run Output (CSV)"},{"parameters":{"resource":"contact","email":"={{ $json.email }}","additionalFields":{"companyName":"={{ $json.company }}"},"authentication":"appToken"},"type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[4266,400],"id":"0eedeafa-4c1e-4e87-89cf-e1af69a4b864","name":"Archive Row Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Build a stable idempotency key per job (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.jobId, j.type].join('|')) } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4590,400],"id":"329d31b7-f638-4997-ba12-6c48652305e9","name":"Fingerprint for Idempotency"},{"parameters":{"operation":"removeItemsSeenInPreviousExecutions","logic":"removeItemsWithAlreadySeenKeyValues","dedupeValue":"={{ $json.idempotencyKey }}","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[4914,400],"id":"2267046e-631c-41b2-afe1-e45d78097dac","name":"Drop Already-Processed Items"},{"parameters":{"operation":"search","base":{"__rl":true,"mode":"list","value":"","cachedResultName":"Workflow Automation Base"},"table":{"__rl":true,"mode":"list","value":"","cachedResultName":"Jobs"},"filterByFormula":"={LastModified} > DATEADD(NOW(), -1, 'days')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[5238,400],"id":"21f1a8d1-2eb9-4289-947f-cfb479d09b59","name":"Load Previous Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Compare current metrics with the previous snapshot\nconst current = $input.first().json;\nconst prev = $('Load Previous Snapshot').first().json || {};\nconst drift = {};\nfor (const k of Object.keys(current)) {\n  if (typeof current[k] === 'number' && typeof prev[k] === 'number' && prev[k] !== 0) {\n    drift[k] = Math.round(((current[k] - prev[k]) / prev[k]) * 1000) / 10;\n  }\n}\nreturn [{ json: { ...current, driftPct: drift, hasDrift: Object.values(drift).some(v => Math.abs(v) > 10) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5562,400],"id":"0ba0ef31-083e-43bd-b72f-5bc7f20d2588","name":"Compute Drift vs Snapshot"},{"parameters":{"assignments":{"assignments":[{"id":"dda5eacd-d201-4184-8d7f-4e67afd8f266","name":"runAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"59893dab-2f84-4cbe-9f93-1ba41f8aa41b","name":"itemCount","value":"={{ $input.all().length }}","type":"number"},{"id":"9f81c378-4a65-4f18-b91b-f72f431c9a31","name":"status","value":"completed","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5886,400],"id":"2b12be6d-66aa-47a7-8af8-2c2e277b62d5","name":"Summarize Run Stats"},{"parameters":{"operation":"create","base":{"__rl":true,"mode":"list","value":"","cachedResultName":"Workflow Automation Base"},"table":{"__rl":true,"mode":"list","value":"","cachedResultName":"Jobs"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[6210,400],"id":"c6491a71-1a09-4324-a6f7-962c20f6f5d6","name":"Append Audit Row (Airtable)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#automation","cachedResultName":"#automation"},"text":"=✅ Mirror contacts across systems with HubSpot and Airtable automatically — run completed at {{ $now.toFormat('HH:mm') }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[6534,400],"id":"b7e86c84-c662-4b93-80c9-a176ad5c48ca","name":"Send Summary to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"9ba880f6-cf70-4d5a-aa3d-1464e8e7e267","name":"failedNode","value":"={{ $json.error?.node?.name || 'unknown' }}","type":"string"},{"id":"a773ead4-3b97-4ffa-86d3-04d042dccf3d","name":"errorMessage","value":"={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}","type":"string"},{"id":"3df2fcf8-7553-409c-a991-ea21d32b4552","name":"workflow","value":"={{ $workflow.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5886,1420],"id":"58164ffa-ab24-4abf-842d-d0b33aee512c","name":"Capture Failure Context"},{"parameters":{"from":"+15550100000","to":"={{ $json.phone || 'ONCALL_NUMBER' }}","message":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}","options":{}},"type":"n8n-nodes-base.twilio","typeVersion":1,"position":[6210,1420],"id":"9d5ea9c4-1a69-497d-a904-85a7828ccabc","name":"Escalate Failure to Twilio","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"operation":"create","base":{"__rl":true,"mode":"list","value":"","cachedResultName":"Workflow Automation Base"},"table":{"__rl":true,"mode":"list","value":"","cachedResultName":"Jobs"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[6534,1420],"id":"b5a2a90e-cea1-4a39-a2fe-081b5a1b82d8","name":"Park in Dead-Letter Queue","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"content":"### Hourly Schedule\n\nStarts the workflow on a timer — every 1 h. No input data; downstream nodes fetch what they need.\n\nNext: Map to Canonical Schema","width":280,"height":232,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-330,520],"id":"5bc9a1ff-20a6-deed-877c-3fc5222d1e31","name":"Note: Hourly Schedule"},{"parameters":{"content":"### Map to Canonical Schema\n\nShapes the item: writes `jobId`, `kind`, `payload`. Keeps the schema explicit between stages.\n\nNext: Route by Event Kind","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6,520],"id":"162911e1-0948-ef02-b9bc-714d4f692bfd","name":"Note: Map to Canonical Schema"},{"parameters":{"content":"### Route by Event Kind\n\nRoutes each item to one of 4 lanes: created, updated, deleted + fallback.\n\nPorts: ①→ Handle 'created' → Airtable · ②→ Handle 'updated' → HubSpot · ③→ Handle 'deleted' → HubSpot · ④→ Log Unrecognized Kind","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[318,520],"id":"6a6daa0c-f389-a7b2-61f1-06361d966209","name":"Note: Route by Event Kind"},{"parameters":{"content":"### Handle 'created' → Airtable\n\nUpserts into Airtable's 'Jobs' table, matched on `jobId` — safe to re-run without creating duplicates.\n\nPorts: ①→ Consolidate Handling · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Airtable PAT","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[642,250],"id":"bbbf1610-71db-8e91-916b-31d313f8a23b","name":"Note: Handle 'created' → Airtable"},{"parameters":{"content":"### Handle 'updated' → HubSpot\n\nCreates or updates a HubSpot contact by email — HubSpot is the CRM system of record for this pipeline.\n\nPorts: ①→ Consolidate Handling · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 HubSpot private-app token","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[966,760],"id":"ec56617d-2db6-f35d-7050-b339337a42d4","name":"Note: Handle 'updated' → HubSpot"},{"parameters":{"content":"### Handle 'deleted' → HubSpot\n\nCreates or updates a HubSpot contact by email — HubSpot is the CRM system of record for this pipeline.\n\nPorts: ①→ Consolidate Handling · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 HubSpot private-app token","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1290,1270],"id":"e45e6741-e47b-8efc-345b-a263fb860cec","name":"Note: Handle 'deleted' → HubSpot"},{"parameters":{"content":"### Log Unrecognized Kind\n\nCreates a new record in Airtable's 'Jobs' table.\n\nPorts: ①→ Consolidate Handling · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Airtable PAT","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1614,1780],"id":"d8368990-1bc2-e496-a70a-4cef23d6936d","name":"Note: Log Unrecognized Kind"},{"parameters":{"content":"### Consolidate Handling\n\nRejoins 4 branches into one stream (mode: append) so downstream logic runs once.\n\nNext: Stamp Completion Time","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2262,520],"id":"31b5339f-d652-8259-894c-6ab82ca10bd3","name":"Note: Consolidate Handling"},{"parameters":{"content":"### Stamp Completion Time\n\nStamps `completedAt` with the current time for auditing.\n\nNext: Persist Run Metadata","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3234,520],"id":"e877b470-1cae-b8bf-a759-55b135feb2de","name":"Note: Stamp Completion Time"},{"parameters":{"content":"### Persist Run Metadata\n\nSaves key fields onto the execution record — searchable later in n8n's execution list.\n\nNext: Serialize Run Output (CSV)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3558,520],"id":"935aeff0-d9ef-cc9f-9180-9bf0733e2a95","name":"Note: Persist Run Metadata"},{"parameters":{"content":"### Serialize Run Output (CSV)\n\nSerializes items to a CSV binary file.\n\nNext: Archive Row Snapshot","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3882,520],"id":"d9c88279-e170-3b06-3da7-8aab7bb65d53","name":"Note: Serialize Run Output (CSV)"},{"parameters":{"content":"### Archive Row Snapshot\n\nCreates or updates a HubSpot contact by email — HubSpot is the CRM system of record for this pipeline.\n\nPorts: ①→ Fingerprint for Idempotency · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 HubSpot private-app token","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4206,520],"id":"7ef42bc2-99f7-be07-dc72-553a415ce1e7","name":"Note: Archive Row Snapshot"},{"parameters":{"content":"### Fingerprint for Idempotency\n\nCustom JavaScript: Build a stable idempotency key per job (djb2 hash, no deps)\n\nNext: Drop Already-Processed Items","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4530,520],"id":"6f12e551-ff69-aa12-b622-aaead762dfe2","name":"Note: Fingerprint for Idempotency"},{"parameters":{"content":"### Drop Already-Processed Items\n\nCross-execution dedupe: remembers keys it has processed before and drops repeats — the idempotency guard.\n\nNext: Load Previous Snapshot","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4854,520],"id":"20352e1b-d4d7-2d2a-f937-4918375b420a","name":"Note: Drop Already-Processed Items"},{"parameters":{"content":"### Load Previous Snapshot\n\nSearches Airtable's 'Jobs' table by formula (`={LastModified} > DATEADD(NOW(), -1, 'days')`) for records the pipeline hasn't handled yet.\n\nPorts: ①→ Compute Drift vs Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Airtable PAT","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5178,520],"id":"9ce23d47-9b2c-7157-619e-e385f5ee0ed3","name":"Note: Load Previous Snapshot"},{"parameters":{"content":"### Compute Drift vs Snapshot\n\nCustom JavaScript: Compare current metrics with the previous snapshot\n\nNext: Summarize Run Stats","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5502,520],"id":"5f40d05f-bdd5-cda8-3ed1-7a35b1a728b7","name":"Note: Compute Drift vs Snapshot"},{"parameters":{"content":"### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Airtable)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5826,520],"id":"df0b21d2-3f0d-78b5-8b97-c769b7b3059f","name":"Note: Summarize Run Stats"},{"parameters":{"content":"### Append Audit Row (Airtable)\n\nCreates a new record in Airtable's 'Jobs' table.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Airtable PAT","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6150,520],"id":"e7ebbf6c-e7bc-bcc5-afad-06e9e478db1d","name":"Note: Append Audit Row (Airtable)"},{"parameters":{"content":"### Send Summary to Slack\n\nPosts a message to Slack (`#automation`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6474,520],"id":"34a87a52-24ea-4099-d8d5-c4690b782050","name":"Note: Send Summary to Slack"},{"parameters":{"content":"### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Twilio","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5826,1540],"id":"a5271fc4-7f48-0f65-3412-8fa8d9510841","name":"Note: Capture Failure Context"},{"parameters":{"content":"### Escalate Failure to Twilio\n\nSends an SMS via Twilio — reserved for urgent alerts since SMS costs money per message, unlike chat notifications.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Twilio SID + token","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6150,1540],"id":"943767e9-91a5-3edc-0173-3f9ee21137b0","name":"Note: Escalate Failure to Twilio"},{"parameters":{"content":"### Park in Dead-Letter Queue\n\nCreates a new record in Airtable's 'Jobs' table.\n\n↻ retries 3×/2s · 🔑 Airtable PAT","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6474,1540],"id":"fa2317c0-9bb8-fc63-73be-6a1a7a4b5b9d","name":"Note: Park in Dead-Letter Queue"},{"parameters":{"content":"# Mirror contacts across systems with HubSpot and Airtable automatically\n\n**Pattern:** Two-System Sync · **Level:** Production · **Trigger:** Scheduled\n\n## What it does\nMirror contacts across systems with HubSpot and Airtable automatically. It runs automatically on a schedule.\n\n## Why it exists\nManual utilities is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nHourly Schedule → Map to Canonical Schema → Route by Event Kind → Handle 'created' → Airtable → Consolidate Handling → Stamp Completion Time → Persist Run Metadata → …\n\n## Use it for\n- Teams that want to two-system sync without manual effort\n- Anyone automating utilities in productivity\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Responds in seconds\n- Removes copy-paste errors\n- Has retries and error handling built in\n\n## Before first run\nConnect credentials: Airtable PAT; HubSpot private-app token; Slack OAuth2; Twilio SID + token.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.\n\n## Try it now\nSample data is pinned on the trigger — hit **Execute Workflow** to watch it flow through every node before connecting any real credentials. Unpin the trigger (right-click → Unpin) when you're ready to go live.","width":480,"height":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,80],"id":"72d44cea-4df9-ece3-ed3b-413f3d943a6b","name":"📘 Workflow Overview"},{"parameters":{"content":"## Design decisions\n\nThe optional HMAC check runs before any business logic touches the payload — bad signatures are rejected at the door rather than after work has already been done with untrusted data. Acking fast (HTTP 202) and doing the real work after the response is what stops the sender's webhook delivery from timing out and re-delivering the same event.","width":480,"height":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1020],"id":"0aa6406c-b59d-23da-3664-c0817ff919e0","name":"🎓 Design Decisions"},{"parameters":{"content":"## Practice exercises\n\nAlready production-grade — deepen your understanding:\n\n1. Turn on signature verification and trace what a tampered payload does at the 'Signature Valid?' gate.\n2. Add a new event kind to the switch and give it its own handler.\n3. Remove the fast-ack step and observe how response time changes under a slow downstream write.","width":480,"height":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1360],"id":"6a377e1e-0889-0128-0fd7-966eccfa074b","name":"🧪 Practice Exercises"},{"parameters":{"content":"## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.","width":360,"height":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-230,-290],"id":"ca95966e-04e5-c239-fbf8-6ab48df979b2","name":"🛟 Error handling & retries"},{"parameters":{"content":"## 🧹 Data quality\n\nDedupe/diff steps make re-runs safe: the same input twice will not create duplicate records. If you change the key fields, clear n8n's dedupe memory (node → 'Clear stored keys') before the next run.","width":360,"height":260,"color":1},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[190,-290],"id":"6d4fa95a-7129-41b0-4197-64f9dac822af","name":"🧹 Data quality"},{"parameters":{"content":"## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your utilities process. Every node card explains its role — safe to extend at any marked branch.","width":360,"height":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[610,-290],"id":"7daf275b-b3d7-0172-2863-9f41b5aca47f","name":"🛠 Customize me"}],"connections":{"Hourly Schedule":{"main":[[{"node":"Map to Canonical Schema","type":"main","index":0}]]},"Map to Canonical Schema":{"main":[[{"node":"Route by Event Kind","type":"main","index":0}]]},"Route by Event Kind":{"main":[[{"node":"Handle 'created' → Airtable","type":"main","index":0}],[{"node":"Handle 'updated' → HubSpot","type":"main","index":0}],[{"node":"Handle 'deleted' → HubSpot","type":"main","index":0}],[{"node":"Log Unrecognized Kind","type":"main","index":0}]]},"Handle 'created' → Airtable":{"main":[[{"node":"Consolidate Handling","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Handle 'updated' → HubSpot":{"main":[[{"node":"Consolidate Handling","type":"main","index":1}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Handle 'deleted' → HubSpot":{"main":[[{"node":"Consolidate Handling","type":"main","index":2}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Log Unrecognized Kind":{"main":[[{"node":"Consolidate Handling","type":"main","index":3}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Consolidate Handling":{"main":[[{"node":"Stamp Completion Time","type":"main","index":0}]]},"Stamp Completion Time":{"main":[[{"node":"Persist Run Metadata","type":"main","index":0}]]},"Persist Run Metadata":{"main":[[{"node":"Serialize Run Output (CSV)","type":"main","index":0}]]},"Serialize Run Output (CSV)":{"main":[[{"node":"Archive Row Snapshot","type":"main","index":0}]]},"Archive Row Snapshot":{"main":[[{"node":"Fingerprint for Idempotency","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Fingerprint for Idempotency":{"main":[[{"node":"Drop Already-Processed Items","type":"main","index":0}]]},"Drop Already-Processed Items":{"main":[[{"node":"Load Previous Snapshot","type":"main","index":0}]]},"Load Previous Snapshot":{"main":[[{"node":"Compute Drift vs Snapshot","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Compute Drift vs Snapshot":{"main":[[{"node":"Summarize Run Stats","type":"main","index":0}]]},"Summarize Run Stats":{"main":[[{"node":"Append Audit Row (Airtable)","type":"main","index":0}]]},"Append Audit Row (Airtable)":{"main":[[{"node":"Send Summary to Slack","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Capture Failure Context":{"main":[[{"node":"Escalate Failure to Twilio","type":"main","index":0}]]},"Escalate Failure to Twilio":{"main":[[{"node":"Park in Dead-Letter Queue","type":"main","index":0}]]},"Send Summary to Slack":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveManualExecutions":true,"executionTimeout":3600},"meta":{"templateCredsSetupCompleted":false},"tags":[],"pinData":{"Hourly Schedule":[{"json":{"jobId":"JOB-4401","type":"export","payload":"customer-list-2026-07","status":"queued"}},{"json":{"jobId":"JOB-4402","type":"sync","payload":"inventory-delta","status":"running"}}]},"versionId":"8cc59746-6cea-4f80-918d-8cf2d477d855","id":"FDX06346"}