product-files/workflows/AI Agents/Task Automation/Intermediate/00030_Clean company profiles with HubSpot and HTTP REST API without manual work.json
{
  "name": "Clean company profiles with HubSpot and HTTP / REST API without manual work",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 6,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        400
      ],
      "id": "45a5559f-11c2-4698-92c6-d401d8e8160e",
      "name": "Daily Schedule"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM requests WHERE updated_at > NOW() - INTERVAL '1 day' ORDER BY updated_at DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        40,
        400
      ],
      "id": "87a45a5b-91c7-4f36-af6d-9f945bc2e37a",
      "name": "Read Pending Queue (PostgreSQL)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "13cf7577-8a58-403f-9ac1-d27bb3268441",
              "leftValue": "={{ $json.requestId || $json.query }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        280,
        400
      ],
      "id": "51e3816a-9e62-4961-ae20-be3c070497a7",
      "name": "Keep Valid Requests"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        520,
        400
      ],
      "id": "b68150f6-8528-4b15-b3a2-8140c0911e5b",
      "name": "Work in Batches"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/v1/requests",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        560
      ],
      "id": "3dfd23b0-d3c7-4bc9-8525-8606f1513cee",
      "name": "Process Batch Item",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1240,
        560
      ],
      "id": "68abe1e0-b333-4c65-b254-bc0531659b54",
      "name": "Respect Rate Limits"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1480,
        400
      ],
      "id": "1d34d79f-8a87-4463-96d3-00ceb77111b9",
      "name": "Aggregate Batch Results"
    },
    {
      "parameters": {
        "resource": "contact",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "companyName": "={{ $json.company }}"
        },
        "authentication": "appToken"
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        1720,
        400
      ],
      "id": "404cd88b-b7fa-4176-bf02-5ceab3542335",
      "name": "Mark Completed in HubSpot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getCurrentDate",
        "outputFieldName": "completedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1960,
        400
      ],
      "id": "a44b14c2-962a-40d0-8458-f589671a1e45",
      "name": "Stamp Completion Time"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "runId",
              "value": "={{ $execution.id }}"
            },
            {
              "key": "itemCount",
              "value": "={{ $items().length }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        2200,
        400
      ],
      "id": "855876f4-429d-479c-9921-4ac7c591c30a",
      "name": "Persist Run Metadata"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2440,
        400
      ],
      "id": "59eeb03c-774b-48dd-bf34-0eb43d1c60c7",
      "name": "Load Previous Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Compare current metrics with the previous snapshot\nconst current = $input.first().json;\nconst prev = $('Load Previous Snapshot').first().json || {};\nconst drift = {};\nfor (const k of Object.keys(current)) {\n  if (typeof current[k] === 'number' && typeof prev[k] === 'number' && prev[k] !== 0) {\n    drift[k] = Math.round(((current[k] - prev[k]) / prev[k]) * 1000) / 10;\n  }\n}\nreturn [{ json: { ...current, driftPct: drift, hasDrift: Object.values(drift).some(v => Math.abs(v) > 10) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2680,
        400
      ],
      "id": "395f951b-0143-4847-926a-7d76d7abba57",
      "name": "Compute Drift vs Snapshot"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://enrichment.example.com/v2/lookup",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2920,
        400
      ],
      "id": "c3a388ef-d121-4a64-8c1f-609cc9d75077",
      "name": "Enrich with Reference Data",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "330be775-a53a-4bb0-be92-01f6d3a9e1dd",
              "name": "enrichedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "c6055793-d43d-45db-bd51-6b7c7ead5417",
              "name": "enrichmentSource",
              "value": "reference-api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3160,
        400
      ],
      "id": "f9d21cdb-e6fb-4846-9471-e4f3aa620850",
      "name": "Fold In Enrichment Fields"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build a stable idempotency key per request (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.requestId, j.query].join('|')) } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3400,
        400
      ],
      "id": "3919cbd4-2636-4ce3-ba2b-e2dde0e38fe6",
      "name": "Fingerprint for Idempotency"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "logic": "removeItemsWithAlreadySeenKeyValues",
        "dedupeValue": "={{ $json.idempotencyKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        3640,
        400
      ],
      "id": "73c4fd97-0167-41f0-b0f8-723766d70c41",
      "name": "Drop Already-Processed Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45cca4b7-4ffc-4629-91ac-860781eb7804",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "77cf9208-4db9-4534-889b-d6494bfa7f3a",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "ab7e884b-da28-4324-828e-2cfd5832696a",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3880,
        400
      ],
      "id": "3fa1a5b8-806f-4c10-a56e-23617eda7f36",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4120,
        400
      ],
      "id": "7d69e500-1512-43e3-b3e2-7ae04d3d0680",
      "name": "Append Audit Row (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#ai-ops",
          "cachedResultName": "#ai-ops"
        },
        "text": "=✅ Clean company profiles with HubSpot and HTTP / REST API without manual — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        4360,
        400
      ],
      "id": "f0751798-38a6-4d9b-a0b0-0fb1aa8b5d05",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b3c7c6a-d53c-4250-8bf7-ec47c1c80ca6",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "9c4ae4dd-9deb-4bf8-af5d-c9fa20cc4104",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "8a58a3cc-f8d4-4c21-b4f3-70f5c94b09c8",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3880,
        740
      ],
      "id": "12ab1af9-3f9d-4319-ad1d-a8527f24e946",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#ai-ops",
          "cachedResultName": "#ai-ops"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        4120,
        740
      ],
      "id": "b328aada-bed1-46d4-9b17-d5dc4b87b661",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "contact",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "companyName": "={{ $json.company }}"
        },
        "authentication": "appToken"
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        4360,
        740
      ],
      "id": "20d07af2-faf7-4f8c-bfd4-454762dea226",
      "name": "Park in Dead-Letter Queue",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Clean company profiles with HubSpot and HTTP / REST API without manual work\n\n**Pattern:** Data Enrichment  \n**Trigger:** Scheduled  \n**Level:** Production\n\nProcesses requests for task automation — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        140
      ],
      "id": "9421538e-5fe7-4134-a7f3-03348850e583",
      "name": "Overview"
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Read Pending Queue (PostgreSQL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Pending Queue (PostgreSQL)": {
      "main": [
        [
          {
            "node": "Keep Valid Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Valid Requests": {
      "main": [
        [
          {
            "node": "Work in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Work in Batches": {
      "main": [
        [
          {
            "node": "Aggregate Batch Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Batch Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Batch Item": {
      "main": [
        [
          {
            "node": "Respect Rate Limits",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respect Rate Limits": {
      "main": [
        [
          {
            "node": "Work in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Batch Results": {
      "main": [
        [
          {
            "node": "Mark Completed in HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Completed in HubSpot": {
      "main": [
        [
          {
            "node": "Stamp Completion Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Completion Time": {
      "main": [
        [
          {
            "node": "Persist Run Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Run Metadata": {
      "main": [
        [
          {
            "node": "Load Previous Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Previous Snapshot": {
      "main": [
        [
          {
            "node": "Compute Drift vs Snapshot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Drift vs Snapshot": {
      "main": [
        [
          {
            "node": "Enrich with Reference Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with Reference Data": {
      "main": [
        [
          {
            "node": "Fold In Enrichment Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fold In Enrichment Fields": {
      "main": [
        [
          {
            "node": "Fingerprint for Idempotency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fingerprint for Idempotency": {
      "main": [
        [
          {
            "node": "Drop Already-Processed Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drop Already-Processed Items": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (Google Sheets)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Failure to Slack": {
      "main": [
        [
          {
            "node": "Park in Dead-Letter Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "e0ef9023-d37e-419d-ac1e-9c873c08f3bc",
  "id": "FDX00030"
}