product-files/workflows/AI Agents/Task Automation/Intermediate/01052_Distill documents with MySQL and Discord.json
{
  "name": "Distill documents with MySQL and Discord",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "421ea0f1",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "d4f8a133-81ec-4a3d-a4cd-5cf6d3781ede",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        300
      ],
      "webhookId": "82908bcc-f1d9-46a6-9497-adaf6d0d2116"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6efe8d5f-3167-4380-9840-5b63b3f41c19",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "a4679aed-e713-40a7-90ef-d318991c7f82",
              "name": "isValid",
              "value": "={{ $json ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "08e25eec-d760-4be4-a45e-b3551cedc69c",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        300
      ],
      "notes": "Validate & normalize the input before downstream steps (§9.1)."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c78da5de-9e92-4fb1-a807-b7aad5c30fd2",
      "name": "Summarize with AI",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        800,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "model": "llama-3.1-70b-versatile",
        "options": {}
      },
      "id": "c053bc9f-bea2-42fe-978a-2386e5f2dc0a",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        740,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c226d10c-8444-4391-aec1-7e0107bba34a",
              "name": "count",
              "value": "={{ $json.items ? $json.items.length : 1 }}",
              "type": "number"
            },
            {
              "id": "1ad4b5bd-dbb4-42ed-aace-2cbf9264cce1",
              "name": "status",
              "value": "='processed'",
              "type": "string"
            },
            {
              "id": "b4fad4db-42a1-418d-b029-9db27b2b5aa3",
              "name": "source",
              "value": "='flowdex-workflow'",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "54ed0162-6e8d-4411-8d71-6cb5d9ca06c4",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "value": "records",
          "mode": "name"
        },
        "options": {}
      },
      "id": "530f965b-3e0c-4497-b0b9-167d47252e44",
      "name": "Save to MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1280,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "content": "={{ $json.summary || 'Update' }}"
      },
      "id": "1e278f4c-446f-42cc-8183-8a339a260a32",
      "name": "Send Discord Message",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Distill documents with MySQL and Discord\n\n**Pattern:** AI Summarize & Route\n**Trigger:** Webhook\n**Integrations:** MySQL, Discord\n\nImport, add your credentials, then adjust parameters. Original FlowDex template.",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "a447143d-5425-40fb-b22d-b4b45b2d1b38",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1560,
        80
      ]
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Summarize with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with AI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Save to MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to MySQL": {
      "main": [
        [
          {
            "node": "Send Discord Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "33219319-0a7a-41c3-add1-e4fc1fe9705b",
  "id": "FDX01052"
}