product-files/workflows/Workflow Automation/Utilities/Advanced/06017_Orchestrate a routine task with HTTP REST API and MySQL.json
{
  "name": "Orchestrate a routine task with HTTP / REST API and MySQL",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        400
      ],
      "id": "8037d86f-95bf-417b-9165-11c60e36a229",
      "name": "Hourly Schedule"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "jobs",
          "cachedResultName": "jobs"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        40,
        400
      ],
      "id": "5298ad7c-deca-48fc-b2b2-dbae93e511a7",
      "name": "Load Previous Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/v1/jobs",
        "options": {
          "timeout": 20000
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "updated_since",
              "value": "={{ $now.minus({hours: 6}).toISO() }}"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        400
      ],
      "id": "81762ab3-1bfd-4aa1-b1ba-82a1b052877e",
      "name": "Fetch Changes Since Watermark",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Normalize incoming job records to a stable schema\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  out.push({ json: {\n    jobId: String(j.jobId ?? j.id ?? '').trim(),\n    type: typeof j.type === 'string' ? j.type.trim() : j.type ?? null,\n    source: j.source ?? 'api',\n    receivedAt: new Date().toISOString(),\n  } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        400
      ],
      "id": "cad915a0-6d38-4348-a27a-12f7297d733f",
      "name": "Normalize Records"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build a stable idempotency key per job (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.jobId, j.type].join('|')) } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        400
      ],
      "id": "43536a40-0d66-4434-ae60-62ffa71cd744",
      "name": "Fingerprint for Idempotency"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "logic": "removeItemsWithAlreadySeenKeyValues",
        "dedupeValue": "={{ $json.idempotencyKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1000,
        400
      ],
      "id": "1cb27658-7b5b-42af-b98d-19831922f757",
      "name": "Drop Already-Processed Items"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Job Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "jobId"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1240,
        400
      ],
      "id": "6303a90d-57dd-4e31-b390-98213cb861bd",
      "name": "Upsert into Google Sheets",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Advance the incremental watermark to the newest record seen\nconst items = $input.all().map(i => i.json);\nconst newest = items.reduce((m, j) => {\n  const ts = new Date(j.updatedAt || j.receivedAt || 0).getTime();\n  return ts > m ? ts : m;\n}, 0);\nreturn [{ json: { watermark: new Date(newest || Date.now()).toISOString(), processed: items.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        400
      ],
      "id": "4115d143-50be-40dc-adb5-8aaab596974a",
      "name": "Advance Watermark"
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "jobs",
          "cachedResultName": "jobs"
        },
        "dataMode": "autoMapInputData",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1720,
        400
      ],
      "id": "04aa442b-1fc3-4b23-a9fa-5bf6e1bfc773",
      "name": "Persist Watermark (MySQL)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6599f0bc-2480-4af9-9d86-d12789c69253",
              "leftValue": "={{ $json.processed >= 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1960,
        400
      ],
      "id": "791543b2-18b9-47ff-9b31-8ef7a0ec651d",
      "name": "Row Counts Match?"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#automation",
          "cachedResultName": "#automation"
        },
        "text": "=⚠️ ETL drift detected: {{ $json.processed }} rows vs expected",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2200,
        550
      ],
      "id": "16d9632d-b92e-49a8-9562-328fe25116e0",
      "name": "Raise Drift Alarm",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "csv",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2440,
        400
      ],
      "id": "f1949572-399b-4931-9091-c87682d6526e",
      "name": "Serialize Run Output (CSV)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Job Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2680,
        400
      ],
      "id": "b52ae03a-0438-4a1d-8ebf-821e936596ff",
      "name": "Archive Row Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getCurrentDate",
        "outputFieldName": "completedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2920,
        400
      ],
      "id": "6e6eb4a0-1ee6-41c8-ab18-ef41174ebeac",
      "name": "Stamp Completion Time"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "runId",
              "value": "={{ $execution.id }}"
            },
            {
              "key": "itemCount",
              "value": "={{ $items().length }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        3160,
        400
      ],
      "id": "d7ed1d14-3cd5-4b06-822a-18b18b9a4357",
      "name": "Persist Run Metadata"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://enrichment.example.com/v2/lookup",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.type }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3400,
        400
      ],
      "id": "192028ed-02c2-4469-9dd7-48f37b9c9940",
      "name": "Enrich with Reference Data",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c5749fb-36be-4a2d-8bc7-c6b4c7dcf622",
              "name": "enrichedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "46efc460-093d-420e-916d-be731ffb95cc",
              "name": "enrichmentSource",
              "value": "reference-api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3640,
        400
      ],
      "id": "d843dad4-b85c-4e52-8923-0f9ca7074780",
      "name": "Fold In Enrichment Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0ee49e9-49ec-4474-af58-1351b0c61b04",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "b440500e-90d4-4478-82e9-519137764174",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "7025145c-a8f8-48b6-987e-c3b99224d974",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3880,
        400
      ],
      "id": "db8028a4-04ad-457f-8612-7da2a7cba9ba",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "jobs",
          "cachedResultName": "jobs"
        },
        "dataMode": "autoMapInputData",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        4120,
        400
      ],
      "id": "bebe9159-1d0b-43a8-b44b-4dfcfdd11018",
      "name": "Append Audit Row (MySQL)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#automation",
          "cachedResultName": "#automation"
        },
        "text": "=✅ Orchestrate a routine task with HTTP / REST API and MySQL — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        4360,
        400
      ],
      "id": "82c36cef-bdac-4403-a8b5-105d78f693b3",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e589680-4dd7-431e-87fc-0b5711d1fe0e",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "3b6c833d-1a72-4825-9d77-7b262cbd6671",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "9d409c6c-cd59-4772-bc0d-34ee0c048373",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3880,
        740
      ],
      "id": "f415f341-c455-49eb-9369-0e9c124435f0",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#automation",
          "cachedResultName": "#automation"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        4120,
        740
      ],
      "id": "ce1040e3-8454-4827-ada3-5e52a7c7f9e8",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Job Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4360,
        740
      ],
      "id": "98936dee-ed4c-4330-9bc4-7a9ed2a83d99",
      "name": "Park in Dead-Letter Queue",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Orchestrate a routine task with HTTP / REST API and MySQL\n\n**Pattern:** Workflow Automation  \n**Trigger:** Scheduled  \n**Level:** Production\n\nProcesses jobs for utilities — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        140
      ],
      "id": "93d4c9c0-a9a5-4507-ac26-b080b1675726",
      "name": "Overview"
    }
  ],
  "connections": {
    "Hourly Schedule": {
      "main": [
        [
          {
            "node": "Load Previous Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Previous Snapshot": {
      "main": [
        [
          {
            "node": "Fetch Changes Since Watermark",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Changes Since Watermark": {
      "main": [
        [
          {
            "node": "Normalize Records",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Records": {
      "main": [
        [
          {
            "node": "Fingerprint for Idempotency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fingerprint for Idempotency": {
      "main": [
        [
          {
            "node": "Drop Already-Processed Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drop Already-Processed Items": {
      "main": [
        [
          {
            "node": "Upsert into Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert into Google Sheets": {
      "main": [
        [
          {
            "node": "Advance Watermark",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advance Watermark": {
      "main": [
        [
          {
            "node": "Persist Watermark (MySQL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Watermark (MySQL)": {
      "main": [
        [
          {
            "node": "Row Counts Match?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row Counts Match?": {
      "main": [
        [
          {
            "node": "Serialize Run Output (CSV)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Raise Drift Alarm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serialize Run Output (CSV)": {
      "main": [
        [
          {
            "node": "Archive Row Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Row Snapshot": {
      "main": [
        [
          {
            "node": "Stamp Completion Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Completion Time": {
      "main": [
        [
          {
            "node": "Persist Run Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Run Metadata": {
      "main": [
        [
          {
            "node": "Enrich with Reference Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with Reference Data": {
      "main": [
        [
          {
            "node": "Fold In Enrichment Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fold In Enrichment Fields": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (MySQL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (MySQL)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Failure to Slack": {
      "main": [
        [
          {
            "node": "Park in Dead-Letter Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raise Drift Alarm": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "d8180a35-ec54-438a-9fdd-e32f5ed5ad23",
  "id": "FDX06017"
}