product-files/workflows/E-commerce Automation/Cart Recovery/Intermediate/09165_Notify stakeholders on changes with Telegram hands-free.json
{"name":"Notify stakeholders on changes with Telegram hands-free","nodes":[{"parameters":{"httpMethod":"POST","path":"wf09165-order","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-270,400],"id":"10d095d3-796d-4ae7-bf93-9e06545cafbb","name":"Receive Inbound Webhook","webhookId":"f4343397-da06-4ab6-a933-f084d7b0d0f5"},{"parameters":{"action":"hmac","type":"SHA256","value":"={{ JSON.stringify($json.body) }}","secret":"={{ $json.headers['x-signature-secret'] || 'set-in-credentials' }}","dataPropertyName":"computedSignature"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[54,400],"id":"4b37a770-8ab9-419b-aca9-6735ffb0fbad","name":"Compute HMAC Signature"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b51e7dec-7a2c-46ad-accf-bbb4d376ecdc","leftValue":"={{ $json.computedSignature === $json.headers['x-signature'] }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[378,400],"id":"43a23bd9-e0e6-4f6e-9c14-867be0d92be9","name":"Signature Valid?"},{"parameters":{"respondWith":"json","responseBody":"={{ { \"error\": \"invalid signature\" } }}","options":{"responseCode":401}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[702,880],"id":"3f7c302d-8f1c-476e-8400-45124d9145d1","name":"Reject (HTTP 401)"},{"parameters":{"assignments":{"assignments":[{"id":"f76c1a7d-8819-42ea-bd66-4906217ec0cc","name":"orderId","value":"={{ $json.body?.orderId || $json.body?.id }}","type":"string"},{"id":"45dd164d-47f7-4398-86b6-966ee7010f0c","name":"kind","value":"={{ $json.body?.type || 'default' }}","type":"string"},{"id":"1ec7dfd7-420d-4623-bf77-b3af79ea1a81","name":"payload","value":"={{ JSON.stringify($json.body || $json) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1026,400],"id":"169b32e7-1a5c-48b7-a5de-eec5ea80e874","name":"Map to Canonical Schema"},{"parameters":{"respondWith":"json","responseBody":"={{ { \"accepted\": true, \"id\": $json.orderId } }}","options":{"responseCode":202}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1350,400],"id":"42e52b82-5157-4ee7-aa22-1e4dcaeeef7c","name":"Acknowledge Fast (HTTP 202)"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"344972e1-80a9-4c93-9494-0a9022699346","leftValue":"={{ $json.kind }}","rightValue":"created","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"created"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0cdec0e-907b-47b9-b89d-85ee73f31036","leftValue":"={{ $json.kind }}","rightValue":"updated","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"updated"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1674,400],"id":"862981f0-f1ae-4456-8963-35aa14c17379","name":"Route by Event Kind"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Order Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["orderId"],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1998,130],"id":"21caf478-cdb1-4600-885f-5f0fe075be31","name":"Handle 'created' → Google Sheets","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.example.com/v1/orders","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2322,640],"id":"c211f2f2-d071-4c42-abb8-0319304c56d0","name":"Handle 'updated' → Forward API","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Order Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2646,1150],"id":"18d7c730-f277-4e25-8ce0-55118403067c","name":"Log Unrecognized Kind","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"mode":"append","numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3294,400],"id":"0b7bc9cd-e916-477b-9f57-f9652a162f9c","name":"Consolidate Handling"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Order Database"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[4266,400],"id":"01ff231e-6b76-4728-90e4-8c584299ec83","name":"Load Previous Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Compare current metrics with the previous snapshot\nconst current = $input.first().json;\nconst prev = $('Load Previous Snapshot').first().json || {};\nconst drift = {};\nfor (const k of Object.keys(current)) {\n  if (typeof current[k] === 'number' && typeof prev[k] === 'number' && prev[k] !== 0) {\n    drift[k] = Math.round(((current[k] - prev[k]) / prev[k]) * 1000) / 10;\n  }\n}\nreturn [{ json: { ...current, driftPct: drift, hasDrift: Object.values(drift).some(v => Math.abs(v) > 10) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4590,400],"id":"739a9e8b-5846-4027-8365-ae08bb72cf50","name":"Compute Drift vs Snapshot"},{"parameters":{"method":"GET","url":"https://enrichment.example.com/v2/lookup","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.email }}"}]},"options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4914,400],"id":"b9488e63-bc6b-481b-b07f-9f10bcbb266f","name":"Enrich with Reference Data","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"8d1a800a-6c31-4795-9c5e-a1596708e1a5","name":"enrichedAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"e9bafab9-f09e-4075-ba72-3d8fb5f9b33a","name":"enrichmentSource","value":"reference-api","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5238,400],"id":"cb40a236-55a2-4c96-adb7-7c69d803b169","name":"Fold In Enrichment Fields"},{"parameters":{"operation":"getCurrentDate","outputFieldName":"completedAt","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[5562,400],"id":"a28b2e54-0971-4a5f-9589-12487de5ed4c","name":"Stamp Completion Time"},{"parameters":{"dataToSave":{"values":[{"key":"runId","value":"={{ $execution.id }}"},{"key":"itemCount","value":"={{ $items().length }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[5886,400],"id":"1fc846da-2834-4128-af5f-ec3ad9029041","name":"Persist Run Metadata"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Build a stable idempotency key per order (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.orderId, j.email].join('|')) } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6210,400],"id":"3c454d61-2218-47f3-beac-ec3de1579b02","name":"Fingerprint for Idempotency"},{"parameters":{"operation":"removeItemsSeenInPreviousExecutions","logic":"removeItemsWithAlreadySeenKeyValues","dedupeValue":"={{ $json.idempotencyKey }}","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[6534,400],"id":"59b47b07-0323-4a1a-8d12-7905e5f67220","name":"Drop Already-Processed Items"},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"","cachedResultName":"lib: Post-Process Orders"},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[6858,400],"id":"b9eb656e-481f-4efb-b809-b384dfddaf99","name":"Offload to Post-Process Sub-workflow","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"dataToSave":{"values":[{"key":"subflowStatus","value":"={{ $json.status || 'done' }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[7182,400],"id":"1745e402-4ddc-4107-b11c-61e00457e2d4","name":"Record Sub-workflow Result"},{"parameters":{"operation":"csv","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[7506,400],"id":"fa01e0af-6d80-4932-b0f6-19fe2bd6fbe3","name":"Serialize Run Output (CSV)"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Order Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[7830,400],"id":"dbaa2d37-d25e-487b-b5bb-398717581c80","name":"Archive Row Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"keys":{"key":[{"currentKey":"id","newKey":"orderId"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[8154,400],"id":"d742115c-553b-4280-a709-dd31d56950e8","name":"Align Field Names"},{"parameters":{"dataToSave":{"values":[{"key":"orderId","value":"={{ $json.orderId }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[8478,400],"id":"11815ab5-994f-4d8b-bb14-f01821a57959","name":"Save Execution Metadata"},{"parameters":{"assignments":{"assignments":[{"id":"cd5b2ab1-61f1-4ff7-960d-6cb4eef300c8","name":"runAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"1d21a4f9-237d-45de-86c3-5d88250e6fff","name":"itemCount","value":"={{ $input.all().length }}","type":"number"},{"id":"cd0ee342-cfe6-4226-b029-8f3c9b2380a3","name":"status","value":"completed","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[8802,400],"id":"4a758d64-2267-4a92-a75b-4488767c8149","name":"Summarize Run Stats"},{"parameters":{"resource":"databasePage","operation":"create","databaseId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Order Database"},"title":"={{ $json.email || $json.orderId }}","options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[9126,400],"id":"13126518-835b-482e-878e-fea91e34bc71","name":"Append Audit Row (Notion)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#orders","cachedResultName":"#orders"},"text":"=✅ Notify stakeholders on changes with Telegram hands-free — run completed at {{ $now.toFormat('HH:mm') }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[9450,400],"id":"05abdf6f-138f-40fd-a08f-d8f160c428a5","name":"Send Summary to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"805677a6-fe8a-486e-b17a-d4c8f41d9480","name":"failedNode","value":"={{ $json.error?.node?.name || 'unknown' }}","type":"string"},{"id":"9d096372-7c68-4cd8-8509-5c062822a4e0","name":"errorMessage","value":"={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}","type":"string"},{"id":"5ab6a3a9-5249-4c23-b14d-d4905d75cad9","name":"workflow","value":"={{ $workflow.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[8802,1420],"id":"8ee4201b-ceae-4001-89ef-06d418476c3d","name":"Capture Failure Context"},{"parameters":{"chatId":"={{ $json.chatId || 'OPS_CHAT_ID' }}","text":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[9126,1420],"id":"e9bfdb96-0f92-4658-8622-964415ac3d68","name":"Escalate Failure to Telegram","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"resource":"databasePage","operation":"create","databaseId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Order Database"},"title":"={{ $json.email || $json.orderId }}","options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[9450,1420],"id":"0dfe6c4f-7622-4486-9504-8de33def90aa","name":"Park in Dead-Letter Queue","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"content":"### Receive Inbound Webhook\n\nEntry point: listens for POST calls on `/wf09165-order`. Use the TEST url while building, switch callers to the PRODUCTION url after publishing.\n\nNext: Compute HMAC Signature","width":280,"height":232,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-330,520],"id":"6c18f106-829f-0b87-a970-6df7b719da5c","name":"Note: Receive Inbound Webhook"},{"parameters":{"content":"### Compute HMAC Signature\n\nComputes the HMAC-SHA256 of the raw payload to verify the sender's signature before trusting the data.\n\nNext: Signature Valid?","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6,520],"id":"b21bda05-3077-d7a9-4996-50c9e4be07e9","name":"Note: Compute HMAC Signature"},{"parameters":{"content":"### Signature Valid?\n\nTwo-way gate on `={{ $json.computedSignature === $json.headers['x-signature']`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Map to Canonical Schema · ②→ Reject (HTTP 401)","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[318,520],"id":"bf7a3551-2f2e-40e4-1e02-75f136d52aa5","name":"Note: Signature Valid?"},{"parameters":{"content":"### Reject (HTTP 401)\n\nSends the HTTP 401 response back to the caller — keep this fast; heavy work happens after/async.","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[642,1000],"id":"1c5131ed-85b5-dfd0-b6bd-1203d11c0854","name":"Note: Reject (HTTP 401)"},{"parameters":{"content":"### Map to Canonical Schema\n\nShapes the item: writes `orderId`, `kind`, `payload`. Keeps the schema explicit between stages.\n\nNext: Acknowledge Fast (HTTP 202)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[966,520],"id":"cdddd91a-1eca-0957-85ae-6812b2b798e2","name":"Note: Map to Canonical Schema"},{"parameters":{"content":"### Acknowledge Fast (HTTP 202)\n\nSends the HTTP 202 response back to the caller — keep this fast; heavy work happens after/async.\n\nNext: Route by Event Kind","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1290,520],"id":"3018a711-0d6e-808c-f141-e3040cad3e0c","name":"Note: Acknowledge Fast (HTTP 202)"},{"parameters":{"content":"### Route by Event Kind\n\nRoutes each item to one of 3 lanes: created, updated + fallback.\n\nPorts: ①→ Handle 'created' → Google Sheets · ②→ Handle 'updated' → Forward API · ③→ Log Unrecognized Kind","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1614,520],"id":"577e5dc8-9017-692c-2465-0c7768725ed0","name":"Note: Route by Event Kind"},{"parameters":{"content":"### Handle 'created' → Google Sheets\n\nUpserts a row into 'Order Tracker', matched on `orderId` — re-running with the same key updates the row instead of duplicating it.\n\nPorts: ①→ Consolidate Handling · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1938,250],"id":"6f04a272-c9ab-e464-256b-857fa0798466","name":"Note: Handle 'created' → Google Sheets"},{"parameters":{"content":"### Handle 'updated' → Forward API\n\nPOST https://api.example.com/v1/orders — retries 3× with backoff on failure.\n\nPorts: ①→ Consolidate Handling · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2262,760],"id":"6fafb635-48af-d78b-d3ef-bdba4c5b8658","name":"Note: Handle 'updated' → Forward API"},{"parameters":{"content":"### Log Unrecognized Kind\n\nAppends a new row to 'Order Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\nPorts: ①→ Consolidate Handling · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2586,1270],"id":"f26c177b-c22c-0892-75cb-2a6a5cc32a28","name":"Note: Log Unrecognized Kind"},{"parameters":{"content":"### Consolidate Handling\n\nRejoins 3 branches into one stream (mode: append) so downstream logic runs once.\n\nNext: Load Previous Snapshot","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3234,520],"id":"f34ab20c-7b61-d303-f25c-c2c263e8013f","name":"Note: Consolidate Handling"},{"parameters":{"content":"### Load Previous Snapshot\n\nPulls every page from the Notion database — fine for small datasets; add a filter if the database grows large.\n\nPorts: ①→ Compute Drift vs Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Notion integration token","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4206,520],"id":"4071326f-8a20-9be4-dc6d-430adfae52e2","name":"Note: Load Previous Snapshot"},{"parameters":{"content":"### Compute Drift vs Snapshot\n\nCustom JavaScript: Compare current metrics with the previous snapshot\n\nNext: Enrich with Reference Data","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4530,520],"id":"9b5c09f7-2d9b-8654-b8ed-e0af38f6b2ab","name":"Note: Compute Drift vs Snapshot"},{"parameters":{"content":"### Enrich with Reference Data\n\nGET https://enrichment.example.com/v2/lookup — retries 3× with backoff on failure.\n\nPorts: ①→ Fold In Enrichment Fields · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4854,520],"id":"f6fe4e7a-1247-2cf8-9023-e116d6c89f69","name":"Note: Enrich with Reference Data"},{"parameters":{"content":"### Fold In Enrichment Fields\n\nShapes the item: writes `enrichedAt`, `enrichmentSource`. Keeps the schema explicit between stages.\n\nNext: Stamp Completion Time","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5178,520],"id":"166b8a56-7c9a-5a74-fca0-838924a9cbdb","name":"Note: Fold In Enrichment Fields"},{"parameters":{"content":"### Stamp Completion Time\n\nStamps `completedAt` with the current time for auditing.\n\nNext: Persist Run Metadata","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5502,520],"id":"74388318-628b-f6bb-f9df-2b1c641e45d5","name":"Note: Stamp Completion Time"},{"parameters":{"content":"### Persist Run Metadata\n\nSaves key fields onto the execution record — searchable later in n8n's execution list.\n\nNext: Fingerprint for Idempotency","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5826,520],"id":"a25e750a-21cb-a0b8-a95a-96e6b3acf49e","name":"Note: Persist Run Metadata"},{"parameters":{"content":"### Fingerprint for Idempotency\n\nCustom JavaScript: Build a stable idempotency key per order (djb2 hash, no deps)\n\nNext: Drop Already-Processed Items","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6150,520],"id":"e9dd67fd-8a41-dd82-82a7-4009f0d7f888","name":"Note: Fingerprint for Idempotency"},{"parameters":{"content":"### Drop Already-Processed Items\n\nCross-execution dedupe: remembers keys it has processed before and drops repeats — the idempotency guard.\n\nNext: Offload to Post-Process Sub-workflow","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6474,520],"id":"98f05ae8-d278-9338-4d88-b987bb90abf7","name":"Note: Drop Already-Processed Items"},{"parameters":{"content":"### Offload to Post-Process Sub-workflow\n\nDelegates to a reusable sub-workflow (single-responsibility building block) and waits for its result.\n\nPorts: ①→ Record Sub-workflow Result · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6798,520],"id":"155c5a46-0577-b1e8-244c-1039613eb1cf","name":"Note: Offload to Post-Process Sub-workflow"},{"parameters":{"content":"### Record Sub-workflow Result\n\nSaves key fields onto the execution record — searchable later in n8n's execution list.\n\nNext: Serialize Run Output (CSV)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7122,520],"id":"b019c3b1-7323-3e45-503f-c00713ab240c","name":"Note: Record Sub-workflow Result"},{"parameters":{"content":"### Serialize Run Output (CSV)\n\nSerializes items to a CSV binary file.\n\nNext: Archive Row Snapshot","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7446,520],"id":"1f6d4fac-98b1-248c-a4f0-8a3c75c18f44","name":"Note: Serialize Run Output (CSV)"},{"parameters":{"content":"### Archive Row Snapshot\n\nAppends a new row to 'Order Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\nPorts: ①→ Align Field Names · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7770,520],"id":"172e5b40-0c30-7682-73b1-bd1102c16907","name":"Note: Archive Row Snapshot"},{"parameters":{"content":"### Align Field Names\n\nNormalizes field names so every source feeds the same downstream schema.\n\nNext: Save Execution Metadata","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8094,520],"id":"7e3b1142-7fa7-f67e-e631-837935b5aa63","name":"Note: Align Field Names"},{"parameters":{"content":"### Save Execution Metadata\n\nSaves key fields onto the execution record — searchable later in n8n's execution list.\n\nNext: Summarize Run Stats","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8418,520],"id":"a4499521-fac7-b2e9-5402-66951abc3bca","name":"Note: Save Execution Metadata"},{"parameters":{"content":"### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Notion)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8742,520],"id":"f0de0e61-9215-0ff6-3d74-0ac6cc5c1ffb","name":"Note: Summarize Run Stats"},{"parameters":{"content":"### Append Audit Row (Notion)\n\nCreates a new page in the Notion database — the title is pulled straight from the item's key field.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Notion integration token","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[9066,520],"id":"798a85cc-f1f2-9351-f1ff-b580645791a1","name":"Note: Append Audit Row (Notion)"},{"parameters":{"content":"### Send Summary to Slack\n\nPosts a message to Slack (`#orders`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[9390,520],"id":"d735ea77-99f4-e0e2-af29-a9708019a0b8","name":"Note: Send Summary to Slack"},{"parameters":{"content":"### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Telegram","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8742,1540],"id":"c2acc5d4-5745-f190-2cab-f31b4e444b90","name":"Note: Capture Failure Context"},{"parameters":{"content":"### Escalate Failure to Telegram\n\nSends a Telegram message to the configured chat — the same bot can also receive replies, so this doubles as a two-way ops channel.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Telegram bot token","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[9066,1540],"id":"0311f21c-e15f-f498-12ff-f7d3e8fd7e25","name":"Note: Escalate Failure to Telegram"},{"parameters":{"content":"### Park in Dead-Letter Queue\n\nCreates a new page in the Notion database — the title is pulled straight from the item's key field.\n\n↻ retries 3×/2s · 🔑 Notion integration token","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[9390,1540],"id":"28d30e4f-bbb7-072c-72c9-01464ca5c025","name":"Note: Park in Dead-Letter Queue"},{"parameters":{"content":"# Notify stakeholders on changes with Telegram hands-free\n\n**Pattern:** Event Notification · **Level:** Architect · **Trigger:** Webhook\n\n## What it does\nNotify stakeholders on changes with Telegram hands-free. It fires the moment an external system calls its webhook.\n\n## Why it exists\nManual cart recovery is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nReceive Inbound Webhook → Compute HMAC Signature → Signature Valid? → Map to Canonical Schema → Acknowledge Fast (HTTP 202) → Route by Event Kind → Handle 'created' → Google Sheets → …\n\n## Use it for\n- Teams that want to event notification without manual effort\n- Anyone automating cart recovery in e-commerce\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Has retries and error handling built in\n- Saves hours of manual work each week\n- Responds in seconds\n\n## Before first run\nConnect credentials: API key / bearer for the target API; Google OAuth2 / service account; Notion integration token; Slack OAuth2; Telegram bot token.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.\n\n## Try it now\nSample data is pinned on the trigger — hit **Execute Workflow** to watch it flow through every node before connecting any real credentials. Unpin the trigger (right-click → Unpin) when you're ready to go live.","width":480,"height":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,80],"id":"b6ebb930-7cca-04da-5380-dd92fe4c506d","name":"📘 Workflow Overview"},{"parameters":{"content":"## Design decisions\n\nThe optional HMAC check runs before any business logic touches the payload — bad signatures are rejected at the door rather than after work has already been done with untrusted data. Acking fast (HTTP 202) and doing the real work after the response is what stops the sender's webhook delivery from timing out and re-delivering the same event.","width":480,"height":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1020],"id":"cfc54e2d-c6ee-3a64-24d7-0b3e4718c823","name":"🎓 Design Decisions"},{"parameters":{"content":"## Practice exercises\n\nAbout as deep as this pattern goes — extend it:\n\n1. Turn on signature verification and trace what a tampered payload does at the 'Signature Valid?' gate.\n2. Add a new event kind to the switch and give it its own handler.\n3. Remove the fast-ack step and observe how response time changes under a slow downstream write.","width":480,"height":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1360],"id":"85987d8a-85b5-c6ef-6a84-9df413bdf45a","name":"🧪 Practice Exercises"},{"parameters":{"content":"## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.","width":360,"height":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-230,-290],"id":"b1cfbaa0-af3d-5393-ba38-59e52e4f08ac","name":"🛟 Error handling & retries"},{"parameters":{"content":"## 🔐 Security\n\nNever trust inbound payloads: the webhook path is unguessable, and the HMAC signature is verified before any processing. Add header auth or IP allow-listing for defense in depth. Secrets live in n8n credentials — never in node parameters.","width":360,"height":260,"color":1},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[190,-290],"id":"fe189526-2e3b-3837-df03-e01d0a02d339","name":"🔐 Security"},{"parameters":{"content":"## 🧹 Data quality\n\nDedupe/diff steps make re-runs safe: the same input twice will not create duplicate records. If you change the key fields, clear n8n's dedupe memory (node → 'Clear stored keys') before the next run.","width":360,"height":260,"color":1},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[610,-290],"id":"c2825c91-f403-956b-1302-0dc8a1c58337","name":"🧹 Data quality"},{"parameters":{"content":"## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your cart recovery process. Every node card explains its role — safe to extend at any marked branch.","width":360,"height":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1030,-290],"id":"e38fb75c-b94a-a1c4-d467-d071026dbe24","name":"🛠 Customize me"}],"connections":{"Receive Inbound Webhook":{"main":[[{"node":"Compute HMAC Signature","type":"main","index":0}]]},"Compute HMAC Signature":{"main":[[{"node":"Signature Valid?","type":"main","index":0}]]},"Signature Valid?":{"main":[[{"node":"Map to Canonical Schema","type":"main","index":0}],[{"node":"Reject (HTTP 401)","type":"main","index":0}]]},"Map to Canonical Schema":{"main":[[{"node":"Acknowledge Fast (HTTP 202)","type":"main","index":0}]]},"Acknowledge Fast (HTTP 202)":{"main":[[{"node":"Route by Event Kind","type":"main","index":0}]]},"Route by Event Kind":{"main":[[{"node":"Handle 'created' → Google Sheets","type":"main","index":0}],[{"node":"Handle 'updated' → Forward API","type":"main","index":0}],[{"node":"Log Unrecognized Kind","type":"main","index":0}]]},"Handle 'created' → Google Sheets":{"main":[[{"node":"Consolidate Handling","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Handle 'updated' → Forward API":{"main":[[{"node":"Consolidate Handling","type":"main","index":1}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Log Unrecognized Kind":{"main":[[{"node":"Consolidate Handling","type":"main","index":2}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Consolidate Handling":{"main":[[{"node":"Load Previous Snapshot","type":"main","index":0}]]},"Load Previous Snapshot":{"main":[[{"node":"Compute Drift vs Snapshot","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Compute Drift vs Snapshot":{"main":[[{"node":"Enrich with Reference Data","type":"main","index":0}]]},"Enrich with Reference Data":{"main":[[{"node":"Fold In Enrichment Fields","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Fold In Enrichment Fields":{"main":[[{"node":"Stamp Completion Time","type":"main","index":0}]]},"Stamp Completion Time":{"main":[[{"node":"Persist Run Metadata","type":"main","index":0}]]},"Persist Run Metadata":{"main":[[{"node":"Fingerprint for Idempotency","type":"main","index":0}]]},"Fingerprint for Idempotency":{"main":[[{"node":"Drop Already-Processed Items","type":"main","index":0}]]},"Drop Already-Processed Items":{"main":[[{"node":"Offload to Post-Process Sub-workflow","type":"main","index":0}]]},"Offload to Post-Process Sub-workflow":{"main":[[{"node":"Record Sub-workflow Result","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Record Sub-workflow Result":{"main":[[{"node":"Serialize Run Output (CSV)","type":"main","index":0}]]},"Serialize Run Output (CSV)":{"main":[[{"node":"Archive Row Snapshot","type":"main","index":0}]]},"Archive Row Snapshot":{"main":[[{"node":"Align Field Names","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Align Field Names":{"main":[[{"node":"Save Execution Metadata","type":"main","index":0}]]},"Save Execution Metadata":{"main":[[{"node":"Summarize Run Stats","type":"main","index":0}]]},"Summarize Run Stats":{"main":[[{"node":"Append Audit Row (Notion)","type":"main","index":0}]]},"Append Audit Row (Notion)":{"main":[[{"node":"Send Summary to Slack","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Capture Failure Context":{"main":[[{"node":"Escalate Failure to Telegram","type":"main","index":0}]]},"Escalate Failure to Telegram":{"main":[[{"node":"Park in Dead-Letter Queue","type":"main","index":0}]]},"Send Summary to Slack":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveManualExecutions":true,"executionTimeout":3600},"meta":{"templateCredsSetupCompleted":false},"tags":[],"pinData":{"Receive Inbound Webhook":[{"json":{"orderId":"ORD-55211","email":"chris.owusu@example.com","total":129.99,"status":"paid"}},{"json":{"orderId":"ORD-55212","email":"nina.silva@example.com","total":64.5,"status":"pending"}}]},"versionId":"42696534-b63d-4946-b141-06c903248f90","id":"FDX09165"}