product-files/workflows/Lead Generation/Capture Forms/Advanced/04698_Capture form submissions with Google Sheets and Outlook automatically.json
{"name":"Capture form submissions with Google Sheets and Outlook automatically","nodes":[{"parameters":{"formTitle":"Capture form submissions with Google Sheets and Outlook auto","formFields":{"values":[{"fieldLabel":"Email","requiredField":true},{"fieldLabel":"Company","requiredField":false},{"fieldLabel":"Score","requiredField":false}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-270,400],"id":"fa4642d8-9cb0-4be2-af06-c480f911c102","name":"New Lead Form Submission","webhookId":"821aca52-5f7a-4266-8868-8f4befbc9c3b"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9cf543a-f92a-4501-a5f5-f672e53d05b0","leftValue":"={{ $json.leadId || $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[54,400],"id":"3cb91a5a-d3b3-4147-a5ec-6f1a2b9392ca","name":"Keep Valid Leads"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Score each lead 0-100 from simple heuristics\nreturn $input.all().map(item => {\n  const j = item.json;\n  let score = 50;\n  if (j.email) score += 20;\n  if (j.company) score += 15;\n  if ((j.source || '') === 'referral') score += 15;\n  return { json: { ...j, score: Math.min(100, score) } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[378,400],"id":"5265dc7d-f2bf-4983-b5a9-cddff0f08046","name":"Score the Lead"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Round-robin owner assignment\nconst owners = ['ava@company.com', 'liam@company.com', 'mia@company.com'];\nreturn $input.all().map((item, i) => ({\n  json: { ...item.json, owner: owners[i % owners.length] },\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[702,400],"id":"34580c7e-dd52-43e5-9a32-b857f957204c","name":"Assign Round-Robin Owner"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a8b94568-77e7-4122-a571-b8b0bfe5d97e","leftValue":"={{ $json.score }}","rightValue":80,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"renameOutput":true,"outputKey":"hot"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d431530-d5a6-447b-be64-0b9dcd9f5f85","leftValue":"={{ $json.score }}","rightValue":50,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"renameOutput":true,"outputKey":"warm"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1026,400],"id":"62fab3a2-a9f4-4164-bab9-5d61cc39326b","name":"Route by Heat"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Lead Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["leadId"],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1350,-80],"id":"566dbb8d-da38-46b5-abfd-c33da93b04cc","name":"Hot → Google Sheets + Instant Ping","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"subject":"=🔥 New hot lead {{ $json.email }} → {{ $json.owner }}","bodyContent":"=🔥 New hot lead {{ $json.email }} → {{ $json.owner }}","toRecipients":"={{ $json.email || 'ops@company.com' }}","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1998,-80],"id":"0eb3b033-744a-45c6-b48b-40ab3e63180d","name":"Notify Assigned Owner","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"subject":"=Thanks for your interest — here's a quick-start guide.","bodyContent":"=Thanks for your interest — here's a quick-start guide.","toRecipients":"={{ $json.email || 'ops@company.com' }}","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[2322,400],"id":"49e86ec7-b24a-4757-a1d8-c6242536178c","name":"Warm → Drip via Outlook","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Lead Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2646,880],"id":"5f35d1a7-7ef8-4ec8-a4ab-235e64bf6a4c","name":"Cold → Park in Nurture List","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"mode":"append","numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3618,400],"id":"41a2c652-4506-4596-b7fb-a94b70d57ccd","name":"Combine Lead Paths"},{"parameters":{"subject":"=✅ Capture form submissions with Google Sheets and Outlook automatically — run c","bodyContent":"=✅ Capture form submissions with Google Sheets and Outlook automatically — run completed at {{ $now.toFormat('HH:mm') }}","toRecipients":"={{ $json.email || 'ops@company.com' }}","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[4914,400],"id":"0c0011eb-80eb-4467-9bcf-f781c237308f","name":"Send Summary to Outlook","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"466edc2f-09a8-46d3-8a28-bf6fb2a6476a","name":"failedNode","value":"={{ $json.error?.node?.name || 'unknown' }}","type":"string"},{"id":"bdcd8430-7493-4d48-9706-a053ff2a0743","name":"errorMessage","value":"={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}","type":"string"},{"id":"7b05892e-5651-4226-a66b-7eed19aa845f","name":"workflow","value":"={{ $workflow.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4266,1420],"id":"681dd775-77ab-4be1-a3b2-93f965425cba","name":"Capture Failure Context"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#sales","cachedResultName":"#sales"},"text":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[4590,1420],"id":"9bf6f675-2529-43da-80ea-838b2e78605a","name":"Escalate Failure to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"content":"### New Lead Form Submission\n\nServes an n8n-hosted form (Email, Company, Score). Each submission becomes one execution.\n\nNext: Keep Valid Leads","width":280,"height":232,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-330,520],"id":"0631852a-fca1-cd21-b2d9-1cecf139da32","name":"Note: New Lead Form Submission"},{"parameters":{"content":"### Keep Valid Leads\n\nDrops items that fail the condition; only qualifying items continue (no false branch).\n\nNext: Score the Lead","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6,520],"id":"2133ec75-b204-d1c2-028f-ba187081bdce","name":"Note: Keep Valid Leads"},{"parameters":{"content":"### Score the Lead\n\nCustom JavaScript: Score each lead 0-100 from simple heuristics\n\nNext: Assign Round-Robin Owner","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[318,520],"id":"cd66261d-62a3-807c-e20b-d2aaeba6ace9","name":"Note: Score the Lead"},{"parameters":{"content":"### Assign Round-Robin Owner\n\nCustom JavaScript: Round-robin owner assignment\n\nNext: Route by Heat","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[642,520],"id":"8391d0fb-190e-1f6f-091c-d733d133c5f1","name":"Note: Assign Round-Robin Owner"},{"parameters":{"content":"### Route by Heat\n\nRoutes each item to one of 3 lanes: hot, warm + fallback.\n\nPorts: ①→ Hot → Google Sheets + Instant Ping · ②→ Warm → Drip via Outlook · ③→ Cold → Park in Nurture List","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[966,520],"id":"f2bc806a-1634-ced2-8c26-9352dbd7c332","name":"Note: Route by Heat"},{"parameters":{"content":"### Hot → Google Sheets + Instant Ping\n\ngoogleSheets — `appendOrUpdate` operation against the connected account.\n\nPorts: ①→ Notify Assigned Owner · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1290,40],"id":"d56ecec9-5df8-40f2-095c-58eb266cc86e","name":"Note: Hot → Google Sheets + Instant Ping"},{"parameters":{"content":"### Notify Assigned Owner\n\nmicrosoftOutlook — `action` operation against the connected account.\n\nPorts: ①→ Combine Lead Paths · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Microsoft OAuth2","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1938,40],"id":"af2c22d0-da5c-3917-bf3d-b9bdaac6d723","name":"Note: Notify Assigned Owner"},{"parameters":{"content":"### Warm → Drip via Outlook\n\nmicrosoftOutlook — `action` operation against the connected account.\n\nPorts: ①→ Combine Lead Paths · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Microsoft OAuth2","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2262,520],"id":"cdac3d47-e237-dbfb-6d46-7028efc3a516","name":"Note: Warm → Drip via Outlook"},{"parameters":{"content":"### Cold → Park in Nurture List\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Combine Lead Paths · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2586,1000],"id":"e70e12cf-55d0-954d-8670-ddb296ca2380","name":"Note: Cold → Park in Nurture List"},{"parameters":{"content":"### Combine Lead Paths\n\nRejoins 3 branches into one stream (mode: append) so downstream logic runs once.\n\nNext: Send Summary to Outlook","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3558,520],"id":"2e59d67e-542e-d885-7f80-0c177cf46b6d","name":"Note: Combine Lead Paths"},{"parameters":{"content":"### Send Summary to Outlook\n\nmicrosoftOutlook — `action` operation against the connected account.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Microsoft OAuth2","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4854,520],"id":"0553b1a9-c02d-c996-c783-f7b8211ee8c6","name":"Note: Send Summary to Outlook"},{"parameters":{"content":"### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Slack","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4206,1540],"id":"f41b80cc-8398-7deb-8533-a3231a00a726","name":"Note: Capture Failure Context"},{"parameters":{"content":"### Escalate Failure to Slack\n\nslack — `action` operation against the connected account.\n\n↻ retries 3×/2s · 🔑 Slack OAuth2","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4530,1540],"id":"9a06b12b-a0bb-9e1a-9764-67e6417f593f","name":"Note: Escalate Failure to Slack"},{"parameters":{"content":"# Capture form submissions with Google Sheets and Outlook automatically\n\n**Pattern:** Form Intake · **Level:** Core · **Trigger:** Form\n\n## What it does\nCapture form submissions with Google Sheets and Outlook automatically. It starts from a hosted form submission.\n\n## Why it exists\nManual capture forms is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nNew Lead Form Submission → Keep Valid Leads → Score the Lead → Assign Round-Robin Owner → Route by Heat → Hot → Google Sheets + Instant Ping → Notify Assigned Owner → …\n\n## Use it for\n- Teams that want to form intake without manual effort\n- Anyone automating capture forms in sales\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Responds in seconds\n- Runs 24/7 in the background\n- Keeps your systems in sync\n\n## Before first run\nConnect credentials: Google OAuth2 / service account; Microsoft OAuth2; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.","width":480,"height":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,80],"id":"27ad68c1-686e-c891-d219-adc2ff998986","name":"📘 Workflow Overview"},{"parameters":{"content":"## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Set an n8n **Error Workflow** in settings as the final safety net.","width":360,"height":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-230,-500],"id":"80bd4540-f3f9-a065-5971-a32bdcb4f3c0","name":"🛟 Error handling & retries"},{"parameters":{"content":"## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your capture forms process. Every node card explains its role — safe to extend at any marked branch.","width":360,"height":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[190,-500],"id":"2e1f5578-d83f-3ccc-fa8f-466f332da47c","name":"🛠 Customize me"}],"connections":{"New Lead Form Submission":{"main":[[{"node":"Keep Valid Leads","type":"main","index":0}]]},"Keep Valid Leads":{"main":[[{"node":"Score the Lead","type":"main","index":0}]]},"Score the Lead":{"main":[[{"node":"Assign Round-Robin Owner","type":"main","index":0}]]},"Assign Round-Robin Owner":{"main":[[{"node":"Route by Heat","type":"main","index":0}]]},"Hot → Google Sheets + Instant Ping":{"main":[[{"node":"Notify Assigned Owner","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Route by Heat":{"main":[[{"node":"Hot → Google Sheets + Instant Ping","type":"main","index":0}],[{"node":"Warm → Drip via Outlook","type":"main","index":0}],[{"node":"Cold → Park in Nurture List","type":"main","index":0}]]},"Notify Assigned Owner":{"main":[[{"node":"Combine Lead Paths","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Warm → Drip via Outlook":{"main":[[{"node":"Combine Lead Paths","type":"main","index":1}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Cold → Park in Nurture List":{"main":[[{"node":"Combine Lead Paths","type":"main","index":2}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Combine Lead Paths":{"main":[[{"node":"Send Summary to Outlook","type":"main","index":0}]]},"Capture Failure Context":{"main":[[{"node":"Escalate Failure to Slack","type":"main","index":0}]]},"Send Summary to Outlook":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"meta":{"templateCredsSetupCompleted":false},"tags":[],"pinData":{},"versionId":"d282c28f-c46b-479e-a898-026c8af08e02","id":"FDX04698"}