product-files/workflows/Social Media Automation/Cross-Posting/Intermediate/07012_Auto-post social posts with PostgreSQL and WordPress end to end.json
{
  "name": "Auto-post social posts with PostgreSQL and WordPress end to end",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "bf73b0c7-75c5-4314-9680-45d4b11467e6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0280f1f-ff80-46ba-a1dd-7d04cd221c7f",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "63f80a6a-65eb-446f-bcda-31a37ea8920a",
              "name": "isValid",
              "value": "={{ $json ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "f1ab6449-c8e4-4c6c-87fd-d243b02a4fc9",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        300
      ],
      "notes": "Validate & normalize the input before downstream steps (§9.1)."
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "records",
          "mode": "name"
        },
        "options": {}
      },
      "id": "e44489ec-589a-4737-98ad-842200809542",
      "name": "Save to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Process the following input and return a helpful result:\n{{ JSON.stringify($json) }}"
      },
      "id": "18b7c7f9-a7a9-44fa-89e6-8bb42f00bebc",
      "name": "Generate Caption with AI",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1040,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "model": "llama-3.1-70b-versatile",
        "options": {}
      },
      "id": "0c234eab-d790-4e3b-a68b-4002ee940f3c",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        980,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4989bacf-4598-4111-92be-d6734926714b",
              "name": "source",
              "value": "='flowdex-workflow'",
              "type": "string"
            },
            {
              "id": "ed4b2936-99a1-4168-959b-9f6eda45cfd7",
              "name": "status",
              "value": "='processed'",
              "type": "string"
            },
            {
              "id": "4d88b4bf-54fd-4625-a4d9-15437ce875ec",
              "name": "summary",
              "value": "={{ JSON.stringify($json).slice(0, 280) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7950d06f-39eb-4ddc-9bb5-6166c8a9eb0f",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        300
      ]
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create",
        "title": "={{ $json.title }}",
        "additionalFields": {}
      },
      "id": "0e0383e1-be18-4c45-991b-eedb5c53f795",
      "name": "Create WordPress Post",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1520,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Auto-post social posts with PostgreSQL and WordPress end to end\n\n**Pattern:** Social Scheduler\n**Trigger:** Scheduled\n**Integrations:** PostgreSQL, WordPress\n\nImport, add your credentials, then adjust parameters. Original FlowDex template.",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "ce16c4c1-f704-4d95-9a63-e83c8389584f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1560,
        80
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Save to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to PostgreSQL": {
      "main": [
        [
          {
            "node": "Generate Caption with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Caption with AI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create WordPress Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Caption with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "e847db93-8efb-4c55-9d99-cf576564ee13",
  "id": "FDX07012"
}