product-files/workflows/Social Media Automation/Cross-Posting/Intermediate/07273_Generate blog drafts with Google Drive and WordPress automatically for Cross-Posting.json
{
  "name": "Generate blog drafts with Google Drive and WordPress automatically for Cross-Posting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "5a0cb74d-4fc9-430e-9695-70d54ec69dfe",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9aecd11c-0240-461f-acce-0ba26f922884",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "1d0618d0-ae42-4b93-8c98-8eb6b510eab8",
              "name": "isValid",
              "value": "={{ $json ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "feac1a46-4d6f-4269-be5d-cfef06c565e5",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        300
      ],
      "notes": "Validate & normalize the input before downstream steps (§9.1)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9725b505-9ed8-431c-9855-8c3f7d917087",
              "leftValue": "={{ $json.receivedAt || $now.toISO() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5ef2e9ed-d5ff-4f8b-811c-3120bb156e2e",
      "name": "Idempotency Guard",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        780,
        300
      ],
      "notes": "Idempotency guard — replace with a real dedup key lookup (Redis/DB) in production (§9.1, §9.5)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ff6b68e7-3764-46c8-878b-ad142bf51568",
              "leftValue": "={{ $json.isValid !== false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "77ca2d06-f757-40b7-8bb5-4520d7adec17",
      "name": "Input Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1020,
        300
      ],
      "notes": "Validate early — quarantine invalid items instead of processing them (§9.1)."
    },
    {
      "parameters": {},
      "id": "1f25b6e2-3504-4876-851a-e9a04cfef684",
      "name": "Log Invalid Input",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1020,
        500
      ],
      "notes": "Dead-letter placeholder — route to a data table/DB for later inspection (§9.3)."
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $json.filename }}",
        "options": {}
      },
      "id": "21f56352-ade4-49b6-bc78-904fa2ef77ab",
      "name": "Save to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1260,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Process the following input and return a helpful result:\n{{ JSON.stringify($json) }}"
      },
      "id": "f843a118-69b6-47d7-9868-9af2f26d0cde",
      "name": "Generate Content with AI",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1500,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0451997d-8da0-4721-bec6-985db3748170",
              "name": "count",
              "value": "={{ $json.items ? $json.items.length : 1 }}",
              "type": "number"
            },
            {
              "id": "e93eb9a3-f5f5-4b76-adcf-6d22a0e0d6d2",
              "name": "summary",
              "value": "={{ JSON.stringify($json).slice(0, 280) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "45b87af8-647c-4f7c-bedd-27e08d8e6e83",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1740,
        300
      ]
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create",
        "title": "={{ $json.title }}",
        "additionalFields": {}
      },
      "id": "efb57f7d-f854-419d-b76d-4e3be4a01a64",
      "name": "Create WordPress Post",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1980,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "bf1a0905-4222-4bbe-b44a-6a6d64c2fe7b",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        980,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "3661a9a3-ca5f-4ba9-a962-68e94d42d8e1",
              "leftValue": "={{ $json.engagementScore }}",
              "rightValue": "0.7",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eb0219aa-f2f9-402e-b667-d5d129ecb95b",
      "name": "Passes Brand Check?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2220,
        300
      ],
      "notes": "Real business branch — route on the condition that actually distinguishes this item, per the category's production pattern (§8)."
    },
    {
      "parameters": {},
      "id": "fbf0620f-8d3e-456f-847a-20e49cb0a964",
      "name": "Auto-Post",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2460,
        300
      ]
    },
    {
      "parameters": {},
      "id": "36a301e5-8dab-41db-96d1-03f4a72379fc",
      "name": "Send for Approval",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2460,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "610839f2-5d71-4bb9-a488-8bee851fbe54",
              "name": "errorSource",
              "value": "primary",
              "type": "string"
            },
            {
              "id": "3180a88d-60ba-405d-9913-94ab2346bdb9",
              "name": "errorAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5e9dee84-1709-497b-9006-219030c45873",
      "name": "Handle Error — Primary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2700,
        700
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6be209c-8a44-4b6e-b305-c15369343908",
              "name": "errorSource",
              "value": "secondary",
              "type": "string"
            },
            {
              "id": "4c8e681a-55c0-46bb-9678-03dfdd9eb962",
              "name": "errorAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a4d9a125-18fe-4d7f-a210-23953ad0f60c",
      "name": "Handle Error — Secondary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2700,
        860
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#alerts",
        "text": "={{ 'Failure in ' + $workflow.name + ': ' + JSON.stringify($json) }}",
        "otherOptions": {}
      },
      "id": "e20b5499-9821-42bc-9b5b-8a59682f8d2c",
      "name": "Alert on Failure",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2940,
        760
      ],
      "notes": "Notify on failure without aborting the run (§9.3).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "id": "a7fce6b5-1a87-42cd-9f47-225cf1d51749",
      "name": "Merge Branch Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3180,
        300
      ],
      "notes": "Recombine both decision paths before shared downstream steps (§11.1 — avoid losing the false branch)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/v1/sync",
        "options": {}
      },
      "id": "d967cbe9-c548-4ee5-9c4e-1ac9166c8683",
      "name": "Sync to Secondary System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3420,
        300
      ],
      "notes": "Second-system fan-out — real multi-integration requirement for this tier (§9.1).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "c3262fec-6803-4681-9820-bae663f33436",
      "name": "Rate Limit Guard",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3660,
        300
      ],
      "notes": "Respect downstream API rate limits before the next batch of writes (§9.5)."
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "154a8eb0-f19c-42d8-828d-f4c2f217afbd",
      "name": "Write Audit Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3900,
        300
      ],
      "notes": "Audit trail entry — timestamp, outcome, and branch taken (§9.3, §8.14).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4476f967-d30a-4e54-81cb-91359faee767",
              "leftValue": "={{ $json.reachEstimate }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "388999d0-9f86-4893-9fe0-ca6407f9b57b",
      "name": "High-Value Item?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4140,
        300
      ],
      "notes": "Human-in-the-loop for high-impact actions (§9.4)."
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "377fe680-3a53-4228-a939-835f1483ebd0",
      "name": "Require Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4380,
        300
      ],
      "notes": "Pauses until the approval webhook/resume URL is called — human-in-the-loop gate."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "329b7605-fdb8-498a-9760-d3ecc5a151f6",
              "leftValue": "={{ $json.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c755dca5-c52b-42ca-92d0-d6a1516ad543",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4620,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "589716fd-de0d-480f-8905-f265bf143333",
              "name": "status",
              "value": "rejected",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f5c4f23b-6323-4f7b-b44b-2b2a088f8d69",
      "name": "Reject & Notify",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4620,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/v1/system-b",
        "options": {}
      },
      "id": "ae13aeb0-b58f-46bb-8341-68a0e5eea7cd",
      "name": "Parallel: Update System B",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4860,
        500
      ],
      "notes": "Independent parallel write — runs alongside the primary path, not blocked by approval (§8.14).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "id": "af28bf8a-47ca-45df-8e86-3adce29b059a",
      "name": "Merge Post-Approval",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5100,
        300
      ],
      "notes": "Recombine the approved and low-value-parallel paths."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dba7076e-9300-4d88-97c8-b149c80ff499",
              "leftValue": "={{ $now.diff($('Validate Input').item.json.receivedAt).as('seconds') }}",
              "rightValue": 300,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c909ef5a-ddca-4c9d-ae7f-8dcda0af4bcc",
      "name": "Check Processing SLA",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5340,
        300
      ],
      "notes": "Escalate if this run is breaching its SLA window (§8.11, §9.5)."
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#oncall",
        "text": "={{ 'SLA breach on ' + $workflow.name }}",
        "otherOptions": {}
      },
      "id": "90d91fa8-f08d-4789-a3e2-dc9bb68f8aef",
      "name": "Escalate to On-Call",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        5580,
        500
      ],
      "notes": "Distinct on-call channel — separate from the general failure alert (§8.11).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "propertiesUi": {}
      },
      "id": "71241bec-17df-4c43-9a9f-c97d95f02379",
      "name": "Stream to Compliance Log",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        5580,
        300
      ],
      "notes": "Separate compliance/audit trail from the operational audit log (§8.14).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7cc861a0-7425-4c11-9a60-e875d93b109f",
              "name": "status",
              "value": "processed",
              "type": "string"
            },
            {
              "id": "3689ad38-72c0-4d83-97b2-213f4ce7e42a",
              "name": "archivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9d6557f1-1125-40d5-935f-1633c13bb3eb",
      "name": "Close Out & Archive",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5820,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-log",
        "text": "={{ 'Completed: ' + $workflow.name }}",
        "otherOptions": {}
      },
      "id": "e5a27345-f8a5-454c-a3d3-da196d84da01",
      "name": "Success Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        6060,
        300
      ],
      "notes": "Confirms completion — distinct from the failure alert channel.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Generate blog drafts with Google Drive and WordPress automatically for Cross-Posting\n\n**Tier:** Enterprise · **Difficulty:** Intermediate\n**Pattern:** Cross-Posting (Social Media Automation)\n**Architecture:** validated input, branch on passes brand check?, multi-system sync, audit log, human-in-the-loop approval, SLA monitoring, compliance log.\n\nImport, add your credentials, then adjust parameters. Original WorkflowCrate template.",
        "height": 280,
        "width": 380,
        "color": 4
      },
      "id": "e1b0f11b-6060-4898-8714-b60164264050",
      "name": "Sticky Note cabf",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6340,
        40
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Idempotency Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotency Guard": {
      "main": [
        [
          {
            "node": "Input Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Valid?": {
      "main": [
        [
          {
            "node": "Save to Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Drive": {
      "main": [
        [
          {
            "node": "Generate Content with AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error — Primary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Content with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content with AI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error — Primary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create WordPress Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create WordPress Post": {
      "main": [
        [
          {
            "node": "Passes Brand Check?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error — Primary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passes Brand Check?": {
      "main": [
        [
          {
            "node": "Auto-Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error — Primary": {
      "main": [
        [
          {
            "node": "Alert on Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error — Secondary": {
      "main": [
        [
          {
            "node": "Alert on Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Post": {
      "main": [
        [
          {
            "node": "Merge Branch Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send for Approval": {
      "main": [
        [
          {
            "node": "Merge Branch Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Branch Results": {
      "main": [
        [
          {
            "node": "Sync to Secondary System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync to Secondary System": {
      "main": [
        [
          {
            "node": "Rate Limit Guard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error — Primary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Guard": {
      "main": [
        [
          {
            "node": "Write Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Audit Log": {
      "main": [
        [
          {
            "node": "High-Value Item?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High-Value Item?": {
      "main": [
        [
          {
            "node": "Require Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parallel: Update System B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Require Approval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Merge Post-Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject & Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parallel: Update System B": {
      "main": [
        [
          {
            "node": "Merge Post-Approval",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Handle Error — Secondary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Post-Approval": {
      "main": [
        [
          {
            "node": "Check Processing SLA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Processing SLA": {
      "main": [
        [
          {
            "node": "Stream to Compliance Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate to On-Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stream to Compliance Log": {
      "main": [
        [
          {
            "node": "Close Out & Archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close Out & Archive": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "23ebd587-6e0e-4685-94ad-4e1568187c10",
  "id": "FDX07273"
}