product-files/workflows/CRM Automation/Deal Updates/Intermediate/08018_Mirror contacts across systems with HubSpot and MySQL at scale.json
{"name":"Mirror contacts across systems with HubSpot and MySQL at scale","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-270,400],"id":"4c866661-d941-402f-9662-cbeab27a4783","name":"Hourly Schedule"},{"parameters":{"operation":"select","table":{"__rl":true,"mode":"name","value":"contacts","cachedResultName":"contacts"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[54,400],"id":"b48e171c-7607-453f-ae8b-8e1a7b0f1361","name":"Load Previous Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"method":"GET","url":"https://api.example.com/v1/contacts","options":{"timeout":20000},"sendQuery":true,"queryParameters":{"parameters":[{"name":"updated_since","value":"={{ $now.minus({hours: 6}).toISO() }}"},{"name":"limit","value":"100"}]}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[378,400],"id":"f9e11dee-90dc-467b-9ba4-20fcafd783aa","name":"Fetch Changes Since Watermark","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Normalize incoming contact records to a stable schema\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  out.push({ json: {\n    contactId: String(j.contactId ?? j.id ?? '').trim(),\n    email: typeof j.email === 'string' ? j.email.trim() : j.email ?? null,\n    source: j.source ?? 'api',\n    receivedAt: new Date().toISOString(),\n  } });\n}\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[702,400],"id":"3c03a887-38d6-4f5d-92fc-480107aafba6","name":"Normalize Records"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Build a stable idempotency key per contact (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.contactId, j.email].join('|')) } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1026,400],"id":"91e08d49-2802-4b97-9fab-acdc419949c9","name":"Fingerprint for Idempotency"},{"parameters":{"operation":"removeItemsSeenInPreviousExecutions","logic":"removeItemsWithAlreadySeenKeyValues","dedupeValue":"={{ $json.idempotencyKey }}","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1350,400],"id":"9755e369-aa00-4f3e-bbf8-15850e016663","name":"Drop Already-Processed Items"},{"parameters":{"resource":"contact","email":"={{ $json.email }}","additionalFields":{"companyName":"={{ $json.company }}"},"authentication":"appToken"},"type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[1674,400],"id":"0f7f77d5-af74-48fd-b27f-8c454a2cac5a","name":"Upsert into HubSpot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Advance the incremental watermark to the newest record seen\nconst items = $input.all().map(i => i.json);\nconst newest = items.reduce((m, j) => {\n  const ts = new Date(j.updatedAt || j.receivedAt || 0).getTime();\n  return ts > m ? ts : m;\n}, 0);\nreturn [{ json: { watermark: new Date(newest || Date.now()).toISOString(), processed: items.length } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1998,400],"id":"69bde342-9349-4c5d-bdcb-7dada5da24c0","name":"Advance Watermark"},{"parameters":{"operation":"insert","table":{"__rl":true,"mode":"name","value":"contacts","cachedResultName":"contacts"},"dataMode":"autoMapInputData","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2322,400],"id":"4f5dd657-78dc-4318-83a1-7c055f094975","name":"Persist Watermark (MySQL)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"56fe5ae6-2a21-423a-ac36-7cc724cdb230","leftValue":"={{ $json.processed >= 0 }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2646,400],"id":"c2a719d7-93a0-4d7b-9b20-67dc21df8828","name":"Row Counts Match?"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#sales","cachedResultName":"#sales"},"text":"=⚠️ ETL drift detected: {{ $json.processed }} rows vs expected","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2970,850],"id":"937679f3-289c-445c-8bd1-8129d04cfc65","name":"Raise Drift Alarm","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"operation":"read","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Contact Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3294,400],"id":"ad8544ea-a120-4a19-8766-83678cdebb76","name":"Load Previous Snapshot 2","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Compare current metrics with the previous snapshot\nconst current = $input.first().json;\nconst prev = $('Load Previous Snapshot').first().json || {};\nconst drift = {};\nfor (const k of Object.keys(current)) {\n  if (typeof current[k] === 'number' && typeof prev[k] === 'number' && prev[k] !== 0) {\n    drift[k] = Math.round(((current[k] - prev[k]) / prev[k]) * 1000) / 10;\n  }\n}\nreturn [{ json: { ...current, driftPct: drift, hasDrift: Object.values(drift).some(v => Math.abs(v) > 10) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3618,400],"id":"aef33d3b-a17e-4ccb-b111-9d69fd7032c1","name":"Compute Drift vs Snapshot"},{"parameters":{"operation":"getCurrentDate","outputFieldName":"completedAt","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[3942,400],"id":"97482faa-b7fe-4660-982e-202c176a6640","name":"Stamp Completion Time"},{"parameters":{"dataToSave":{"values":[{"key":"runId","value":"={{ $execution.id }}"},{"key":"itemCount","value":"={{ $items().length }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[4266,400],"id":"fe0d8fe2-7f5e-450c-b625-cb259a5f85a7","name":"Persist Run Metadata"},{"parameters":{"operation":"csv","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[4590,400],"id":"be993450-da1d-44ff-ac1b-0b04c712254d","name":"Serialize Run Output (CSV)"},{"parameters":{"resource":"contact","email":"={{ $json.email }}","additionalFields":{"companyName":"={{ $json.company }}"},"authentication":"appToken"},"type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[4914,400],"id":"bd09f679-0619-4629-b2c6-c4c5f9e43709","name":"Archive Row Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"b938ad3e-b675-4bc4-8d02-08986c4c1311","name":"runAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"4526dd7e-2893-4d84-8cc1-49af382fbc72","name":"itemCount","value":"={{ $input.all().length }}","type":"number"},{"id":"5d68c8b4-8703-42c7-bf49-438adabeab63","name":"status","value":"completed","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5238,400],"id":"27f01fef-5c92-4a3f-b468-fa13fc9beead","name":"Summarize Run Stats"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Contact Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5562,400],"id":"bcbbf40f-247a-49c2-8dbd-0029a20013f9","name":"Append Audit Row (Google Sheets)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#sales","cachedResultName":"#sales"},"text":"=✅ Mirror contacts across systems with HubSpot and MySQL at scale — run completed at {{ $now.toFormat('HH:mm') }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[5886,400],"id":"0815718f-49e8-4dbb-8134-e72c5a461bf7","name":"Send Summary to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"7fcfda57-6d51-4938-bb41-b867bd4c250c","name":"failedNode","value":"={{ $json.error?.node?.name || 'unknown' }}","type":"string"},{"id":"45cb21e9-565d-4989-b91d-f8d4152e0f4f","name":"errorMessage","value":"={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}","type":"string"},{"id":"91cd1f57-ac79-4792-9398-ab57253f10a0","name":"workflow","value":"={{ $workflow.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5238,1420],"id":"904cc5c4-c470-43b9-a250-882c33b4c99d","name":"Capture Failure Context"},{"parameters":{"authentication":"webhook","content":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[5562,1420],"id":"622762b5-b7d8-4245-9ef5-30ad0bb4d4f2","name":"Escalate Failure to Discord","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"resource":"contact","email":"={{ $json.email }}","additionalFields":{"companyName":"={{ $json.company }}"},"authentication":"appToken"},"type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[5886,1420],"id":"79112b15-cfd0-4f05-9a43-611d53dfacd5","name":"Park in Dead-Letter Queue","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"content":"### Hourly Schedule\n\nStarts the workflow on a timer — every 4 h. No input data; downstream nodes fetch what they need.\n\nNext: Load Previous Snapshot","width":280,"height":232,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-330,520],"id":"27b97197-77e4-6ddf-82ee-5ef2d3153ab8","name":"Note: Hourly Schedule"},{"parameters":{"content":"### Load Previous Snapshot\n\nSelects rows from the MySQL table (`returnAll`) — the read side of the store.\n\nPorts: ①→ Fetch Changes Since Watermark · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 MySQL connection","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6,520],"id":"a49f4236-b989-fcaa-d497-10598be946a1","name":"Note: Load Previous Snapshot"},{"parameters":{"content":"### Fetch Changes Since Watermark\n\nGET https://api.example.com/v1/contacts — retries 3× with backoff on failure.\n\nPorts: ①→ Normalize Records · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[318,520],"id":"a1e8e6ae-38b7-7e01-bc54-39386d44399f","name":"Note: Fetch Changes Since Watermark"},{"parameters":{"content":"### Normalize Records\n\nCustom JavaScript: Normalize incoming contact records to a stable schema\n\nNext: Fingerprint for Idempotency","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[642,520],"id":"3afc0e3f-684e-b9d0-d7cd-dae6ea2da03b","name":"Note: Normalize Records"},{"parameters":{"content":"### Fingerprint for Idempotency\n\nCustom JavaScript: Build a stable idempotency key per contact (djb2 hash, no deps)\n\nNext: Drop Already-Processed Items","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[966,520],"id":"180dfd02-8ca0-7260-c50c-e2cda0ca9460","name":"Note: Fingerprint for Idempotency"},{"parameters":{"content":"### Drop Already-Processed Items\n\nCross-execution dedupe: remembers keys it has processed before and drops repeats — the idempotency guard.\n\nNext: Upsert into HubSpot","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1290,520],"id":"cf55a1be-330b-d9a9-50ab-115c0d92fbfc","name":"Note: Drop Already-Processed Items"},{"parameters":{"content":"### Upsert into HubSpot\n\nCreates or updates a HubSpot contact by email — HubSpot is the CRM system of record for this pipeline.\n\nPorts: ①→ Advance Watermark · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 HubSpot private-app token","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1614,520],"id":"05413193-7074-c41a-a858-2796bca507f8","name":"Note: Upsert into HubSpot"},{"parameters":{"content":"### Advance Watermark\n\nCustom JavaScript: Advance the incremental watermark to the newest record seen\n\nNext: Persist Watermark (MySQL)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1938,520],"id":"d1b1a5ee-b235-0e03-8f3b-f8ea7528d3ce","name":"Note: Advance Watermark"},{"parameters":{"content":"### Persist Watermark (MySQL)\n\nInserts a row into the MySQL table using fields auto-mapped from the incoming item.\n\nPorts: ①→ Row Counts Match? · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 MySQL connection","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2262,520],"id":"390247eb-170d-5b18-7f0b-e534a0c7c073","name":"Note: Persist Watermark (MySQL)"},{"parameters":{"content":"### Row Counts Match?\n\nTwo-way gate on `={{ $json.processed >= 0 }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Load Previous Snapshot 2 · ②→ Raise Drift Alarm","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2586,520],"id":"f25b76b2-d102-43b9-1fe3-586e97ee1454","name":"Note: Row Counts Match?"},{"parameters":{"content":"### Raise Drift Alarm\n\nPosts a message to Slack (`#sales`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2910,970],"id":"1cf5e458-dea2-9c0d-02ce-5ce8a44921c9","name":"Note: Raise Drift Alarm"},{"parameters":{"content":"### Load Previous Snapshot 2\n\nReads every row from 'Contact Tracker' — the read side of the store, e.g. for a digest or a downstream sync.\n\nPorts: ①→ Compute Drift vs Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3234,520],"id":"c19e2828-f71f-bbff-9d9f-8a549fdf0eea","name":"Note: Load Previous Snapshot 2"},{"parameters":{"content":"### Compute Drift vs Snapshot\n\nCustom JavaScript: Compare current metrics with the previous snapshot\n\nNext: Stamp Completion Time","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3558,520],"id":"342f4c63-e019-da5b-eff9-06fe5466a6ae","name":"Note: Compute Drift vs Snapshot"},{"parameters":{"content":"### Stamp Completion Time\n\nStamps `completedAt` with the current time for auditing.\n\nNext: Persist Run Metadata","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3882,520],"id":"79a07152-695c-107c-5b5e-088c723cb715","name":"Note: Stamp Completion Time"},{"parameters":{"content":"### Persist Run Metadata\n\nSaves key fields onto the execution record — searchable later in n8n's execution list.\n\nNext: Serialize Run Output (CSV)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4206,520],"id":"c0ce273a-3f13-f9de-37a1-452cf06e8277","name":"Note: Persist Run Metadata"},{"parameters":{"content":"### Serialize Run Output (CSV)\n\nSerializes items to a CSV binary file.\n\nNext: Archive Row Snapshot","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4530,520],"id":"e9e249b4-0fa7-2343-9e38-dec1c2c56728","name":"Note: Serialize Run Output (CSV)"},{"parameters":{"content":"### Archive Row Snapshot\n\nCreates or updates a HubSpot contact by email — HubSpot is the CRM system of record for this pipeline.\n\nPorts: ①→ Summarize Run Stats · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 HubSpot private-app token","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4854,520],"id":"3af40ab9-1f72-312c-e4e3-2ea7d15775ec","name":"Note: Archive Row Snapshot"},{"parameters":{"content":"### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Google Sheets)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5178,520],"id":"46c410ab-c5e9-0989-78bf-8a17108f8354","name":"Note: Summarize Run Stats"},{"parameters":{"content":"### Append Audit Row (Google Sheets)\n\nAppends a new row to 'Contact Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5502,520],"id":"3100b911-5131-3120-32ef-e26e5a0dfc94","name":"Note: Append Audit Row (Google Sheets)"},{"parameters":{"content":"### Send Summary to Slack\n\nPosts a message to Slack (`#sales`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5826,520],"id":"6b837c86-c38a-54d5-bb1a-dabaad44ceb2","name":"Note: Send Summary to Slack"},{"parameters":{"content":"### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Discord","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5178,1540],"id":"80bee724-ea8d-1e50-9052-3334db73d479","name":"Note: Capture Failure Context"},{"parameters":{"content":"### Escalate Failure to Discord\n\nPosts to a Discord channel via an incoming webhook — no bot token needed, the webhook URL on the credential is the only secret.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Discord webhook URL","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5502,1540],"id":"f797a582-413e-c2c2-5cac-41982613d5c7","name":"Note: Escalate Failure to Discord"},{"parameters":{"content":"### Park in Dead-Letter Queue\n\nCreates or updates a HubSpot contact by email — HubSpot is the CRM system of record for this pipeline.\n\n↻ retries 3×/2s · 🔑 HubSpot private-app token","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5826,1540],"id":"21e16746-99d0-cd50-7206-6e8786119435","name":"Note: Park in Dead-Letter Queue"},{"parameters":{"content":"# Mirror contacts across systems with HubSpot and MySQL at scale\n\n**Pattern:** Two-System Sync · **Level:** Production · **Trigger:** Scheduled\n\n## What it does\nMirror contacts across systems with HubSpot and MySQL at scale. It runs automatically on a schedule.\n\n## Why it exists\nManual deal updates is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nHourly Schedule → Load Previous Snapshot → Fetch Changes Since Watermark → Normalize Records → Fingerprint for Idempotency → Drop Already-Processed Items → Upsert into HubSpot → …\n\n## Use it for\n- Teams that want to two-system sync without manual effort\n- Anyone automating deal updates in sales\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Keeps your systems in sync\n- Saves hours of manual work each week\n- Responds in seconds\n\n## Before first run\nConnect credentials: API key / bearer for the target API; Discord webhook URL; Google OAuth2 / service account; HubSpot private-app token; MySQL connection; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.\n\n## Try it now\nSample data is pinned on the trigger — hit **Execute Workflow** to watch it flow through every node before connecting any real credentials. Unpin the trigger (right-click → Unpin) when you're ready to go live.","width":480,"height":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,80],"id":"6140613b-e743-93e2-4bec-9ed388af6b24","name":"📘 Workflow Overview"},{"parameters":{"content":"## Design decisions\n\nThe pipeline is incremental, not full-refresh: it stores a watermark (the last-seen timestamp) and only asks the source for records newer than that, which is what keeps a scheduled re-run cheap instead of re-pulling the entire dataset every time. The tradeoff is that a failed watermark write must be safe to retry — which is exactly why the destination write is an upsert, not a plain insert.","width":480,"height":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1020],"id":"3d3a3d01-9f85-1c4e-7da0-18db2b550c0a","name":"🎓 Design Decisions"},{"parameters":{"content":"## Practice exercises\n\nAlready production-grade — deepen your understanding:\n\n1. Manually roll the watermark back and re-run — confirm the upsert makes the replay safe (no duplicates).\n2. Trigger a reconcile mismatch on purpose and confirm the drift alarm fires.\n3. Point the source at a different platform and see how little else in the workflow has to change.","width":480,"height":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1360],"id":"b3ba4a92-436a-0ffe-3a87-7dda7b51fdb9","name":"🧪 Practice Exercises"},{"parameters":{"content":"## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.","width":360,"height":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-230,-20],"id":"626b42fe-f68a-f0c8-f1d8-37777f12d0cf","name":"🛟 Error handling & retries"},{"parameters":{"content":"## 🧹 Data quality\n\nDedupe/diff steps make re-runs safe: the same input twice will not create duplicate records. If you change the key fields, clear n8n's dedupe memory (node → 'Clear stored keys') before the next run.","width":360,"height":260,"color":1},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[190,-20],"id":"7fc6c2b2-481d-f8b6-254b-119157c8d51b","name":"🧹 Data quality"},{"parameters":{"content":"## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your deal updates process. Every node card explains its role — safe to extend at any marked branch.","width":360,"height":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[610,-20],"id":"c1c3848e-136e-760b-de92-3e54d572645d","name":"🛠 Customize me"}],"connections":{"Hourly Schedule":{"main":[[{"node":"Load Previous Snapshot","type":"main","index":0}]]},"Load Previous Snapshot":{"main":[[{"node":"Fetch Changes Since Watermark","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Fetch Changes Since Watermark":{"main":[[{"node":"Normalize Records","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Normalize Records":{"main":[[{"node":"Fingerprint for Idempotency","type":"main","index":0}]]},"Fingerprint for Idempotency":{"main":[[{"node":"Drop Already-Processed Items","type":"main","index":0}]]},"Drop Already-Processed Items":{"main":[[{"node":"Upsert into HubSpot","type":"main","index":0}]]},"Upsert into HubSpot":{"main":[[{"node":"Advance Watermark","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Advance Watermark":{"main":[[{"node":"Persist Watermark (MySQL)","type":"main","index":0}]]},"Persist Watermark (MySQL)":{"main":[[{"node":"Row Counts Match?","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Row Counts Match?":{"main":[[{"node":"Load Previous Snapshot 2","type":"main","index":0}],[{"node":"Raise Drift Alarm","type":"main","index":0}]]},"Load Previous Snapshot 2":{"main":[[{"node":"Compute Drift vs Snapshot","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Compute Drift vs Snapshot":{"main":[[{"node":"Stamp Completion Time","type":"main","index":0}]]},"Stamp Completion Time":{"main":[[{"node":"Persist Run Metadata","type":"main","index":0}]]},"Persist Run Metadata":{"main":[[{"node":"Serialize Run Output (CSV)","type":"main","index":0}]]},"Serialize Run Output (CSV)":{"main":[[{"node":"Archive Row Snapshot","type":"main","index":0}]]},"Archive Row Snapshot":{"main":[[{"node":"Summarize Run Stats","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Summarize Run Stats":{"main":[[{"node":"Append Audit Row (Google Sheets)","type":"main","index":0}]]},"Append Audit Row (Google Sheets)":{"main":[[{"node":"Send Summary to Slack","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Capture Failure Context":{"main":[[{"node":"Escalate Failure to Discord","type":"main","index":0}]]},"Escalate Failure to Discord":{"main":[[{"node":"Park in Dead-Letter Queue","type":"main","index":0}]]},"Raise Drift Alarm":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Send Summary to Slack":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveManualExecutions":true,"executionTimeout":3600},"meta":{"templateCredsSetupCompleted":false},"tags":[],"pinData":{"Hourly Schedule":[{"json":{"contactId":"CT-8801","email":"maria.gomez@northwind.io","company":"Northwind Traders","dealStage":"Proposal Sent"}},{"json":{"contactId":"CT-8802","email":"raj.patel@blueharbor.com","company":"Blue Harbor Logistics","dealStage":"Negotiation"}}]},"versionId":"5296ebf2-71d9-4927-896a-dffc30994cb1","id":"FDX08018"}