product-files/workflows/Appointment & Scheduling/Follow-ups/Beginner/09789_Follow up upcoming appointments with MySQL and Outlook on autopilot.json
{
  "name": "Follow up upcoming appointments with MySQL and Outlook on autopilot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 17,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        400
      ],
      "id": "5999631c-45ea-4597-899d-9ef9a4a79d35",
      "name": "Daily Schedule"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "97922124-9438-4581-9245-bb2a41bb35f5",
              "name": "bookingId",
              "value": "={{ $json.bookingId || $json.id || $execution.id }}",
              "type": "string"
            },
            {
              "id": "9cf78e24-9b35-412e-a976-47a179ff2a08",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        400
      ],
      "id": "4cb62cb7-0cfc-4f8e-b0f2-fcfdb8b305e8",
      "name": "Stamp & Shape Booking"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3eab1285-cd96-4afe-b205-4bc2d7db7e94",
              "leftValue": "={{ $json.bookingId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        400
      ],
      "id": "2fab73f9-4b28-453e-9dc2-10e414804124",
      "name": "Payload Valid?"
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "bookings",
          "cachedResultName": "bookings"
        },
        "dataMode": "autoMapInputData",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        280,
        570
      ],
      "id": "13ccd845-994e-4b79-b1fa-36a098b46278",
      "name": "Record Rejected Input",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a5c06f2-8ee0-44a5-977f-1816f07042fb",
              "leftValue": "={{ $items().length === 0 || !$json.id }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        400
      ],
      "id": "b4de248b-02f6-4d94-abfc-89b95c2346a8",
      "name": "Slot Free?"
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "bookings",
          "cachedResultName": "bookings"
        },
        "dataMode": "autoMapInputData",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        760,
        320
      ],
      "id": "de45cc4c-f5ce-449b-b071-30ad199f83d3",
      "name": "Record Booking",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "subject": "=✅ You're booked for {{ $json.startTime }} — see you then!",
        "bodyContent": "=✅ You're booked for {{ $json.startTime }} — see you then!",
        "toRecipients": "={{ $json.email || 'ops@company.com' }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1240,
        320
      ],
      "id": "0ed7ace4-0cde-4ca7-afad-7a8c242aae7b",
      "name": "Send Confirmation (Outlook)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "subject": "=That slot is taken — here are 3 nearby openings.",
        "bodyContent": "=That slot is taken — here are 3 nearby openings.",
        "toRecipients": "={{ $json.email || 'ops@company.com' }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1480,
        520
      ],
      "id": "3f598869-0711-4ca0-8eab-e9794f8c3f52",
      "name": "Propose Alternative Slots",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2200,
        400
      ],
      "id": "2556ffaa-732d-4049-b7e9-a3caf49b0236",
      "name": "Hold Until Reminder Time",
      "webhookId": "5ded1d93-0035-4f2e-ba89-4be1cb8f9de1"
    },
    {
      "parameters": {
        "subject": "=⏰ Reminder: your session starts soon.",
        "bodyContent": "=⏰ Reminder: your session starts soon.",
        "toRecipients": "={{ $json.email || 'ops@company.com' }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2440,
        400
      ],
      "id": "65f9d4b6-b497-4d93-a670-b9823c24468b",
      "name": "Send Reminder (Outlook)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#bookings",
          "cachedResultName": "#bookings"
        },
        "text": "=✅ Follow up upcoming appointments with MySQL and Outlook on autopilot — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2680,
        400
      ],
      "id": "0ce11eef-338f-4dc8-b941-9ca815363c66",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "22cc5dac-5669-4deb-a979-b3ce06e3c81d",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "bb9089ad-4a1e-4fc7-aef2-828e5f768f49",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "5faaac93-7e4a-49ed-97de-42d6b775df39",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        740
      ],
      "id": "1ec5bc42-3b82-4eb6-877f-0b1bc72e3883",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#bookings",
          "cachedResultName": "#bookings"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2440,
        740
      ],
      "id": "3384a3f0-f261-4749-a857-3956b85bcfa5",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Follow up upcoming appointments with MySQL and Outlook on autopilot\n\n**Pattern:** Reminders & Follow-ups  \n**Trigger:** Scheduled  \n**Level:** Core\n\nProcesses bookings for follow-ups — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        60
      ],
      "id": "3b96917d-e579-4277-87b8-8d0e0b96f232",
      "name": "Overview"
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Stamp & Shape Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp & Shape Booking": {
      "main": [
        [
          {
            "node": "Payload Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Valid?": {
      "main": [
        [
          {
            "node": "Slot Free?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Rejected Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slot Free?": {
      "main": [
        [
          {
            "node": "Record Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Propose Alternative Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Booking": {
      "main": [
        [
          {
            "node": "Send Confirmation (Outlook)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation (Outlook)": {
      "main": [
        [
          {
            "node": "Hold Until Reminder Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hold Until Reminder Time": {
      "main": [
        [
          {
            "node": "Send Reminder (Outlook)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder (Outlook)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Propose Alternative Slots": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "2b1e787e-0669-45c7-9913-4bcd7e643a67",
  "id": "FDX09789"
}