product-files/workflows/RAG Knowledge Base/Q&A/Intermediate/06814_Answer indexed documents with HTTP REST API on autopilot for Q&A.json
{
  "name": "Answer indexed documents with HTTP / REST API on autopilot for Q&A",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf06814-document",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        400
      ],
      "id": "423e9d53-aa94-4d75-98c7-3672cfa5f043",
      "name": "Receive Inbound Webhook",
      "webhookId": "e2e0cdb3-bdf6-45d4-a2c8-ac9cb76f088a"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Normalize incoming document records to a stable schema\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  out.push({ json: {\n    docId: String(j.docId ?? j.id ?? '').trim(),\n    title: typeof j.title === 'string' ? j.title.trim() : j.title ?? null,\n    source: j.source ?? 'api',\n    receivedAt: new Date().toISOString(),\n  } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        400
      ],
      "id": "b1db5a92-b2cf-46a5-b3bc-4be59115fa09",
      "name": "Normalize Document Payload"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || $json.question || JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You answer document questions using only the retrieved knowledge-base context. If the context does not contain the answer, say so and set needsHuman=true.",
          "maxIterations": 6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        280,
        400
      ],
      "id": "ce103214-ad10-4970-90d4-37f534cf0a36",
      "name": "Answer from Knowledge Base",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        460,
        590
      ],
      "id": "6c7e4cfb-4d49-4b03-aa3c-dc4d7c9f6152",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "topK": 5,
        "toolDescription": "Semantic search over the q&a knowledge base. Always call this before answering factual document questions."
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        500,
        730
      ],
      "id": "301bffc3-1455-4c96-bd30-0ae094dcd9ce",
      "name": "Knowledge Base Retriever"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        540,
        900
      ],
      "id": "086c2d5f-0670-492e-85e1-f3f997d1102c",
      "name": "Query Embeddings"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "13b2e065-0469-4348-bc28-05e8dde8902d",
              "leftValue": "={{ !($json.output || '').includes('needsHuman') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        400
      ],
      "id": "d9b2dca9-cefc-4478-94b7-cdd4b50c850b",
      "name": "Grounded Answer Found?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"answer\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1020,
        320
      ],
      "id": "627a2b29-729b-41a6-b9cf-c99a9354ccd6",
      "name": "Return Answer (HTTP 200)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Document Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1260,
        520
      ],
      "id": "e93d797a-0fd1-403a-b15e-aa86ee637036",
      "name": "Log Knowledge Gap",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#knowledge",
          "cachedResultName": "#knowledge"
        },
        "text": "=📚 Unanswered question logged: {{ $json.chatInput || $json.question }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1740,
        520
      ],
      "id": "327b9804-bb1e-4ce8-8043-589a36d38cd9",
      "name": "Flag Gap to KB Owners",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3da00610-7a73-42a6-bc6a-270007f714fb",
              "name": "pipeline",
              "value": "Q&A",
              "type": "string"
            },
            {
              "id": "6ac412a6-15ad-4a4b-9b7a-58d5ccbbe68e",
              "name": "version",
              "value": "2.0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2460,
        400
      ],
      "id": "a9133549-69b7-4fde-832b-58907f3d7d7e",
      "name": "Tag Pipeline Metadata"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#knowledge",
          "cachedResultName": "#knowledge"
        },
        "text": "=✅ Answer indexed documents with HTTP / REST API on autopilot for Q&A — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2700,
        400
      ],
      "id": "afff0ddb-dafa-4f35-9886-bfac4454c863",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48d7a7e0-e1a9-4732-9009-a8d81260b061",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "b0720f94-87da-4162-b650-bb0e3037cf29",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "54ccff2d-0aaa-42f0-b7d9-1a8e7d17bd04",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2220,
        740
      ],
      "id": "d74f5cd2-8020-4d51-9952-e16b11cf224e",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#knowledge",
          "cachedResultName": "#knowledge"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2460,
        740
      ],
      "id": "21c12533-769d-4aec-afea-beed6aaaaf50",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Answer indexed documents with HTTP / REST API on autopilot for Q&A\n\n**Pattern:** RAG Pipeline  \n**Trigger:** Webhook  \n**Level:** Core\n\nProcesses documents for q&a — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        60
      ],
      "id": "05d8b842-69f4-40c0-aaf2-0458983717f3",
      "name": "Overview"
    }
  ],
  "connections": {
    "Receive Inbound Webhook": {
      "main": [
        [
          {
            "node": "Normalize Document Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Document Payload": {
      "main": [
        [
          {
            "node": "Answer from Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer from Knowledge Base",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base Retriever": {
      "ai_tool": [
        [
          {
            "node": "Answer from Knowledge Base",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base Retriever",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Answer from Knowledge Base": {
      "main": [
        [
          {
            "node": "Grounded Answer Found?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grounded Answer Found?": {
      "main": [
        [
          {
            "node": "Return Answer (HTTP 200)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Knowledge Gap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Knowledge Gap": {
      "main": [
        [
          {
            "node": "Flag Gap to KB Owners",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Answer (HTTP 200)": {
      "main": [
        [
          {
            "node": "Tag Pipeline Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Pipeline Metadata": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "994217ab-79e3-4f52-a3ad-425d3f40eeb9",
  "id": "FDX06814"
}