product-files/workflows/Trading & Crypto Automation/Risk Monitoring/Intermediate/08755_Monitor a key metric with HTTP REST API and Discord and log the results.json
{"name":"Monitor a key metric with HTTP / REST API and Discord and log the results","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-270,400],"id":"07046dc8-3d2f-43e3-aa71-9293b40f6239","name":"Every Few Minutes"},{"parameters":{"method":"GET","url":"https://api.example.com/v1/assets","options":{"timeout":20000},"sendQuery":true,"queryParameters":{"parameters":[{"name":"updated_since","value":"={{ $now.minus({hours: 6}).toISO() }}"},{"name":"limit","value":"100"}]}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[54,400],"id":"dfffbbbb-1e9f-4a72-924d-655884ed997f","name":"Fetch Current Metrics","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Compute a simple moving average and momentum signal\nconst items = $input.all().map(i => i.json);\nconst closes = items.map(j => Number(j.price)).filter(n => !isNaN(n));\nconst sma = closes.slice(-20).reduce((a, b) => a + b, 0) / Math.min(20, closes.length);\nconst last = closes[closes.length - 1];\nconst momentum = closes.length > 5 ? last - closes[closes.length - 6] : 0;\nreturn [{ json: { sma20: Math.round(sma * 100) / 100, last, momentum, signal: last > sma && momentum > 0 ? 'bullish' : 'neutral' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[378,400],"id":"a26a65ff-ac2f-48f5-878a-a185519d3d10","name":"Compute Severity Signals"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c64d299a-f0bf-40ca-b24d-f60094b9af38","leftValue":"={{ $json.score ?? $json.momentum ?? 0 }}","rightValue":40,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"info"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"857f0b32-af85-4bf7-9907-00034992bcc7","leftValue":"={{ $json.score ?? $json.momentum ?? 0 }}","rightValue":70,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"renameOutput":true,"outputKey":"warning"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f1dc715d-0a80-40ef-bc01-e3cb1f176df9","leftValue":"={{ $json.score ?? $json.momentum ?? 0 }}","rightValue":90,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"renameOutput":true,"outputKey":"critical"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[702,400],"id":"fbabf61f-17b2-48f9-9c64-473ef0047418","name":"Grade Severity Tier"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Asset Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1026,-80],"id":"84b0ac32-c336-4290-8042-f4a15bd9901a","name":"Just Record (Info)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"authentication":"webhook","content":"=🟠 Warning tier reached: {{ $json.symbol }} at {{ $json.score ?? $json.last }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1350,400],"id":"6e97e7da-5415-488b-81c2-6f5f73a9e58c","name":"Warn Channel (Discord)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#trading","cachedResultName":"#trading"},"text":"=🔴 CRITICAL: {{ $json.symbol }} breached threshold — act now","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1674,880],"id":"90ca5359-e480-4b92-af27-ec58538db983","name":"Page Urgently (Slack)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Asset Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1998,1360],"id":"edee4947-bcff-4cd5-b501-a4be460f1669","name":"Archive Unscored","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"mode":"append","numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2646,400],"id":"5328d7f4-83f7-445b-a75e-88bb54469d8f","name":"Merge Tier Outcomes"},{"parameters":{"operation":"csv","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3618,400],"id":"020b15e2-1a79-4e24-abb8-da3213861151","name":"Serialize Run Output (CSV)"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Asset Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3942,400],"id":"50a3b1f5-5424-4e57-b3f6-c926655b86f5","name":"Archive Row Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"operation":"read","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Asset Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4266,400],"id":"67957970-bff7-4ab6-bb1e-8953a3d9cf06","name":"Load Previous Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Compare current metrics with the previous snapshot\nconst current = $input.first().json;\nconst prev = $('Load Previous Snapshot').first().json || {};\nconst drift = {};\nfor (const k of Object.keys(current)) {\n  if (typeof current[k] === 'number' && typeof prev[k] === 'number' && prev[k] !== 0) {\n    drift[k] = Math.round(((current[k] - prev[k]) / prev[k]) * 1000) / 10;\n  }\n}\nreturn [{ json: { ...current, driftPct: drift, hasDrift: Object.values(drift).some(v => Math.abs(v) > 10) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4590,400],"id":"5e24fd12-4b03-44cb-8cb6-81c91275afc2","name":"Compute Drift vs Snapshot"},{"parameters":{"method":"GET","url":"https://enrichment.example.com/v2/lookup","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.price }}"}]},"options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4914,400],"id":"ae13a331-20b2-4297-b355-f15f12d07a68","name":"Enrich with Reference Data","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"4fcf69e1-55c8-418e-80d8-666da4ef222c","name":"enrichedAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"e9d2abb7-143c-4f76-b243-1d1941085d33","name":"enrichmentSource","value":"reference-api","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5238,400],"id":"edce4d81-3526-4903-9d6d-c567ff31d56c","name":"Fold In Enrichment Fields"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Build a stable idempotency key per asset (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.symbol, j.price].join('|')) } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5562,400],"id":"cd3da4e8-8dbd-4d6a-a740-be5c6af118a9","name":"Fingerprint for Idempotency"},{"parameters":{"operation":"removeItemsSeenInPreviousExecutions","logic":"removeItemsWithAlreadySeenKeyValues","dedupeValue":"={{ $json.idempotencyKey }}","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[5886,400],"id":"ae125a6a-b562-48ff-ae94-b91102e19711","name":"Drop Already-Processed Items"},{"parameters":{"assignments":{"assignments":[{"id":"1868d0df-1617-459a-a8e7-7ce708ff6e2b","name":"runAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"ea1db323-5c33-48fa-a6cf-796d7c30d0b9","name":"itemCount","value":"={{ $input.all().length }}","type":"number"},{"id":"f99fb744-31b7-462b-b44b-8b6bac1f9dd2","name":"status","value":"completed","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6210,400],"id":"8e27361c-e8ce-4652-b196-022411ea1f4a","name":"Summarize Run Stats"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Asset Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[6534,400],"id":"9342b375-aefd-4cba-b6a7-f747353325d0","name":"Append Audit Row (Google Sheets)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"authentication":"webhook","content":"=✅ Monitor a key metric with HTTP / REST API and Discord and log the resu — run completed at {{ $now.toFormat('HH:mm') }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[6858,400],"id":"5cd3aa02-7539-4878-a341-7d4687a7b1c4","name":"Send Summary to Discord","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"c9700f58-1a4c-4b5b-9795-f1c30fc4e6f8","name":"failedNode","value":"={{ $json.error?.node?.name || 'unknown' }}","type":"string"},{"id":"20037b9c-b84c-4279-95ed-13bd6c347ea0","name":"errorMessage","value":"={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}","type":"string"},{"id":"2eecbf1e-aa7c-4df9-b72f-f988658dee09","name":"workflow","value":"={{ $workflow.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6210,1420],"id":"dec83293-9f0e-4fa0-8de8-168785814d3e","name":"Capture Failure Context"},{"parameters":{"authentication":"webhook","content":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[6534,1420],"id":"876cac29-4f7d-4627-95ab-375986363e0e","name":"Escalate Failure to Discord","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Asset Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[6858,1420],"id":"67b1b322-9905-4705-b631-4417983add33","name":"Park in Dead-Letter Queue","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"content":"### Every Few Minutes\n\nStarts the workflow on a timer — every 15 min. No input data; downstream nodes fetch what they need.\n\nNext: Fetch Current Metrics","width":280,"height":232,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-330,520],"id":"c3f41358-dbb2-5f28-36ba-44083cca39a3","name":"Note: Every Few Minutes"},{"parameters":{"content":"### Fetch Current Metrics\n\nGET https://api.example.com/v1/assets — retries 3× with backoff on failure.\n\nPorts: ①→ Compute Severity Signals · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6,520],"id":"a3ae65a4-51af-d441-15c0-984af3d6336d","name":"Note: Fetch Current Metrics"},{"parameters":{"content":"### Compute Severity Signals\n\nCustom JavaScript: Compute a simple moving average and momentum signal\n\nNext: Grade Severity Tier","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[318,520],"id":"3c31ebb9-2716-37ff-e71c-4261722fe750","name":"Note: Compute Severity Signals"},{"parameters":{"content":"### Grade Severity Tier\n\nRoutes each item to one of 4 lanes: info, warning, critical + fallback.\n\nPorts: ①→ Just Record (Info) · ②→ Warn Channel (Discord) · ③→ Page Urgently (Slack) · ④→ Archive Unscored","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[642,520],"id":"4766a702-1145-46dd-fcab-5eb22ae7c47d","name":"Note: Grade Severity Tier"},{"parameters":{"content":"### Just Record (Info)\n\nAppends a new row to 'Asset Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\nPorts: ①→ Merge Tier Outcomes · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[966,40],"id":"03f2c47d-fd95-1c83-592f-a69d54c102b6","name":"Note: Just Record (Info)"},{"parameters":{"content":"### Warn Channel (Discord)\n\nPosts to a Discord channel via an incoming webhook — no bot token needed, the webhook URL on the credential is the only secret.\n\nPorts: ①→ Merge Tier Outcomes · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Discord webhook URL","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1290,520],"id":"03d6d2bd-f4c4-7dd9-a6e4-f56054b4bdf8","name":"Note: Warn Channel (Discord)"},{"parameters":{"content":"### Page Urgently (Slack)\n\nPosts a message to Slack (`#trading`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\nPorts: ①→ Merge Tier Outcomes · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1614,1000],"id":"6e7d82c0-0db7-2bfb-2dd2-f730078b5b29","name":"Note: Page Urgently (Slack)"},{"parameters":{"content":"### Archive Unscored\n\nAppends a new row to 'Asset Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\nPorts: ①→ Merge Tier Outcomes · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1938,1480],"id":"fa6f8800-ee3f-19b3-4d90-020b8aea7b97","name":"Note: Archive Unscored"},{"parameters":{"content":"### Merge Tier Outcomes\n\nRejoins 4 branches into one stream (mode: append) so downstream logic runs once.\n\nNext: Serialize Run Output (CSV)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2586,520],"id":"b872020e-6a02-41b7-31e1-7e06622fca58","name":"Note: Merge Tier Outcomes"},{"parameters":{"content":"### Serialize Run Output (CSV)\n\nSerializes items to a CSV binary file.\n\nNext: Archive Row Snapshot","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3558,520],"id":"81876875-3a65-7f15-35fc-59fa5e5b8288","name":"Note: Serialize Run Output (CSV)"},{"parameters":{"content":"### Archive Row Snapshot\n\nAppends a new row to 'Asset Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\nPorts: ①→ Load Previous Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3882,520],"id":"395766c4-4bfb-8cd1-ca2d-b69d9b5fb51f","name":"Note: Archive Row Snapshot"},{"parameters":{"content":"### Load Previous Snapshot\n\nReads every row from 'Asset Tracker' — the read side of the store, e.g. for a digest or a downstream sync.\n\nPorts: ①→ Compute Drift vs Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4206,520],"id":"a1d40844-8989-3a3f-ae65-25296e86d67d","name":"Note: Load Previous Snapshot"},{"parameters":{"content":"### Compute Drift vs Snapshot\n\nCustom JavaScript: Compare current metrics with the previous snapshot\n\nNext: Enrich with Reference Data","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4530,520],"id":"e137d99a-7982-53b1-2c57-e8f3e0d3595d","name":"Note: Compute Drift vs Snapshot"},{"parameters":{"content":"### Enrich with Reference Data\n\nGET https://enrichment.example.com/v2/lookup — retries 3× with backoff on failure.\n\nPorts: ①→ Fold In Enrichment Fields · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4854,520],"id":"d1a0b5e1-14dc-5dfa-a709-11a6798c52ce","name":"Note: Enrich with Reference Data"},{"parameters":{"content":"### Fold In Enrichment Fields\n\nShapes the item: writes `enrichedAt`, `enrichmentSource`. Keeps the schema explicit between stages.\n\nNext: Fingerprint for Idempotency","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5178,520],"id":"319dcd8d-e5fb-3c24-54d2-e9e6863412fe","name":"Note: Fold In Enrichment Fields"},{"parameters":{"content":"### Fingerprint for Idempotency\n\nCustom JavaScript: Build a stable idempotency key per asset (djb2 hash, no deps)\n\nNext: Drop Already-Processed Items","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5502,520],"id":"5d634f04-0bd9-1290-052e-0fa7f5e6695d","name":"Note: Fingerprint for Idempotency"},{"parameters":{"content":"### Drop Already-Processed Items\n\nCross-execution dedupe: remembers keys it has processed before and drops repeats — the idempotency guard.\n\nNext: Summarize Run Stats","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5826,520],"id":"895ef176-d8a6-a3a4-63ab-f09c0cbf6c0d","name":"Note: Drop Already-Processed Items"},{"parameters":{"content":"### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Google Sheets)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6150,520],"id":"95b13884-ca4c-b04f-21e9-026c78241509","name":"Note: Summarize Run Stats"},{"parameters":{"content":"### Append Audit Row (Google Sheets)\n\nAppends a new row to 'Asset Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\nPorts: ①→ Send Summary to Discord · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6474,520],"id":"7873e90c-bdaf-bebd-84c0-d3e1d70048c7","name":"Note: Append Audit Row (Google Sheets)"},{"parameters":{"content":"### Send Summary to Discord\n\nPosts to a Discord channel via an incoming webhook — no bot token needed, the webhook URL on the credential is the only secret.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Discord webhook URL","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6798,520],"id":"fc3f9d1d-da31-cd76-93fd-27fff64cf094","name":"Note: Send Summary to Discord"},{"parameters":{"content":"### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Discord","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6150,1540],"id":"670626d4-3be8-deec-7718-6a0b02d34615","name":"Note: Capture Failure Context"},{"parameters":{"content":"### Escalate Failure to Discord\n\nPosts to a Discord channel via an incoming webhook — no bot token needed, the webhook URL on the credential is the only secret.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Discord webhook URL","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6474,1540],"id":"8dbf92ca-5cda-d365-d5e6-d8111280f2b0","name":"Note: Escalate Failure to Discord"},{"parameters":{"content":"### Park in Dead-Letter Queue\n\nAppends a new row to 'Asset Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\n↻ retries 3×/2s · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6798,1540],"id":"ca4755f7-e606-d361-acd7-921b197a3371","name":"Note: Park in Dead-Letter Queue"},{"parameters":{"content":"# Monitor a key metric with HTTP / REST API and Discord and log the results\n\n**Pattern:** Threshold Monitoring · **Level:** Production · **Trigger:** Scheduled\n\n## What it does\nMonitor a key metric with HTTP / REST API and Discord and log the results. It runs automatically on a schedule.\n\n## Why it exists\nManual risk monitoring is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nEvery Few Minutes → Fetch Current Metrics → Compute Severity Signals → Grade Severity Tier → Just Record (Info) → Merge Tier Outcomes → Serialize Run Output (CSV) → …\n\n## Use it for\n- Teams that want to threshold monitoring without manual effort\n- Anyone automating risk monitoring in finance\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Has retries and error handling built in\n- Responds in seconds\n- Keeps your systems in sync\n\n## Before first run\nConnect credentials: API key / bearer for the target API; Discord webhook URL; Google OAuth2 / service account; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.\n\n## Try it now\nSample data is pinned on the trigger — hit **Execute Workflow** to watch it flow through every node before connecting any real credentials. Unpin the trigger (right-click → Unpin) when you're ready to go live.","width":480,"height":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,80],"id":"855ed932-02c9-d95b-53cd-850b4e50ee04","name":"📘 Workflow Overview"},{"parameters":{"content":"## Design decisions\n\nThree response tiers, not a single yes/no alert, match the response to the severity — logging every metric quietly would bury the one critical spike, and paging on-call for every info-level blip trains them to ignore alerts entirely. Critical gets a distinct, louder channel from warning on purpose.","width":480,"height":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1020],"id":"71d70257-aa96-1971-6d85-2cd300c74617","name":"🎓 Design Decisions"},{"parameters":{"content":"## Practice exercises\n\nAlready production-grade — deepen your understanding:\n\n1. Adjust the tier thresholds and see how alert sensitivity changes.\n2. Trigger a critical-tier value and confirm it pages a different channel than warning does.\n3. Add a 4th tier between warning and critical.","width":480,"height":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1360],"id":"1c3f3540-57d1-999c-7b73-695650fd2e88","name":"🧪 Practice Exercises"},{"parameters":{"content":"## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.","width":360,"height":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-230,-500],"id":"a35fa988-17ba-8af9-79c5-926631c5d9f6","name":"🛟 Error handling & retries"},{"parameters":{"content":"## 🧹 Data quality\n\nDedupe/diff steps make re-runs safe: the same input twice will not create duplicate records. If you change the key fields, clear n8n's dedupe memory (node → 'Clear stored keys') before the next run.","width":360,"height":260,"color":1},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[190,-500],"id":"1469d98b-5478-8a0c-4ef7-217eeffc591e","name":"🧹 Data quality"},{"parameters":{"content":"## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your risk monitoring process. Every node card explains its role — safe to extend at any marked branch.","width":360,"height":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[610,-500],"id":"8dda1d89-22a0-df21-1efc-141b3131e5e2","name":"🛠 Customize me"}],"connections":{"Every Few Minutes":{"main":[[{"node":"Fetch Current Metrics","type":"main","index":0}]]},"Fetch Current Metrics":{"main":[[{"node":"Compute Severity Signals","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Compute Severity Signals":{"main":[[{"node":"Grade Severity Tier","type":"main","index":0}]]},"Grade Severity Tier":{"main":[[{"node":"Just Record (Info)","type":"main","index":0}],[{"node":"Warn Channel (Discord)","type":"main","index":0}],[{"node":"Page Urgently (Slack)","type":"main","index":0}],[{"node":"Archive Unscored","type":"main","index":0}]]},"Just Record (Info)":{"main":[[{"node":"Merge Tier Outcomes","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Warn Channel (Discord)":{"main":[[{"node":"Merge Tier Outcomes","type":"main","index":1}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Page Urgently (Slack)":{"main":[[{"node":"Merge Tier Outcomes","type":"main","index":2}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Archive Unscored":{"main":[[{"node":"Merge Tier Outcomes","type":"main","index":3}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Merge Tier Outcomes":{"main":[[{"node":"Serialize Run Output (CSV)","type":"main","index":0}]]},"Serialize Run Output (CSV)":{"main":[[{"node":"Archive Row Snapshot","type":"main","index":0}]]},"Archive Row Snapshot":{"main":[[{"node":"Load Previous Snapshot","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Load Previous Snapshot":{"main":[[{"node":"Compute Drift vs Snapshot","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Compute Drift vs Snapshot":{"main":[[{"node":"Enrich with Reference Data","type":"main","index":0}]]},"Enrich with Reference Data":{"main":[[{"node":"Fold In Enrichment Fields","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Fold In Enrichment Fields":{"main":[[{"node":"Fingerprint for Idempotency","type":"main","index":0}]]},"Fingerprint for Idempotency":{"main":[[{"node":"Drop Already-Processed Items","type":"main","index":0}]]},"Drop Already-Processed Items":{"main":[[{"node":"Summarize Run Stats","type":"main","index":0}]]},"Summarize Run Stats":{"main":[[{"node":"Append Audit Row (Google Sheets)","type":"main","index":0}]]},"Append Audit Row (Google Sheets)":{"main":[[{"node":"Send Summary to Discord","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Capture Failure Context":{"main":[[{"node":"Escalate Failure to Discord","type":"main","index":0}]]},"Escalate Failure to Discord":{"main":[[{"node":"Park in Dead-Letter Queue","type":"main","index":0}]]},"Send Summary to Discord":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveManualExecutions":true,"executionTimeout":3600},"meta":{"templateCredsSetupCompleted":false},"tags":[],"pinData":{"Every Few Minutes":[{"json":{"symbol":"BTC-USD","price":64250.1,"change24h":2.3,"volume":28450000000}},{"json":{"symbol":"ETH-USD","price":3180.55,"change24h":-1.1,"volume":12300000000}}]},"versionId":"6f1d1c94-2bfd-4338-b7ff-1236d2bd1810","id":"FDX08755"}