product-files/workflows/RAG Knowledge Base/Document Search/Intermediate/06580_Query questions from a knowledge base with HTTP REST API end to end.json
{
  "name": "Query questions from a knowledge base with HTTP / REST API end to end",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "56cfb40b",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "c2f199c8-ee4c-4890-8861-8d86eb98eeaf",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "webhookId": "aa023e9e-ef7e-4392-a545-4e8c52071a62"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd1e5d4f-fbc6-48b3-a34a-b111fffc80eb",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "9dfc0d58-1053-4aa5-a6b3-182462cd0725",
              "name": "isValid",
              "value": "={{ $json ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "a523e7e6-7050-4b0d-8f72-6916d6ea47a9",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        300
      ],
      "notes": "Validate & normalize the input before downstream steps (§9.1)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "13a14089-6692-4943-85a6-a859c46117e1",
              "leftValue": "={{ $json.receivedAt || $now.toISO() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4380d95a-b365-4e34-870a-bf6eb7487a4b",
      "name": "Idempotency Guard",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        780,
        300
      ],
      "notes": "Idempotency guard — replace with a real dedup key lookup (Redis/DB) in production (§9.1, §9.5)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9ed64a00-38e5-498c-be0a-179cc6e515e4",
              "leftValue": "={{ $json.isValid !== false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6ebe4cfc-a964-482a-9a6f-dedca8557c19",
      "name": "Input Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1020,
        300
      ],
      "notes": "Validate early — quarantine invalid items instead of processing them (§9.1)."
    },
    {
      "parameters": {},
      "id": "101bc0af-02f5-47e2-a72e-14735856a097",
      "name": "Log Invalid Input",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1020,
        500
      ],
      "notes": "Dead-letter placeholder — route to a data table/DB for later inspection (§9.3)."
    },
    {
      "parameters": {
        "url": "https://api.example.com/v1/data",
        "options": {}
      },
      "id": "b89a4f7e-d405-4b6a-b719-a826aa2adc32",
      "name": "Fetch Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Process the following input and return a helpful result:\n{{ JSON.stringify($json) }}"
      },
      "id": "f06b76cf-8959-4b82-be41-12ebc3277d45",
      "name": "Answer with AI",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1500,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "f9df1607-dd4e-45e1-a945-6a1ad63b5b58",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1740,
        300
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "a18a0327-b44d-4864-bb5a-165d92a61152",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        980,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "62204e6c-cff3-43ea-97ca-9d0a17e5400a",
              "leftValue": "={{ $json.retrievalScore }}",
              "rightValue": "0.6",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ef59e4a5-6374-4882-82c5-9d79ed2a7d6a",
      "name": "Sufficient Context Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1980,
        300
      ],
      "notes": "Real business branch — route on the condition that actually distinguishes this item, per the category's production pattern (§8)."
    },
    {
      "parameters": {},
      "id": "26de34fe-b226-4029-a833-d50928d48ecc",
      "name": "Answer from Knowledge Base",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {},
      "id": "4a26eb79-f7d5-4185-b28a-81ec94b866f8",
      "name": "Fallback to General Answer",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2220,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7fe7fcd7-e1a1-4e71-aa27-2d14aa664b15",
              "name": "errorAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a5870758-81e1-4815-9538-ed021e6ad694",
      "name": "Handle Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2460,
        700
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#alerts",
        "text": "={{ 'Failure in ' + $workflow.name + ': ' + JSON.stringify($json) }}",
        "otherOptions": {}
      },
      "id": "b699bd50-6966-4b4b-b9b3-e08d04082e49",
      "name": "Alert on Failure",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2700,
        760
      ],
      "notes": "Notify on failure without aborting the run (§9.3).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "id": "b072ab7b-1552-41fd-87c8-1409b14c16e5",
      "name": "Merge Branch Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2940,
        300
      ],
      "notes": "Recombine both decision paths before shared downstream steps (§11.1 — avoid losing the false branch)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/v1/sync",
        "options": {}
      },
      "id": "7068c0a3-5c3e-4a07-a2a4-9c895d148ed9",
      "name": "Sync to Secondary System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3180,
        300
      ],
      "notes": "Second-system fan-out — real multi-integration requirement for this tier (§9.1).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "18a54b89-c746-4e56-9d43-adec955946b1",
      "name": "Rate Limit Guard",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3420,
        300
      ],
      "notes": "Respect downstream API rate limits before the next batch of writes (§9.5)."
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "42043c25-2290-4d07-8856-488b81ace36e",
      "name": "Write Audit Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3660,
        300
      ],
      "notes": "Audit trail entry — timestamp, outcome, and branch taken (§9.3, §8.14).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-log",
        "text": "={{ 'Completed: ' + $workflow.name }}",
        "otherOptions": {}
      },
      "id": "3545bedd-c159-4e46-8456-e3f851ae840d",
      "name": "Success Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        3900,
        300
      ],
      "notes": "Confirms completion — distinct from the failure alert channel.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Query questions from a knowledge base with HTTP / REST API end to end\n\n**Tier:** Premium · **Difficulty:** Intermediate\n**Pattern:** Document Search (RAG / Knowledge Base)\n**Architecture:** validated input, branch on sufficient context found?, multi-system sync, audit log.\n\nImport, add your credentials, then adjust parameters. Original WorkflowCrate template.",
        "height": 280,
        "width": 380,
        "color": 4
      },
      "id": "f5bd246d-6854-4210-9c6a-becbe9b448c9",
      "name": "Sticky Note 8eb1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4180,
        40
      ]
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Idempotency Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotency Guard": {
      "main": [
        [
          {
            "node": "Input Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Valid?": {
      "main": [
        [
          {
            "node": "Fetch Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Data": {
      "main": [
        [
          {
            "node": "Answer with AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer with AI": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Sufficient Context Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sufficient Context Found?": {
      "main": [
        [
          {
            "node": "Answer from Knowledge Base",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback to General Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error": {
      "main": [
        [
          {
            "node": "Alert on Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer from Knowledge Base": {
      "main": [
        [
          {
            "node": "Merge Branch Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback to General Answer": {
      "main": [
        [
          {
            "node": "Merge Branch Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Branch Results": {
      "main": [
        [
          {
            "node": "Sync to Secondary System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync to Secondary System": {
      "main": [
        [
          {
            "node": "Rate Limit Guard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Guard": {
      "main": [
        [
          {
            "node": "Write Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Audit Log": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "3b73080e-6d32-448d-a6aa-a04a4383bea7",
  "id": "FDX06580"
}