product-files/workflows/AI Agents/Conversational AI/Advanced/01529_Run an AI agent task with Gmail on autopilot for Conversational AI.json
{
  "name": "Run an AI agent task with Gmail on autopilot for Conversational AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf01529-request",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -270,
        400
      ],
      "id": "edfa77cf-c4aa-421b-940c-fd0373af809d",
      "name": "Receive Inbound Webhook",
      "webhookId": "d13f8016-bbee-4d8a-8893-6a23638ea665"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f141d65b-8645-4346-88a1-648b5d26564d",
              "name": "content",
              "value": "={{ $json.body?.text || $json.content || JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        54,
        400
      ],
      "id": "752021b1-6505-4e8d-908d-cfe41824379f",
      "name": "Collect Raw Text"
    },
    {
      "parameters": {
        "text": "={{ $json.text || $json.content }}",
        "attributes": {
          "attributes": [
            {
              "name": "requestId",
              "description": "The requestId of this request.",
              "required": true
            },
            {
              "name": "query",
              "description": "The query of this request.",
              "required": true
            },
            {
              "name": "context",
              "description": "The context of this request.",
              "required": false
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are a precise extraction engine. Only extract values present in the text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        378,
        400
      ],
      "id": "cefc18db-2ef1-4f73-b01f-5b0a1f6f1f67",
      "name": "Extract Structured Fields",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        621,
        970
      ],
      "id": "0332dcbc-084a-4def-93f0-0fe081604c20",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73a883fe-5ff9-492b-9956-f1c9005e8959",
              "leftValue": "={{ $json.output?.requestId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        945,
        400
      ],
      "id": "3f4dc649-918c-4448-a311-147bb0e6294c",
      "name": "All Required Fields Found?"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "requestId"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1269,
        160
      ],
      "id": "543dccb9-df42-42b7-8092-7a4331b5a2b7",
      "name": "Upsert into Google Sheets",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#ai-ops",
          "cachedResultName": "#ai-ops"
        },
        "text": "=✍️ Extraction incomplete for {{ $json.fileName || 'document' }} — please review.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1593,
        760
      ],
      "id": "b47456d1-9ef4-42af-b50a-6a962dbfe925",
      "name": "Queue for Manual Review",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2241,
        400
      ],
      "id": "a699dc83-a95c-4e59-9a32-f0ccc39cf000",
      "name": "Merge Review Paths"
    },
    {
      "parameters": {
        "operation": "csv",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3213,
        400
      ],
      "id": "02c4868d-23a3-429a-826e-17279f1b684d",
      "name": "Serialize Run Output (CSV)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3537,
        400
      ],
      "id": "ffe0e452-cf06-4384-a7b0-cfcd424f5a6a",
      "name": "Archive Row Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getCurrentDate",
        "outputFieldName": "completedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3861,
        400
      ],
      "id": "639cbb01-7b4a-414b-9fb5-e4b743c1c55f",
      "name": "Stamp Completion Time"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "runId",
              "value": "={{ $execution.id }}"
            },
            {
              "key": "itemCount",
              "value": "={{ $items().length }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        4185,
        400
      ],
      "id": "257a046a-53a0-4620-8e59-875abb2145fb",
      "name": "Persist Run Metadata"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build a stable idempotency key per request (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.requestId, j.query].join('|')) } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4509,
        400
      ],
      "id": "303e29e0-44fd-419a-887d-7663e6df85d5",
      "name": "Fingerprint for Idempotency"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "logic": "removeItemsWithAlreadySeenKeyValues",
        "dedupeValue": "={{ $json.idempotencyKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        4833,
        400
      ],
      "id": "2a65cb54-5a89-4d5f-a091-14b2527599eb",
      "name": "Drop Already-Processed Items"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5157,
        400
      ],
      "id": "0fe549a9-3e11-4c9a-804b-bc7566b7ab82",
      "name": "Load Previous Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Compare current metrics with the previous snapshot\nconst current = $input.first().json;\nconst prev = $('Load Previous Snapshot').first().json || {};\nconst drift = {};\nfor (const k of Object.keys(current)) {\n  if (typeof current[k] === 'number' && typeof prev[k] === 'number' && prev[k] !== 0) {\n    drift[k] = Math.round(((current[k] - prev[k]) / prev[k]) * 1000) / 10;\n  }\n}\nreturn [{ json: { ...current, driftPct: drift, hasDrift: Object.values(drift).some(v => Math.abs(v) > 10) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5481,
        400
      ],
      "id": "240f755c-e23c-411a-a7f1-77568003053f",
      "name": "Compute Drift vs Snapshot"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc2c31f6-2198-4dd0-81c0-b4a2e455c359",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "321b7cb6-7748-43eb-b283-0958885d8998",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "80a54533-b5e8-4eed-b3c7-76aa9769092d",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5805,
        400
      ],
      "id": "dc3c789b-1fe6-4c35-8b41-55842bed05cd",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6129,
        400
      ],
      "id": "4f5ffd47-9836-4462-8d02-04127e02f94a",
      "name": "Append Audit Row (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email || 'ops@company.com' }}",
        "subject": "=✅ Run an AI agent task with Gmail on autopilot for Conversational AI — run comp",
        "message": "=✅ Run an AI agent task with Gmail on autopilot for Conversational AI — run completed at {{ $now.toFormat('HH:mm') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        6453,
        400
      ],
      "id": "2110557e-db6a-42b1-94af-261cf3521d2a",
      "name": "Send Summary to Gmail",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8afcccd6-26b0-4a92-8798-1ef7fd9166fa",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "c2d6e685-85ce-4176-9ab6-535e97370e8c",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "1acb8ea8-4e78-4144-b788-f2e91fdcae6c",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5805,
        1420
      ],
      "id": "395862f5-a6a9-4a15-a05d-c9bcdeb89015",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#ai-ops",
          "cachedResultName": "#ai-ops"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        6129,
        1420
      ],
      "id": "97debbe5-0236-4cee-9a56-40cf7972cbbb",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6453,
        1420
      ],
      "id": "55b3c8cb-4221-47fd-bf41-e6de7ed42365",
      "name": "Park in Dead-Letter Queue",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "### Receive Inbound Webhook\n\nEntry point: listens for POST calls on `/wf01529-request`. Use the TEST url while building, switch callers to the PRODUCTION url after publishing.\n\nNext: Collect Raw Text",
        "width": 280,
        "height": 232,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -330,
        520
      ],
      "id": "4a91937d-ce74-065b-e2f2-359e37198f54",
      "name": "Note: Receive Inbound Webhook"
    },
    {
      "parameters": {
        "content": "### Collect Raw Text\n\nShapes the item: writes `content`. Keeps the schema explicit between stages.\n\nNext: Extract Structured Fields",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6,
        520
      ],
      "id": "fece4465-1bc7-91f8-6009-9e3e2950c1aa",
      "name": "Note: Collect Raw Text"
    },
    {
      "parameters": {
        "content": "### Extract Structured Fields\n\nPulls structured fields (requestId, query, context) out of free text using a strict extraction prompt.\n\nPorts: ①→ All Required Fields Found? · ②→ Capture Failure Context\n\n⚠ failures exit via the error rail",
        "width": 280,
        "height": 232,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        318,
        520
      ],
      "id": "bd4ae8cf-9b00-03ec-acba-ffffb8fdc9a4",
      "name": "Note: Extract Structured Fields"
    },
    {
      "parameters": {
        "content": "### OpenAI Chat Model\n\nChat model powering the AI step (model: `gpt-4o-mini`). Swap providers here without rewiring.\n\nFeeds **Extract Structured Fields** as `languageModel`\n\n🔑 OpenAI API key",
        "width": 280,
        "height": 232,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        561,
        1090
      ],
      "id": "10137d50-6794-cd74-afaf-0a104433af46",
      "name": "Note: OpenAI Chat Model"
    },
    {
      "parameters": {
        "content": "### All Required Fields Found?\n\nTwo-way gate on `={{ $json.output?.requestId }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Upsert into Google Sheets · ②→ Queue for Manual Review",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        885,
        520
      ],
      "id": "876c13ce-c179-d2db-0312-6dfb544b0cce",
      "name": "Note: All Required Fields Found?"
    },
    {
      "parameters": {
        "content": "### Upsert into Google Sheets\n\ngoogleSheets — `appendOrUpdate` operation against the connected account.\n\nPorts: ①→ Merge Review Paths · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1209,
        280
      ],
      "id": "4d5d94b4-0c88-c585-4bf4-dc434f47cff0",
      "name": "Note: Upsert into Google Sheets"
    },
    {
      "parameters": {
        "content": "### Queue for Manual Review\n\nslack — `action` operation against the connected account.\n\nPorts: ①→ Merge Review Paths · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1533,
        880
      ],
      "id": "9011e9d4-f21c-ed06-6635-1c260d24710b",
      "name": "Note: Queue for Manual Review"
    },
    {
      "parameters": {
        "content": "### Merge Review Paths\n\nRejoins 2 branches into one stream (mode: append) so downstream logic runs once.\n\nNext: Serialize Run Output (CSV)",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2181,
        520
      ],
      "id": "295b5a05-87c1-e0df-4624-bb735fcb7548",
      "name": "Note: Merge Review Paths"
    },
    {
      "parameters": {
        "content": "### Serialize Run Output (CSV)\n\nSerializes items to a CSV binary file.\n\nNext: Archive Row Snapshot",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3153,
        520
      ],
      "id": "70a9f96d-99d8-a788-f403-599c6480ee3b",
      "name": "Note: Serialize Run Output (CSV)"
    },
    {
      "parameters": {
        "content": "### Archive Row Snapshot\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Stamp Completion Time · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3477,
        520
      ],
      "id": "22dee274-ff64-4b45-bf6d-ff52dacdeb9e",
      "name": "Note: Archive Row Snapshot"
    },
    {
      "parameters": {
        "content": "### Stamp Completion Time\n\nStamps `completedAt` with the current time for auditing.\n\nNext: Persist Run Metadata",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3801,
        520
      ],
      "id": "dfd7bc59-91a5-0e64-081a-6db3bbb520ad",
      "name": "Note: Stamp Completion Time"
    },
    {
      "parameters": {
        "content": "### Persist Run Metadata\n\nSaves key fields onto the execution record — searchable later in n8n's execution list.\n\nNext: Fingerprint for Idempotency",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4125,
        520
      ],
      "id": "e755b768-6ed8-3ddf-155b-375325a92b10",
      "name": "Note: Persist Run Metadata"
    },
    {
      "parameters": {
        "content": "### Fingerprint for Idempotency\n\nCustom JavaScript: Build a stable idempotency key per request (djb2 hash, no deps)\n\nNext: Drop Already-Processed Items",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4449,
        520
      ],
      "id": "bd8f5555-724a-2a56-cff0-b8c4a862e423",
      "name": "Note: Fingerprint for Idempotency"
    },
    {
      "parameters": {
        "content": "### Drop Already-Processed Items\n\nCross-execution dedupe: remembers keys it has processed before and drops repeats — the idempotency guard.\n\nNext: Load Previous Snapshot",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4773,
        520
      ],
      "id": "1b4fa253-d770-c77c-4166-75387f96f687",
      "name": "Note: Drop Already-Processed Items"
    },
    {
      "parameters": {
        "content": "### Load Previous Snapshot\n\ngoogleSheets — `read` operation against the connected account.\n\nPorts: ①→ Compute Drift vs Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5097,
        520
      ],
      "id": "3f3590bb-8371-6fcb-250a-3df240260e00",
      "name": "Note: Load Previous Snapshot"
    },
    {
      "parameters": {
        "content": "### Compute Drift vs Snapshot\n\nCustom JavaScript: Compare current metrics with the previous snapshot\n\nNext: Summarize Run Stats",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5421,
        520
      ],
      "id": "e8e4eb8a-c807-427f-8322-b0f8235829e1",
      "name": "Note: Compute Drift vs Snapshot"
    },
    {
      "parameters": {
        "content": "### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Google Sheets)",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5745,
        520
      ],
      "id": "51ff9fdc-ff85-a1a0-39e5-d48d9aaa33c9",
      "name": "Note: Summarize Run Stats"
    },
    {
      "parameters": {
        "content": "### Append Audit Row (Google Sheets)\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Send Summary to Gmail · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6069,
        520
      ],
      "id": "0e09d144-05e8-621d-2a8a-81be13b315de",
      "name": "Note: Append Audit Row (Google Sheets)"
    },
    {
      "parameters": {
        "content": "### Send Summary to Gmail\n\ngmail — `action` operation against the connected account.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2",
        "width": 280,
        "height": 232,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6393,
        520
      ],
      "id": "ee071b3a-653e-a211-546a-78415dc29105",
      "name": "Note: Send Summary to Gmail"
    },
    {
      "parameters": {
        "content": "### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Slack",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5745,
        1540
      ],
      "id": "c236b32c-c1ec-ada2-273d-74cbb307456c",
      "name": "Note: Capture Failure Context"
    },
    {
      "parameters": {
        "content": "### Escalate Failure to Slack\n\nslack — `action` operation against the connected account.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Slack OAuth2",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6069,
        1540
      ],
      "id": "67062c9b-dae4-88ef-a238-65516cbafe78",
      "name": "Note: Escalate Failure to Slack"
    },
    {
      "parameters": {
        "content": "### Park in Dead-Letter Queue\n\ngoogleSheets — `append` operation against the connected account.\n\n↻ retries 3×/2s · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6393,
        1540
      ],
      "id": "3669f3b8-fd48-14b2-e4c8-1541f2fcd0a8",
      "name": "Note: Park in Dead-Letter Queue"
    },
    {
      "parameters": {
        "content": "# Run an AI agent task with Gmail on autopilot for Conversational AI\n\n**Pattern:** AI Agent · **Level:** Production · **Trigger:** Webhook\n\n## What it does\nRun an AI agent task with Gmail on autopilot for Conversational AI. It fires the moment an external system calls its webhook.\n\n## Why it exists\nManual conversational ai is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nReceive Inbound Webhook → Collect Raw Text → Extract Structured Fields → All Required Fields Found? → Upsert into Google Sheets → Merge Review Paths → Serialize Run Output (CSV) → …\n\n## Use it for\n- Teams that want to ai agent without manual effort\n- Anyone automating conversational ai in ai\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Standardizes the process every time\n- Runs 24/7 in the background\n- Has retries and error handling built in\n\n## Before first run\nConnect credentials: Google OAuth2; Google OAuth2 / service account; OpenAI API key; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.",
        "width": 480,
        "height": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -830,
        80
      ],
      "id": "83995e73-80d9-61a0-fb34-6438fd95ca18",
      "name": "📘 Workflow Overview"
    },
    {
      "parameters": {
        "content": "## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.",
        "width": 360,
        "height": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -230,
        -260
      ],
      "id": "bbe797d6-4c4e-8542-0d7a-2237bcf0f4ad",
      "name": "🛟 Error handling & retries"
    },
    {
      "parameters": {
        "content": "## 🔐 Security\n\nNever trust inbound payloads: the webhook path is unguessable. Add header auth or IP allow-listing for defense in depth. Secrets live in n8n credentials — never in node parameters.",
        "width": 360,
        "height": 260,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        190,
        -260
      ],
      "id": "95f07714-86f5-bdd9-3548-0d9c60ce88b4",
      "name": "🔐 Security"
    },
    {
      "parameters": {
        "content": "## 🤖 AI cluster\n\nPurple nodes form one AI unit: the root node orchestrates, sub-nodes plug in via typed ports (model / memory / tools / parser). Swap the chat model without rewiring anything else. Costs scale with tokens — keep prompts lean and cap iterations.",
        "width": 360,
        "height": 260,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        610,
        -260
      ],
      "id": "e9d262e0-cc75-8897-7d36-81ae8db70974",
      "name": "🤖 AI cluster"
    },
    {
      "parameters": {
        "content": "## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your conversational ai process. Every node card explains its role — safe to extend at any marked branch.",
        "width": 360,
        "height": 260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1030,
        -260
      ],
      "id": "6b2dcb06-b920-7507-6d11-b0d12082de5a",
      "name": "🛠 Customize me"
    }
  ],
  "connections": {
    "Receive Inbound Webhook": {
      "main": [
        [
          {
            "node": "Collect Raw Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Raw Text": {
      "main": [
        [
          {
            "node": "Extract Structured Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Structured Fields",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Structured Fields": {
      "main": [
        [
          {
            "node": "All Required Fields Found?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Required Fields Found?": {
      "main": [
        [
          {
            "node": "Upsert into Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Queue for Manual Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert into Google Sheets": {
      "main": [
        [
          {
            "node": "Merge Review Paths",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue for Manual Review": {
      "main": [
        [
          {
            "node": "Merge Review Paths",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Review Paths": {
      "main": [
        [
          {
            "node": "Serialize Run Output (CSV)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serialize Run Output (CSV)": {
      "main": [
        [
          {
            "node": "Archive Row Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Row Snapshot": {
      "main": [
        [
          {
            "node": "Stamp Completion Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Completion Time": {
      "main": [
        [
          {
            "node": "Persist Run Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Run Metadata": {
      "main": [
        [
          {
            "node": "Fingerprint for Idempotency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fingerprint for Idempotency": {
      "main": [
        [
          {
            "node": "Drop Already-Processed Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drop Already-Processed Items": {
      "main": [
        [
          {
            "node": "Load Previous Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Previous Snapshot": {
      "main": [
        [
          {
            "node": "Compute Drift vs Snapshot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Drift vs Snapshot": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (Google Sheets)": {
      "main": [
        [
          {
            "node": "Send Summary to Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Failure to Slack": {
      "main": [
        [
          {
            "node": "Park in Dead-Letter Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Gmail": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "cfbf06ba-a7ac-4d6d-89c2-c1333a3c2308",
  "id": "FDX01529"
}