product-files/workflows/E-commerce Automation/Cart Recovery/Advanced/09034_Route new orders with Shopify and Airtable at scale.json
{
  "name": "Route new orders with Shopify and Airtable at scale",
  "nodes": [
    {
      "parameters": {
        "topic": "orders/create"
      },
      "type": "n8n-nodes-base.shopifyTrigger",
      "typeVersion": 1,
      "position": [
        -270,
        400
      ],
      "id": "0d256189-6e10-4016-af55-9c24f8306004",
      "name": "On Shopify Event",
      "webhookId": "b5c3943d-4754-42ad-bc90-0bb591eda7a9"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "E-commerce Automation Base"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Orders"
        },
        "filterByFormula": "={LastModified} > DATEADD(NOW(), -1, 'days')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        54,
        130
      ],
      "id": "529e9ce0-58be-453f-8b04-84234398c254",
      "name": "Pull Side A (Airtable)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Order Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        378,
        670
      ],
      "id": "590a5a30-c761-429f-a1b2-ecdd35f2c777",
      "name": "Pull Side B (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "orderId",
              "field2": "orderId"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1026,
        400
      ],
      "id": "ca6a4351-f342-4648-8b5b-d2d5da17ab2f",
      "name": "Diff the Two Systems"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Order Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1998,
        -200
      ],
      "id": "5bd791f1-3cde-46d4-82cf-ac9110293fcc",
      "name": "Create Missing in Google Sheets",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2322,
        220
      ],
      "id": "445ddfe8-b649-4136-974b-ad16c6edc3d5",
      "name": "Count In-Sync Rows"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Order Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "orderId"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2646,
        640
      ],
      "id": "0492751f-fa50-4fe5-8c6e-5f0ec9ce9830",
      "name": "Apply Updates to Google Sheets",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "E-commerce Automation Base"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Orders"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2970,
        1060
      ],
      "id": "f404cd72-33ed-47d9-8b73-1a71b9fd551c",
      "name": "Backfill into Airtable",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3618,
        400
      ],
      "id": "880f2b9c-1da1-448f-b650-2f234de70eb6",
      "name": "Gather Sync Results"
    },
    {
      "parameters": {
        "operation": "getCurrentDate",
        "outputFieldName": "processedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4590,
        400
      ],
      "id": "e9441bd2-62c4-4acb-880a-60d03686db58",
      "name": "Stamp Processing Time"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "orderId",
              "value": "={{ $json.orderId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        4914,
        400
      ],
      "id": "20205812-b0e8-4818-8667-311308462a28",
      "name": "Save Execution Metadata"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52a1fb06-2cad-4673-84e8-5db4e7ec73d0",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "d43bd334-bd14-4c7e-a442-8255c9ac8483",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "8463c269-112d-4de3-b9f2-1a7ecb12d5d6",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5238,
        400
      ],
      "id": "9870a65e-5ae2-4c44-be0d-8b2fc4731b3e",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "E-commerce Automation Base"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Orders"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        5562,
        400
      ],
      "id": "89e7a734-0807-40fe-b892-824e87989e3d",
      "name": "Append Audit Row (Airtable)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#orders",
          "cachedResultName": "#orders"
        },
        "text": "=✅ Route new orders with Shopify and Airtable at scale — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        5886,
        400
      ],
      "id": "4045eae7-b7f9-4271-afde-1c771bb847ff",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e40e34b8-da65-4b76-8f0d-c5d70a6844d2",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "ca4e3995-6ef5-46da-bd6b-24d63d84ecc4",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "51977bf3-73ea-46aa-a1c6-2668c2616b8e",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5238,
        1420
      ],
      "id": "d4ba386f-5199-4d85-b884-455f15112442",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        5562,
        1420
      ],
      "id": "a08a69a8-af67-4a13-9cb0-806d411d0acc",
      "name": "Escalate Failure to Discord",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "### On Shopify Event\n\nNative push trigger — shopify calls this workflow the moment the event happens (no polling).\n\nNext: Pull Side A (Airtable)\n\n🔑 Shopify access token",
        "width": 280,
        "height": 232,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -330,
        520
      ],
      "id": "f4771162-a5eb-09f6-6412-a1fd33150d66",
      "name": "Note: On Shopify Event"
    },
    {
      "parameters": {
        "content": "### Pull Side A (Airtable)\n\nairtable — `search` operation against the connected account.\n\nPorts: ①→ Diff the Two Systems · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Airtable PAT",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6,
        250
      ],
      "id": "baa24d3d-7034-ba5a-29c3-96bb82a7b453",
      "name": "Note: Pull Side A (Airtable)"
    },
    {
      "parameters": {
        "content": "### Pull Side B (Google Sheets)\n\ngoogleSheets — `read` operation against the connected account.\n\nPorts: ①→ Diff the Two Systems · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        318,
        790
      ],
      "id": "7a19547e-b72b-ffca-ece8-d6e1ae1b591f",
      "name": "Note: Pull Side B (Google Sheets)"
    },
    {
      "parameters": {
        "content": "### Diff the Two Systems\n\nDiffs two streams by key into 4 lanes: only-in-A, same, different, only-in-B — the heart of the sync.\n\nPorts: ①→ Create Missing in Google Sheets · ②→ Count In-Sync Rows · ③→ Apply Updates to Google Sheets · ④→ Backfill into Airtable",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        966,
        520
      ],
      "id": "a0b54c76-ed17-8c8c-8bc5-2079765fa931",
      "name": "Note: Diff the Two Systems"
    },
    {
      "parameters": {
        "content": "### Create Missing in Google Sheets\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Gather Sync Results · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1938,
        -80
      ],
      "id": "c9f10990-c82e-8ba5-53d6-0f45162860bd",
      "name": "Note: Create Missing in Google Sheets"
    },
    {
      "parameters": {
        "content": "### Count In-Sync Rows\n\nCollapses all items into a single summary item (for counts and run stats).\n\nNext: Gather Sync Results",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2262,
        340
      ],
      "id": "2be7f3c8-6927-ad80-8332-052d36ab251e",
      "name": "Note: Count In-Sync Rows"
    },
    {
      "parameters": {
        "content": "### Apply Updates to Google Sheets\n\ngoogleSheets — `appendOrUpdate` operation against the connected account.\n\nPorts: ①→ Gather Sync Results · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2586,
        760
      ],
      "id": "79daee90-9492-47a6-cf71-8fc36bc92b93",
      "name": "Note: Apply Updates to Google Sheets"
    },
    {
      "parameters": {
        "content": "### Backfill into Airtable\n\nairtable — `create` operation against the connected account.\n\nPorts: ①→ Gather Sync Results · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Airtable PAT",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2910,
        1180
      ],
      "id": "2df7a091-0379-cdb5-a9ec-145849c3a0c7",
      "name": "Note: Backfill into Airtable"
    },
    {
      "parameters": {
        "content": "### Gather Sync Results\n\nRejoins 4 branches into one stream (mode: append) so downstream logic runs once.\n\nNext: Stamp Processing Time",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3558,
        520
      ],
      "id": "5157206c-a1c1-a33c-3d20-0c8d4905d05e",
      "name": "Note: Gather Sync Results"
    },
    {
      "parameters": {
        "content": "### Stamp Processing Time\n\nStamps `processedAt` with the current time for auditing.\n\nNext: Save Execution Metadata",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4530,
        520
      ],
      "id": "df2749f3-c34a-27ee-89e0-c7222ace16d5",
      "name": "Note: Stamp Processing Time"
    },
    {
      "parameters": {
        "content": "### Save Execution Metadata\n\nSaves key fields onto the execution record — searchable later in n8n's execution list.\n\nNext: Summarize Run Stats",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4854,
        520
      ],
      "id": "a7805d3f-e276-08b6-7185-f5b3f8cb8a03",
      "name": "Note: Save Execution Metadata"
    },
    {
      "parameters": {
        "content": "### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Airtable)",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5178,
        520
      ],
      "id": "ee91360b-8585-c643-dfc0-a5ad996c7c1c",
      "name": "Note: Summarize Run Stats"
    },
    {
      "parameters": {
        "content": "### Append Audit Row (Airtable)\n\nairtable — `create` operation against the connected account.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Airtable PAT",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5502,
        520
      ],
      "id": "c9604d32-78ab-6f0c-d2d6-d49ae303406f",
      "name": "Note: Append Audit Row (Airtable)"
    },
    {
      "parameters": {
        "content": "### Send Summary to Slack\n\nslack — `action` operation against the connected account.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2",
        "width": 280,
        "height": 232,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5826,
        520
      ],
      "id": "3d0042a5-ad67-850d-fdff-6aa650a7a02e",
      "name": "Note: Send Summary to Slack"
    },
    {
      "parameters": {
        "content": "### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Discord",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5178,
        1540
      ],
      "id": "610226ec-74bb-fa2c-e6b9-7c7da01ab7d4",
      "name": "Note: Capture Failure Context"
    },
    {
      "parameters": {
        "content": "### Escalate Failure to Discord\n\ndiscord — `action` operation against the connected account.\n\n↻ retries 3×/2s · 🔑 Discord webhook URL",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5502,
        1540
      ],
      "id": "34c46caa-c421-5838-5bfd-844cbcd9598f",
      "name": "Note: Escalate Failure to Discord"
    },
    {
      "parameters": {
        "content": "# Route new orders with Shopify and Airtable at scale\n\n**Pattern:** Order Fulfillment · **Level:** Advanced · **Trigger:** Webhook\n\n## What it does\nRoute new orders with Shopify and Airtable at scale. It fires the moment an external system calls its webhook.\n\n## Why it exists\nManual cart recovery is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nOn Shopify Event → Pull Side A (Airtable) → Diff the Two Systems → Create Missing in Google Sheets → Gather Sync Results → Stamp Processing Time → Save Execution Metadata → …\n\n## Use it for\n- Teams that want to order fulfillment without manual effort\n- Anyone automating cart recovery in e-commerce\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Improves response time\n- Has retries and error handling built in\n- Standardizes the process every time\n\n## Before first run\nConnect credentials: Airtable PAT; Discord webhook URL; Google OAuth2 / service account; Shopify access token; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.",
        "width": 480,
        "height": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -830,
        80
      ],
      "id": "ed2b929e-5b3d-111e-c9fe-0572a957d78a",
      "name": "📘 Workflow Overview"
    },
    {
      "parameters": {
        "content": "## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Set an n8n **Error Workflow** in settings as the final safety net.",
        "width": 360,
        "height": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -230,
        -620
      ],
      "id": "caece443-2c16-7998-1549-20feec013db8",
      "name": "🛟 Error handling & retries"
    },
    {
      "parameters": {
        "content": "## 🧹 Data quality\n\nDedupe/diff steps make re-runs safe: the same input twice will not create duplicate records. If you change the key fields, clear n8n's dedupe memory (node → 'Clear stored keys') before the next run.",
        "width": 360,
        "height": 260,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        190,
        -620
      ],
      "id": "657029c7-182d-6e1f-c21c-06e2d128cd02",
      "name": "🧹 Data quality"
    },
    {
      "parameters": {
        "content": "## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your cart recovery process. Every node card explains its role — safe to extend at any marked branch.",
        "width": 360,
        "height": 260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        610,
        -620
      ],
      "id": "273b7a51-8ca2-583e-0e18-81435accf372",
      "name": "🛠 Customize me"
    }
  ],
  "connections": {
    "On Shopify Event": {
      "main": [
        [
          {
            "node": "Pull Side A (Airtable)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pull Side B (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Side A (Airtable)": {
      "main": [
        [
          {
            "node": "Diff the Two Systems",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Side B (Google Sheets)": {
      "main": [
        [
          {
            "node": "Diff the Two Systems",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diff the Two Systems": {
      "main": [
        [
          {
            "node": "Create Missing in Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Count In-Sync Rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apply Updates to Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Backfill into Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Missing in Google Sheets": {
      "main": [
        [
          {
            "node": "Gather Sync Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count In-Sync Rows": {
      "main": [
        [
          {
            "node": "Gather Sync Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Apply Updates to Google Sheets": {
      "main": [
        [
          {
            "node": "Gather Sync Results",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backfill into Airtable": {
      "main": [
        [
          {
            "node": "Gather Sync Results",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gather Sync Results": {
      "main": [
        [
          {
            "node": "Stamp Processing Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Processing Time": {
      "main": [
        [
          {
            "node": "Save Execution Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Execution Metadata": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (Airtable)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "3c874a79-721b-4a3a-bd86-0f3375f3bd9b",
  "id": "FDX09034"
}