product-files/workflows/Lead Generation/Routing/Advanced/04662_Route demo requests with HubSpot and Telegram at scale.json
{"name":"Route demo requests with HubSpot and Telegram at scale","nodes":[{"parameters":{"formTitle":"Route demo requests with HubSpot and Telegram at scale","formFields":{"values":[{"fieldLabel":"Email","requiredField":true},{"fieldLabel":"Company","requiredField":false},{"fieldLabel":"Score","requiredField":false}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-270,400],"id":"84b8a6fa-c7d8-4ca6-93f8-96f00b9ff865","name":"New Lead Form Submission","webhookId":"eba86b2b-4d0d-406f-bac5-06316b4617ea"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Normalize incoming lead records to a stable schema\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  out.push({ json: {\n    leadId: String(j.leadId ?? j.id ?? '').trim(),\n    email: typeof j.email === 'string' ? j.email.trim() : j.email ?? null,\n    source: j.source ?? 'api',\n    receivedAt: new Date().toISOString(),\n  } });\n}\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[54,400],"id":"ecdd7ff2-018b-4a0e-a89d-8aa5eab3e6dd","name":"Normalize Lead Payload"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c5b4604-702c-436f-9247-73172c4519e4","leftValue":"={{ ($json.score ?? 50) >= 50 }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[378,400],"id":"ac02a61f-8d3b-483b-9783-7b16742d5d08","name":"Segment Audience"},{"parameters":{"chatId":"={{ $json.chatId || 'OPS_CHAT_ID' }}","text":"=Hi {{ $json.name || 'there' }}, here's how to get started…","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[702,160],"id":"f9139f07-ae2e-4fa7-8051-32b2614fe6dd","name":"Step 1 — Welcome (Telegram)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Lead Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["leadId"],"schema":[]},"options":{}},"type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[1026,760],"id":"e22d6ff4-9c25-457b-9851-d29d1728200f","name":"Tag for Slow Nurture","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"amount":1,"unit":"days"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1350,400],"id":"f6d9a677-9427-4482-99be-0600bf9da1dd","name":"Wait Before Step 2","webhookId":"43a3776f-d596-4602-bc8f-76b4b94bf5fe"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5251501d-cdb2-42f0-8180-81d19f0334de","leftValue":"={{ $json.status }}","rightValue":"converted","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1674,400],"id":"e5c5613a-60c8-4559-a995-e278e870ee78","name":"Converted Already?"},{"parameters":{"chatId":"={{ $json.chatId || 'OPS_CHAT_ID' }}","text":"=Quick tip for {{ $json.company || 'your team' }} — see what others automate.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1998,160],"id":"dfdf807e-fba2-48a1-9f1b-64b68dce366e","name":"Step 2 — Value Nudge (Telegram)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"resource":"contact","email":"={{ $json.email }}","additionalFields":{"companyName":"={{ $json.company }}"},"authentication":"appToken"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2322,760],"id":"838ba695-ec5c-48e5-8ee6-c53a09da6638","name":"Mark Converted — Stop Drip","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"resource":"contact","email":"={{ $json.email }}","additionalFields":{"companyName":"={{ $json.company }}"},"authentication":"appToken"},"type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[2646,400],"id":"ea9eb382-f684-46e9-80be-d1b1a659d347","name":"Update Drip Status","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"operation":"csv","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2970,400],"id":"5589845a-6bb7-4079-81cf-c7bd02b77d2f","name":"Serialize Run Output (CSV)"},{"parameters":{"resource":"contact","email":"={{ $json.email }}","additionalFields":{"companyName":"={{ $json.company }}"},"authentication":"appToken"},"type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[3294,400],"id":"6f41011f-03ab-4cdf-ad2c-12b7da36fc24","name":"Archive Row Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Build a stable idempotency key per lead (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.leadId, j.email].join('|')) } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3618,400],"id":"2e4d55e0-df77-4168-99b3-52598c857fe8","name":"Fingerprint for Idempotency"},{"parameters":{"operation":"removeItemsSeenInPreviousExecutions","logic":"removeItemsWithAlreadySeenKeyValues","dedupeValue":"={{ $json.idempotencyKey }}","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[3942,400],"id":"409df239-2a83-4fed-beba-3cda6190d4a0","name":"Drop Already-Processed Items"},{"parameters":{"method":"GET","url":"https://enrichment.example.com/v2/lookup","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.email }}"}]},"options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4266,400],"id":"50af8836-09c6-467a-8940-82fbb945e8e9","name":"Enrich with Reference Data","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"26510d39-dd61-4a5d-ad4f-c2db8fb0b0a3","name":"enrichedAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"03b80e87-721e-4ee9-9916-da81e1d5a721","name":"enrichmentSource","value":"reference-api","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4590,400],"id":"266d849c-6d9e-4e03-a538-6be8bbed3031","name":"Fold In Enrichment Fields"},{"parameters":{"assignments":{"assignments":[{"id":"a8e76d80-7af9-4c2c-9fb7-d8b376f6e99b","name":"runAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"4b48ae27-dff0-47d5-ad1f-d6cb311660c5","name":"itemCount","value":"={{ $input.all().length }}","type":"number"},{"id":"2bdb156a-261e-436b-8a4e-4737ef675e8f","name":"status","value":"completed","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4914,400],"id":"48acfca4-0d0f-4de2-b375-3be562a752bd","name":"Summarize Run Stats"},{"parameters":{"resource":"contact","email":"={{ $json.email }}","additionalFields":{"companyName":"={{ $json.company }}"},"authentication":"appToken"},"type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[5238,400],"id":"55bf32d4-376a-495e-b765-cd3892b140ae","name":"Append Audit Row (HubSpot)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#sales","cachedResultName":"#sales"},"text":"=✅ Route demo requests with HubSpot and Telegram at scale — run completed at {{ $now.toFormat('HH:mm') }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[5562,400],"id":"0f870d82-bfa9-48c9-906b-89cd428b9aaa","name":"Send Summary to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"bd65c5e4-5fcc-43f0-9eee-49461859c678","name":"failedNode","value":"={{ $json.error?.node?.name || 'unknown' }}","type":"string"},{"id":"5147ddd6-9a8f-44a1-9e18-778851ca4d51","name":"errorMessage","value":"={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}","type":"string"},{"id":"bce34305-a089-4aee-8c99-51f619f6d90f","name":"workflow","value":"={{ $workflow.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4914,1420],"id":"09e4072c-afa2-4866-8239-2d45d605c91b","name":"Capture Failure Context"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#sales","cachedResultName":"#sales"},"text":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[5238,1420],"id":"b19b6044-db40-4b2b-995d-b26cc2ee82e7","name":"Escalate Failure to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Lead Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5562,1420],"id":"8255f33c-5587-4a79-92db-7cda60c39677","name":"Park in Dead-Letter Queue","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"content":"### New Lead Form Submission\n\nServes an n8n-hosted form (Email, Company, Score). Each submission becomes one execution.\n\nNext: Normalize Lead Payload","width":280,"height":232,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-330,520],"id":"a06d19e5-8786-4e83-b4a1-3d1992f63bbd","name":"Note: New Lead Form Submission"},{"parameters":{"content":"### Normalize Lead Payload\n\nCustom JavaScript: Normalize incoming lead records to a stable schema\n\nNext: Segment Audience","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6,520],"id":"a79f74b5-e586-9d7a-5678-ed0cd8cab4f7","name":"Note: Normalize Lead Payload"},{"parameters":{"content":"### Segment Audience\n\nTwo-way gate on `={{ ($json.score ?? 50) >= 50 }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Step 1 — Welcome (Telegram) · ②→ Tag for Slow Nurture","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[318,520],"id":"e5d64dc1-e90d-f96a-84e6-38c736f5fe21","name":"Note: Segment Audience"},{"parameters":{"content":"### Step 1 — Welcome (Telegram)\n\nSends a Telegram message to the configured chat — the same bot can also receive replies, so this doubles as a two-way ops channel.\n\nPorts: ①→ Wait Before Step 2 · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Telegram bot token","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[642,280],"id":"1d2a7a71-5bc1-69ce-c0d6-900e29b0e3e4","name":"Note: Step 1 — Welcome (Telegram)"},{"parameters":{"content":"### Tag for Slow Nurture\n\nCreates or updates a HubSpot contact by email — HubSpot is the CRM system of record for this pipeline.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 HubSpot private-app token","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[966,880],"id":"73e64862-3f00-6ba8-d22a-db1b8c702168","name":"Note: Tag for Slow Nurture"},{"parameters":{"content":"### Wait Before Step 2\n\nPauses 1 days — spacing calls to respect rate limits.\n\nNext: Converted Already?","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1290,520],"id":"a7ef3685-c4bb-4f24-460e-ac36ae42ca3d","name":"Note: Wait Before Step 2"},{"parameters":{"content":"### Converted Already?\n\nTwo-way gate on `={{ $json.status }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Step 2 — Value Nudge (Telegram) · ②→ Mark Converted — Stop Drip","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1614,520],"id":"13d8b92c-2407-8f1f-ff7a-0f6d5abe3e76","name":"Note: Converted Already?"},{"parameters":{"content":"### Step 2 — Value Nudge (Telegram)\n\nSends a Telegram message to the configured chat — the same bot can also receive replies, so this doubles as a two-way ops channel.\n\nPorts: ①→ Update Drip Status · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Telegram bot token","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1938,280],"id":"0515a416-dc94-06db-b17e-1d5b07abdb28","name":"Note: Step 2 — Value Nudge (Telegram)"},{"parameters":{"content":"### Mark Converted — Stop Drip\n\nAppends a new row to 'tracking sheet' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2262,880],"id":"0ba930e7-6e58-ee0d-9e65-ee5f79ec1a30","name":"Note: Mark Converted — Stop Drip"},{"parameters":{"content":"### Update Drip Status\n\nCreates or updates a HubSpot contact by email — HubSpot is the CRM system of record for this pipeline.\n\nPorts: ①→ Serialize Run Output (CSV) · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 HubSpot private-app token","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2586,520],"id":"5d5ba662-5e19-d926-f6ef-fbbffeb1ad33","name":"Note: Update Drip Status"},{"parameters":{"content":"### Serialize Run Output (CSV)\n\nSerializes items to a CSV binary file.\n\nNext: Archive Row Snapshot","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2910,520],"id":"8a3a2352-e13a-b3de-201a-768af47c88cc","name":"Note: Serialize Run Output (CSV)"},{"parameters":{"content":"### Archive Row Snapshot\n\nCreates or updates a HubSpot contact by email — HubSpot is the CRM system of record for this pipeline.\n\nPorts: ①→ Fingerprint for Idempotency · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 HubSpot private-app token","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3234,520],"id":"8b224d74-a84b-8218-0a00-b8f718e48a8e","name":"Note: Archive Row Snapshot"},{"parameters":{"content":"### Fingerprint for Idempotency\n\nCustom JavaScript: Build a stable idempotency key per lead (djb2 hash, no deps)\n\nNext: Drop Already-Processed Items","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3558,520],"id":"cd970eb7-f88d-6026-f0d7-3c646ba4c394","name":"Note: Fingerprint for Idempotency"},{"parameters":{"content":"### Drop Already-Processed Items\n\nCross-execution dedupe: remembers keys it has processed before and drops repeats — the idempotency guard.\n\nNext: Enrich with Reference Data","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3882,520],"id":"6c10b12f-54ec-0ba8-3ea1-55f89ad279da","name":"Note: Drop Already-Processed Items"},{"parameters":{"content":"### Enrich with Reference Data\n\nGET https://enrichment.example.com/v2/lookup — retries 3× with backoff on failure.\n\nPorts: ①→ Fold In Enrichment Fields · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4206,520],"id":"ac4f9984-bf1c-312e-a997-bcc89fb7fd7e","name":"Note: Enrich with Reference Data"},{"parameters":{"content":"### Fold In Enrichment Fields\n\nShapes the item: writes `enrichedAt`, `enrichmentSource`. Keeps the schema explicit between stages.\n\nNext: Summarize Run Stats","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4530,520],"id":"ffc55da4-f9a1-ad21-ba79-43187566350b","name":"Note: Fold In Enrichment Fields"},{"parameters":{"content":"### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (HubSpot)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4854,520],"id":"6dc2168e-3f5c-94b9-47fe-b5e61c2cb77b","name":"Note: Summarize Run Stats"},{"parameters":{"content":"### Append Audit Row (HubSpot)\n\nCreates or updates a HubSpot contact by email — HubSpot is the CRM system of record for this pipeline.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 HubSpot private-app token","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5178,520],"id":"db17ad43-573a-075a-a260-c0a2d2edb4a1","name":"Note: Append Audit Row (HubSpot)"},{"parameters":{"content":"### Send Summary to Slack\n\nPosts a message to Slack (`#sales`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5502,520],"id":"18c764b5-775b-03bd-de4a-8cbd6619f518","name":"Note: Send Summary to Slack"},{"parameters":{"content":"### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Slack","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4854,1540],"id":"0cde3f59-3d18-8669-b172-0b2158411082","name":"Note: Capture Failure Context"},{"parameters":{"content":"### Escalate Failure to Slack\n\nPosts a message to Slack (`#sales`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Slack OAuth2","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5178,1540],"id":"aaea8aa2-7357-6c44-9ae3-984da9ec6879","name":"Note: Escalate Failure to Slack"},{"parameters":{"content":"### Park in Dead-Letter Queue\n\nAppends a new row to 'Lead Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\n↻ retries 3×/2s · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5502,1540],"id":"cea0e78f-14b5-8bf8-1c55-979a84d28c7f","name":"Note: Park in Dead-Letter Queue"},{"parameters":{"content":"# Route demo requests with HubSpot and Telegram at scale\n\n**Pattern:** Lead Capture & Routing · **Level:** Production · **Trigger:** Form\n\n## What it does\nRoute demo requests with HubSpot and Telegram at scale. It starts from a hosted form submission.\n\n## Why it exists\nManual routing is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nNew Lead Form Submission → Normalize Lead Payload → Segment Audience → Step 1 — Welcome (Telegram) → Wait Before Step 2 → Converted Already? → Step 2 — Value Nudge (Telegram) → …\n\n## Use it for\n- Teams that want to lead capture & routing without manual effort\n- Anyone automating routing in sales\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Scales without extra headcount\n- Saves hours of manual work each week\n- Removes copy-paste errors\n\n## Before first run\nConnect credentials: API key / bearer for the target API; Google OAuth2 / service account; HubSpot private-app token; Slack OAuth2; Telegram bot token.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.\n\n## Try it now\nSample data is pinned on the trigger — hit **Execute Workflow** to watch it flow through every node before connecting any real credentials. Unpin the trigger (right-click → Unpin) when you're ready to go live.","width":480,"height":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,80],"id":"d8a39649-143a-58db-8daf-5f771a35e238","name":"📘 Workflow Overview"},{"parameters":{"content":"## Design decisions\n\nEvery step checks 'Converted Already?' before sending — a drip campaign that keeps emailing someone who already bought is the fastest way to burn trust. The Wait node's durable resume state (via `webhookId`) is what lets a multi-day wait survive an n8n restart instead of being held only in memory.","width":480,"height":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1020],"id":"6a13b297-b41c-72a0-b1aa-f10d5b1411ca","name":"🎓 Design Decisions"},{"parameters":{"content":"## Practice exercises\n\nAlready production-grade — deepen your understanding:\n\n1. Add a 4th drip step with its own wait/exit-check pair.\n2. Manually flip a test record's status to 'converted' mid-drip and confirm the ladder stops sending.\n3. Shorten the wait durations so the full ladder runs in minutes instead of days, for testing.","width":480,"height":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1360],"id":"6b6b8bdd-fd87-1876-8e13-9f9fa9dc71c7","name":"🧪 Practice Exercises"},{"parameters":{"content":"## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.","width":360,"height":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-230,-260],"id":"49fabbba-5f82-74ed-ec03-f76f46b56113","name":"🛟 Error handling & retries"},{"parameters":{"content":"## ⏱ Rate limiting\n\nWork is batched and spaced with Wait so provider quotas aren't tripped. If you hit 429s, lower the batch size or raise the wait — throughput drops, reliability rises.","width":360,"height":260,"color":1},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[190,-260],"id":"6085705d-e13d-1744-6f9b-f6d1703080fb","name":"⏱ Rate limiting"},{"parameters":{"content":"## 🧹 Data quality\n\nDedupe/diff steps make re-runs safe: the same input twice will not create duplicate records. If you change the key fields, clear n8n's dedupe memory (node → 'Clear stored keys') before the next run.","width":360,"height":260,"color":1},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[610,-260],"id":"c2b86537-897c-59fe-3364-1da7baeccea1","name":"🧹 Data quality"},{"parameters":{"content":"## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your routing process. Every node card explains its role — safe to extend at any marked branch.","width":360,"height":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1030,-260],"id":"a1012757-b7de-bd0d-547d-b148a08c009d","name":"🛠 Customize me"}],"connections":{"New Lead Form Submission":{"main":[[{"node":"Normalize Lead Payload","type":"main","index":0}]]},"Normalize Lead Payload":{"main":[[{"node":"Segment Audience","type":"main","index":0}]]},"Segment Audience":{"main":[[{"node":"Step 1 — Welcome (Telegram)","type":"main","index":0}],[{"node":"Tag for Slow Nurture","type":"main","index":0}]]},"Step 1 — Welcome (Telegram)":{"main":[[{"node":"Wait Before Step 2","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Wait Before Step 2":{"main":[[{"node":"Converted Already?","type":"main","index":0}]]},"Converted Already?":{"main":[[{"node":"Step 2 — Value Nudge (Telegram)","type":"main","index":0}],[{"node":"Mark Converted — Stop Drip","type":"main","index":0}]]},"Step 2 — Value Nudge (Telegram)":{"main":[[{"node":"Update Drip Status","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Update Drip Status":{"main":[[{"node":"Serialize Run Output (CSV)","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Serialize Run Output (CSV)":{"main":[[{"node":"Archive Row Snapshot","type":"main","index":0}]]},"Archive Row Snapshot":{"main":[[{"node":"Fingerprint for Idempotency","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Fingerprint for Idempotency":{"main":[[{"node":"Drop Already-Processed Items","type":"main","index":0}]]},"Drop Already-Processed Items":{"main":[[{"node":"Enrich with Reference Data","type":"main","index":0}]]},"Enrich with Reference Data":{"main":[[{"node":"Fold In Enrichment Fields","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Fold In Enrichment Fields":{"main":[[{"node":"Summarize Run Stats","type":"main","index":0}]]},"Summarize Run Stats":{"main":[[{"node":"Append Audit Row (HubSpot)","type":"main","index":0}]]},"Append Audit Row (HubSpot)":{"main":[[{"node":"Send Summary to Slack","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Capture Failure Context":{"main":[[{"node":"Escalate Failure to Slack","type":"main","index":0}]]},"Escalate Failure to Slack":{"main":[[{"node":"Park in Dead-Letter Queue","type":"main","index":0}]]},"Tag for Slow Nurture":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Mark Converted — Stop Drip":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Send Summary to Slack":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveManualExecutions":true,"executionTimeout":3600},"meta":{"templateCredsSetupCompleted":false},"tags":[],"pinData":{"New Lead Form Submission":[{"json":{"leadId":"LEAD-8801","email":"tom.becker@innotech.com","company":"InnoTech Solutions","score":82}},{"json":{"leadId":"LEAD-8802","email":"grace.kim@harborworks.com","company":"Harborworks","score":47}}]},"versionId":"5fb9d27b-e11d-4757-bd3b-8ccfebba4e60","id":"FDX04662"}