product-files/workflows/AI Agents/Research Assistant/Beginner/01228_Summarize meeting notes with Airtable and Gmail in real time.json
{"name":"Summarize meeting notes with Airtable and Gmail in real time","nodes":[{"parameters":{"httpMethod":"POST","path":"wf01228-request","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-270,400],"id":"4a69fd16-cd71-4d12-9348-ad45c9bf13a5","name":"Receive Inbound Webhook","webhookId":"44600fd6-e27a-45df-84a4-37765cfa17e9"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Normalize incoming request records to a stable schema\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  out.push({ json: {\n    requestId: String(j.requestId ?? j.id ?? '').trim(),\n    query: typeof j.query === 'string' ? j.query.trim() : j.query ?? null,\n    source: j.source ?? 'api',\n    receivedAt: new Date().toISOString(),\n  } });\n}\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[54,400],"id":"fbdd3fdb-ba8d-48b7-8292-ed67083313bc","name":"Normalize Request Payload"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput || $json.query || JSON.stringify($json) }}","options":{"systemMessage":"You are a research assistant specialist for the ai agents team. Use the attached tools to look up real data before answering — never invent request details. Keep answers under 150 words, cite which tool you used, and escalate anything you cannot verify.","maxIterations":8}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[378,400],"id":"da5fe3b8-ce9c-4e67-92c4-56639002e65c","name":"Reason & Act (AI Agent)","onError":"continueErrorOutput"},{"parameters":{"model":"claude-sonnet-4-5-20250929","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[621,970],"id":"7650a113-a168-480a-b7a9-43ef2bbfdfc5","name":"Anthropic Chat Model"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[621,1390],"id":"1e7ea43f-0c6a-403f-992e-05950b50f8c2","name":"Search Reference Wiki"},{"parameters":{"toolDescription":"Fetch live request data from the internal REST API by id or query.","url":"https://api.example.com/v1/requests","options":{}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[850,1390],"id":"1b6a163a-eddb-44dc-ac59-b83dbf67e55d","name":"Lookup API Data"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1309,1390],"id":"82f65a25-17bc-4fb7-a4f9-0f415897a683","name":"Think It Through"},{"parameters":{"assignments":{"assignments":[{"id":"48d91ec9-723e-40c7-9b97-9a7a35d214a5","name":"answer","value":"={{ $json.output }}","type":"string"},{"id":"f2ff5d41-6aeb-4289-b456-4a4270ea33fd","name":"confidence","value":"={{ $json.output && $json.output.length > 40 ? 'high' : 'low' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1633,400],"id":"a7e1ba4d-37e5-44ab-862b-ae7b94cddfe4","name":"Shape Agent Output"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"836c2528-6207-4b4a-8194-b2f059e2fa6c","leftValue":"={{ $json.confidence }}","rightValue":"high","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1957,400],"id":"18eb18f6-b0ce-41d6-b8a1-12b3d24600e2","name":"Confident Enough?"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Request Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2281,160],"id":"416b89c8-66b9-4f18-b37c-369e31dd28dc","name":"Deliver Answer + Log to Google Sheets","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#ai-ops","cachedResultName":"#ai-ops"},"text":"=🙋 Low-confidence answer needs review: {{ $json.answer }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2605,760],"id":"f14ae9d3-6323-4e32-99b6-5b0061790755","name":"Escalate to Human Queue","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"mode":"append","numberInputs":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3253,400],"id":"0592b15c-83cd-4b57-a835-0db3c35694b6","name":"Join Outcomes"},{"parameters":{"operation":"search","base":{"__rl":true,"mode":"list","value":"","cachedResultName":"AI Agents Base"},"table":{"__rl":true,"mode":"list","value":"","cachedResultName":"Requests"},"filterByFormula":"={LastModified} > DATEADD(NOW(), -1, 'days')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[4225,400],"id":"41eda14e-41b8-4e35-a7b5-9aa2951e72de","name":"Load Previous Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Compare current metrics with the previous snapshot\nconst current = $input.first().json;\nconst prev = $('Load Previous Snapshot').first().json || {};\nconst drift = {};\nfor (const k of Object.keys(current)) {\n  if (typeof current[k] === 'number' && typeof prev[k] === 'number' && prev[k] !== 0) {\n    drift[k] = Math.round(((current[k] - prev[k]) / prev[k]) * 1000) / 10;\n  }\n}\nreturn [{ json: { ...current, driftPct: drift, hasDrift: Object.values(drift).some(v => Math.abs(v) > 10) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4549,400],"id":"cd03d095-0a19-4464-9293-ab10e86b0169","name":"Compute Drift vs Snapshot"},{"parameters":{"method":"GET","url":"https://enrichment.example.com/v2/lookup","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.query }}"}]},"options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4873,400],"id":"f1f90638-17d6-4e10-b051-ccff41b121e5","name":"Enrich with Reference Data","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"af1f1124-c1f7-44b5-b8b2-bcbf393dafbe","name":"enrichedAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"dac9ec93-a459-4ba6-93d5-5e87f65d3b59","name":"enrichmentSource","value":"reference-api","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5197,400],"id":"d69a878d-ede9-40ac-b2f8-3b0b1df23d56","name":"Fold In Enrichment Fields"},{"parameters":{"assignments":{"assignments":[{"id":"0833b20b-4dba-4770-ad35-6b124007b5df","name":"runAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"b7a2157f-c148-4c77-afe1-a6d723da956a","name":"itemCount","value":"={{ $input.all().length }}","type":"number"},{"id":"6dca72d7-52c6-43b8-9a9c-59f97578905c","name":"status","value":"completed","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5521,400],"id":"2e65a143-c591-4d42-a981-201f8dc5b4b1","name":"Summarize Run Stats"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Request Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5845,400],"id":"be45b160-bfed-4bbc-b4f8-c5b942fd29bc","name":"Append Audit Row (Google Sheets)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#ai-ops","cachedResultName":"#ai-ops"},"text":"=✅ Summarize meeting notes with Airtable and Gmail in real time — run completed at {{ $now.toFormat('HH:mm') }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[6169,400],"id":"c96a8ed4-6950-441d-9269-e9e4ad1e6ee0","name":"Send Summary to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"7be70a91-a6a4-43f2-ad58-c07e18c8f795","name":"failedNode","value":"={{ $json.error?.node?.name || 'unknown' }}","type":"string"},{"id":"fafb927a-581c-4b60-aebc-29be8e1acafe","name":"errorMessage","value":"={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}","type":"string"},{"id":"35709cf0-b6f0-4a8a-ac8c-50d0e158e3c7","name":"workflow","value":"={{ $workflow.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5521,1420],"id":"256a83db-87da-412a-9328-d1f608cf0eb9","name":"Capture Failure Context"},{"parameters":{"sendTo":"={{ $json.email || 'ops@company.com' }}","subject":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage ","message":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[5845,1420],"id":"991c5574-d333-426d-9688-3ab885e873fe","name":"Escalate Failure to Gmail","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"operation":"create","base":{"__rl":true,"mode":"list","value":"","cachedResultName":"AI Agents Base"},"table":{"__rl":true,"mode":"list","value":"","cachedResultName":"Requests"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[6169,1420],"id":"e1a92f9e-685e-4c33-be34-9493ab8fab0d","name":"Park in Dead-Letter Queue","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"content":"### Receive Inbound Webhook\n\nEntry point: listens for POST calls on `/wf01228-request`. Use the TEST url while building, switch callers to the PRODUCTION url after publishing.\n\nNext: Normalize Request Payload","width":280,"height":232,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-330,520],"id":"472f3bfb-3ec6-1695-ddbe-8be7f0c37e7d","name":"Note: Receive Inbound Webhook"},{"parameters":{"content":"### Normalize Request Payload\n\nCustom JavaScript: Normalize incoming request records to a stable schema\n\nNext: Reason & Act (AI Agent)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6,520],"id":"0eb8e081-5a6d-41a8-9019-ec61af42f38a","name":"Note: Normalize Request Payload"},{"parameters":{"content":"### Reason & Act (AI Agent)\n\nThe AI brain: reads the input, decides which attached tools to call (and in what order), then composes the answer.\n\nPorts: ①→ Shape Agent Output · ②→ Capture Failure Context\n\n⚠ failures exit via the error rail","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[318,520],"id":"06035771-1a28-668c-eccf-2222b0e1bc83","name":"Note: Reason & Act (AI Agent)"},{"parameters":{"content":"### Anthropic Chat Model\n\nChat model powering the AI step (model: `claude-sonnet-4-5-20250929`). Swap providers here without rewiring.\n\nFeeds **Reason & Act (AI Agent)** as `languageModel`\n\n🔑 Anthropic API key","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[561,1090],"id":"ce9b771f-743f-3de2-6cbe-a626ac29facb","name":"Note: Anthropic Chat Model"},{"parameters":{"content":"### Search Reference Wiki\n\nReference lookup tool for general-knowledge questions.\n\nFeeds **Reason & Act (AI Agent)** as `tool`","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[561,1510],"id":"97d8d1ab-b681-c31f-cb46-709dad226ee7","name":"Note: Search Reference Wiki"},{"parameters":{"content":"### Lookup API Data\n\nTool the agent can call to hit the REST API with parameters it chooses at runtime.\n\nFeeds **Reason & Act (AI Agent)** as `tool`","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[790,1750],"id":"acc25d70-1ae8-f958-e48e-7559a3e9c893","name":"Note: Lookup API Data"},{"parameters":{"content":"### Think It Through\n\nScratchpad tool: lets the agent reason step-by-step before acting.\n\nFeeds **Reason & Act (AI Agent)** as `tool`","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1249,1510],"id":"6ff968e1-e903-ce4c-45d5-4ec1f5aaa155","name":"Note: Think It Through"},{"parameters":{"content":"### Shape Agent Output\n\nShapes the item: writes `answer`, `confidence`. Keeps the schema explicit between stages.\n\nNext: Confident Enough?","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1573,520],"id":"10cd479a-c203-f0cb-77d7-5db1bb6bb710","name":"Note: Shape Agent Output"},{"parameters":{"content":"### Confident Enough?\n\nTwo-way gate on `={{ $json.confidence }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Deliver Answer + Log to Google Sheets · ②→ Escalate to Human Queue","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1897,520],"id":"0cfd64dc-7504-8bdc-b795-2b5f89524929","name":"Note: Confident Enough?"},{"parameters":{"content":"### Deliver Answer + Log to Google Sheets\n\nAppends a new row to 'Request Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\nPorts: ①→ Join Outcomes · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2221,280],"id":"581a4f3a-3d8b-c5bb-b94e-c71a9554141b","name":"Note: Deliver Answer + Log to Google Sheets"},{"parameters":{"content":"### Escalate to Human Queue\n\nPosts a message to Slack (`#ai-ops`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\nPorts: ①→ Join Outcomes · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2545,880],"id":"0f2d26c0-df7c-2d9e-4180-b2ac01751c71","name":"Note: Escalate to Human Queue"},{"parameters":{"content":"### Join Outcomes\n\nRejoins 2 branches into one stream (mode: append) so downstream logic runs once.\n\nNext: Load Previous Snapshot","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3193,520],"id":"626c3657-ef71-2a88-33c4-12b7bbce4a1a","name":"Note: Join Outcomes"},{"parameters":{"content":"### Load Previous Snapshot\n\nSearches Airtable's 'Requests' table by formula (`={LastModified} > DATEADD(NOW(), -1, 'days')`) for records the pipeline hasn't handled yet.\n\nPorts: ①→ Compute Drift vs Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Airtable PAT","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4165,520],"id":"9a3351ee-4381-3076-53b2-e7677a39d1fa","name":"Note: Load Previous Snapshot"},{"parameters":{"content":"### Compute Drift vs Snapshot\n\nCustom JavaScript: Compare current metrics with the previous snapshot\n\nNext: Enrich with Reference Data","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4489,520],"id":"4975fd8e-b0e8-6e4c-1023-c07018a366e2","name":"Note: Compute Drift vs Snapshot"},{"parameters":{"content":"### Enrich with Reference Data\n\nGET https://enrichment.example.com/v2/lookup — retries 3× with backoff on failure.\n\nPorts: ①→ Fold In Enrichment Fields · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4813,520],"id":"cacebbfa-4471-c24e-c442-15573a03ad7b","name":"Note: Enrich with Reference Data"},{"parameters":{"content":"### Fold In Enrichment Fields\n\nShapes the item: writes `enrichedAt`, `enrichmentSource`. Keeps the schema explicit between stages.\n\nNext: Summarize Run Stats","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5137,520],"id":"65a23f1a-375f-bf97-bffb-4815914616bc","name":"Note: Fold In Enrichment Fields"},{"parameters":{"content":"### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Google Sheets)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5461,520],"id":"1524e6d1-5681-febe-ab56-c432a03631c8","name":"Note: Summarize Run Stats"},{"parameters":{"content":"### Append Audit Row (Google Sheets)\n\nAppends a new row to 'Request Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5785,520],"id":"c53e6490-97a1-c563-fff0-31f8936c9aab","name":"Note: Append Audit Row (Google Sheets)"},{"parameters":{"content":"### Send Summary to Slack\n\nPosts a message to Slack (`#ai-ops`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6109,520],"id":"e4d0c97e-1bdd-a951-b1f8-19924b377a47","name":"Note: Send Summary to Slack"},{"parameters":{"content":"### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Gmail","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5461,1540],"id":"dbef2706-fd25-6a3f-0949-03cdaa4406e3","name":"Note: Capture Failure Context"},{"parameters":{"content":"### Escalate Failure to Gmail\n\nSends an email via Gmail — subject is the first line of the message body, recipient comes from the item's `email` field.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Google OAuth2","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5785,1540],"id":"ca3c0aea-369b-f1b4-3dfd-be16bc69dd83","name":"Note: Escalate Failure to Gmail"},{"parameters":{"content":"### Park in Dead-Letter Queue\n\nCreates a new record in Airtable's 'Requests' table.\n\n↻ retries 3×/2s · 🔑 Airtable PAT","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6109,1540],"id":"a0c89f3d-dcf3-d3e4-1481-8f4e20bcc255","name":"Note: Park in Dead-Letter Queue"},{"parameters":{"content":"# Summarize meeting notes with Airtable and Gmail in real time\n\n**Pattern:** AI Summarize & Route · **Level:** Production · **Trigger:** Webhook\n\n## What it does\nSummarize meeting notes with Airtable and Gmail in real time. It fires the moment an external system calls its webhook.\n\n## Why it exists\nManual research assistant is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nReceive Inbound Webhook → Normalize Request Payload → Reason & Act (AI Agent) → Shape Agent Output → Confident Enough? → Deliver Answer + Log to Google Sheets → Join Outcomes → …\n\n## Use it for\n- Teams that want to ai summarize & route without manual effort\n- Anyone automating research assistant in ai\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Improves response time\n- Standardizes the process every time\n- Runs 24/7 in the background\n\n## Before first run\nConnect credentials: API key / bearer for the target API; Airtable PAT; Anthropic API key; Google OAuth2; Google OAuth2 / service account; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.\n\n## Try it now\nSample data is pinned on the trigger — hit **Execute Workflow** to watch it flow through every node before connecting any real credentials. Unpin the trigger (right-click → Unpin) when you're ready to go live.","width":480,"height":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,80],"id":"7bb07ebd-67b5-51db-0fd9-8dee119e81ce","name":"📘 Workflow Overview"},{"parameters":{"content":"## Design decisions\n\nUses an AI Agent, not a fixed Chain, because the assistant must choose which tool answers the question — a Chain would need one hard-coded branch per tool. The 'Confident Enough?' gate after the agent routes low-confidence answers to a human queue instead of shipping an uncertain answer: a little latency traded for not eroding trust.","width":480,"height":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1020],"id":"757e07f2-b544-ecd2-7399-a6a6791d840d","name":"🎓 Design Decisions"},{"parameters":{"content":"## Practice exercises\n\nAlready production-grade — deepen your understanding:\n\n1. Add one more tool to the pool with a clear one-line description and watch how the agent decides to use it.\n2. Change the confidence threshold on 'Confident Enough?' and see how often answers get escalated to a human.\n3. Swap the Think tool for a Vector Store tool wired to a real knowledge base and turn this into RAG.","width":480,"height":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1360],"id":"4a2d3b9e-3a52-48ef-2a3b-f60c4f881779","name":"🧪 Practice Exercises"},{"parameters":{"content":"## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.","width":360,"height":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-230,-260],"id":"947e82cd-662c-85b5-11e3-5ba1bf1987e4","name":"🛟 Error handling & retries"},{"parameters":{"content":"## 🔐 Security\n\nNever trust inbound payloads: the webhook path is unguessable. Add header auth or IP allow-listing for defense in depth. Secrets live in n8n credentials — never in node parameters.","width":360,"height":260,"color":1},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[190,-260],"id":"99233529-d1ba-91eb-a53c-bafb184b7cff","name":"🔐 Security"},{"parameters":{"content":"## 🤖 AI cluster\n\nPurple nodes form one AI unit: the root node orchestrates, sub-nodes plug in via typed ports (model / memory / tools / parser). Swap the chat model without rewiring anything else. Costs scale with tokens — keep prompts lean and cap iterations.","width":360,"height":260,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[610,-260],"id":"4b621b22-0955-6167-a640-923e62645c58","name":"🤖 AI cluster"},{"parameters":{"content":"## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your research assistant process. Every node card explains its role — safe to extend at any marked branch.","width":360,"height":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1030,-260],"id":"44ef02e2-e5df-f782-3ea5-bbff81944ce0","name":"🛠 Customize me"}],"connections":{"Receive Inbound Webhook":{"main":[[{"node":"Normalize Request Payload","type":"main","index":0}]]},"Normalize Request Payload":{"main":[[{"node":"Reason & Act (AI Agent)","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Reason & Act (AI Agent)","type":"ai_languageModel","index":0}]]},"Search Reference Wiki":{"ai_tool":[[{"node":"Reason & Act (AI Agent)","type":"ai_tool","index":0}]]},"Lookup API Data":{"ai_tool":[[{"node":"Reason & Act (AI Agent)","type":"ai_tool","index":0}]]},"Think It Through":{"ai_tool":[[{"node":"Reason & Act (AI Agent)","type":"ai_tool","index":0}]]},"Reason & Act (AI Agent)":{"main":[[{"node":"Shape Agent Output","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Shape Agent Output":{"main":[[{"node":"Confident Enough?","type":"main","index":0}]]},"Confident Enough?":{"main":[[{"node":"Deliver Answer + Log to Google Sheets","type":"main","index":0}],[{"node":"Escalate to Human Queue","type":"main","index":0}]]},"Deliver Answer + Log to Google Sheets":{"main":[[{"node":"Join Outcomes","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Escalate to Human Queue":{"main":[[{"node":"Join Outcomes","type":"main","index":1}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Join Outcomes":{"main":[[{"node":"Load Previous Snapshot","type":"main","index":0}]]},"Load Previous Snapshot":{"main":[[{"node":"Compute Drift vs Snapshot","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Compute Drift vs Snapshot":{"main":[[{"node":"Enrich with Reference Data","type":"main","index":0}]]},"Enrich with Reference Data":{"main":[[{"node":"Fold In Enrichment Fields","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Fold In Enrichment Fields":{"main":[[{"node":"Summarize Run Stats","type":"main","index":0}]]},"Summarize Run Stats":{"main":[[{"node":"Append Audit Row (Google Sheets)","type":"main","index":0}]]},"Append Audit Row (Google Sheets)":{"main":[[{"node":"Send Summary to Slack","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Capture Failure Context":{"main":[[{"node":"Escalate Failure to Gmail","type":"main","index":0}]]},"Escalate Failure to Gmail":{"main":[[{"node":"Park in Dead-Letter Queue","type":"main","index":0}]]},"Send Summary to Slack":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveManualExecutions":true,"executionTimeout":3600},"meta":{"templateCredsSetupCompleted":false},"tags":[],"pinData":{"Receive Inbound Webhook":[{"json":{"requestId":"REQ-10234","query":"What's our refund policy for orders over $500?","context":"customer asked via chat widget","priority":"normal"}},{"json":{"requestId":"REQ-10235","query":"Summarize this week's support tickets","context":"weekly ops review","priority":"low"}}]},"versionId":"26076240-4e7f-4f2e-beb3-b1727cd8922f","id":"FDX01228"}