product-files/workflows/Workflow Automation/Process Orchestration/Intermediate/06284_Sync records between tools with HubSpot and PostgreSQL hands-free.json
{
  "name": "Sync records between tools with HubSpot and PostgreSQL hands-free",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "6be5280f-5ae9-48e3-a0b8-c8c533b3a061",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "777c62a9-7216-4836-a60d-40a99d2867b4",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "b79f8cf4-6c07-44d7-8a70-43365cb50989",
              "name": "isValid",
              "value": "={{ $json ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "c2781655-9b45-409e-b701-0f3395cfca93",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        300
      ],
      "notes": "Validate & normalize the input before downstream steps (§9.1)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4d06e2e2-d731-4e77-a116-ae022fccdfbc",
              "leftValue": "={{ $json.isValid !== false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f7c9e6d0-deec-4ed6-9c5a-ee7baed84590",
      "name": "Input Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        300
      ],
      "notes": "Validate early — quarantine invalid items instead of processing them (§9.1)."
    },
    {
      "parameters": {},
      "id": "7a792b4a-8e68-4264-9823-7f74b6bc2409",
      "name": "Log Invalid Input",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        780,
        500
      ],
      "notes": "Dead-letter placeholder — route to a data table/DB for later inspection (§9.3)."
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "upsert",
        "email": "={{ $json.email }}",
        "additionalFields": {}
      },
      "id": "49e8ef83-d04a-4623-b873-047826e01e3f",
      "name": "Upsert HubSpot Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        1020,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55aba8f2-6415-408d-b19d-cfa39b6aba19",
              "name": "source",
              "value": "='flowdex-workflow'",
              "type": "string"
            },
            {
              "id": "d281c127-e870-455d-a368-5c2fd9e7f77f",
              "name": "summary",
              "value": "={{ JSON.stringify($json).slice(0, 280) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d60886ff-5cab-48ee-aa08-fd70eeca2e92",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Drop items missing an id\nreturn $input.all().filter(i => i.json && i.json.id != null);"
      },
      "id": "d200d86b-8c28-493b-81a0-5ec9c0652085",
      "name": "Transform Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "records",
          "mode": "name"
        },
        "options": {}
      },
      "id": "0e87cb16-5db1-45fb-8b27-7ae3bb32bc67",
      "name": "Save to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1740,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "subject": "Automated update",
        "bodyContent": "={{ $json.summary }}",
        "toRecipients": "={{ $json.email }}"
      },
      "id": "062432ac-c7c1-45f2-9b82-4974f45ce972",
      "name": "Send Outlook Message",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1980,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "eca79ca5-25ee-499f-ac63-4c5a624bff4d",
              "leftValue": "={{ $json.stepResult }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1ffb1d9-0df3-433d-9b4c-1ca51360958a",
      "name": "Step Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2220,
        300
      ],
      "notes": "Real business branch — route on the condition that actually distinguishes this item, per the category's production pattern (§8)."
    },
    {
      "parameters": {},
      "id": "ed8b63c2-2450-4bab-beae-d13f52495306",
      "name": "Continue Orchestration",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2460,
        300
      ]
    },
    {
      "parameters": {},
      "id": "28b4cfb3-5328-46bb-a30c-06c06e8ad58a",
      "name": "Trigger Fallback Path",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2460,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48d954de-307b-4051-8c9a-7921af9510f9",
              "name": "errorAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d6b030bd-9fcd-44c3-ade9-9d8a17ef29dd",
      "name": "Handle Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2700,
        700
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#alerts",
        "text": "={{ 'Failure in ' + $workflow.name + ': ' + JSON.stringify($json) }}",
        "otherOptions": {}
      },
      "id": "11f3594b-7e27-48dc-b296-3fb46b98c451",
      "name": "Alert on Failure",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2940,
        760
      ],
      "notes": "Notify on failure without aborting the run (§9.3).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-log",
        "text": "={{ 'Completed: ' + $workflow.name }}",
        "otherOptions": {}
      },
      "id": "f89e2391-8528-4f8f-936e-47cd8193edb3",
      "name": "Success Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        3180,
        300
      ],
      "notes": "Confirms completion — distinct from the failure alert channel.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Sync records between tools with HubSpot and PostgreSQL hands-free\n\n**Tier:** Professional · **Difficulty:** Intermediate\n**Pattern:** Process Orchestration (Workflow Automation)\n**Architecture:** validated input, branch on step succeeded?.\n\nImport, add your credentials, then adjust parameters. Original WorkflowCrate template.",
        "height": 280,
        "width": 380,
        "color": 4
      },
      "id": "642782cc-991d-4c67-af58-27f9dc7f3896",
      "name": "Sticky Note 18f2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3460,
        40
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Input Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Valid?": {
      "main": [
        [
          {
            "node": "Upsert HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert HubSpot Contact": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Transform Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Items": {
      "main": [
        [
          {
            "node": "Save to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to PostgreSQL": {
      "main": [
        [
          {
            "node": "Send Outlook Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Outlook Message": {
      "main": [
        [
          {
            "node": "Step Succeeded?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step Succeeded?": {
      "main": [
        [
          {
            "node": "Continue Orchestration",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Fallback Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error": {
      "main": [
        [
          {
            "node": "Alert on Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Orchestration": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Fallback Path": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "8879663e-8662-4fa3-b561-209f2d6d85bd",
  "id": "FDX06284"
}