product-files/workflows/Project & Task Management/Standups/Advanced/08625_Broadcast stakeholders on changes with Discord hands-free.json
{
  "name": "Broadcast stakeholders on changes with Discord hands-free",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf08625-task",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        400
      ],
      "id": "a7f46852-11fa-4157-ac93-63cf48da8561",
      "name": "Receive Inbound Webhook",
      "webhookId": "b6a602ef-75b2-4c0c-b589-5efa1ffd84cb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31b9091d-cefe-4b35-b47a-32e68b29781f",
              "name": "taskId",
              "value": "={{ $json.body?.taskId || $json.body?.id }}",
              "type": "string"
            },
            {
              "id": "4784bee1-ca01-444a-9f0f-91cef13dec9c",
              "name": "kind",
              "value": "={{ $json.body?.type || 'default' }}",
              "type": "string"
            },
            {
              "id": "53e64648-d1e5-4e15-a72f-e6ce244d0ebf",
              "name": "payload",
              "value": "={{ JSON.stringify($json.body || $json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        400
      ],
      "id": "64d9daf2-74f7-47c6-b1ce-7820eb21d2f5",
      "name": "Map to Canonical Schema"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"accepted\": true, \"id\": $json.taskId } }}",
        "options": {
          "responseCode": 202
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        280,
        400
      ],
      "id": "ff23664f-3b6d-4907-9ce7-e982f4d8cb59",
      "name": "Acknowledge Fast (HTTP 202)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cb665129-df0f-401c-85be-6c06b7526600",
                    "leftValue": "={{ $json.kind }}",
                    "rightValue": "opened",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "opened"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4f0eddca-54b7-42c2-b5f5-9a8cd6d95971",
                    "leftValue": "={{ $json.kind }}",
                    "rightValue": "closed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "closed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1f34195a-c76f-4102-a4e5-bcd4e7b417aa",
                    "leftValue": "={{ $json.kind }}",
                    "rightValue": "reopened",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reopened"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        520,
        400
      ],
      "id": "cf8bdb29-869f-43f5-90c3-1197debe5fb1",
      "name": "Route by Event Kind"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Task Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "taskId"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        760,
        310
      ],
      "id": "ed7dc490-a30a-466a-9177-4fb80de3eaf6",
      "name": "Handle 'opened' → Google Sheets",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/v1/tasks",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        480
      ],
      "id": "a2d75c77-ff85-4f70-97bf-840d3f0b2a46",
      "name": "Handle 'closed' → Forward API",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/v1/tasks",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        650
      ],
      "id": "e70d3192-3043-44ad-b20a-db42e20a540a",
      "name": "Handle 'reopened' → Forward API",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Task Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1480,
        820
      ],
      "id": "76d78685-78a2-4a40-b077-b4b2a3a1d9cb",
      "name": "Log Unrecognized Kind",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1960,
        400
      ],
      "id": "71cba8d0-748b-41c4-b47e-74d996c133c3",
      "name": "Consolidate Handling"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "dueDate",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2680,
        400
      ],
      "id": "584e68d0-f934-4382-a86a-c1841f3cd0ef",
      "name": "Sort Tasks Newest First"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=✅ Broadcast stakeholders on changes with Discord hands-free — run completed at {{ $now.toFormat('HH:mm') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2920,
        400
      ],
      "id": "8b14bce3-6a82-4ffd-9bba-d18530bd7396",
      "name": "Send Summary to Discord",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46c85dff-a3e0-495b-96c6-4cf108b4b9ad",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "119ff1c4-1d43-417e-8e7b-06908ec9b208",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "e60ef966-7e62-47ab-9205-e3eb1ca308a2",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2440,
        740
      ],
      "id": "8629209e-b077-4757-a6ec-f14abe57d3fe",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#projects",
          "cachedResultName": "#projects"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2680,
        740
      ],
      "id": "affd60ed-ffa8-45be-a7fe-11228b8b5af8",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Broadcast stakeholders on changes with Discord hands-free\n\n**Pattern:** Event Notification  \n**Trigger:** Webhook  \n**Level:** Core\n\nProcesses tasks for standups — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        50
      ],
      "id": "0ad6b7d1-0029-44d7-b11d-b835f14b94ec",
      "name": "Overview"
    }
  ],
  "connections": {
    "Receive Inbound Webhook": {
      "main": [
        [
          {
            "node": "Map to Canonical Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to Canonical Schema": {
      "main": [
        [
          {
            "node": "Acknowledge Fast (HTTP 202)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acknowledge Fast (HTTP 202)": {
      "main": [
        [
          {
            "node": "Route by Event Kind",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event Kind": {
      "main": [
        [
          {
            "node": "Handle 'opened' → Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle 'closed' → Forward API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle 'reopened' → Forward API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Unrecognized Kind",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle 'opened' → Google Sheets": {
      "main": [
        [
          {
            "node": "Consolidate Handling",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle 'closed' → Forward API": {
      "main": [
        [
          {
            "node": "Consolidate Handling",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle 'reopened' → Forward API": {
      "main": [
        [
          {
            "node": "Consolidate Handling",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Unrecognized Kind": {
      "main": [
        [
          {
            "node": "Consolidate Handling",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Handling": {
      "main": [
        [
          {
            "node": "Sort Tasks Newest First",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort Tasks Newest First": {
      "main": [
        [
          {
            "node": "Send Summary to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Discord": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "e4b8a573-39b0-48c9-b983-729c4b75bc13",
  "id": "FDX08625"
}