product-files/workflows/Trading & Crypto Automation/Risk Monitoring/Expert/08907_Monitor crypto prices with HTTP REST API and Twilio for your team.json
{"name":"Monitor crypto prices with HTTP / REST API and Twilio for your team","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-270,400],"id":"9449eafb-e5e7-4d3b-a5a4-18fea1d76476","name":"Every Few Minutes"},{"parameters":{"method":"GET","url":"https://service-a.example.com/healthz","options":{"timeout":10000,"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[54,130],"id":"14bf006c-e393-42e0-bab5-d2938d560e7e","name":"Probe Endpoint A","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"method":"GET","url":"https://service-b.example.com/healthz","options":{"timeout":10000,"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[378,640],"id":"fc3763f4-ad55-4cff-87c3-3f96e44cfcf4","name":"Probe Endpoint B","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"mode":"append","numberInputs":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1026,400],"id":"254f7f67-c699-446b-8a1c-38fc27729f53","name":"Combine Probe Results"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cbc108e4-c6b5-48ad-a2b2-3700f25c2d48","leftValue":"={{ ($json.statusCode || 200) < 400 }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1998,400],"id":"8ab78965-baad-4f05-8945-d3d6fc71be3c","name":"All Healthy?"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Asset Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2322,160],"id":"635f6463-59e7-4bcc-a0d5-9876ef624597","name":"Record Uptime Metric","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"operation":"removeItemsSeenInPreviousExecutions","logic":"removeItemsWithAlreadySeenKeyValues","dedupeValue":"={{ $json.url || 'probe' }}","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[2646,760],"id":"4667cb8e-7573-4cb7-aa09-ff840ae84a6d","name":"Already Alerted? (State Check)"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#trading","cachedResultName":"#trading"},"text":"=🔴 Health check failed: {{ $json.url || 'endpoint' }} → {{ $json.statusCode }}","otherOptions":{}},"type":"n8n-nodes-base.twilio","typeVersion":1,"position":[3294,760],"id":"4855414c-c0ba-416f-b4f0-d2c8da307c9d","name":"Page On-Call via Twilio","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"operation":"read","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Asset Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4266,400],"id":"8986a492-843d-4e4e-9397-c90962a8ebd1","name":"Load Previous Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Compare current metrics with the previous snapshot\nconst current = $input.first().json;\nconst prev = $('Load Previous Snapshot').first().json || {};\nconst drift = {};\nfor (const k of Object.keys(current)) {\n  if (typeof current[k] === 'number' && typeof prev[k] === 'number' && prev[k] !== 0) {\n    drift[k] = Math.round(((current[k] - prev[k]) / prev[k]) * 1000) / 10;\n  }\n}\nreturn [{ json: { ...current, driftPct: drift, hasDrift: Object.values(drift).some(v => Math.abs(v) > 10) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4590,400],"id":"425c6e9c-a76d-44fe-8ceb-7daca8b619de","name":"Compute Drift vs Snapshot"},{"parameters":{"method":"GET","url":"https://enrichment.example.com/v2/lookup","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.price }}"}]},"options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4914,400],"id":"a804e939-53fb-4724-99e5-797394ec14a4","name":"Enrich with Reference Data","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"d288a8a2-7502-4fa5-8f21-6b455db323dc","name":"enrichedAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"7cbc3745-6fdb-4b77-90bd-0e6e75cb3fcc","name":"enrichmentSource","value":"reference-api","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5238,400],"id":"e232c41b-117d-4f39-9688-81d0b992fbf3","name":"Fold In Enrichment Fields"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Build a stable idempotency key per asset (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.symbol, j.price].join('|')) } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5562,400],"id":"da3ab197-b2ce-4d44-beed-24a174f49ae3","name":"Fingerprint for Idempotency"},{"parameters":{"operation":"removeItemsSeenInPreviousExecutions","logic":"removeItemsWithAlreadySeenKeyValues","dedupeValue":"={{ $json.idempotencyKey }}","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[5886,400],"id":"3b9de3a5-690e-47ce-b443-a51d6a498638","name":"Drop Already-Processed Items"},{"parameters":{"operation":"getCurrentDate","outputFieldName":"completedAt","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[6210,400],"id":"047d00e8-1302-46a1-bbfd-b607e3dc2fe6","name":"Stamp Completion Time"},{"parameters":{"dataToSave":{"values":[{"key":"runId","value":"={{ $execution.id }}"},{"key":"itemCount","value":"={{ $items().length }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[6534,400],"id":"40e52525-6595-4bd1-8894-f67542e577c9","name":"Persist Run Metadata"},{"parameters":{"assignments":{"assignments":[{"id":"d51a1ac0-023c-4367-ad11-e6ec3310df7d","name":"runAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"85af963e-3aa3-4b52-9673-e87053c00e87","name":"itemCount","value":"={{ $input.all().length }}","type":"number"},{"id":"e87b2510-a956-4f75-a760-db9c8bcfe923","name":"status","value":"completed","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6858,400],"id":"75301ef9-56e7-4f9d-9f8d-eb09e0000186","name":"Summarize Run Stats"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Asset Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[7182,400],"id":"f64e8ff0-540a-4152-a357-73cdff64deb0","name":"Append Audit Row (Google Sheets)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#trading","cachedResultName":"#trading"},"text":"=✅ Monitor crypto prices with HTTP / REST API and Twilio for your team — run completed at {{ $now.toFormat('HH:mm') }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[7506,400],"id":"a9ea199a-e3ba-4a8c-bbd1-78170be3632a","name":"Send Summary to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"18a56a72-d76d-46c6-8d5d-f225c08bce3f","name":"failedNode","value":"={{ $json.error?.node?.name || 'unknown' }}","type":"string"},{"id":"8b7ad978-6ace-4c3c-a6bb-cb8aa290126c","name":"errorMessage","value":"={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}","type":"string"},{"id":"05400000-29ae-4bc1-9421-ce4d074ebe67","name":"workflow","value":"={{ $workflow.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6858,1420],"id":"fa01fad1-83a9-45cd-8664-cd837dee556c","name":"Capture Failure Context"},{"parameters":{"from":"+15550100000","to":"={{ $json.phone || 'ONCALL_NUMBER' }}","message":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}","options":{}},"type":"n8n-nodes-base.twilio","typeVersion":1,"position":[7182,1420],"id":"0463a038-c7a4-4599-b65e-e794b68ef26c","name":"Escalate Failure to Twilio","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Asset Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[7506,1420],"id":"4865b193-f331-468d-a3b8-accd9de3bf93","name":"Park in Dead-Letter Queue","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"content":"### Every Few Minutes\n\nStarts the workflow on a timer — every 15 min. No input data; downstream nodes fetch what they need.\n\nNext: Probe Endpoint A","width":280,"height":232,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-330,520],"id":"9a7d8d7e-5890-0e4b-c12e-feadd98f62bf","name":"Note: Every Few Minutes"},{"parameters":{"content":"### Probe Endpoint A\n\nGET https://service-a.example.com/healthz — retries 3× with backoff on failure.\n\nNext: Combine Probe Results\n\n↻ retries 3×/2s · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6,250],"id":"78fec89c-7214-63dd-aac2-521345cf410c","name":"Note: Probe Endpoint A"},{"parameters":{"content":"### Probe Endpoint B\n\nGET https://service-b.example.com/healthz — retries 3× with backoff on failure.\n\nNext: Combine Probe Results\n\n↻ retries 3×/2s · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[318,760],"id":"3f3ca7c5-9fef-7342-9cca-43f93ff7b54e","name":"Note: Probe Endpoint B"},{"parameters":{"content":"### Combine Probe Results\n\nRejoins 2 branches into one stream (mode: append) so downstream logic runs once.\n\nNext: All Healthy?","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[966,520],"id":"8221cc9d-c7fa-7f3b-ef1e-8f091e54dba8","name":"Note: Combine Probe Results"},{"parameters":{"content":"### All Healthy?\n\nTwo-way gate on `={{ ($json.statusCode || 200) < 400 }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Record Uptime Metric · ②→ Already Alerted? (State Check)","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1938,520],"id":"badb9f9e-7764-be87-7ad0-18142d4ae4aa","name":"Note: All Healthy?"},{"parameters":{"content":"### Record Uptime Metric\n\nAppends a new row to 'Asset Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\nPorts: ①→ Load Previous Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2262,280],"id":"7aa7a304-d055-83b4-d5be-e94b7f6b898e","name":"Note: Record Uptime Metric"},{"parameters":{"content":"### Already Alerted? (State Check)\n\nCross-execution dedupe: remembers keys it has processed before and drops repeats — the idempotency guard.\n\nNext: Page On-Call via Twilio","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2586,880],"id":"2c47501d-4932-7511-283c-317a8667ddcc","name":"Note: Already Alerted? (State Check)"},{"parameters":{"content":"### Page On-Call via Twilio\n\nSends an SMS via Twilio — reserved for urgent alerts since SMS costs money per message, unlike chat notifications.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Twilio SID + token","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3234,880],"id":"56af3a7b-de3c-5237-f8dd-ff070bfd159d","name":"Note: Page On-Call via Twilio"},{"parameters":{"content":"### Load Previous Snapshot\n\nReads every row from 'Asset Tracker' — the read side of the store, e.g. for a digest or a downstream sync.\n\nPorts: ①→ Compute Drift vs Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4206,520],"id":"cb8f5f0c-e450-f81b-15ac-b9c4147836bf","name":"Note: Load Previous Snapshot"},{"parameters":{"content":"### Compute Drift vs Snapshot\n\nCustom JavaScript: Compare current metrics with the previous snapshot\n\nNext: Enrich with Reference Data","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4530,520],"id":"ef8b2cc1-cc60-cd1d-eb9a-ea026e557ec6","name":"Note: Compute Drift vs Snapshot"},{"parameters":{"content":"### Enrich with Reference Data\n\nGET https://enrichment.example.com/v2/lookup — retries 3× with backoff on failure.\n\nPorts: ①→ Fold In Enrichment Fields · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4854,520],"id":"812dec5c-4af9-e14e-438d-f02627500403","name":"Note: Enrich with Reference Data"},{"parameters":{"content":"### Fold In Enrichment Fields\n\nShapes the item: writes `enrichedAt`, `enrichmentSource`. Keeps the schema explicit between stages.\n\nNext: Fingerprint for Idempotency","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5178,520],"id":"0bc3da68-6e7c-94c4-1756-e1183ac538aa","name":"Note: Fold In Enrichment Fields"},{"parameters":{"content":"### Fingerprint for Idempotency\n\nCustom JavaScript: Build a stable idempotency key per asset (djb2 hash, no deps)\n\nNext: Drop Already-Processed Items","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5502,520],"id":"49df0816-f161-69e9-78b0-7dfa26962f55","name":"Note: Fingerprint for Idempotency"},{"parameters":{"content":"### Drop Already-Processed Items\n\nCross-execution dedupe: remembers keys it has processed before and drops repeats — the idempotency guard.\n\nNext: Stamp Completion Time","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5826,520],"id":"1188fde1-0fb1-9821-9973-eaa985a10b51","name":"Note: Drop Already-Processed Items"},{"parameters":{"content":"### Stamp Completion Time\n\nStamps `completedAt` with the current time for auditing.\n\nNext: Persist Run Metadata","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6150,520],"id":"49a2fdde-66db-97dc-90b9-521ad611a598","name":"Note: Stamp Completion Time"},{"parameters":{"content":"### Persist Run Metadata\n\nSaves key fields onto the execution record — searchable later in n8n's execution list.\n\nNext: Summarize Run Stats","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6474,520],"id":"062b519e-73c9-969f-9c94-bea243109978","name":"Note: Persist Run Metadata"},{"parameters":{"content":"### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Google Sheets)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6798,520],"id":"cdd6da20-027d-4bb6-7fc6-187efb72e8f3","name":"Note: Summarize Run Stats"},{"parameters":{"content":"### Append Audit Row (Google Sheets)\n\nAppends a new row to 'Asset Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7122,520],"id":"813646a5-53b5-325e-84e5-491901904ef1","name":"Note: Append Audit Row (Google Sheets)"},{"parameters":{"content":"### Send Summary to Slack\n\nPosts a message to Slack (`#trading`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7446,520],"id":"3957a9a1-00e0-5c46-ec51-b9c9a60ad5ab","name":"Note: Send Summary to Slack"},{"parameters":{"content":"### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Twilio","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6798,1540],"id":"4ec1aa08-ee00-1202-74c1-ebb3db9248bf","name":"Note: Capture Failure Context"},{"parameters":{"content":"### Escalate Failure to Twilio\n\nSends an SMS via Twilio — reserved for urgent alerts since SMS costs money per message, unlike chat notifications.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Twilio SID + token","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7122,1540],"id":"66804a91-0d53-4bd2-10b1-8b571ef34839","name":"Note: Escalate Failure to Twilio"},{"parameters":{"content":"### Park in Dead-Letter Queue\n\nAppends a new row to 'Asset Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\n↻ retries 3×/2s · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7446,1540],"id":"466e126f-f0b1-af37-96f0-4d92d631ac4f","name":"Note: Park in Dead-Letter Queue"},{"parameters":{"content":"# Monitor crypto prices with HTTP / REST API and Twilio for your team\n\n**Pattern:** Trading Alert · **Level:** Production · **Trigger:** Scheduled\n\n## What it does\nMonitor crypto prices with HTTP / REST API and Twilio for your team. It runs automatically on a schedule.\n\n## Why it exists\nManual risk monitoring is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nEvery Few Minutes → Probe Endpoint A → Combine Probe Results → All Healthy? → Record Uptime Metric → Load Previous Snapshot → Compute Drift vs Snapshot → …\n\n## Use it for\n- Teams that want to trading alert without manual effort\n- Anyone automating risk monitoring in finance\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Responds in seconds\n- Runs 24/7 in the background\n- Scales without extra headcount\n\n## Before first run\nConnect credentials: API key / bearer for the target API; Google OAuth2 / service account; Slack OAuth2; Twilio SID + token.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.\n\n## Try it now\nSample data is pinned on the trigger — hit **Execute Workflow** to watch it flow through every node before connecting any real credentials. Unpin the trigger (right-click → Unpin) when you're ready to go live.","width":480,"height":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,80],"id":"1c86c0a5-db7c-5780-a55e-eecff5481232","name":"📘 Workflow Overview"},{"parameters":{"content":"## Design decisions\n\n'Already Alerted?' uses cross-execution dedupe specifically so a service that's down for an hour pages on-call once, not on every scheduled probe — alert fatigue is a real failure mode, and this node is the guard against it.","width":480,"height":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1020],"id":"8efcd89d-84b3-ce3d-01fe-1dfd6b40de88","name":"🎓 Design Decisions"},{"parameters":{"content":"## Practice exercises\n\nAlready production-grade — deepen your understanding:\n\n1. Add a third endpoint to probe and watch the Merge node's input count update.\n2. Point a probe at a URL that returns 500 and confirm exactly one page fires, not one per scheduled check.\n3. Change the alert dedupe key so alerts re-fire daily instead of once per incident.","width":480,"height":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1360],"id":"b1b0b31b-951e-1a3f-28e3-a62a7c9551e8","name":"🧪 Practice Exercises"},{"parameters":{"content":"## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.","width":360,"height":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-230,-290],"id":"3f44b10b-5334-c575-dc85-9cd81d62c4a2","name":"🛟 Error handling & retries"},{"parameters":{"content":"## 🧹 Data quality\n\nDedupe/diff steps make re-runs safe: the same input twice will not create duplicate records. If you change the key fields, clear n8n's dedupe memory (node → 'Clear stored keys') before the next run.","width":360,"height":260,"color":1},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[190,-290],"id":"3440dc12-fc7c-e2fc-ab45-b9a47b85afd5","name":"🧹 Data quality"},{"parameters":{"content":"## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your risk monitoring process. Every node card explains its role — safe to extend at any marked branch.","width":360,"height":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[610,-290],"id":"ed05f8c1-131d-c519-e688-b3d0d4707414","name":"🛠 Customize me"}],"connections":{"Every Few Minutes":{"main":[[{"node":"Probe Endpoint A","type":"main","index":0},{"node":"Probe Endpoint B","type":"main","index":0}]]},"Probe Endpoint A":{"main":[[{"node":"Combine Probe Results","type":"main","index":0}]]},"Probe Endpoint B":{"main":[[{"node":"Combine Probe Results","type":"main","index":1}]]},"Combine Probe Results":{"main":[[{"node":"All Healthy?","type":"main","index":0}]]},"All Healthy?":{"main":[[{"node":"Record Uptime Metric","type":"main","index":0}],[{"node":"Already Alerted? (State Check)","type":"main","index":0}]]},"Already Alerted? (State Check)":{"main":[[{"node":"Page On-Call via Twilio","type":"main","index":0}]]},"Record Uptime Metric":{"main":[[{"node":"Load Previous Snapshot","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Load Previous Snapshot":{"main":[[{"node":"Compute Drift vs Snapshot","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Compute Drift vs Snapshot":{"main":[[{"node":"Enrich with Reference Data","type":"main","index":0}]]},"Enrich with Reference Data":{"main":[[{"node":"Fold In Enrichment Fields","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Fold In Enrichment Fields":{"main":[[{"node":"Fingerprint for Idempotency","type":"main","index":0}]]},"Fingerprint for Idempotency":{"main":[[{"node":"Drop Already-Processed Items","type":"main","index":0}]]},"Drop Already-Processed Items":{"main":[[{"node":"Stamp Completion Time","type":"main","index":0}]]},"Stamp Completion Time":{"main":[[{"node":"Persist Run Metadata","type":"main","index":0}]]},"Persist Run Metadata":{"main":[[{"node":"Summarize Run Stats","type":"main","index":0}]]},"Summarize Run Stats":{"main":[[{"node":"Append Audit Row (Google Sheets)","type":"main","index":0}]]},"Append Audit Row (Google Sheets)":{"main":[[{"node":"Send Summary to Slack","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Capture Failure Context":{"main":[[{"node":"Escalate Failure to Twilio","type":"main","index":0}]]},"Escalate Failure to Twilio":{"main":[[{"node":"Park in Dead-Letter Queue","type":"main","index":0}]]},"Page On-Call via Twilio":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Send Summary to Slack":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveManualExecutions":true,"executionTimeout":3600},"meta":{"templateCredsSetupCompleted":false},"tags":[],"pinData":{"Every Few Minutes":[{"json":{"symbol":"BTC-USD","price":64250.1,"change24h":2.3,"volume":28450000000}},{"json":{"symbol":"ETH-USD","price":3180.55,"change24h":-1.1,"volume":12300000000}}]},"versionId":"45210e0c-b29e-4f21-9c96-d7303448204a","id":"FDX08907"}