product-files/workflows/Document Processing/Contracts/Intermediate/03935_Summarize long emails with MySQL and Slack without manual work.json
{
  "name": "Summarize long emails with MySQL and Slack without manual work",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf03935-document",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -270,
        400
      ],
      "id": "040dc84e-1346-4796-adbc-ebbf204aed80",
      "name": "Receive Inbound Webhook",
      "webhookId": "30f9a4e0-21de-41d7-a8c3-601dbdabf5ee"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e528634b-4591-4697-989c-8584e4d9d256",
              "name": "content",
              "value": "={{ $json.body?.text || $json.content || JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        54,
        400
      ],
      "id": "0318bd02-0024-4127-b9de-73ff1d96d832",
      "name": "Collect Raw Text"
    },
    {
      "parameters": {
        "text": "={{ $json.text || $json.content }}",
        "attributes": {
          "attributes": [
            {
              "name": "counterparty",
              "description": "The counterparty of this document.",
              "required": true
            },
            {
              "name": "effectiveDate",
              "description": "The effectiveDate of this document.",
              "required": true
            },
            {
              "name": "termMonths",
              "description": "The termMonths of this document.",
              "required": false
            },
            {
              "name": "autoRenews",
              "description": "The autoRenews of this document.",
              "required": false
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are a precise extraction engine. Only extract values present in the text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        378,
        400
      ],
      "id": "22e83c43-6640-472e-bdfa-c6e506afd323",
      "name": "Extract Structured Fields",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        621,
        970
      ],
      "id": "f5f2d9b6-7fc2-4275-ae41-75cc5136123c",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eaecde1c-c876-4fd6-8042-efc601e8180d",
              "leftValue": "={{ $json.output?.counterparty }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        945,
        400
      ],
      "id": "fa5441d9-c2f7-4599-a635-1433b765f7f0",
      "name": "All Required Fields Found?"
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "documents",
          "cachedResultName": "documents"
        },
        "dataMode": "autoMapInputData",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1269,
        160
      ],
      "id": "fef150f6-94ef-4d7a-8b26-9a57e3ecf769",
      "name": "Upsert into MySQL",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#docs",
          "cachedResultName": "#docs"
        },
        "text": "=✍️ Extraction incomplete for {{ $json.fileName || 'document' }} — please review.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1593,
        760
      ],
      "id": "cf3c0ecb-baad-4850-9b66-12cc36a59177",
      "name": "Queue for Manual Review",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2241,
        400
      ],
      "id": "cd89d2cb-5978-400e-8439-bb679ac627bc",
      "name": "Merge Review Paths"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://enrichment.example.com/v2/lookup",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.fileName }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3213,
        400
      ],
      "id": "36c2f184-b747-4470-b034-bb8030f9ac30",
      "name": "Enrich with Reference Data",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1440399c-969c-4f7b-8b4f-4581cf1bc37d",
              "name": "enrichedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "595b2661-0806-4a75-b247-0bed839edab5",
              "name": "enrichmentSource",
              "value": "reference-api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3537,
        400
      ],
      "id": "a3e4e572-01cb-4a2a-8dda-1eaef0fa29c5",
      "name": "Fold In Enrichment Fields"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build a stable idempotency key per document (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.documentId, j.fileName].join('|')) } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3861,
        400
      ],
      "id": "4d618a84-ba11-41ab-9062-a32821c8bfee",
      "name": "Fingerprint for Idempotency"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "logic": "removeItemsWithAlreadySeenKeyValues",
        "dedupeValue": "={{ $json.idempotencyKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        4185,
        400
      ],
      "id": "5d332dc1-0cec-427b-a9ac-20ef1aa4c157",
      "name": "Drop Already-Processed Items"
    },
    {
      "parameters": {
        "operation": "csv",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4509,
        400
      ],
      "id": "883429c2-78b4-497a-9c27-2323a352aa18",
      "name": "Serialize Run Output (CSV)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Document Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4833,
        400
      ],
      "id": "99145a3d-34b4-4264-9b49-6fcb95cac57b",
      "name": "Archive Row Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Document Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5157,
        400
      ],
      "id": "00872051-3180-409f-aa19-2273761efe19",
      "name": "Load Previous Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Compare current metrics with the previous snapshot\nconst current = $input.first().json;\nconst prev = $('Load Previous Snapshot').first().json || {};\nconst drift = {};\nfor (const k of Object.keys(current)) {\n  if (typeof current[k] === 'number' && typeof prev[k] === 'number' && prev[k] !== 0) {\n    drift[k] = Math.round(((current[k] - prev[k]) / prev[k]) * 1000) / 10;\n  }\n}\nreturn [{ json: { ...current, driftPct: drift, hasDrift: Object.values(drift).some(v => Math.abs(v) > 10) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5481,
        400
      ],
      "id": "e393d035-d7d5-43de-b9bd-7ead730bd471",
      "name": "Compute Drift vs Snapshot"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06d5cc18-e651-470e-b0f2-b04a0e726f18",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "9a7abbc1-5590-4884-825e-2ae670a76685",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "b53619c3-9f11-4cb4-b966-5c96f8f74615",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5805,
        400
      ],
      "id": "977e1d17-c231-4afd-a2d7-91153b494db3",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Document Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6129,
        400
      ],
      "id": "c19bc401-56a4-4b93-b781-9b814aad8e0a",
      "name": "Append Audit Row (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#docs",
          "cachedResultName": "#docs"
        },
        "text": "=✅ Summarize long emails with MySQL and Slack without manual work — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        6453,
        400
      ],
      "id": "dcf2c0bf-374a-4d39-a357-e29d2e5e779d",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7becad7d-eea5-4c4a-bbbf-d9ac0edd23c1",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "81f93496-683c-4d71-81f0-7978d4f8b755",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "2c7a7567-94df-455c-bf6a-1d508effcb24",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5805,
        1420
      ],
      "id": "81ed530b-df7f-4240-bdac-2f8760082788",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#docs",
          "cachedResultName": "#docs"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        6129,
        1420
      ],
      "id": "ebbdb6cf-676e-4829-8a36-a3c1e7ef8d6c",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Document Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6453,
        1420
      ],
      "id": "e866422c-602f-4e7a-a711-3dcc6f4475e4",
      "name": "Park in Dead-Letter Queue",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "### Receive Inbound Webhook\n\nEntry point: listens for POST calls on `/wf03935-document`. Use the TEST url while building, switch callers to the PRODUCTION url after publishing.\n\nNext: Collect Raw Text",
        "width": 280,
        "height": 232,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -330,
        520
      ],
      "id": "73c4d10d-c3c2-a7cd-cf8b-60e1b38a707a",
      "name": "Note: Receive Inbound Webhook"
    },
    {
      "parameters": {
        "content": "### Collect Raw Text\n\nShapes the item: writes `content`. Keeps the schema explicit between stages.\n\nNext: Extract Structured Fields",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6,
        520
      ],
      "id": "71aecd9c-9929-457e-d987-ec00326e10fc",
      "name": "Note: Collect Raw Text"
    },
    {
      "parameters": {
        "content": "### Extract Structured Fields\n\nPulls structured fields (counterparty, effectiveDate, termMonths, autoRenews) out of free text using a strict extraction prompt.\n\nPorts: ①→ All Required Fields Found? · ②→ Capture Failure Context\n\n⚠ failures exit via the error rail",
        "width": 280,
        "height": 232,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        318,
        520
      ],
      "id": "0959dd50-3846-8dc8-2e95-00ae46b75869",
      "name": "Note: Extract Structured Fields"
    },
    {
      "parameters": {
        "content": "### Groq Chat Model\n\nChat model powering the AI step (model: `llama-3.3-70b-versatile`). Swap providers here without rewiring.\n\nFeeds **Extract Structured Fields** as `languageModel`\n\n🔑 Groq API key",
        "width": 280,
        "height": 232,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        561,
        1090
      ],
      "id": "2a7bee0e-d547-6258-a819-1d149ca95e82",
      "name": "Note: Groq Chat Model"
    },
    {
      "parameters": {
        "content": "### All Required Fields Found?\n\nTwo-way gate on `={{ $json.output?.counterparty }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Upsert into MySQL · ②→ Queue for Manual Review",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        885,
        520
      ],
      "id": "e8fb6286-32cd-48b1-72bc-4c2f455d8945",
      "name": "Note: All Required Fields Found?"
    },
    {
      "parameters": {
        "content": "### Upsert into MySQL\n\nmySql — `insert` operation against the connected account.\n\nPorts: ①→ Merge Review Paths · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 MySQL connection",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1209,
        280
      ],
      "id": "ffb6bf84-c5aa-497d-53e7-80b5ecad53df",
      "name": "Note: Upsert into MySQL"
    },
    {
      "parameters": {
        "content": "### Queue for Manual Review\n\nslack — `action` operation against the connected account.\n\nPorts: ①→ Merge Review Paths · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1533,
        880
      ],
      "id": "3cd14a5b-9101-0e71-4010-95912d01e952",
      "name": "Note: Queue for Manual Review"
    },
    {
      "parameters": {
        "content": "### Merge Review Paths\n\nRejoins 2 branches into one stream (mode: append) so downstream logic runs once.\n\nNext: Enrich with Reference Data",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2181,
        520
      ],
      "id": "573da164-4ebf-d828-f3e3-cd64b14f59bf",
      "name": "Note: Merge Review Paths"
    },
    {
      "parameters": {
        "content": "### Enrich with Reference Data\n\nGET https://enrichment.example.com/v2/lookup — retries 3× with backoff on failure.\n\nPorts: ①→ Fold In Enrichment Fields · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3153,
        520
      ],
      "id": "dab046b4-5002-4379-a939-0dd39b0d167a",
      "name": "Note: Enrich with Reference Data"
    },
    {
      "parameters": {
        "content": "### Fold In Enrichment Fields\n\nShapes the item: writes `enrichedAt`, `enrichmentSource`. Keeps the schema explicit between stages.\n\nNext: Fingerprint for Idempotency",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3477,
        520
      ],
      "id": "349f09d5-5de4-3647-7621-808a40a0dd4e",
      "name": "Note: Fold In Enrichment Fields"
    },
    {
      "parameters": {
        "content": "### Fingerprint for Idempotency\n\nCustom JavaScript: Build a stable idempotency key per document (djb2 hash, no deps)\n\nNext: Drop Already-Processed Items",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3801,
        520
      ],
      "id": "e4365b4c-312d-abce-0814-a7d21c9bd8b4",
      "name": "Note: Fingerprint for Idempotency"
    },
    {
      "parameters": {
        "content": "### Drop Already-Processed Items\n\nCross-execution dedupe: remembers keys it has processed before and drops repeats — the idempotency guard.\n\nNext: Serialize Run Output (CSV)",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4125,
        520
      ],
      "id": "2268a17d-59a0-471e-480f-ecc443bc62d6",
      "name": "Note: Drop Already-Processed Items"
    },
    {
      "parameters": {
        "content": "### Serialize Run Output (CSV)\n\nSerializes items to a CSV binary file.\n\nNext: Archive Row Snapshot",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4449,
        520
      ],
      "id": "655d45bd-efd8-d3ea-dd0e-c13ebf6c3e21",
      "name": "Note: Serialize Run Output (CSV)"
    },
    {
      "parameters": {
        "content": "### Archive Row Snapshot\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Load Previous Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4773,
        520
      ],
      "id": "ef260dc8-2cf0-e3e8-4f0f-b67e12063f32",
      "name": "Note: Archive Row Snapshot"
    },
    {
      "parameters": {
        "content": "### Load Previous Snapshot\n\ngoogleSheets — `read` operation against the connected account.\n\nPorts: ①→ Compute Drift vs Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5097,
        520
      ],
      "id": "27e27a39-161b-cb29-3bfc-a91020590fb6",
      "name": "Note: Load Previous Snapshot"
    },
    {
      "parameters": {
        "content": "### Compute Drift vs Snapshot\n\nCustom JavaScript: Compare current metrics with the previous snapshot\n\nNext: Summarize Run Stats",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5421,
        520
      ],
      "id": "8697b5de-a2ed-c023-2631-2b5d683ac3e0",
      "name": "Note: Compute Drift vs Snapshot"
    },
    {
      "parameters": {
        "content": "### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Google Sheets)",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5745,
        520
      ],
      "id": "f0074912-f7d0-c430-89de-6b9d68c286a4",
      "name": "Note: Summarize Run Stats"
    },
    {
      "parameters": {
        "content": "### Append Audit Row (Google Sheets)\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6069,
        520
      ],
      "id": "cde1e43e-2921-56a5-1087-03901881f684",
      "name": "Note: Append Audit Row (Google Sheets)"
    },
    {
      "parameters": {
        "content": "### Send Summary to Slack\n\nslack — `action` operation against the connected account.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2",
        "width": 280,
        "height": 232,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6393,
        520
      ],
      "id": "d3b41ba4-b06b-fdb8-cb3e-792397d1444a",
      "name": "Note: Send Summary to Slack"
    },
    {
      "parameters": {
        "content": "### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Slack",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5745,
        1540
      ],
      "id": "5f36d59b-5bc8-89fc-0574-c99153b6c27c",
      "name": "Note: Capture Failure Context"
    },
    {
      "parameters": {
        "content": "### Escalate Failure to Slack\n\nslack — `action` operation against the connected account.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Slack OAuth2",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6069,
        1540
      ],
      "id": "21dad071-96ca-9733-dbbe-f88470c33f27",
      "name": "Note: Escalate Failure to Slack"
    },
    {
      "parameters": {
        "content": "### Park in Dead-Letter Queue\n\ngoogleSheets — `append` operation against the connected account.\n\n↻ retries 3×/2s · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6393,
        1540
      ],
      "id": "0c3d03e0-6162-6643-f1ab-7599e784f177",
      "name": "Note: Park in Dead-Letter Queue"
    },
    {
      "parameters": {
        "content": "# Summarize long emails with MySQL and Slack without manual work\n\n**Pattern:** AI Summarize & Route · **Level:** Production · **Trigger:** Webhook\n\n## What it does\nSummarize long emails with MySQL and Slack without manual work. It fires the moment an external system calls its webhook.\n\n## Why it exists\nManual contracts is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nReceive Inbound Webhook → Collect Raw Text → Extract Structured Fields → All Required Fields Found? → Upsert into MySQL → Merge Review Paths → Enrich with Reference Data → …\n\n## Use it for\n- Teams that want to ai summarize & route without manual effort\n- Anyone automating contracts in legal\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Responds in seconds\n- Keeps your systems in sync\n- Scales without extra headcount\n\n## Before first run\nConnect credentials: API key / bearer for the target API; Google OAuth2 / service account; Groq API key; MySQL connection; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.",
        "width": 480,
        "height": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -830,
        80
      ],
      "id": "c3c16655-039d-11d4-da50-a4dceaefb3da",
      "name": "📘 Workflow Overview"
    },
    {
      "parameters": {
        "content": "## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.",
        "width": 360,
        "height": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -230,
        -260
      ],
      "id": "f7bec98e-129e-2f45-d9c6-3b4ec63e85ba",
      "name": "🛟 Error handling & retries"
    },
    {
      "parameters": {
        "content": "## 🔐 Security\n\nNever trust inbound payloads: the webhook path is unguessable. Add header auth or IP allow-listing for defense in depth. Secrets live in n8n credentials — never in node parameters.",
        "width": 360,
        "height": 260,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        190,
        -260
      ],
      "id": "e4417bb2-0c86-9570-b450-cee9a93b8e51",
      "name": "🔐 Security"
    },
    {
      "parameters": {
        "content": "## 🤖 AI cluster\n\nPurple nodes form one AI unit: the root node orchestrates, sub-nodes plug in via typed ports (model / memory / tools / parser). Swap the chat model without rewiring anything else. Costs scale with tokens — keep prompts lean and cap iterations.",
        "width": 360,
        "height": 260,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        610,
        -260
      ],
      "id": "6cc52bbb-ad3a-9e41-562b-e5c7645e723f",
      "name": "🤖 AI cluster"
    },
    {
      "parameters": {
        "content": "## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your contracts process. Every node card explains its role — safe to extend at any marked branch.",
        "width": 360,
        "height": 260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1030,
        -260
      ],
      "id": "dadf060a-487b-f630-7ae3-1ebfc38640e2",
      "name": "🛠 Customize me"
    }
  ],
  "connections": {
    "Receive Inbound Webhook": {
      "main": [
        [
          {
            "node": "Collect Raw Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Raw Text": {
      "main": [
        [
          {
            "node": "Extract Structured Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Structured Fields",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Structured Fields": {
      "main": [
        [
          {
            "node": "All Required Fields Found?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Required Fields Found?": {
      "main": [
        [
          {
            "node": "Upsert into MySQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Queue for Manual Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert into MySQL": {
      "main": [
        [
          {
            "node": "Merge Review Paths",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue for Manual Review": {
      "main": [
        [
          {
            "node": "Merge Review Paths",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Review Paths": {
      "main": [
        [
          {
            "node": "Enrich with Reference Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with Reference Data": {
      "main": [
        [
          {
            "node": "Fold In Enrichment Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fold In Enrichment Fields": {
      "main": [
        [
          {
            "node": "Fingerprint for Idempotency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fingerprint for Idempotency": {
      "main": [
        [
          {
            "node": "Drop Already-Processed Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drop Already-Processed Items": {
      "main": [
        [
          {
            "node": "Serialize Run Output (CSV)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serialize Run Output (CSV)": {
      "main": [
        [
          {
            "node": "Archive Row Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Row Snapshot": {
      "main": [
        [
          {
            "node": "Load Previous Snapshot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Previous Snapshot": {
      "main": [
        [
          {
            "node": "Compute Drift vs Snapshot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Drift vs Snapshot": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (Google Sheets)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Failure to Slack": {
      "main": [
        [
          {
            "node": "Park in Dead-Letter Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "9cd3fde1-73de-4059-8230-70279e8b560c",
  "id": "FDX03935"
}