product-files/workflows/Web Scraping & Data Extraction/Lead Lists/Advanced/09710_Extract job posts with HTTP REST API and Google Drive 247.json
{
  "name": "Extract job posts with HTTP / REST API and Google Drive 24/7",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        400
      ],
      "id": "0275068d-6406-4eb7-9cdc-fa1979973684",
      "name": "Hourly Schedule"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "087fab54-80bd-45ac-9135-745c64893c66",
              "name": "page",
              "value": "1",
              "type": "number"
            },
            {
              "id": "763c5df2-16a8-485f-8a06-adb2fe5632a7",
              "name": "hasMore",
              "value": "true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        400
      ],
      "id": "18d32b7b-3580-4bdc-b932-3edcac663d2d",
      "name": "Init Cursor"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        280,
        400
      ],
      "id": "1023bec2-e0a3-4868-b5a4-2712d5e01495",
      "name": "Page Loop"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/v1/listings",
        "options": {
          "timeout": 20000
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "={{ $json.page }}"
            },
            {
              "name": "per_page",
              "value": "50"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        560
      ],
      "id": "6023a1df-a589-443d-bac9-e5498b3365b3",
      "name": "Fetch Page from API",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1000,
        560
      ],
      "id": "b9234beb-2b20-4e9c-bb4d-94771855eb16",
      "name": "Split Result Items"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Normalize incoming listing records to a stable schema\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  out.push({ json: {\n    listingId: String(j.listingId ?? j.id ?? '').trim(),\n    url: typeof j.url === 'string' ? j.url.trim() : j.url ?? null,\n    source: j.source ?? 'api',\n    receivedAt: new Date().toISOString(),\n  } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        560
      ],
      "id": "e80e63ff-ec5b-4388-b0f7-b14522aacae9",
      "name": "Normalize Page Items"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "listingId",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1960,
        400
      ],
      "id": "fc86b039-885c-4a26-af74-bbb1e4cbf7bd",
      "name": "Remove Duplicate Listings"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Listing Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "listingId"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2200,
        400
      ],
      "id": "ac20ab53-a6b0-45af-b029-3defd6a2d116",
      "name": "Upsert Harvest into Google Sheets",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "count",
              "field": "listingId"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        2440,
        400
      ],
      "id": "ffa97465-e295-48f9-bc94-f680c1630b68",
      "name": "Tally Harvest Stats"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "id",
              "newKey": "listingId"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        2680,
        400
      ],
      "id": "a8007a17-7b67-4bf2-8589-c1473e90de06",
      "name": "Align Field Names"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "listingId",
              "value": "={{ $json.listingId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        2920,
        400
      ],
      "id": "46313396-19ba-4fd9-a91d-13c4c3cbdb83",
      "name": "Save Execution Metadata"
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3160,
        400
      ],
      "id": "11f4f861-a1ac-4e57-8f26-b9a21e54e6b6",
      "name": "Cap Batch Volume"
    },
    {
      "parameters": {
        "operation": "getCurrentDate",
        "outputFieldName": "processedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3400,
        400
      ],
      "id": "d36c55cb-7377-44bb-8cd9-38f39e790ebe",
      "name": "Stamp Processing Time"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "price",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        3640,
        400
      ],
      "id": "ef98eaac-acab-4eb1-bb24-997362955302",
      "name": "Sort Listings Newest First"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "777371a8-6b75-4eed-be26-2190506bed0d",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "08659682-53d1-4da9-a116-f902fa5d07af",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "0be5e37a-b461-4c00-b1f8-349bf73ffe99",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3880,
        400
      ],
      "id": "893dc720-6382-4bd0-9144-75c5e721ca8f",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Listing Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4120,
        400
      ],
      "id": "0ab01bc7-8b92-4c0c-8c07-85407d8e1b7b",
      "name": "Append Audit Row (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#scraping",
          "cachedResultName": "#scraping"
        },
        "text": "=✅ Extract job posts with HTTP / REST API and Google Drive 24/7 — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        4360,
        400
      ],
      "id": "bf8d7423-3bcf-4f44-b2a7-7569f25ed337",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cac7e835-957a-4844-abde-0373ad612d56",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "15fb83e1-7250-4e0c-a876-a7b4c747c414",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "e3cde9bc-64ce-4d91-9059-3838cb570a09",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3880,
        740
      ],
      "id": "8760bc9d-d312-45db-a528-eca20c014702",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#scraping",
          "cachedResultName": "#scraping"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        4120,
        740
      ],
      "id": "6c4da61c-f937-4d4d-8c4e-a778fcc0ddfb",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Extract job posts with HTTP / REST API and Google Drive 24/7\n\n**Pattern:** Web Scraping  \n**Trigger:** Scheduled  \n**Level:** Advanced\n\nProcesses listings for lead lists — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        140
      ],
      "id": "e19dfa0a-10b3-4319-a85a-74ee77f8d703",
      "name": "Overview"
    }
  ],
  "connections": {
    "Hourly Schedule": {
      "main": [
        [
          {
            "node": "Init Cursor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Cursor": {
      "main": [
        [
          {
            "node": "Page Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page Loop": {
      "main": [
        [
          {
            "node": "Remove Duplicate Listings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Page from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page from API": {
      "main": [
        [
          {
            "node": "Split Result Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Result Items": {
      "main": [
        [
          {
            "node": "Normalize Page Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Page Items": {
      "main": [
        [
          {
            "node": "Page Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate Listings": {
      "main": [
        [
          {
            "node": "Upsert Harvest into Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Harvest into Google Sheets": {
      "main": [
        [
          {
            "node": "Tally Harvest Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tally Harvest Stats": {
      "main": [
        [
          {
            "node": "Align Field Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Align Field Names": {
      "main": [
        [
          {
            "node": "Save Execution Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Execution Metadata": {
      "main": [
        [
          {
            "node": "Cap Batch Volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cap Batch Volume": {
      "main": [
        [
          {
            "node": "Stamp Processing Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Processing Time": {
      "main": [
        [
          {
            "node": "Sort Listings Newest First",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort Listings Newest First": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (Google Sheets)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "d3286e92-093f-48af-92b1-d3009b4c34e4",
  "id": "FDX09710"
}