product-files/workflows/Social Media Automation/Engagement/Advanced/07386_Publish the content calendar with MySQL and WordPress automatically for Engagement.json
{"name":"Publish the content calendar with MySQL and WordPress automatically for Engagement","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-270,400],"id":"46001e38-f830-44cf-955c-9fde2fb7dc1e","name":"Hourly Schedule"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3516b219-2641-469a-971f-6b879cf34187","leftValue":"={{ $json.postId || $json.content }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[54,400],"id":"970cbe04-b35f-4db2-98ed-868363407653","name":"Keep Valid Posts"},{"parameters":{"assignments":{"assignments":[{"id":"0599f638-df2f-46ed-a18d-3881a99f5b4b","name":"requestId","value":"={{ $json.postId || $execution.id }}","type":"string"},{"id":"61904981-4a26-474b-bc87-829210ed8a7c","name":"summary","value":"={{ ($json.content || '').toString().slice(0, 200) }}","type":"string"},{"id":"9903f971-23c8-45a4-a9bc-cbb5eea9deb6","name":"requestedBy","value":"={{ $json.email || 'system' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[378,400],"id":"e77125a3-265d-44d9-9d76-298619a1eb20","name":"Prepare Approval Packet"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#social","cachedResultName":"#social"},"text":"=🟡 Approval needed for {{ $json.summary }} — resume link: {{ $execution.resumeUrl }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[702,400],"id":"d045b53f-e57e-480d-9b81-666706d5590d","name":"Request Approval via Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"resume":"webhook","httpMethod":"POST","options":{}},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1026,400],"id":"be5d1fa8-25f3-4ec6-81de-14e84196f455","name":"Hold for Decision","webhookId":"3bb2cfc9-c2fd-4dcf-bf7e-9353a69f0905"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc473a7e-12ad-4fb4-915c-dc3d5775146e","leftValue":"={{ $json.body?.decision || $json.decision }}","rightValue":"approve","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1350,400],"id":"1444f7de-c760-462b-a8aa-3eeeb78b1b36","name":"Approved?"},{"parameters":{"method":"POST","url":"https://api.example.com/v1/posts","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1674,160],"id":"0f524abb-74a5-4b82-a448-9c641d572c6f","name":"Execute Approved Action (API)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#social","cachedResultName":"#social"},"text":"=❌ Request {{ $json.requestId }} was declined.","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1998,760],"id":"adee9300-6dff-4479-8877-7af0358648d4","name":"Record Decline + Notify Requester","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"mode":"append","numberInputs":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2646,400],"id":"139d1a7e-9ef3-436a-801f-53e7d53ecba9","name":"Join Decision Paths"},{"parameters":{"operation":"select","table":{"__rl":true,"mode":"name","value":"posts","cachedResultName":"posts"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[3618,400],"id":"30e4bc03-9b44-47d9-8daf-1ed334892c79","name":"Load Previous Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Compare current metrics with the previous snapshot\nconst current = $input.first().json;\nconst prev = $('Load Previous Snapshot').first().json || {};\nconst drift = {};\nfor (const k of Object.keys(current)) {\n  if (typeof current[k] === 'number' && typeof prev[k] === 'number' && prev[k] !== 0) {\n    drift[k] = Math.round(((current[k] - prev[k]) / prev[k]) * 1000) / 10;\n  }\n}\nreturn [{ json: { ...current, driftPct: drift, hasDrift: Object.values(drift).some(v => Math.abs(v) > 10) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3942,400],"id":"df0b5190-fe57-4bf5-aa05-0e93b940200e","name":"Compute Drift vs Snapshot"},{"parameters":{"operation":"getCurrentDate","outputFieldName":"completedAt","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[4266,400],"id":"ea040b59-9206-48d4-965e-20223be2a9c3","name":"Stamp Completion Time"},{"parameters":{"dataToSave":{"values":[{"key":"runId","value":"={{ $execution.id }}"},{"key":"itemCount","value":"={{ $items().length }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[4590,400],"id":"b2885e35-d79a-4d5b-bede-0b3142346d52","name":"Persist Run Metadata"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Build a stable idempotency key per post (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.postId, j.content].join('|')) } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4914,400],"id":"4c6d38d8-95c5-4c62-ab59-4c06a057d2dd","name":"Fingerprint for Idempotency"},{"parameters":{"operation":"removeItemsSeenInPreviousExecutions","logic":"removeItemsWithAlreadySeenKeyValues","dedupeValue":"={{ $json.idempotencyKey }}","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[5238,400],"id":"8543b498-2093-4fba-8927-f422ced0fa22","name":"Drop Already-Processed Items"},{"parameters":{"operation":"csv","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[5562,400],"id":"8c817386-f4a2-4f2f-b869-1063642cb584","name":"Serialize Run Output (CSV)"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Post Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5886,400],"id":"93372317-814d-45b9-b6d8-96ba74f3f950","name":"Archive Row Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"9f7be71f-d863-4907-a206-7dfb1431fe08","name":"runAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"86636d2f-a04b-4dab-9cf6-ce475d11938b","name":"itemCount","value":"={{ $input.all().length }}","type":"number"},{"id":"20336798-fc7b-4701-9d8d-72bf23f6c0df","name":"status","value":"completed","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6210,400],"id":"5b22623b-3fe5-4587-b34a-6a14cde664f0","name":"Summarize Run Stats"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Post Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[6534,400],"id":"323d6247-5b9f-4733-be18-6a5b0ab69bf7","name":"Append Audit Row (Google Sheets)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#social","cachedResultName":"#social"},"text":"=✅ Publish the content calendar with MySQL and WordPress automatically fo — run completed at {{ $now.toFormat('HH:mm') }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[6858,400],"id":"41fd8197-a634-4f27-91d6-264aa2e43a0a","name":"Send Summary to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"a9b926f3-5089-452d-a335-657db01174e4","name":"failedNode","value":"={{ $json.error?.node?.name || 'unknown' }}","type":"string"},{"id":"dd112bd7-8a33-4dea-bd12-d112463f01f0","name":"errorMessage","value":"={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}","type":"string"},{"id":"34812815-a85f-46fe-8fc9-8a6abc6e5a42","name":"workflow","value":"={{ $workflow.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6210,1420],"id":"b64e9273-4c4c-4312-9ca4-393b8b2f4405","name":"Capture Failure Context"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#social","cachedResultName":"#social"},"text":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[6534,1420],"id":"e50ead6f-bc94-4e45-96ff-cf6a69c277bb","name":"Escalate Failure to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Post Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[6858,1420],"id":"fc3a5714-6683-4a52-9b87-036b40790a6e","name":"Park in Dead-Letter Queue","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"content":"### Hourly Schedule\n\nStarts the workflow on a timer — every 1 h. No input data; downstream nodes fetch what they need.\n\nNext: Keep Valid Posts","width":280,"height":232,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-330,520],"id":"0f886aec-aa23-3d14-32e7-aca013282362","name":"Note: Hourly Schedule"},{"parameters":{"content":"### Keep Valid Posts\n\nDrops items that fail the condition; only qualifying items continue (no false branch).\n\nNext: Prepare Approval Packet","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6,520],"id":"a37a312e-7b85-0e60-d7a1-8f49904cd832","name":"Note: Keep Valid Posts"},{"parameters":{"content":"### Prepare Approval Packet\n\nShapes the item: writes `requestId`, `summary`, `requestedBy`. Keeps the schema explicit between stages.\n\nNext: Request Approval via Slack","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[318,520],"id":"dc2d1b26-82d8-d675-da8b-ab2aa609b35a","name":"Note: Prepare Approval Packet"},{"parameters":{"content":"### Request Approval via Slack\n\nPosts a message to Slack (`#social`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\nPorts: ①→ Hold for Decision · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[642,520],"id":"75c8c52f-8043-5884-f9b4-a842220b9d80","name":"Note: Request Approval via Slack"},{"parameters":{"content":"### Hold for Decision\n\nPauses the execution until the resume webhook is called — this is the approval/HITL gate.\n\nNext: Approved?","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[966,520],"id":"6432dbaf-b8b3-f1b7-f0fd-c2ec59b46abf","name":"Note: Hold for Decision"},{"parameters":{"content":"### Approved?\n\nTwo-way gate on `={{ $json.body?.decision || $json.decision }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Execute Approved Action (API) · ②→ Record Decline + Notify Requester","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1290,520],"id":"63e99921-8b79-72b6-40c8-e3924ec3c1b5","name":"Note: Approved?"},{"parameters":{"content":"### Execute Approved Action (API)\n\nPOST https://api.example.com/v1/posts — retries 3× with backoff on failure.\n\nPorts: ①→ Join Decision Paths · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1614,280],"id":"891387c7-d509-a71b-4d43-89bc68b0ae1f","name":"Note: Execute Approved Action (API)"},{"parameters":{"content":"### Record Decline + Notify Requester\n\nPosts a message to Slack (`#social`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\nPorts: ①→ Join Decision Paths · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1938,880],"id":"ea465229-356f-a333-57e1-e01c0b2712fd","name":"Note: Record Decline + Notify Requester"},{"parameters":{"content":"### Join Decision Paths\n\nRejoins 2 branches into one stream (mode: append) so downstream logic runs once.\n\nNext: Load Previous Snapshot","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2586,520],"id":"18a47c8c-c723-b154-336d-5651c24551a1","name":"Note: Join Decision Paths"},{"parameters":{"content":"### Load Previous Snapshot\n\nSelects rows from the MySQL table (`returnAll`) — the read side of the store.\n\nPorts: ①→ Compute Drift vs Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 MySQL connection","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3558,520],"id":"6265ce01-3843-4ff9-43c2-205fc5a2cc08","name":"Note: Load Previous Snapshot"},{"parameters":{"content":"### Compute Drift vs Snapshot\n\nCustom JavaScript: Compare current metrics with the previous snapshot\n\nNext: Stamp Completion Time","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3882,520],"id":"e96666fe-6bf3-787c-3c99-c69062932e78","name":"Note: Compute Drift vs Snapshot"},{"parameters":{"content":"### Stamp Completion Time\n\nStamps `completedAt` with the current time for auditing.\n\nNext: Persist Run Metadata","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4206,520],"id":"b6a4274d-6add-58a9-3963-9940391f1211","name":"Note: Stamp Completion Time"},{"parameters":{"content":"### Persist Run Metadata\n\nSaves key fields onto the execution record — searchable later in n8n's execution list.\n\nNext: Fingerprint for Idempotency","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4530,520],"id":"7b74e459-a13d-c1fd-cd23-026ee9531cf8","name":"Note: Persist Run Metadata"},{"parameters":{"content":"### Fingerprint for Idempotency\n\nCustom JavaScript: Build a stable idempotency key per post (djb2 hash, no deps)\n\nNext: Drop Already-Processed Items","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4854,520],"id":"78709808-4868-fe86-db62-b5a375ad13e9","name":"Note: Fingerprint for Idempotency"},{"parameters":{"content":"### Drop Already-Processed Items\n\nCross-execution dedupe: remembers keys it has processed before and drops repeats — the idempotency guard.\n\nNext: Serialize Run Output (CSV)","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5178,520],"id":"b4be5be9-d3b0-9149-14f0-53fa47a96009","name":"Note: Drop Already-Processed Items"},{"parameters":{"content":"### Serialize Run Output (CSV)\n\nSerializes items to a CSV binary file.\n\nNext: Archive Row Snapshot","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5502,520],"id":"621680e7-440b-4de4-9f39-a1420d160898","name":"Note: Serialize Run Output (CSV)"},{"parameters":{"content":"### Archive Row Snapshot\n\nAppends a new row to 'Post Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\nPorts: ①→ Summarize Run Stats · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5826,520],"id":"ee288809-e56e-327d-dbc4-defb76841053","name":"Note: Archive Row Snapshot"},{"parameters":{"content":"### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Google Sheets)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6150,520],"id":"ac6c02c5-a285-4ec1-c2fb-77d92d59db59","name":"Note: Summarize Run Stats"},{"parameters":{"content":"### Append Audit Row (Google Sheets)\n\nAppends a new row to 'Post Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6474,520],"id":"e1ad72df-b2be-4ce6-25b8-b2e61d2cc55a","name":"Note: Append Audit Row (Google Sheets)"},{"parameters":{"content":"### Send Summary to Slack\n\nPosts a message to Slack (`#social`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6798,520],"id":"eb1b92c3-be3d-4ea1-5806-732e7bc9a86c","name":"Note: Send Summary to Slack"},{"parameters":{"content":"### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Slack","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6150,1540],"id":"9b09ec89-1a87-1c75-1d39-9274cd38e774","name":"Note: Capture Failure Context"},{"parameters":{"content":"### Escalate Failure to Slack\n\nPosts a message to Slack (`#social`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Slack OAuth2","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6474,1540],"id":"43dd21d8-c208-4691-dde7-9affb3e1b533","name":"Note: Escalate Failure to Slack"},{"parameters":{"content":"### Park in Dead-Letter Queue\n\nAppends a new row to 'Post Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\n↻ retries 3×/2s · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6798,1540],"id":"3cf6f805-eb71-3fca-33f1-72c9330e6949","name":"Note: Park in Dead-Letter Queue"},{"parameters":{"content":"# Publish the content calendar with MySQL and WordPress automatically for Engagement\n\n**Pattern:** Social Scheduler · **Level:** Production · **Trigger:** Scheduled\n\n## What it does\nPublish the content calendar with MySQL and WordPress automatically for Engagement. It runs automatically on a schedule.\n\n## Why it exists\nManual engagement is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nHourly Schedule → Keep Valid Posts → Prepare Approval Packet → Request Approval via Slack → Hold for Decision → Approved? → Execute Approved Action (API) → …\n\n## Use it for\n- Teams that want to social scheduler without manual effort\n- Anyone automating engagement in marketing\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Improves response time\n- Standardizes the process every time\n- Has retries and error handling built in\n\n## Before first run\nConnect credentials: API key / bearer for the target API; Google OAuth2 / service account; MySQL connection; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.\n\n## Try it now\nSample data is pinned on the trigger — hit **Execute Workflow** to watch it flow through every node before connecting any real credentials. Unpin the trigger (right-click → Unpin) when you're ready to go live.","width":480,"height":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,80],"id":"4f587899-5d57-989d-84f6-64cb3d3329a0","name":"📘 Workflow Overview"},{"parameters":{"content":"## Design decisions\n\nThe workflow pauses on a Wait node configured to resume via webhook — n8n's actual human-in-the-loop primitive, not a polling loop. The resume URL is embedded directly in the approval message so approving is one click, and the paused execution burns no compute for however long the decision takes.","width":480,"height":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1020],"id":"d5d85d5c-af59-f9a0-f657-3fa0bb71de6e","name":"🎓 Design Decisions"},{"parameters":{"content":"## Practice exercises\n\nAlready production-grade — deepen your understanding:\n\n1. Add a timeout to the Wait node so unanswered approvals auto-decline after N hours.\n2. Change the approval channel and confirm the resume link still works.\n3. Add a third outcome (e.g. 'needs changes') alongside approve/decline.","width":480,"height":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1360],"id":"d228b2bb-0928-8a36-7ef7-66cb51767312","name":"🧪 Practice Exercises"},{"parameters":{"content":"## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.","width":360,"height":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-230,-260],"id":"24e3dc69-8b32-e771-0611-ea895e3a064e","name":"🛟 Error handling & retries"},{"parameters":{"content":"## ⏱ Rate limiting\n\nWork is batched and spaced with Wait so provider quotas aren't tripped. If you hit 429s, lower the batch size or raise the wait — throughput drops, reliability rises.","width":360,"height":260,"color":1},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[190,-260],"id":"a15ee980-0c85-de46-034a-8f914feb3eb8","name":"⏱ Rate limiting"},{"parameters":{"content":"## 🙋 Human in the loop\n\nThe workflow pauses at the Wait node until a human posts a decision to the resume URL (included in the approval message). Approve → the action executes; anything else → recorded as declined. No timeout is set by default — add one under the Wait node's options if approvals go stale.","width":360,"height":260,"color":1},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[610,-260],"id":"cb056c93-0ea3-b84c-4ad6-30f1eb5c129e","name":"🙋 Human in the loop"},{"parameters":{"content":"## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your engagement process. Every node card explains its role — safe to extend at any marked branch.","width":360,"height":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1030,-260],"id":"a1c6e581-8b73-13c8-0910-d7672cc79686","name":"🛠 Customize me"}],"connections":{"Hourly Schedule":{"main":[[{"node":"Keep Valid Posts","type":"main","index":0}]]},"Keep Valid Posts":{"main":[[{"node":"Prepare Approval Packet","type":"main","index":0}]]},"Prepare Approval Packet":{"main":[[{"node":"Request Approval via Slack","type":"main","index":0}]]},"Request Approval via Slack":{"main":[[{"node":"Hold for Decision","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Hold for Decision":{"main":[[{"node":"Approved?","type":"main","index":0}]]},"Approved?":{"main":[[{"node":"Execute Approved Action (API)","type":"main","index":0}],[{"node":"Record Decline + Notify Requester","type":"main","index":0}]]},"Execute Approved Action (API)":{"main":[[{"node":"Join Decision Paths","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Record Decline + Notify Requester":{"main":[[{"node":"Join Decision Paths","type":"main","index":1}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Join Decision Paths":{"main":[[{"node":"Load Previous Snapshot","type":"main","index":0}]]},"Load Previous Snapshot":{"main":[[{"node":"Compute Drift vs Snapshot","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Compute Drift vs Snapshot":{"main":[[{"node":"Stamp Completion Time","type":"main","index":0}]]},"Stamp Completion Time":{"main":[[{"node":"Persist Run Metadata","type":"main","index":0}]]},"Persist Run Metadata":{"main":[[{"node":"Fingerprint for Idempotency","type":"main","index":0}]]},"Fingerprint for Idempotency":{"main":[[{"node":"Drop Already-Processed Items","type":"main","index":0}]]},"Drop Already-Processed Items":{"main":[[{"node":"Serialize Run Output (CSV)","type":"main","index":0}]]},"Serialize Run Output (CSV)":{"main":[[{"node":"Archive Row Snapshot","type":"main","index":0}]]},"Archive Row Snapshot":{"main":[[{"node":"Summarize Run Stats","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Summarize Run Stats":{"main":[[{"node":"Append Audit Row (Google Sheets)","type":"main","index":0}]]},"Append Audit Row (Google Sheets)":{"main":[[{"node":"Send Summary to Slack","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Capture Failure Context":{"main":[[{"node":"Escalate Failure to Slack","type":"main","index":0}]]},"Escalate Failure to Slack":{"main":[[{"node":"Park in Dead-Letter Queue","type":"main","index":0}]]},"Send Summary to Slack":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveManualExecutions":true,"executionTimeout":3600},"meta":{"templateCredsSetupCompleted":false},"tags":[],"pinData":{"Hourly Schedule":[{"json":{"postId":"POST-771","content":"New template drop: 10 CRM automations","platform":"Twitter/X","scheduledAt":"2026-07-21T15:00:00.000Z"}},{"json":{"postId":"POST-772","content":"Behind the scenes: how we build workflow templates","platform":"LinkedIn","scheduledAt":"2026-07-22T13:00:00.000Z"}}]},"versionId":"a256cbd6-1fff-4dd1-99a2-ed5d748fac3a","id":"FDX07386"}