product-files/workflows/Notifications & Alerts/Escalations/Intermediate/09523_Notify stakeholders on changes with Microsoft Teams automatically.json
{
  "name": "Notify stakeholders on changes with Microsoft Teams automatically",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1cd267f2",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "11c178f9-f2ef-40e4-ab36-488d7349402e",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        300
      ],
      "webhookId": "441d4eb9-4885-4480-a95a-789f1dd0f786"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "5fd460e3-accb-49bc-aeec-727d7f013cc3",
              "leftValue": "={{ $json.score }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "fa20503b-19a6-415e-8792-00a5a0f400f2",
      "name": "Filter Items",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "253a7305-29ab-487d-8719-c6054f076271",
              "name": "count",
              "value": "={{ $json.items ? $json.items.length : 1 }}",
              "type": "number"
            },
            {
              "id": "11e3b1ec-ad00-46e5-b6a4-7683c1d722fb",
              "name": "status",
              "value": "='processed'",
              "type": "string"
            },
            {
              "id": "6ff397c4-fc33-43d3-aa55-277976616eac",
              "name": "summary",
              "value": "={{ JSON.stringify($json).slice(0, 280) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "101868e1-abe5-4271-9091-e66f427bcfdb",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "operation": "create",
        "message": "={{ $json.summary }}"
      },
      "id": "2d62d6c9-281e-49c7-8b21-f6d91df6258e",
      "name": "Send Microsoft Teams Message",
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Notify stakeholders on changes with Microsoft Teams automatically\n\n**Pattern:** Event Notification\n**Trigger:** Webhook\n**Integrations:** Microsoft Teams\n\nImport, add your credentials, then adjust parameters. Original FlowDex template.",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "f6be1806-3437-461d-b436-fca332cf6ed7",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1080,
        80
      ]
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Filter Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send Microsoft Teams Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "f3af5edd-581a-4686-a224-76ce06dfc4a9",
  "id": "FDX09523"
}