product-files/workflows/AI Agents/Research Assistant/Intermediate/01043_Distill meeting notes with Airtable and Twilio end to end.json
{
  "name": "Distill meeting notes with Airtable and Twilio end to end",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "d0ec847a",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "8dcf2189-ab4e-4c64-9990-9ed3e561e821",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "webhookId": "3f744657-0dc9-436b-8f57-cebe9907274b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "21f33021-48b5-4ded-9455-c5fd18a6a431",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "4ea1a8d5-12d1-4969-9ce2-354df90ff140",
              "name": "isValid",
              "value": "={{ $json ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "48c931d3-d6e9-49eb-9b1c-c6b3bd0572a1",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        300
      ],
      "notes": "Validate & normalize the input before downstream steps (§9.1)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "36cc95b5-0fa3-425a-918e-c23ab6d1f351",
              "leftValue": "={{ $json.receivedAt || $now.toISO() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a2b28427-6fb6-4f8d-a348-5dd6e4b95e54",
      "name": "Idempotency Guard",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        780,
        300
      ],
      "notes": "Idempotency guard — replace with a real dedup key lookup (Redis/DB) in production (§9.1, §9.5)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "aec77fb8-3de6-4ed4-9959-daae7174eb3f",
              "leftValue": "={{ $json.isValid !== false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "84215cec-5412-4ba7-9415-5188431332d9",
      "name": "Input Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1020,
        300
      ],
      "notes": "Validate early — quarantine invalid items instead of processing them (§9.1)."
    },
    {
      "parameters": {},
      "id": "285e0e8e-acb7-407f-a638-fc01a8735e33",
      "name": "Log Invalid Input",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1020,
        500
      ],
      "notes": "Dead-letter placeholder — route to a data table/DB for later inspection (§9.3)."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "48189730-a158-4faa-bf5d-82d03355c494",
      "name": "Summarize with AI",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        1260,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ce34a917-3f7e-463a-a9a5-3b2c92f69276",
              "name": "source",
              "value": "='flowdex-workflow'",
              "type": "string"
            },
            {
              "id": "390349d1-a1e3-4104-92ac-d36ece949f2c",
              "name": "count",
              "value": "={{ $json.items ? $json.items.length : 1 }}",
              "type": "number"
            },
            {
              "id": "19a0fa8f-24eb-401c-bbff-2ccfb01c2795",
              "name": "summary",
              "value": "={{ JSON.stringify($json).slice(0, 280) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9b1e4e5b-f737-42a3-9b45-c02064cb9543",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "options": {}
      },
      "id": "f9f95b6a-58b7-440f-ab47-5bb5a790b6c1",
      "name": "Save to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1740,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "sms",
        "operation": "send",
        "from": "",
        "to": "={{ $json.phone }}",
        "message": "={{ $json.summary }}"
      },
      "id": "3da4e1e2-0b46-4fbf-bc32-7aab0558b3b2",
      "name": "Send Twilio Message",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1980,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "d143a53b-0671-44a2-a814-9b50b958c674",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        740,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6ec5c59b-61c1-4008-97af-2376cf327bfd",
              "leftValue": "={{ $json.toolCallConfidence }}",
              "rightValue": "0.7",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fcf7bd76-2c92-405e-8b7d-0eeaf99293c3",
      "name": "Confidence High?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2220,
        300
      ],
      "notes": "Real business branch — route on the condition that actually distinguishes this item, per the category's production pattern (§8)."
    },
    {
      "parameters": {},
      "id": "6f139848-f3cb-48ef-8a28-87be5bfe5b19",
      "name": "Respond Directly",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2460,
        300
      ]
    },
    {
      "parameters": {},
      "id": "cdb8770f-b6e2-4d74-82d6-0e7e277a3229",
      "name": "Escalate to Human Review",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2460,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4325bdf-2473-4da2-9c0e-7f1ca4c6c214",
              "name": "errorAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cb2023fd-00a6-4a3a-8ac1-e77817064339",
      "name": "Handle Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2700,
        700
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#alerts",
        "text": "={{ 'Failure in ' + $workflow.name + ': ' + JSON.stringify($json) }}",
        "otherOptions": {}
      },
      "id": "55b58688-acbc-442b-b5bd-6a9ad2a040cf",
      "name": "Alert on Failure",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2940,
        760
      ],
      "notes": "Notify on failure without aborting the run (§9.3).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "id": "775108bb-f626-417d-a9d9-56d422efe46c",
      "name": "Merge Branch Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3180,
        300
      ],
      "notes": "Recombine both decision paths before shared downstream steps (§11.1 — avoid losing the false branch)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/v1/sync",
        "options": {}
      },
      "id": "fe8face0-d17a-43d1-87ee-af065a552c94",
      "name": "Sync to Secondary System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3420,
        300
      ],
      "notes": "Second-system fan-out — real multi-integration requirement for this tier (§9.1).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "3e43aa32-fd03-43b3-bc3b-ec503891a1f5",
      "name": "Rate Limit Guard",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3660,
        300
      ],
      "notes": "Respect downstream API rate limits before the next batch of writes (§9.5)."
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "4ed1db58-d2e8-4d69-9c41-83f4c4e368c5",
      "name": "Write Audit Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3900,
        300
      ],
      "notes": "Audit trail entry — timestamp, outcome, and branch taken (§9.3, §8.14).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-log",
        "text": "={{ 'Completed: ' + $workflow.name }}",
        "otherOptions": {}
      },
      "id": "e083e502-7aad-4744-83fb-1026fe8c01e1",
      "name": "Success Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        4140,
        300
      ],
      "notes": "Confirms completion — distinct from the failure alert channel.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Distill meeting notes with Airtable and Twilio end to end\n\n**Tier:** Premium · **Difficulty:** Intermediate\n**Pattern:** Research Assistant (AI Agents)\n**Architecture:** validated input, branch on confidence high?, multi-system sync, audit log.\n\nImport, add your credentials, then adjust parameters. Original WorkflowCrate template.",
        "height": 280,
        "width": 380,
        "color": 4
      },
      "id": "f37278b0-b90d-4433-bb44-eda0fb356837",
      "name": "Sticky Note 488f",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4420,
        40
      ]
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Idempotency Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotency Guard": {
      "main": [
        [
          {
            "node": "Input Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Valid?": {
      "main": [
        [
          {
            "node": "Summarize with AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with AI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Save to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Airtable": {
      "main": [
        [
          {
            "node": "Send Twilio Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Twilio Message": {
      "main": [
        [
          {
            "node": "Confidence High?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence High?": {
      "main": [
        [
          {
            "node": "Respond Directly",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate to Human Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error": {
      "main": [
        [
          {
            "node": "Alert on Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Directly": {
      "main": [
        [
          {
            "node": "Merge Branch Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate to Human Review": {
      "main": [
        [
          {
            "node": "Merge Branch Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Branch Results": {
      "main": [
        [
          {
            "node": "Sync to Secondary System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync to Secondary System": {
      "main": [
        [
          {
            "node": "Rate Limit Guard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Guard": {
      "main": [
        [
          {
            "node": "Write Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Audit Log": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "37f7df92-4a90-4182-9197-c0a32cadf1b6",
  "id": "FDX01043"
}