product-files/workflows/AI Agents/Research Assistant/Intermediate/01803_Automate an assistant workflow with Outlook in real time for Research Assistant.json
{
  "name": "Automate an assistant workflow with Outlook in real time for Research Assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf01803-request",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        400
      ],
      "id": "c66e0ea2-dba8-4acf-94ba-4ac2db973d15",
      "name": "Receive Inbound Webhook",
      "webhookId": "05696622-2955-41d7-9f17-34bc1edbddfa"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a18829ee-c191-49bf-aad9-d91818e363fb",
              "leftValue": "={{ $json.query }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        40,
        400
      ],
      "id": "9f86b069-352d-4eb9-8f41-3bedc3962d57",
      "name": "Required Fields Present?"
    },
    {
      "parameters": {
        "errorType": "errorMessage",
        "errorMessage": "Missing required field 'query' on incoming request."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        40,
        570
      ],
      "id": "482809f5-f8ea-44d0-85db-34721939c1df",
      "name": "Abort — Malformed Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "807093dc-1390-47b0-a7d3-a4aa185e201a",
              "name": "assignment",
              "value": "={{ $json.chatInput || JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "140c4e04-2f97-4f40-8b32-760f9ab2e741",
              "name": "deadline",
              "value": "={{ $now.plus({minutes: 5}).toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        400
      ],
      "id": "a33e775d-00da-4d02-a740-e6c627cfb7b8",
      "name": "Frame the Assignment"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.assignment }}",
        "options": {
          "systemMessage": "You are the coordinator for a research assistant pipeline. Break the request into sub-tasks, delegate each to the matching specialist tool, then merge results into one coherent answer. Never call the same specialist twice for one request.",
          "maxIterations": 10
        },
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        520,
        400
      ],
      "id": "085dbc81-f1a3-449b-90fa-56378e8364de",
      "name": "Coordinator Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-5-20250929",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        700,
        590
      ],
      "id": "54e05e31-b7d9-4ce9-b11b-13b12586236e",
      "name": "Anthropic Chat Model"
    },
    {
      "parameters": {
        "description": "Delegate research sub-tasks for a request to the Research specialist workflow.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "lib: Research Specialist"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        640,
        730
      ],
      "id": "21d5549d-cca0-4d78-9011-9ad82906934e",
      "name": "Research Specialist (Sub-workflow)"
    },
    {
      "parameters": {
        "description": "Delegate draft sub-tasks for a request to the Draft specialist workflow.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "lib: Draft Specialist"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        830,
        730
      ],
      "id": "8322bb0d-b729-4eeb-9f47-d802743ed057",
      "name": "Draft Specialist (Sub-workflow)"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary\": \"string\",\n  \"sections\": [\"string\"],\n  \"status\": \"complete\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        950,
        590
      ],
      "id": "b32c8e06-d7b7-487a-8559-4c1a7a279db8",
      "name": "Enforce Result Schema"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.sections",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1190,
        400
      ],
      "id": "8e7c9e48-1cd1-41fa-bac4-76b9227b11a7",
      "name": "Unpack Sections"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Database"
        },
        "title": "={{ $json.query || $json.requestId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1430,
        400
      ],
      "id": "149af809-5f70-474f-9274-0146631c00d1",
      "name": "Persist Deliverable to Notion",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "lib: Post-Process Requests"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1670,
        400
      ],
      "id": "900168cd-a697-4e96-9f2b-5634c65f47ed",
      "name": "Offload to Post-Process Sub-workflow",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "subflowStatus",
              "value": "={{ $json.status || 'done' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        1910,
        400
      ],
      "id": "1b1f6a23-8603-40b8-85dd-dd9ffb44706e",
      "name": "Record Sub-workflow Result"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://enrichment.example.com/v2/lookup",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2150,
        400
      ],
      "id": "8a6478d1-b46b-4449-925a-863f95f93b0c",
      "name": "Enrich with Reference Data",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00b65a08-604c-404f-aba0-271e031a04ad",
              "name": "enrichedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "c0e47760-96c3-4ebc-846f-4c12198f292f",
              "name": "enrichmentSource",
              "value": "reference-api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2390,
        400
      ],
      "id": "4f3a7aec-4fd2-49c5-98ec-b1eadc9662bc",
      "name": "Fold In Enrichment Fields"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build a stable idempotency key per request (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.requestId, j.query].join('|')) } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2630,
        400
      ],
      "id": "d7f634cd-19f4-49c4-b815-caabb172869a",
      "name": "Fingerprint for Idempotency"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "logic": "removeItemsWithAlreadySeenKeyValues",
        "dedupeValue": "={{ $json.idempotencyKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        2870,
        400
      ],
      "id": "fba62a03-c59e-473b-b91b-d4b2d0b5bd45",
      "name": "Drop Already-Processed Items"
    },
    {
      "parameters": {
        "operation": "getCurrentDate",
        "outputFieldName": "completedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3110,
        400
      ],
      "id": "0ba970d8-a9af-40d2-a76b-d6a37520d3e9",
      "name": "Stamp Completion Time"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "runId",
              "value": "={{ $execution.id }}"
            },
            {
              "key": "itemCount",
              "value": "={{ $items().length }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        3350,
        400
      ],
      "id": "f95d2c75-8f12-47c6-b99e-940410a363e9",
      "name": "Persist Run Metadata"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3590,
        400
      ],
      "id": "e306b999-81e9-4a50-a5e1-29530d29a461",
      "name": "Load Previous Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Compare current metrics with the previous snapshot\nconst current = $input.first().json;\nconst prev = $('Load Previous Snapshot').first().json || {};\nconst drift = {};\nfor (const k of Object.keys(current)) {\n  if (typeof current[k] === 'number' && typeof prev[k] === 'number' && prev[k] !== 0) {\n    drift[k] = Math.round(((current[k] - prev[k]) / prev[k]) * 1000) / 10;\n  }\n}\nreturn [{ json: { ...current, driftPct: drift, hasDrift: Object.values(drift).some(v => Math.abs(v) > 10) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3830,
        400
      ],
      "id": "eece7ad6-2604-4a95-bcb4-8c42dfcc3fd1",
      "name": "Compute Drift vs Snapshot"
    },
    {
      "parameters": {
        "operation": "csv",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4070,
        400
      ],
      "id": "401a7f16-2fc9-43fe-b693-8ba7f2acf3aa",
      "name": "Serialize Run Output (CSV)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4310,
        400
      ],
      "id": "7d9072ba-9c89-4421-874e-9e8ef49417a5",
      "name": "Archive Row Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a217686-77bc-40d5-8a3b-41c85d599b77",
              "name": "pipeline",
              "value": "Research Assistant",
              "type": "string"
            },
            {
              "id": "bdabacb3-a1d7-4599-9956-e260dde46510",
              "name": "version",
              "value": "2.0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4550,
        400
      ],
      "id": "a33b7f3e-3acc-4581-beff-12b377914aa9",
      "name": "Tag Pipeline Metadata"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "priority",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        4790,
        400
      ],
      "id": "6d8e120a-8f88-4278-af76-3d8bb389b1d4",
      "name": "Sort Requests Newest First"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "id",
              "newKey": "requestId"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        5030,
        400
      ],
      "id": "69e919e8-a033-4354-890e-2aae840f0d68",
      "name": "Align Field Names"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f79e401-2d61-4bca-b842-beb459ad48bb",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "827b26bb-cbdf-4a34-b3d1-75066f9b3d31",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "091525bb-6a4f-4a9e-bdc3-3c049692f81d",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5270,
        400
      ],
      "id": "6e6a5846-245e-455e-acbc-c6797e55f1af",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5510,
        400
      ],
      "id": "b8054709-90b0-458f-b96f-688593202123",
      "name": "Append Audit Row (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#ai-ops",
          "cachedResultName": "#ai-ops"
        },
        "text": "=✅ Automate an assistant workflow with Outlook in real time for Research  — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        5750,
        400
      ],
      "id": "6d46e96a-5e8f-4c5a-8ece-43532de574e4",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f09b0629-961e-4b76-918c-999a3c5add5c",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "4201bbba-7c22-467e-940d-e0b9346e6e8e",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "10941101-cbd3-461b-bc4e-6bd861d15718",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5270,
        740
      ],
      "id": "218d2234-b38a-4ff6-8ca9-da35befc4928",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "subject": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage ",
        "bodyContent": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "toRecipients": "={{ $json.email || 'ops@company.com' }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        5510,
        740
      ],
      "id": "d14eb1db-74d5-4e41-9f52-139b90d26e5f",
      "name": "Escalate Failure to Outlook",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Database"
        },
        "title": "={{ $json.query || $json.requestId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        5750,
        740
      ],
      "id": "2cec345e-b61e-44d8-aaec-605ad13f80ee",
      "name": "Park in Dead-Letter Queue",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Automate an assistant workflow with Outlook in real time for Research Assistant\n\n**Pattern:** AI Agent  \n**Trigger:** Webhook  \n**Level:** Architect\n\nProcesses requests for research assistant — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        140
      ],
      "id": "615c8c4b-bf88-42c1-bcf6-50e9ca178ebe",
      "name": "Overview"
    }
  ],
  "connections": {
    "Receive Inbound Webhook": {
      "main": [
        [
          {
            "node": "Required Fields Present?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Required Fields Present?": {
      "main": [
        [
          {
            "node": "Frame the Assignment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Abort — Malformed Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Frame the Assignment": {
      "main": [
        [
          {
            "node": "Coordinator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Coordinator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Research Specialist (Sub-workflow)": {
      "ai_tool": [
        [
          {
            "node": "Coordinator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Draft Specialist (Sub-workflow)": {
      "ai_tool": [
        [
          {
            "node": "Coordinator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enforce Result Schema": {
      "ai_outputParser": [
        [
          {
            "node": "Coordinator Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Coordinator Agent": {
      "main": [
        [
          {
            "node": "Unpack Sections",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unpack Sections": {
      "main": [
        [
          {
            "node": "Persist Deliverable to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Deliverable to Notion": {
      "main": [
        [
          {
            "node": "Offload to Post-Process Sub-workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offload to Post-Process Sub-workflow": {
      "main": [
        [
          {
            "node": "Record Sub-workflow Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Sub-workflow Result": {
      "main": [
        [
          {
            "node": "Enrich with Reference Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with Reference Data": {
      "main": [
        [
          {
            "node": "Fold In Enrichment Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fold In Enrichment Fields": {
      "main": [
        [
          {
            "node": "Fingerprint for Idempotency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fingerprint for Idempotency": {
      "main": [
        [
          {
            "node": "Drop Already-Processed Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drop Already-Processed Items": {
      "main": [
        [
          {
            "node": "Stamp Completion Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Completion Time": {
      "main": [
        [
          {
            "node": "Persist Run Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Run Metadata": {
      "main": [
        [
          {
            "node": "Load Previous Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Previous Snapshot": {
      "main": [
        [
          {
            "node": "Compute Drift vs Snapshot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Drift vs Snapshot": {
      "main": [
        [
          {
            "node": "Serialize Run Output (CSV)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serialize Run Output (CSV)": {
      "main": [
        [
          {
            "node": "Archive Row Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Row Snapshot": {
      "main": [
        [
          {
            "node": "Tag Pipeline Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Pipeline Metadata": {
      "main": [
        [
          {
            "node": "Sort Requests Newest First",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort Requests Newest First": {
      "main": [
        [
          {
            "node": "Align Field Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Align Field Names": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (Google Sheets)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Outlook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Failure to Outlook": {
      "main": [
        [
          {
            "node": "Park in Dead-Letter Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "4f1db0dc-b2ad-466b-a3d3-5bf780b6e790",
  "id": "FDX01803"
}