product-files/workflows/Content Generation/Social Copy/Expert/05494_Summarize long emails with PostgreSQL and Twilio.json
{"name":"Summarize long emails with PostgreSQL and Twilio","nodes":[{"parameters":{"httpMethod":"POST","path":"wf05494-draft","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-270,400],"id":"55951199-8bba-4e7a-8e4c-ad2f3017d1dc","name":"Receive Inbound Webhook","webhookId":"57e98024-197e-440f-9d26-fc1b80e20085"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ae6ec509-eba3-4e95-a70d-9485cdbd7539","leftValue":"={{ $json.draftId || $json.topic }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[54,400],"id":"7e64884f-498e-458d-ae8c-29bc5133fee8","name":"Keep Valid Drafts"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput || $json.topic || JSON.stringify($json) }}","options":{"systemMessage":"You are a social copy specialist for the content generation team. Use the attached tools to look up real data before answering — never invent draft details. Keep answers under 150 words, cite which tool you used, and escalate anything you cannot verify.","maxIterations":8}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[378,400],"id":"506fc59f-0f6c-4f70-baf6-a98c9a625563","name":"Reason & Act (AI Agent)","onError":"continueErrorOutput"},{"parameters":{"model":"claude-sonnet-4-5-20250929","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[621,970],"id":"58a807e1-a99d-4911-a98e-3c7fac070d47","name":"Anthropic Chat Model"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[621,1390],"id":"a81b43b2-e806-4f52-b4b1-3d06f2a1ed2a","name":"Run Calculations"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[850,1390],"id":"bdbfc1a8-96cb-466c-8781-6aabac463cdf","name":"Think It Through"},{"parameters":{"toolDescription":"Fetch live draft data from the internal REST API by id or query.","url":"https://api.example.com/v1/drafts","options":{}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1309,1390],"id":"cbea7628-9bd5-4f5e-b0a4-77a8da926881","name":"Lookup API Data"},{"parameters":{"assignments":{"assignments":[{"id":"f52550f8-0808-4a15-825e-3c97e14bd9a4","name":"answer","value":"={{ $json.output }}","type":"string"},{"id":"4ec1a953-931a-4062-9127-fa096e391e8d","name":"confidence","value":"={{ $json.output && $json.output.length > 40 ? 'high' : 'low' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1633,400],"id":"4f2f46fb-bf0c-4de2-b9c5-7bf347e40f5c","name":"Shape Agent Output"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b91c8bc6-27d9-47ec-985b-e572679a825a","leftValue":"={{ $json.confidence }}","rightValue":"high","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1957,400],"id":"02df1ad9-aec7-42b3-8ee7-f3d52ea2ef0a","name":"Confident Enough?"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO draft_log (draftId, topic, audience, logged_at)\nVALUES ($1, $2, $3, NOW());","options":{"queryReplacement":"={{ [ $json.draftId, $json.topic, $json.audience ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2281,160],"id":"a1100203-8d60-4e0b-b3ed-c1ec9fec017b","name":"Deliver Answer + Log to PostgreSQL","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#content","cachedResultName":"#content"},"text":"=🙋 Low-confidence answer needs review: {{ $json.answer }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2605,760],"id":"65923d5e-660f-4a10-8685-07a0d5940ac3","name":"Escalate to Human Queue","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"mode":"append","numberInputs":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3253,400],"id":"c98de0cc-73eb-498b-8852-2ae4f722f846","name":"Join Outcomes"},{"parameters":{"assignments":{"assignments":[{"id":"232d268e-fbe8-4dc2-b2f8-ecaa5bbcdbed","name":"pipeline","value":"Social Copy","type":"string"},{"id":"d6affab2-6c54-40ad-86f0-96e51c13d9ad","name":"version","value":"2.0","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4225,400],"id":"d9616366-210c-4ff7-ba59-5ffbdffb3f60","name":"Tag Pipeline Metadata"},{"parameters":{"assignments":{"assignments":[{"id":"34803c45-b304-4ae2-8b97-d27f911293d8","name":"runAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"96b62a7f-f4ae-459f-8af2-dd89ed99548e","name":"itemCount","value":"={{ $input.all().length }}","type":"number"},{"id":"58ebcfe6-ae64-4692-9259-9928cef7f498","name":"status","value":"completed","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4549,400],"id":"52a974ee-327f-4184-a76a-7d227aa9876d","name":"Summarize Run Stats"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO draft_log (draftId, topic, audience, logged_at)\nVALUES ($1, $2, $3, NOW());","options":{"queryReplacement":"={{ [ $json.draftId, $json.topic, $json.audience ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4873,400],"id":"a80afd0e-a795-4174-b2cb-3bab7e4f3ab3","name":"Append Audit Row (PostgreSQL)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"from":"+15550100000","to":"={{ $json.phone || 'ONCALL_NUMBER' }}","message":"=✅ Summarize long emails with PostgreSQL and Twilio — run completed at {{ $now.toFormat('HH:mm') }}","options":{}},"type":"n8n-nodes-base.twilio","typeVersion":1,"position":[5197,400],"id":"a989ebef-d4f9-4b4e-b3e2-20055cb06b70","name":"Send Summary to Twilio","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"95ddc870-ae1d-40e7-803f-474c964ec96d","name":"failedNode","value":"={{ $json.error?.node?.name || 'unknown' }}","type":"string"},{"id":"7f3d2daf-9399-4c53-9ba8-854fb9aad18c","name":"errorMessage","value":"={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}","type":"string"},{"id":"dc36464e-a257-4b7c-a00f-5588bdfceb04","name":"workflow","value":"={{ $workflow.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4549,1420],"id":"36ccb609-fb4e-4728-b914-598076e18ef5","name":"Capture Failure Context"},{"parameters":{"from":"+15550100000","to":"={{ $json.phone || 'ONCALL_NUMBER' }}","message":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}","options":{}},"type":"n8n-nodes-base.twilio","typeVersion":1,"position":[4873,1420],"id":"2df2b65d-9bcc-4955-9b72-6b2424786574","name":"Escalate Failure to Twilio","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"content":"### Receive Inbound Webhook\n\nEntry point: listens for POST calls on `/wf05494-draft`. Use the TEST url while building, switch callers to the PRODUCTION url after publishing.\n\nNext: Keep Valid Drafts","width":280,"height":232,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-330,520],"id":"2dc3cbf0-f8d5-aea3-bb56-e1798c2b0287","name":"Note: Receive Inbound Webhook"},{"parameters":{"content":"### Keep Valid Drafts\n\nDrops items that fail the condition; only qualifying items continue (no false branch).\n\nNext: Reason & Act (AI Agent)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6,520],"id":"df233813-13e9-cd2d-3c48-b962d1c5c92e","name":"Note: Keep Valid Drafts"},{"parameters":{"content":"### Reason & Act (AI Agent)\n\nThe AI brain: reads the input, decides which attached tools to call (and in what order), then composes the answer.\n\nPorts: ①→ Shape Agent Output · ②→ Capture Failure Context\n\n⚠ failures exit via the error rail","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[318,520],"id":"08eb1ff0-87ed-170a-009e-462b3a73269c","name":"Note: Reason & Act (AI Agent)"},{"parameters":{"content":"### Anthropic Chat Model\n\nChat model powering the AI step (model: `claude-sonnet-4-5-20250929`). Swap providers here without rewiring.\n\nFeeds **Reason & Act (AI Agent)** as `languageModel`\n\n🔑 Anthropic API key","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[561,1090],"id":"ad2df859-e549-4aab-09e1-79eb553355ef","name":"Note: Anthropic Chat Model"},{"parameters":{"content":"### Run Calculations\n\nMath tool — keeps arithmetic exact instead of letting the LLM guess.\n\nFeeds **Reason & Act (AI Agent)** as `tool`","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[561,1510],"id":"96f11211-319e-4b8c-47e2-da17b8fb55ac","name":"Note: Run Calculations"},{"parameters":{"content":"### Think It Through\n\nScratchpad tool: lets the agent reason step-by-step before acting.\n\nFeeds **Reason & Act (AI Agent)** as `tool`","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[790,1750],"id":"1f2aab97-c47b-e410-b33a-36c2788c3f51","name":"Note: Think It Through"},{"parameters":{"content":"### Lookup API Data\n\nTool the agent can call to hit the REST API with parameters it chooses at runtime.\n\nFeeds **Reason & Act (AI Agent)** as `tool`","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1249,1510],"id":"841bc357-ffe6-328b-b629-bd2be6ede43a","name":"Note: Lookup API Data"},{"parameters":{"content":"### Shape Agent Output\n\nShapes the item: writes `answer`, `confidence`. Keeps the schema explicit between stages.\n\nNext: Confident Enough?","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1573,520],"id":"c193cad8-58c6-beb6-1dea-3121e41e7d03","name":"Note: Shape Agent Output"},{"parameters":{"content":"### Confident Enough?\n\nTwo-way gate on `={{ $json.confidence }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Deliver Answer + Log to PostgreSQL · ②→ Escalate to Human Queue","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1897,520],"id":"25849eee-a0e6-c20f-0e95-9c59a9a35747","name":"Note: Confident Enough?"},{"parameters":{"content":"### Deliver Answer + Log to PostgreSQL\n\nRuns a parameterized SQL statement against Postgres — values are bound via `queryReplacement`, not string-interpolated, so it's immune to SQL injection.\n\nPorts: ①→ Join Outcomes · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Postgres connection","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2221,280],"id":"6a9efccd-6616-5318-1414-767dd732d16f","name":"Note: Deliver Answer + Log to PostgreSQL"},{"parameters":{"content":"### Escalate to Human Queue\n\nPosts a message to Slack (`#content`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\nPorts: ①→ Join Outcomes · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2545,880],"id":"559d770d-7594-8e50-371e-bdf12a6e0c20","name":"Note: Escalate to Human Queue"},{"parameters":{"content":"### Join Outcomes\n\nRejoins 2 branches into one stream (mode: append) so downstream logic runs once.\n\nNext: Tag Pipeline Metadata","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3193,520],"id":"2363fc0d-032a-52c5-9483-81c8c53e42a7","name":"Note: Join Outcomes"},{"parameters":{"content":"### Tag Pipeline Metadata\n\nShapes the item: writes `pipeline`, `version`. Keeps the schema explicit between stages.\n\nNext: Summarize Run Stats","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4165,520],"id":"951d4b66-a77b-f64f-1fb0-8d5e8733ba5c","name":"Note: Tag Pipeline Metadata"},{"parameters":{"content":"### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (PostgreSQL)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4489,520],"id":"04407329-79e4-5567-657c-32705dfbf4f9","name":"Note: Summarize Run Stats"},{"parameters":{"content":"### Append Audit Row (PostgreSQL)\n\nRuns a parameterized SQL statement against Postgres — values are bound via `queryReplacement`, not string-interpolated, so it's immune to SQL injection.\n\nPorts: ①→ Send Summary to Twilio · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Postgres connection","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4813,520],"id":"f2995f71-e271-2df7-3cd9-20eb41f50ab8","name":"Note: Append Audit Row (PostgreSQL)"},{"parameters":{"content":"### Send Summary to Twilio\n\nSends an SMS via Twilio — reserved for urgent alerts since SMS costs money per message, unlike chat notifications.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Twilio SID + token","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5137,520],"id":"d6c0dba9-3fe9-5450-9bf6-02599e004789","name":"Note: Send Summary to Twilio"},{"parameters":{"content":"### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Twilio","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4489,1540],"id":"6dd87ba8-6d4f-26d1-a5f4-b0c308b70605","name":"Note: Capture Failure Context"},{"parameters":{"content":"### Escalate Failure to Twilio\n\nSends an SMS via Twilio — reserved for urgent alerts since SMS costs money per message, unlike chat notifications.\n\n↻ retries 3×/2s · 🔑 Twilio SID + token","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4813,1540],"id":"0e7d012f-53af-b6ed-9d6f-3295542001cb","name":"Note: Escalate Failure to Twilio"},{"parameters":{"content":"# Summarize long emails with PostgreSQL and Twilio\n\n**Pattern:** AI Summarize & Route · **Level:** Advanced · **Trigger:** Webhook\n\n## What it does\nSummarize long emails with PostgreSQL and Twilio. It fires the moment an external system calls its webhook.\n\n## Why it exists\nManual social copy is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nReceive Inbound Webhook → Keep Valid Drafts → Reason & Act (AI Agent) → Shape Agent Output → Confident Enough? → Deliver Answer + Log to PostgreSQL → Join Outcomes → …\n\n## Use it for\n- Teams that want to ai summarize & route without manual effort\n- Anyone automating social copy in content creation\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Runs 24/7 in the background\n- Removes copy-paste errors\n- Keeps your systems in sync\n\n## Before first run\nConnect credentials: Anthropic API key; Postgres connection; Slack OAuth2; Twilio SID + token.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.\n\n## Try it now\nSample data is pinned on the trigger — hit **Execute Workflow** to watch it flow through every node before connecting any real credentials. Unpin the trigger (right-click → Unpin) when you're ready to go live.","width":480,"height":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,80],"id":"77763b1d-ad09-10ea-f3ef-e986cd9f3610","name":"📘 Workflow Overview"},{"parameters":{"content":"## Design decisions\n\nUses an AI Agent, not a fixed Chain, because the assistant must choose which tool answers the question — a Chain would need one hard-coded branch per tool. The 'Confident Enough?' gate after the agent routes low-confidence answers to a human queue instead of shipping an uncertain answer: a little latency traded for not eroding trust.","width":480,"height":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1020],"id":"b096137a-a1e6-5cc0-2a80-5a9a860164a1","name":"🎓 Design Decisions"},{"parameters":{"content":"## Practice exercises\n\nYou've got the basics covered — push further:\n\n1. Add one more tool to the pool with a clear one-line description and watch how the agent decides to use it.\n2. Change the confidence threshold on 'Confident Enough?' and see how often answers get escalated to a human.\n3. Swap the Think tool for a Vector Store tool wired to a real knowledge base and turn this into RAG.","width":480,"height":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1360],"id":"5a981074-7d71-9404-5acb-38b01cec350b","name":"🧪 Practice Exercises"},{"parameters":{"content":"## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Set an n8n **Error Workflow** in settings as the final safety net.","width":360,"height":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-230,-260],"id":"d7748ca7-fadf-7d6f-a6c9-8c2a02e1c63d","name":"🛟 Error handling & retries"},{"parameters":{"content":"## 🔐 Security\n\nNever trust inbound payloads: the webhook path is unguessable. Add header auth or IP allow-listing for defense in depth. Secrets live in n8n credentials — never in node parameters.","width":360,"height":260,"color":1},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[190,-260],"id":"992f7a2f-3771-5379-146c-0b826458f84b","name":"🔐 Security"},{"parameters":{"content":"## 🤖 AI cluster\n\nPurple nodes form one AI unit: the root node orchestrates, sub-nodes plug in via typed ports (model / memory / tools / parser). Swap the chat model without rewiring anything else. Costs scale with tokens — keep prompts lean and cap iterations.","width":360,"height":260,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[610,-260],"id":"7bb3567c-e7b4-34f4-4d54-0bd1cbf57d21","name":"🤖 AI cluster"},{"parameters":{"content":"## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your social copy process. Every node card explains its role — safe to extend at any marked branch.","width":360,"height":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1030,-260],"id":"bcf49cd9-2ff2-5fba-f82b-7210c2d47095","name":"🛠 Customize me"}],"connections":{"Receive Inbound Webhook":{"main":[[{"node":"Keep Valid Drafts","type":"main","index":0}]]},"Keep Valid Drafts":{"main":[[{"node":"Reason & Act (AI Agent)","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Reason & Act (AI Agent)","type":"ai_languageModel","index":0}]]},"Run Calculations":{"ai_tool":[[{"node":"Reason & Act (AI Agent)","type":"ai_tool","index":0}]]},"Think It Through":{"ai_tool":[[{"node":"Reason & Act (AI Agent)","type":"ai_tool","index":0}]]},"Lookup API Data":{"ai_tool":[[{"node":"Reason & Act (AI Agent)","type":"ai_tool","index":0}]]},"Reason & Act (AI Agent)":{"main":[[{"node":"Shape Agent Output","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Shape Agent Output":{"main":[[{"node":"Confident Enough?","type":"main","index":0}]]},"Confident Enough?":{"main":[[{"node":"Deliver Answer + Log to PostgreSQL","type":"main","index":0}],[{"node":"Escalate to Human Queue","type":"main","index":0}]]},"Deliver Answer + Log to PostgreSQL":{"main":[[{"node":"Join Outcomes","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Escalate to Human Queue":{"main":[[{"node":"Join Outcomes","type":"main","index":1}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Join Outcomes":{"main":[[{"node":"Tag Pipeline Metadata","type":"main","index":0}]]},"Tag Pipeline Metadata":{"main":[[{"node":"Summarize Run Stats","type":"main","index":0}]]},"Summarize Run Stats":{"main":[[{"node":"Append Audit Row (PostgreSQL)","type":"main","index":0}]]},"Append Audit Row (PostgreSQL)":{"main":[[{"node":"Send Summary to Twilio","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Capture Failure Context":{"main":[[{"node":"Escalate Failure to Twilio","type":"main","index":0}]]},"Send Summary to Twilio":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveManualExecutions":true,"executionTimeout":3600},"meta":{"templateCredsSetupCompleted":false},"tags":[],"pinData":{"Receive Inbound Webhook":[{"json":{"draftId":"DR-2201","topic":"5 automation tips for small teams","audience":"SMB owners","tone":"friendly"}},{"json":{"draftId":"DR-2202","topic":"Product update: v2.4 release notes","audience":"existing customers","tone":"professional"}}]},"versionId":"1668b1fe-4569-4d3c-a0ec-83da67bebd88","id":"FDX05494"}