product-files/workflows/AI Agents/Task Automation/Beginner/00059_Answer chat messages end to end.json
{
  "name": "Answer chat messages end to end",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "d10536a3-55c3-4201-a981-a4db4d7b44c7",
      "name": "On Chat Message",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        320,
        300
      ],
      "webhookId": "15d21e32-549a-4675-89c2-c7a217cb848e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4af4532-e368-444f-9726-748a3ffe7fe7",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "8d308478-bcd7-4afa-b832-f8f5ca891f4d",
              "name": "isValid",
              "value": "={{ $json ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "b8510951-5826-4eda-a91c-f36a36ba0154",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        300
      ],
      "notes": "Validate & normalize the input before downstream steps (§9.1)."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Handle this request and use tools when needed:\n{{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are a helpful automation assistant.",
          "maxIterations": 10
        }
      },
      "id": "b892bbd6-15a8-4615-8e3c-e05bcc5edb86",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        800,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "model": "llama-3.1-70b-versatile",
        "options": {}
      },
      "id": "7684af9d-72ce-4d15-988c-975ce6d0d69a",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        740,
        520
      ]
    },
    {
      "parameters": {
        "toolDescription": "Fetch data from an external API",
        "url": "https://api.example.com/data",
        "options": {}
      },
      "id": "20b7c461-c6a3-4c23-b879-30c10adce350",
      "name": "HTTP Request Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        940,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b8e82ef-f531-44c1-a2e9-dfd608b4cd89",
              "name": "source",
              "value": "='flowdex-workflow'",
              "type": "string"
            },
            {
              "id": "96e7e2b9-de50-4724-8f00-15977cc5e2b2",
              "name": "summary",
              "value": "={{ JSON.stringify($json).slice(0, 280) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7581c9c3-c1f6-4778-8b41-7ce01bbc9664",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Answer chat messages end to end\n\n**Pattern:** Chatbot Responder\n**Trigger:** Chat\n**Integrations:** core nodes\n\nImport, add your credentials, then adjust parameters. Original FlowDex template.",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "f8fe3c50-0836-445b-83af-3487d925a0bb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1080,
        80
      ]
    }
  ],
  "connections": {
    "On Chat Message": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "301da47b-3513-4189-9475-0891967b72e2",
  "id": "FDX00059"
}