product-files/workflows/Lead Generation/Enrichment/Advanced/04595_Onboard leads with PostgreSQL and Slack without manual work.json
{
  "name": "Onboard leads with PostgreSQL and Slack without manual work",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        400
      ],
      "id": "687ecc79-0281-4467-92ea-b7cb4a833f08",
      "name": "Hourly Schedule"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM leads WHERE updated_at > NOW() - INTERVAL '1 day' ORDER BY updated_at DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        40,
        400
      ],
      "id": "855b6a2c-311a-4f85-abe8-d16a57cdcd11",
      "name": "Read Pending Queue (PostgreSQL)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e25d6f1b-ff28-468c-9834-faf8c0730a97",
              "name": "leadId",
              "value": "={{ $json.leadId || $json.id || $execution.id }}",
              "type": "string"
            },
            {
              "id": "1169dabc-75d2-4752-9f26-dfaabd90faa7",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        400
      ],
      "id": "a459242b-cf9a-4a67-a20b-ac777f14c2f2",
      "name": "Stamp & Shape Lead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "88d4010c-0c7f-4250-82df-8c37cc2804f4",
              "leftValue": "={{ $json.leadId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        400
      ],
      "id": "eebbaef4-7d29-430b-ab15-8e65cdd8b39d",
      "name": "Payload Valid?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO lead_log (leadId, email, company, logged_at)\nVALUES ($1, $2, $3, NOW());",
        "options": {
          "queryReplacement": "={{ [ $json.leadId, $json.email, $json.company ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        520,
        570
      ],
      "id": "9ffd5212-21b2-4354-8fae-486067548b8c",
      "name": "Record Rejected Input",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        760,
        400
      ],
      "id": "099aa97c-f3c9-4495-97ed-39c4f2afc53f",
      "name": "Work in Batches"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/v1/leads",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        560
      ],
      "id": "62386d13-4f92-49e4-ab7c-faca3b27074c",
      "name": "Process Batch Item",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1480,
        560
      ],
      "id": "bf87766d-c2a1-48de-abf3-ecd121626971",
      "name": "Respect Rate Limits"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1720,
        400
      ],
      "id": "5efc59a1-5290-4cac-8a95-609fbe129e60",
      "name": "Aggregate Batch Results"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Lead Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "leadId"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1960,
        400
      ],
      "id": "843e6fc9-d832-4ee6-ab11-ec32dd79f362",
      "name": "Mark Completed in Google Sheets",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b11d70a-805b-4174-91f8-1e0538895e9b",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2200,
        400
      ],
      "id": "c25696b4-0b50-48b4-be30-627e903cecc0",
      "name": "Guard Non-Empty email"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "score",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2440,
        400
      ],
      "id": "eefd53b1-6496-4618-a942-c37434952065",
      "name": "Sort Leads Newest First"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe1e07f8-be44-472c-b685-7b1ac1e948d7",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "9b1f949e-19ac-4a3d-818d-6fd8548702aa",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "d58206e6-088d-4469-b00c-942e1b2910c6",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2680,
        400
      ],
      "id": "bd836d92-cdf4-40ea-aed5-52ad7e2b1671",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO lead_log (leadId, email, company, logged_at)\nVALUES ($1, $2, $3, NOW());",
        "options": {
          "queryReplacement": "={{ [ $json.leadId, $json.email, $json.company ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2920,
        400
      ],
      "id": "8d1dd9b6-9393-470a-bafc-7720713a8f61",
      "name": "Append Audit Row (PostgreSQL)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#sales",
          "cachedResultName": "#sales"
        },
        "text": "=✅ Onboard leads with PostgreSQL and Slack without manual work — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3160,
        400
      ],
      "id": "08c2e1f2-0823-49a5-96c4-9c74396dc65b",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ce0a61c-1b03-4b2c-95f5-623163af880e",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "fc8bbe59-4496-4b73-a893-dba9bcfb7623",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "c23bf947-0f29-4fdd-b601-9b297a3fb06e",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2680,
        740
      ],
      "id": "5fb0f7d4-8110-418a-a9b1-6cd1d941fd7b",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#sales",
          "cachedResultName": "#sales"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2920,
        740
      ],
      "id": "ad7ac5be-4f84-42bd-b8d1-596241c90fe3",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Onboard leads with PostgreSQL and Slack without manual work\n\n**Pattern:** Drip Sequence  \n**Trigger:** Scheduled  \n**Level:** Advanced\n\nProcesses leads for enrichment — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        140
      ],
      "id": "d72fe0e3-50ef-4329-8e01-8a19a71fbc48",
      "name": "Overview"
    }
  ],
  "connections": {
    "Hourly Schedule": {
      "main": [
        [
          {
            "node": "Read Pending Queue (PostgreSQL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Pending Queue (PostgreSQL)": {
      "main": [
        [
          {
            "node": "Stamp & Shape Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp & Shape Lead": {
      "main": [
        [
          {
            "node": "Payload Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Valid?": {
      "main": [
        [
          {
            "node": "Work in Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Rejected Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Work in Batches": {
      "main": [
        [
          {
            "node": "Aggregate Batch Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Batch Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Batch Item": {
      "main": [
        [
          {
            "node": "Respect Rate Limits",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respect Rate Limits": {
      "main": [
        [
          {
            "node": "Work in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Batch Results": {
      "main": [
        [
          {
            "node": "Mark Completed in Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Completed in Google Sheets": {
      "main": [
        [
          {
            "node": "Guard Non-Empty email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard Non-Empty email": {
      "main": [
        [
          {
            "node": "Sort Leads Newest First",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort Leads Newest First": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (PostgreSQL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (PostgreSQL)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "fb271987-182d-4920-ac48-4ac3695f1b35",
  "id": "FDX04595"
}