product-files/workflows/Document Processing/Summarization/Expert/03733_Issue invoices with HTTP REST API and MySQL end to end.json
{"name":"Issue invoices with HTTP / REST API and MySQL end to end","nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-270,400],"id":"2877e1a0-7a91-41fc-ad8c-7c96967514c8","name":"On Telegram Event","webhookId":"cdcbde3b-805e-4a60-a3cf-cf0eeee80bba"},{"parameters":{"method":"GET","url":"={{ $json.fileUrl }}","options":{"timeout":30000,"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[54,400],"id":"d7c15780-0ce8-4a62-9bbc-bfa544f948a0","name":"Download Source File","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"operation":"csv","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[378,400],"id":"53ca007e-c2e4-4973-bbe0-b249846c48de","name":"Parse CSV Contents"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Normalize incoming document records to a stable schema\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  out.push({ json: {\n    documentId: String(j.documentId ?? j.id ?? '').trim(),\n    fileName: typeof j.fileName === 'string' ? j.fileName.trim() : j.fileName ?? null,\n    source: j.source ?? 'api',\n    receivedAt: new Date().toISOString(),\n  } });\n}\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[702,400],"id":"fd3a0a3a-99e0-47c6-8591-ad280e2cb1f1","name":"Clean & Reshape Rows"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"df9e6e74-8e51-4c1f-bbc9-0932f3c76950","leftValue":"={{ $json.documentId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1026,400],"id":"cb8c6f4b-f1d0-4416-b5b4-48f1ac467101","name":"Rows Pass Validation?"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Document Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1350,880],"id":"33ab9465-8427-4866-b6c7-89384b1834c7","name":"Quarantine Bad Rows","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Document Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["documentId"],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1674,400],"id":"cb217c32-f06a-4c16-9a67-80f4e0337ad1","name":"Load Rows into Google Sheets","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"operation":"csv","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1998,400],"id":"ec34c2a6-6450-48be-beaa-987fd2656a20","name":"Serialize Run Output (CSV)"},{"parameters":{"operation":"insert","table":{"__rl":true,"mode":"name","value":"documents","cachedResultName":"documents"},"dataMode":"autoMapInputData","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2322,400],"id":"21e8a8f1-7ab6-40d8-9566-c352ecff03c8","name":"Archive Row Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"operation":"select","table":{"__rl":true,"mode":"name","value":"documents","cachedResultName":"documents"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2646,400],"id":"89d27a94-60c3-4c41-a964-d0400ec566b0","name":"Load Previous Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Compare current metrics with the previous snapshot\nconst current = $input.first().json;\nconst prev = $('Load Previous Snapshot').first().json || {};\nconst drift = {};\nfor (const k of Object.keys(current)) {\n  if (typeof current[k] === 'number' && typeof prev[k] === 'number' && prev[k] !== 0) {\n    drift[k] = Math.round(((current[k] - prev[k]) / prev[k]) * 1000) / 10;\n  }\n}\nreturn [{ json: { ...current, driftPct: drift, hasDrift: Object.values(drift).some(v => Math.abs(v) > 10) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2970,400],"id":"b57b39f4-22c3-429f-a004-c9e412bed582","name":"Compute Drift vs Snapshot"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Build a stable idempotency key per document (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.documentId, j.fileName].join('|')) } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3294,400],"id":"40e69ded-d933-4ba4-869f-809565ffd0db","name":"Fingerprint for Idempotency"},{"parameters":{"operation":"removeItemsSeenInPreviousExecutions","logic":"removeItemsWithAlreadySeenKeyValues","dedupeValue":"={{ $json.idempotencyKey }}","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[3618,400],"id":"bb8d6ed8-bcc2-4192-970b-98b427f1e680","name":"Drop Already-Processed Items"},{"parameters":{"method":"GET","url":"https://enrichment.example.com/v2/lookup","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.fileName }}"}]},"options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3942,400],"id":"18a0e2b6-c8a0-48a1-b27a-00873afb8158","name":"Enrich with Reference Data","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"299c1bfe-0276-474e-af31-5793b14da7b8","name":"enrichedAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"1d39cf6e-b9ba-498d-8393-eb047161c1ff","name":"enrichmentSource","value":"reference-api","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4266,400],"id":"0886ffc9-119d-4e55-b9b0-745b396b58e2","name":"Fold In Enrichment Fields"},{"parameters":{"assignments":{"assignments":[{"id":"8ff2254b-eeab-4fc3-a409-c24a98bfb1d8","name":"runAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"7f52d0a1-988b-46df-8c52-30962a95a637","name":"itemCount","value":"={{ $input.all().length }}","type":"number"},{"id":"f3a1b1a0-174b-4577-9068-3e27e69e0020","name":"status","value":"completed","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4590,400],"id":"269ca14a-ebe1-44eb-9ba6-ca2176269954","name":"Summarize Run Stats"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Document Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4914,400],"id":"2fcc372e-864f-458f-b51c-b67d609f1b78","name":"Append Audit Row (Google Sheets)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#docs","cachedResultName":"#docs"},"text":"=✅ Issue invoices with HTTP / REST API and MySQL end to end — run completed at {{ $now.toFormat('HH:mm') }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[5238,400],"id":"900313ea-5db3-4a45-9e7f-12d811c2a967","name":"Send Summary to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"ad9ae78c-a2a9-402f-9a04-c84df9c268ca","name":"failedNode","value":"={{ $json.error?.node?.name || 'unknown' }}","type":"string"},{"id":"1dc532e9-5062-4ad9-919d-76e8d0fea342","name":"errorMessage","value":"={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}","type":"string"},{"id":"233b62bf-83de-4ac6-b873-062a15d444e4","name":"workflow","value":"={{ $workflow.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4590,1420],"id":"b1a7b5e1-093c-43b4-bb7b-17b0069ce10e","name":"Capture Failure Context"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#docs","cachedResultName":"#docs"},"text":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[4914,1420],"id":"9d99a131-ea97-4f91-934f-ec26518ede3e","name":"Escalate Failure to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"operation":"insert","table":{"__rl":true,"mode":"name","value":"documents","cachedResultName":"documents"},"dataMode":"autoMapInputData","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[5238,1420],"id":"9a291dc6-ac62-46f1-a022-ebc704c2b2cf","name":"Park in Dead-Letter Queue","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"content":"### On Telegram Event\n\nNative push trigger — telegram calls this workflow the moment the event happens (no polling).\n\nNext: Download Source File\n\n🔑 Telegram bot token","width":280,"height":232,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-330,520],"id":"0790c8aa-09a0-998d-019e-ae77cc6ef696","name":"Note: On Telegram Event"},{"parameters":{"content":"### Download Source File\n\nGET ={{ $json.fileUrl }} — retries 3× with backoff on failure.\n\nPorts: ①→ Parse CSV Contents · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6,520],"id":"8fa618ef-46d0-9075-c71c-61f192692b01","name":"Note: Download Source File"},{"parameters":{"content":"### Parse CSV Contents\n\nParses the incoming CSV binary into JSON items.\n\nNext: Clean & Reshape Rows","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[318,520],"id":"cd846d70-a508-45f1-bd0d-88de6cb39586","name":"Note: Parse CSV Contents"},{"parameters":{"content":"### Clean & Reshape Rows\n\nCustom JavaScript: Normalize incoming document records to a stable schema\n\nNext: Rows Pass Validation?","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[642,520],"id":"0dce2dd4-daeb-9ecf-c68a-449bd25a312b","name":"Note: Clean & Reshape Rows"},{"parameters":{"content":"### Rows Pass Validation?\n\nTwo-way gate on `={{ $json.documentId }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Load Rows into Google Sheets · ②→ Quarantine Bad Rows","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[966,520],"id":"2ef961bb-bcb7-ab76-ea46-945a0f4dcc04","name":"Note: Rows Pass Validation?"},{"parameters":{"content":"### Quarantine Bad Rows\n\nAppends a new row to 'Document Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1290,1000],"id":"6f515d3c-627a-08bd-979b-017ff73c092e","name":"Note: Quarantine Bad Rows"},{"parameters":{"content":"### Load Rows into Google Sheets\n\nUpserts a row into 'Document Tracker', matched on `documentId` — re-running with the same key updates the row instead of duplicating it.\n\nPorts: ①→ Serialize Run Output (CSV) · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1614,520],"id":"ec69bd94-2d04-82e1-6bd6-abaa91956cad","name":"Note: Load Rows into Google Sheets"},{"parameters":{"content":"### Serialize Run Output (CSV)\n\nSerializes items to a CSV binary file.\n\nNext: Archive Row Snapshot","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1938,520],"id":"40ed3bc5-99f5-d565-07cc-97333c52bc30","name":"Note: Serialize Run Output (CSV)"},{"parameters":{"content":"### Archive Row Snapshot\n\nInserts a row into the MySQL table using fields auto-mapped from the incoming item.\n\nPorts: ①→ Load Previous Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 MySQL connection","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2262,520],"id":"c2726d29-b0af-2095-d369-26fd5c9e419b","name":"Note: Archive Row Snapshot"},{"parameters":{"content":"### Load Previous Snapshot\n\nSelects rows from the MySQL table (`returnAll`) — the read side of the store.\n\nPorts: ①→ Compute Drift vs Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 MySQL connection","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2586,520],"id":"bdd51ce6-c9df-85c7-d99d-fcf8c68bd637","name":"Note: Load Previous Snapshot"},{"parameters":{"content":"### Compute Drift vs Snapshot\n\nCustom JavaScript: Compare current metrics with the previous snapshot\n\nNext: Fingerprint for Idempotency","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2910,520],"id":"d194b9d5-6968-e1de-c956-022ad6dca0b0","name":"Note: Compute Drift vs Snapshot"},{"parameters":{"content":"### Fingerprint for Idempotency\n\nCustom JavaScript: Build a stable idempotency key per document (djb2 hash, no deps)\n\nNext: Drop Already-Processed Items","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3234,520],"id":"a5971222-874b-032b-7a8b-4c050ef8577e","name":"Note: Fingerprint for Idempotency"},{"parameters":{"content":"### Drop Already-Processed Items\n\nCross-execution dedupe: remembers keys it has processed before and drops repeats — the idempotency guard.\n\nNext: Enrich with Reference Data","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3558,520],"id":"0706c7f3-7edb-51b8-e572-b43a714899e6","name":"Note: Drop Already-Processed Items"},{"parameters":{"content":"### Enrich with Reference Data\n\nGET https://enrichment.example.com/v2/lookup — retries 3× with backoff on failure.\n\nPorts: ①→ Fold In Enrichment Fields · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3882,520],"id":"a18fae84-2ac7-1771-03ce-784322e26ec1","name":"Note: Enrich with Reference Data"},{"parameters":{"content":"### Fold In Enrichment Fields\n\nShapes the item: writes `enrichedAt`, `enrichmentSource`. Keeps the schema explicit between stages.\n\nNext: Summarize Run Stats","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4206,520],"id":"a970eb69-2529-dfd6-2574-381aa022e7e2","name":"Note: Fold In Enrichment Fields"},{"parameters":{"content":"### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Google Sheets)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4530,520],"id":"1c1b4cc6-8767-306a-c814-d94f7bcca411","name":"Note: Summarize Run Stats"},{"parameters":{"content":"### Append Audit Row (Google Sheets)\n\nAppends a new row to 'Document Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4854,520],"id":"64f88609-4732-5a29-ec01-c5129fbc4538","name":"Note: Append Audit Row (Google Sheets)"},{"parameters":{"content":"### Send Summary to Slack\n\nPosts a message to Slack (`#docs`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5178,520],"id":"928f10e1-f208-8ae6-5e97-e47e81e388cb","name":"Note: Send Summary to Slack"},{"parameters":{"content":"### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Slack","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4530,1540],"id":"45c3230c-33fd-12db-c447-e732830c164e","name":"Note: Capture Failure Context"},{"parameters":{"content":"### Escalate Failure to Slack\n\nPosts a message to Slack (`#docs`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Slack OAuth2","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4854,1540],"id":"33a00c0e-e77d-f32a-cca5-663ba35e0b58","name":"Note: Escalate Failure to Slack"},{"parameters":{"content":"### Park in Dead-Letter Queue\n\nInserts a row into the MySQL table using fields auto-mapped from the incoming item.\n\n↻ retries 3×/2s · 🔑 MySQL connection","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5178,1540],"id":"86503bb9-fbc4-7561-4346-c19d0700930d","name":"Note: Park in Dead-Letter Queue"},{"parameters":{"content":"# Issue invoices with HTTP / REST API and MySQL end to end\n\n**Pattern:** Document Generation · **Level:** Production · **Trigger:** Webhook\n\n## What it does\nIssue invoices with HTTP / REST API and MySQL end to end. It fires the moment an external system calls its webhook.\n\n## Why it exists\nManual summarization is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nOn Telegram Event → Download Source File → Parse CSV Contents → Clean & Reshape Rows → Rows Pass Validation? → Load Rows into Google Sheets → Serialize Run Output (CSV) → …\n\n## Use it for\n- Teams that want to document generation without manual effort\n- Anyone automating summarization in legal\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Scales without extra headcount\n- Responds in seconds\n- Runs 24/7 in the background\n\n## Before first run\nConnect credentials: API key / bearer for the target API; Google OAuth2 / service account; MySQL connection; Slack OAuth2; Telegram bot token.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.\n\n## Try it now\nSample data is pinned on the trigger — hit **Execute Workflow** to watch it flow through every node before connecting any real credentials. Unpin the trigger (right-click → Unpin) when you're ready to go live.","width":480,"height":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,80],"id":"67caac2e-97dc-383f-a6f7-9b8d98a5b4bc","name":"📘 Workflow Overview"},{"parameters":{"content":"## Design decisions\n\nBad rows are quarantined into their own store, not dropped silently and not allowed to break the whole batch — one malformed row in a 10,000-row file shouldn't stop the other 9,999 from loading, but it also shouldn't vanish without a trace.","width":480,"height":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1020],"id":"4e26cd60-0be1-71f0-d3c4-5870ff1199ca","name":"🎓 Design Decisions"},{"parameters":{"content":"## Practice exercises\n\nAlready production-grade — deepen your understanding:\n\n1. Feed it a file with a few deliberately malformed rows and confirm they land in quarantine, not the main store.\n2. Switch the source format (e.g. csv to xlsx) and see how little actually has to change.\n3. Turn on archive mode and confirm the processed file gets repacked and stored.","width":480,"height":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1360],"id":"091c7649-fd04-1556-a135-a9c20251e399","name":"🧪 Practice Exercises"},{"parameters":{"content":"## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.","width":360,"height":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-230,-20],"id":"218a49d2-792d-eefe-17af-8faf45d2f6a2","name":"🛟 Error handling & retries"},{"parameters":{"content":"## 🧹 Data quality\n\nDedupe/diff steps make re-runs safe: the same input twice will not create duplicate records. If you change the key fields, clear n8n's dedupe memory (node → 'Clear stored keys') before the next run.","width":360,"height":260,"color":1},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[190,-20],"id":"76f8753b-cc90-15a8-2540-d29d9853e0b6","name":"🧹 Data quality"},{"parameters":{"content":"## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your summarization process. Every node card explains its role — safe to extend at any marked branch.","width":360,"height":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[610,-20],"id":"4aadd512-87a5-66e9-818b-5c78fc8624dc","name":"🛠 Customize me"}],"connections":{"On Telegram Event":{"main":[[{"node":"Download Source File","type":"main","index":0}]]},"Download Source File":{"main":[[{"node":"Parse CSV Contents","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Parse CSV Contents":{"main":[[{"node":"Clean & Reshape Rows","type":"main","index":0}]]},"Clean & Reshape Rows":{"main":[[{"node":"Rows Pass Validation?","type":"main","index":0}]]},"Rows Pass Validation?":{"main":[[{"node":"Load Rows into Google Sheets","type":"main","index":0}],[{"node":"Quarantine Bad Rows","type":"main","index":0}]]},"Load Rows into Google Sheets":{"main":[[{"node":"Serialize Run Output (CSV)","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Serialize Run Output (CSV)":{"main":[[{"node":"Archive Row Snapshot","type":"main","index":0}]]},"Archive Row Snapshot":{"main":[[{"node":"Load Previous Snapshot","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Load Previous Snapshot":{"main":[[{"node":"Compute Drift vs Snapshot","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Compute Drift vs Snapshot":{"main":[[{"node":"Fingerprint for Idempotency","type":"main","index":0}]]},"Fingerprint for Idempotency":{"main":[[{"node":"Drop Already-Processed Items","type":"main","index":0}]]},"Drop Already-Processed Items":{"main":[[{"node":"Enrich with Reference Data","type":"main","index":0}]]},"Enrich with Reference Data":{"main":[[{"node":"Fold In Enrichment Fields","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Fold In Enrichment Fields":{"main":[[{"node":"Summarize Run Stats","type":"main","index":0}]]},"Summarize Run Stats":{"main":[[{"node":"Append Audit Row (Google Sheets)","type":"main","index":0}]]},"Append Audit Row (Google Sheets)":{"main":[[{"node":"Send Summary to Slack","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Capture Failure Context":{"main":[[{"node":"Escalate Failure to Slack","type":"main","index":0}]]},"Escalate Failure to Slack":{"main":[[{"node":"Park in Dead-Letter Queue","type":"main","index":0}]]},"Quarantine Bad Rows":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Send Summary to Slack":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveManualExecutions":true,"executionTimeout":3600},"meta":{"templateCredsSetupCompleted":false},"tags":[],"pinData":{"On Telegram Event":[{"json":{"documentId":"DOCP-330","fileName":"invoice_acme_q3.pdf","docType":"invoice","pageCount":2}},{"json":{"documentId":"DOCP-331","fileName":"contract_beta_nda.pdf","docType":"contract","pageCount":5}}]},"versionId":"0cdd0595-5e93-4580-9364-db1e8ea353c4","id":"FDX03733"}