product-files/workflows/HR & Recruitment/Surveys/Intermediate/10412_Provision new customers with Jira and Telegram.json
{
  "name": "Provision new customers with Jira and Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "c68e3384",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "7c38f7ba-e6ba-4949-ad33-2e270c4d4c81",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        300
      ],
      "webhookId": "a82109a3-9802-4eaa-b544-f6ccdcbf9dd2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d251734-2fae-4ca5-a092-c843edbfb460",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "9b2af004-c406-407a-8231-be26c81075b0",
              "name": "isValid",
              "value": "={{ $json ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "e3707664-c0a9-44c8-8034-9fdcbc7e3026",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        300
      ],
      "notes": "Validate & normalize the input before downstream steps (§9.1)."
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "create",
        "project": "",
        "issueType": "",
        "summary": "={{ $json.summary }}",
        "additionalFields": {}
      },
      "id": "a1af5d0c-5782-4a6f-815e-5fa5803eda03",
      "name": "Create Jira Task",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        800,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.summary || 'Update' }}",
        "additionalFields": {}
      },
      "id": "caa88038-717f-45d5-ab59-3a01721dfc10",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "start": "={{ $json.start }}",
        "end": "={{ $json.end }}",
        "additionalFields": {}
      },
      "id": "9536972b-632c-4066-a10d-ea3664821c47",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1280,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Provision new customers with Jira and Telegram\n\n**Pattern:** Onboarding Sequence\n**Trigger:** Webhook\n**Integrations:** Jira, Telegram, Google Calendar\n\nImport, add your credentials, then adjust parameters. Original FlowDex template.",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "c43c1c8c-9d75-4c95-b6f3-83cf03193376",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1320,
        80
      ]
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Create Jira Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Jira Task": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Message": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "951ffa26-4a56-4a92-beb0-4b98654b03e1",
  "id": "FDX10412"
}