product-files/workflows/AI Agents/Multi-Tool Agent/Intermediate/00017_Automate an assistant workflow with Discord.json
{
  "name": "Automate an assistant workflow with Discord",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "694660a4",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "51c8b11a-dd6b-4b66-bc2b-7360d4773a5a",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "webhookId": "ce9f1aba-210e-447c-ab0a-4bec56a5f464"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e9f3eee-bffb-430c-a5d2-b5036e2d2875",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "3de0499d-f781-446a-aad0-e1839ba27643",
              "name": "isValid",
              "value": "={{ $json ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "a4a40d35-42e8-4f0c-a9ed-634d7feb8d7a",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        300
      ],
      "notes": "Validate & normalize the input before downstream steps (§9.1)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6253ca95-bd51-4e6c-90f0-589a4ef141cd",
              "leftValue": "={{ $json.receivedAt || $now.toISO() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8273eaa8-c2a8-446b-b593-70a99afc841e",
      "name": "Idempotency Guard",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        780,
        300
      ],
      "notes": "Idempotency guard — replace with a real dedup key lookup (Redis/DB) in production (§9.1, §9.5)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "019c4205-e8fd-4195-a6e8-532ef128fce2",
              "leftValue": "={{ $json.isValid !== false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cd51bfb1-d2d7-488c-9914-8636706d0521",
      "name": "Input Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1020,
        300
      ],
      "notes": "Validate early — quarantine invalid items instead of processing them (§9.1)."
    },
    {
      "parameters": {},
      "id": "79402a05-1aa6-4b2d-a978-7855e54e2228",
      "name": "Log Invalid Input",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1020,
        500
      ],
      "notes": "Dead-letter placeholder — route to a data table/DB for later inspection (§9.3)."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Handle this request and use tools when needed:\n{{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are a helpful automation assistant.",
          "maxIterations": 10
        }
      },
      "id": "8d35a449-63cf-47b1-86f7-5808686afc06",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1260,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc38e858-cf9e-4452-adf6-fc1f12faee0d",
              "name": "summary",
              "value": "={{ JSON.stringify($json).slice(0, 280) }}",
              "type": "string"
            },
            {
              "id": "46415e77-5dc1-44b9-b4fc-3e03685619aa",
              "name": "source",
              "value": "='flowdex-workflow'",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a22d9298-ac0d-4969-8382-048568e1bfb6",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "content": "={{ $json.summary || 'Update' }}"
      },
      "id": "5087d783-928a-46dc-8f91-845c4d063222",
      "name": "Send Discord Message",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1740,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "e6e1e823-a873-43a8-985c-5412251e5a5f",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        740,
        520
      ]
    },
    {
      "parameters": {
        "toolDescription": "Fetch data from an external API",
        "url": "https://api.example.com/data",
        "options": {}
      },
      "id": "15d8ac03-3552-4bcd-9fad-9b01b9afca20",
      "name": "HTTP Request Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        940,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0af2dbc0-e533-482e-a559-5dcd2d2095b5",
              "leftValue": "={{ $json.toolCallConfidence }}",
              "rightValue": "0.7",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a00955ce-cd41-4915-bc1c-17711999b604",
      "name": "Confidence High?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1980,
        300
      ],
      "notes": "Real business branch — route on the condition that actually distinguishes this item, per the category's production pattern (§8)."
    },
    {
      "parameters": {},
      "id": "39347feb-f867-4b83-a060-ac966f28463e",
      "name": "Respond Directly",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {},
      "id": "9601ddd1-61d6-4400-8fb9-11bc74a31c3f",
      "name": "Escalate to Human Review",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2220,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d75175cd-8e08-4728-8b06-11e86f9e43cf",
              "name": "errorAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "eb947af9-dd31-4740-ad3a-4efb86baa000",
      "name": "Handle Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2460,
        700
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#alerts",
        "text": "={{ 'Failure in ' + $workflow.name + ': ' + JSON.stringify($json) }}",
        "otherOptions": {}
      },
      "id": "fd70d488-8b89-41ea-8532-29c04a598cb1",
      "name": "Alert on Failure",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2700,
        760
      ],
      "notes": "Notify on failure without aborting the run (§9.3).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "id": "bb7f9b16-92b0-487e-9085-4c7446fdc9a1",
      "name": "Merge Branch Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2940,
        300
      ],
      "notes": "Recombine both decision paths before shared downstream steps (§11.1 — avoid losing the false branch)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/v1/sync",
        "options": {}
      },
      "id": "925912d2-7ccd-4d11-bbfe-090d80ddc5bc",
      "name": "Sync to Secondary System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3180,
        300
      ],
      "notes": "Second-system fan-out — real multi-integration requirement for this tier (§9.1).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "64b7cf4e-1287-4047-8d3c-b21e9cb84305",
      "name": "Rate Limit Guard",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3420,
        300
      ],
      "notes": "Respect downstream API rate limits before the next batch of writes (§9.5)."
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "bd5077ed-31bb-45db-b8e5-63669487069f",
      "name": "Write Audit Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3660,
        300
      ],
      "notes": "Audit trail entry — timestamp, outcome, and branch taken (§9.3, §8.14).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-log",
        "text": "={{ 'Completed: ' + $workflow.name }}",
        "otherOptions": {}
      },
      "id": "58e0baff-c16d-4823-b3ad-6597f448b0d6",
      "name": "Success Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        3900,
        300
      ],
      "notes": "Confirms completion — distinct from the failure alert channel.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Automate an assistant workflow with Discord\n\n**Tier:** Premium · **Difficulty:** Intermediate\n**Pattern:** Multi-Tool Agent (AI Agents)\n**Architecture:** validated input, branch on confidence high?, multi-system sync, audit log.\n\nImport, add your credentials, then adjust parameters. Original WorkflowCrate template.",
        "height": 280,
        "width": 380,
        "color": 4
      },
      "id": "fd3fa441-2ecb-4677-b5bc-203e7c1658af",
      "name": "Sticky Note 3cdc",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4180,
        40
      ]
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Idempotency Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotency Guard": {
      "main": [
        [
          {
            "node": "Input Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Valid?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send Discord Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Discord Message": {
      "main": [
        [
          {
            "node": "Confidence High?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence High?": {
      "main": [
        [
          {
            "node": "Respond Directly",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate to Human Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error": {
      "main": [
        [
          {
            "node": "Alert on Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Directly": {
      "main": [
        [
          {
            "node": "Merge Branch Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate to Human Review": {
      "main": [
        [
          {
            "node": "Merge Branch Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Branch Results": {
      "main": [
        [
          {
            "node": "Sync to Secondary System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync to Secondary System": {
      "main": [
        [
          {
            "node": "Rate Limit Guard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Guard": {
      "main": [
        [
          {
            "node": "Write Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Audit Log": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "2f65acbe-d88c-4d29-a819-ba6b596dcc38",
  "id": "FDX00017"
}