product-files/workflows/AI Agents/Multi-Tool Agent/Intermediate/00049_Distill documents with MySQL and Telegram at scale.json
{
  "name": "Distill documents with MySQL and Telegram at scale",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "71770ffc",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "3a1e32a6-3301-4e01-b571-db486a5f7f20",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        300
      ],
      "webhookId": "bd770005-6f02-47bb-9628-8826d5907caa"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ec8d719-8d3d-478f-9af4-6b9a061fdea8",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "677211d9-ec53-4df1-a92d-8c550330c6e4",
              "name": "isValid",
              "value": "={{ $json ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "27c91079-2f6d-49da-8d97-6d98968a4531",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        300
      ],
      "notes": "Validate & normalize the input before downstream steps (§9.1)."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f575a39d-cb4c-4de8-8477-86046790cf99",
      "name": "Summarize with AI",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        800,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "3f91e9cc-823c-43f4-b89c-6c7758405fcc",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        740,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb993a1a-1bce-4339-8eb1-a6b1960c33a3",
              "name": "count",
              "value": "={{ $json.items ? $json.items.length : 1 }}",
              "type": "number"
            },
            {
              "id": "5387598e-ef85-464f-a2ab-fa5f78afd7fc",
              "name": "source",
              "value": "='flowdex-workflow'",
              "type": "string"
            },
            {
              "id": "36186a9d-6a5b-40ce-9b94-3581ef0121cd",
              "name": "status",
              "value": "='processed'",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4680d950-d144-4e06-afe5-6524b94361f8",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "value": "records",
          "mode": "name"
        },
        "options": {}
      },
      "id": "16498469-1ed5-4d2e-9248-e41ff32eb4b0",
      "name": "Save to MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1280,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.summary || 'Update' }}",
        "additionalFields": {}
      },
      "id": "0ec00c90-1cbb-4024-91ac-813d70cb817f",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1520,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Distill documents with MySQL and Telegram at scale\n\n**Pattern:** AI Summarize & Route\n**Trigger:** Webhook\n**Integrations:** MySQL, Telegram\n\nImport, add your credentials, then adjust parameters. Original FlowDex template.",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "e8fc5526-6fc1-4430-b0c4-c75cd4804521",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1560,
        80
      ]
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Summarize with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with AI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Save to MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to MySQL": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "172f86c1-5585-4924-9c3c-c7d2dcead0a5",
  "id": "FDX00049"
}