product-files/workflows/AI Agents/Multi-Tool Agent/Intermediate/00874_Power an AI agent task with Microsoft Teams end to end.json
{
  "name": "Power an AI agent task with Microsoft Teams end to end",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "34a19f8a",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "6be1ea32-b438-4516-99f6-fbbb3a321dfb",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        300
      ],
      "webhookId": "35ac86e7-42f9-49be-b941-2102f7268a18"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b36e092f-53e1-4ac3-a399-d89e130142eb",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "713c3e99-368a-4007-ad2b-43a86ddc9b92",
              "name": "isValid",
              "value": "={{ $json ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "7ddbae57-0d3e-409c-8443-93600d5c4c25",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        300
      ],
      "notes": "Validate & normalize the input before downstream steps (§9.1)."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Handle this request and use tools when needed:\n{{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are a helpful automation assistant.",
          "maxIterations": 10
        }
      },
      "id": "6055676d-f764-4115-a85c-5e45a8b54681",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        800,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "96e2f556-99d2-4e42-bd2d-f24fd2f85e3d",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        740,
        520
      ]
    },
    {
      "parameters": {
        "toolDescription": "Fetch data from an external API",
        "url": "https://api.example.com/data",
        "options": {}
      },
      "id": "a291c9c5-c3e1-4fed-b937-26c7621f2d2d",
      "name": "HTTP Request Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        940,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1692b0e-0e94-4c9a-8332-c2586248df8d",
              "name": "source",
              "value": "='flowdex-workflow'",
              "type": "string"
            },
            {
              "id": "e15e4992-4856-4808-8cda-77cc1aebf6ee",
              "name": "status",
              "value": "='processed'",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d49bd8c2-079b-42fc-a643-a9a19610367c",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "operation": "create",
        "message": "={{ $json.summary }}"
      },
      "id": "eeccf316-c4dd-4fe7-b99a-5801ebc3390c",
      "name": "Send Microsoft Teams Message",
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1280,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Power an AI agent task with Microsoft Teams end to end\n\n**Pattern:** AI Agent\n**Trigger:** Webhook\n**Integrations:** Microsoft Teams\n\nImport, add your credentials, then adjust parameters. Original FlowDex template.",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "d8418f2c-1404-42fc-81c5-b2ef8b73fae4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1320,
        80
      ]
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send Microsoft Teams Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "7fd88b7f-83f6-418a-a173-463627fb795a",
  "id": "FDX00874"
}