product-files/workflows/Email Automation/Newsletters/Intermediate/02718_Digest long emails with MySQL and Microsoft Teams without manual work.json
{
  "name": "Digest long emails with MySQL and Microsoft Teams without manual work",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "6ffc65a5",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "fb1a0fa3-066a-4010-962e-8c19d39da1b3",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "webhookId": "71f24790-1fec-435e-87b8-472b671630be"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b068c39f-8241-4067-b70f-1510fef55900",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "24a60aa9-c42b-4859-96a1-6db6edbb437a",
              "name": "isValid",
              "value": "={{ $json ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "93cac9ba-4770-434a-b9aa-fdd6722a550a",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        300
      ],
      "notes": "Validate & normalize the input before downstream steps (§9.1)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f2205e3f-f605-4784-b8b7-6434e0be5d20",
              "leftValue": "={{ $json.isValid !== false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e1058067-4325-431a-8b24-59a28676df70",
      "name": "Input Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        300
      ],
      "notes": "Validate early — quarantine invalid items instead of processing them (§9.1)."
    },
    {
      "parameters": {},
      "id": "f9da9ed5-ae39-4748-a167-cdcf67bce29c",
      "name": "Log Invalid Input",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        780,
        500
      ],
      "notes": "Dead-letter placeholder — route to a data table/DB for later inspection (§9.3)."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bb02f959-1714-43cc-b7c8-ffcde2ebe6fd",
      "name": "Summarize with AI",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        1020,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "521603b3-f53f-4f2e-ba6f-e50d1fd85718",
              "name": "source",
              "value": "='flowdex-workflow'",
              "type": "string"
            },
            {
              "id": "0b2b3086-2686-4be6-84e0-8b0b4c29b0fa",
              "name": "status",
              "value": "='processed'",
              "type": "string"
            },
            {
              "id": "94799016-573c-4eee-9261-df35bb6c662a",
              "name": "summary",
              "value": "={{ JSON.stringify($json).slice(0, 280) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "82a7fada-7458-4258-ab85-bb0b26b0d7eb",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "value": "records",
          "mode": "name"
        },
        "options": {}
      },
      "id": "c863983c-a560-4496-a124-71d4fbf94909",
      "name": "Save to MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1500,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "operation": "create",
        "message": "={{ $json.summary }}"
      },
      "id": "1fe6914b-eda3-4752-a361-c9000586e367",
      "name": "Send Microsoft Teams Message",
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1740,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "llama-3.1-70b-versatile",
        "options": {}
      },
      "id": "7f3e0e1d-eda1-4683-ac1f-12311877d7e1",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        740,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "061ce4e2-a8be-4d25-9cf6-4fd5e3537a35",
              "leftValue": "={{ $json.category }}",
              "rightValue": "urgent",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0adc09a8-ca94-4e1f-a5ce-a2a3adfb88b0",
      "name": "Needs Human Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1980,
        300
      ],
      "notes": "Real business branch — route on the condition that actually distinguishes this item, per the category's production pattern (§8)."
    },
    {
      "parameters": {},
      "id": "7ad6e9bb-597a-4e1e-b501-0b15ccf62ca8",
      "name": "Auto-Reply",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {},
      "id": "5c4a773e-c59a-4632-8964-51b95025fc58",
      "name": "Flag for Manual Reply",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2220,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ac12889-3849-423f-bb0e-4106a078590b",
              "name": "errorAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ded68707-abd1-4360-9d16-ac4dfd5b5158",
      "name": "Handle Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2460,
        700
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#alerts",
        "text": "={{ 'Failure in ' + $workflow.name + ': ' + JSON.stringify($json) }}",
        "otherOptions": {}
      },
      "id": "08628672-da06-4821-a87a-9cc1a3f2ff68",
      "name": "Alert on Failure",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2700,
        760
      ],
      "notes": "Notify on failure without aborting the run (§9.3).",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#automation-log",
        "text": "={{ 'Completed: ' + $workflow.name }}",
        "otherOptions": {}
      },
      "id": "3933470c-ea82-41ea-b09f-04a9e0e109e6",
      "name": "Success Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2940,
        300
      ],
      "notes": "Confirms completion — distinct from the failure alert channel.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Digest long emails with MySQL and Microsoft Teams without manual work\n\n**Tier:** Professional · **Difficulty:** Intermediate\n**Pattern:** Newsletters (Email Automation)\n**Architecture:** validated input, branch on needs human reply?.\n\nImport, add your credentials, then adjust parameters. Original WorkflowCrate template.",
        "height": 280,
        "width": 380,
        "color": 4
      },
      "id": "6879aa4e-25a6-4db7-8854-c1a72bdd4450",
      "name": "Sticky Note d0eb",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3220,
        40
      ]
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Input Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Valid?": {
      "main": [
        [
          {
            "node": "Summarize with AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with AI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Save to MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to MySQL": {
      "main": [
        [
          {
            "node": "Send Microsoft Teams Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Microsoft Teams Message": {
      "main": [
        [
          {
            "node": "Needs Human Reply?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Human Reply?": {
      "main": [
        [
          {
            "node": "Auto-Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag for Manual Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error": {
      "main": [
        [
          {
            "node": "Alert on Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Reply": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag for Manual Reply": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "6469e256-3eae-4ed1-ab22-6a4024ba6082",
  "id": "FDX02718"
}