product-files/workflows/Email Automation/Newsletters/Intermediate/03084_Distill meeting notes with PostgreSQL and Twilio 247.json
{"name":"Distill meeting notes with PostgreSQL and Twilio 24/7","nodes":[{"parameters":{"httpMethod":"POST","path":"wf03084-email","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-270,400],"id":"5faf75ff-45d1-42ef-97cd-3406bcabcc2a","name":"Receive Inbound Webhook","webhookId":"64be3dcd-6a42-4855-9f74-97d09ba27430"},{"parameters":{"assignments":{"assignments":[{"id":"ff3d0a37-ab05-4669-9b2b-dadaa26cfc05","name":"messageId","value":"={{ $json.messageId || $json.id || $execution.id }}","type":"string"},{"id":"01c30f2c-16e0-4c31-97bc-61924adb9290","name":"receivedAt","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[54,400],"id":"5fe96b81-e612-49dd-9965-6a6f4118fae6","name":"Stamp & Shape Email"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c415cdb7-4986-4896-92e6-2c1cbfd45c4b","leftValue":"={{ $json.messageId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[378,400],"id":"843ff239-48cc-4343-9413-70c5bcfda731","name":"Payload Valid?"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO email_log (messageId, from, subject, logged_at)\nVALUES ($1, $2, $3, NOW());","options":{"queryReplacement":"={{ [ $json.messageId, $json.from, $json.subject ] }}"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[378,910],"id":"5eaac44f-84f6-4ac9-9235-18312c97bbc7","name":"Record Rejected Input","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"promptType":"define","text":"={{ $json.chatInput || $json.from || JSON.stringify($json) }}","options":{"systemMessage":"You are a newsletters specialist for the email automation team. Use the attached tools to look up real data before answering — never invent email details. Keep answers under 150 words, cite which tool you used, and escalate anything you cannot verify.","maxIterations":8}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[702,400],"id":"c97a27b7-391a-431b-9111-5eda8b4fbd03","name":"Reason & Act (AI Agent)","onError":"continueErrorOutput"},{"parameters":{"model":"anthropic/claude-sonnet-4.5","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[945,970],"id":"157d7891-fde2-49c5-a8c9-6e5bdc3b40c8","name":"OpenRouter Chat Model"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[945,1390],"id":"6199df0e-40a4-48dc-afab-65610038215f","name":"Search Reference Wiki"},{"parameters":{"toolDescription":"Fetch live email data from the internal REST API by id or query.","url":"https://api.example.com/v1/emails","options":{}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1174,1390],"id":"31e665a9-0131-42c1-a115-04eac2ed4e22","name":"Lookup API Data"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1633,1390],"id":"540f4351-a167-4cf7-996c-17cf3941013f","name":"Think It Through"},{"parameters":{"assignments":{"assignments":[{"id":"68eb7e45-8918-453b-ba63-25d7187c8441","name":"answer","value":"={{ $json.output }}","type":"string"},{"id":"45c34eac-8d7f-4c16-a5d0-87a0e223e2b4","name":"confidence","value":"={{ $json.output && $json.output.length > 40 ? 'high' : 'low' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1957,400],"id":"162a0397-28e7-4da0-b620-ce89e195ad06","name":"Shape Agent Output"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5608a9c6-c7a6-4068-922d-d8f837143253","leftValue":"={{ $json.confidence }}","rightValue":"high","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2281,400],"id":"b14a0ed2-c5d6-4d98-a75d-fa8d829ed966","name":"Confident Enough?"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Email Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2605,160],"id":"6c270ce8-4f4c-4bd1-a30b-51eb0b248a4c","name":"Deliver Answer + Log to Google Sheets","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"from":"+15550100000","to":"={{ $json.phone || 'ONCALL_NUMBER' }}","message":"=🙋 Low-confidence answer needs review: {{ $json.answer }}","options":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2929,760],"id":"f22d02f4-f103-42be-9d81-4a0e4edc1e49","name":"Escalate to Human Queue","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"mode":"append","numberInputs":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3577,400],"id":"972baf64-42b5-4f3a-8d72-10ffd28fca17","name":"Join Outcomes"},{"parameters":{"operation":"csv","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[4549,400],"id":"26dc07d3-e65e-4377-bd98-3c151398ffbd","name":"Serialize Run Output (CSV)"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Email Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4873,400],"id":"aabbdfdd-5dcb-4d1a-ad4c-d0d667944b80","name":"Archive Row Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"a62ecfd8-66ec-4b24-8d5a-c56d86ddea65","name":"runAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"ed497601-1954-4857-940d-0ec9c9af9268","name":"itemCount","value":"={{ $input.all().length }}","type":"number"},{"id":"745c9bc8-ffd4-4a3f-a8dd-0b3b77913374","name":"status","value":"completed","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5197,400],"id":"12699bfd-3b42-42dd-b548-169c75bea9d5","name":"Summarize Run Stats"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO email_log (messageId, from, subject, logged_at)\nVALUES ($1, $2, $3, NOW());","options":{"queryReplacement":"={{ [ $json.messageId, $json.from, $json.subject ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[5521,400],"id":"19da7ea6-f442-4526-b6a1-db22b85142c3","name":"Append Audit Row (PostgreSQL)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#inbox-ops","cachedResultName":"#inbox-ops"},"text":"=✅ Distill meeting notes with PostgreSQL and Twilio 24/7 — run completed at {{ $now.toFormat('HH:mm') }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[5845,400],"id":"621fcd4f-8d29-42e8-a25c-6b9381afafa1","name":"Send Summary to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"d9592886-4abf-47cf-8117-5426b9673df4","name":"failedNode","value":"={{ $json.error?.node?.name || 'unknown' }}","type":"string"},{"id":"740236f8-3ace-4f9a-8a28-d387d103e0d2","name":"errorMessage","value":"={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}","type":"string"},{"id":"effe7044-de74-4c6c-af77-0b295da57a59","name":"workflow","value":"={{ $workflow.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5197,1420],"id":"cc4216ab-befa-472e-bd8a-023a13e65889","name":"Capture Failure Context"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#inbox-ops","cachedResultName":"#inbox-ops"},"text":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[5521,1420],"id":"d94901e0-c650-418b-8f3a-f378850af572","name":"Escalate Failure to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Email Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5845,1420],"id":"1b74fe40-e4f3-4aa6-989f-4160190fea5b","name":"Park in Dead-Letter Queue","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"content":"### Receive Inbound Webhook\n\nEntry point: listens for POST calls on `/wf03084-email`. Use the TEST url while building, switch callers to the PRODUCTION url after publishing.\n\nNext: Stamp & Shape Email","width":280,"height":232,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-330,520],"id":"b57205d0-f69c-4bf1-c2b3-0a47d25d8abd","name":"Note: Receive Inbound Webhook"},{"parameters":{"content":"### Stamp & Shape Email\n\nShapes the item: writes `messageId`, `receivedAt`. Keeps the schema explicit between stages.\n\nNext: Payload Valid?","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6,520],"id":"55e95efd-0a32-de3b-93c3-594fb1b29d49","name":"Note: Stamp & Shape Email"},{"parameters":{"content":"### Payload Valid?\n\nTwo-way gate on `={{ $json.messageId }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Reason & Act (AI Agent) · ②→ Record Rejected Input","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[318,520],"id":"55b584a8-8f72-b07a-0f2c-6fe091c98111","name":"Note: Payload Valid?"},{"parameters":{"content":"### Record Rejected Input\n\nAppends a new row to 'tracking sheet' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\n↻ retries 3×/2s · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[318,1030],"id":"ce2d005a-3732-b7d9-9731-ccc5bae719ed","name":"Note: Record Rejected Input"},{"parameters":{"content":"### Reason & Act (AI Agent)\n\nThe AI brain: reads the input, decides which attached tools to call (and in what order), then composes the answer.\n\nPorts: ①→ Shape Agent Output · ②→ Capture Failure Context\n\n⚠ failures exit via the error rail","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[642,520],"id":"50d6d73e-b23d-6f43-7d75-a1faf41088be","name":"Note: Reason & Act (AI Agent)"},{"parameters":{"content":"### OpenRouter Chat Model\n\nChat model powering the AI step (model: `anthropic/claude-sonnet-4.5`). Swap providers here without rewiring.\n\nFeeds **Reason & Act (AI Agent)** as `languageModel`\n\n🔑 OpenRouter API key","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[885,1090],"id":"81dc7072-3cb4-ec63-76a1-1924958db414","name":"Note: OpenRouter Chat Model"},{"parameters":{"content":"### Search Reference Wiki\n\nReference lookup tool for general-knowledge questions.\n\nFeeds **Reason & Act (AI Agent)** as `tool`","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[885,1510],"id":"93b65138-c343-efdc-099e-506286de4bd8","name":"Note: Search Reference Wiki"},{"parameters":{"content":"### Lookup API Data\n\nTool the agent can call to hit the REST API with parameters it chooses at runtime.\n\nFeeds **Reason & Act (AI Agent)** as `tool`","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1114,1750],"id":"e932c4f5-4450-b6f1-2093-7820306bcc40","name":"Note: Lookup API Data"},{"parameters":{"content":"### Think It Through\n\nScratchpad tool: lets the agent reason step-by-step before acting.\n\nFeeds **Reason & Act (AI Agent)** as `tool`","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1573,1510],"id":"be566a78-098b-d015-8d5e-6f061f4f152e","name":"Note: Think It Through"},{"parameters":{"content":"### Shape Agent Output\n\nShapes the item: writes `answer`, `confidence`. Keeps the schema explicit between stages.\n\nNext: Confident Enough?","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1897,520],"id":"07ed46b6-7d42-7a8a-3e6d-f5a0a6849455","name":"Note: Shape Agent Output"},{"parameters":{"content":"### Confident Enough?\n\nTwo-way gate on `={{ $json.confidence }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Deliver Answer + Log to Google Sheets · ②→ Escalate to Human Queue","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2221,520],"id":"82ac0ac4-f89e-2b53-1ee1-d5ea8caf53ab","name":"Note: Confident Enough?"},{"parameters":{"content":"### Deliver Answer + Log to Google Sheets\n\nAppends a new row to 'Email Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\nPorts: ①→ Join Outcomes · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2545,280],"id":"7ba27b44-ec93-e4d4-4896-f95a91840932","name":"Note: Deliver Answer + Log to Google Sheets"},{"parameters":{"content":"### Escalate to Human Queue\n\nPosts a message to Slack — a low-latency way for the team to see automation activity without checking a dashboard.\n\nPorts: ①→ Join Outcomes · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2869,880],"id":"b0b7d240-5862-9795-0e77-d694bffee873","name":"Note: Escalate to Human Queue"},{"parameters":{"content":"### Join Outcomes\n\nRejoins 2 branches into one stream (mode: append) so downstream logic runs once.\n\nNext: Serialize Run Output (CSV)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3517,520],"id":"2ed5c3a0-7b19-4345-d628-ba7e10b17ffb","name":"Note: Join Outcomes"},{"parameters":{"content":"### Serialize Run Output (CSV)\n\nSerializes items to a CSV binary file.\n\nNext: Archive Row Snapshot","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4489,520],"id":"3d4578e0-76e4-293a-d024-28d81a5090ff","name":"Note: Serialize Run Output (CSV)"},{"parameters":{"content":"### Archive Row Snapshot\n\nAppends a new row to 'Email Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\nPorts: ①→ Summarize Run Stats · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4813,520],"id":"3f232020-5a12-f6b7-b800-b8119964ec13","name":"Note: Archive Row Snapshot"},{"parameters":{"content":"### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (PostgreSQL)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5137,520],"id":"a1a6dd81-1f3d-064a-d55b-b1b795bcfaa3","name":"Note: Summarize Run Stats"},{"parameters":{"content":"### Append Audit Row (PostgreSQL)\n\nRuns a parameterized SQL statement against Postgres — values are bound via `queryReplacement`, not string-interpolated, so it's immune to SQL injection.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Postgres connection","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5461,520],"id":"0fc66ae4-9d28-3565-531c-688afc34a796","name":"Note: Append Audit Row (PostgreSQL)"},{"parameters":{"content":"### Send Summary to Slack\n\nPosts a message to Slack (`#inbox-ops`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5785,520],"id":"cafa4437-c188-901e-971a-f53dd2d5f6ca","name":"Note: Send Summary to Slack"},{"parameters":{"content":"### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Slack","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5137,1540],"id":"e9bff8dc-76e5-74b0-0f8f-f1b10d31c6ce","name":"Note: Capture Failure Context"},{"parameters":{"content":"### Escalate Failure to Slack\n\nPosts a message to Slack (`#inbox-ops`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Slack OAuth2","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5461,1540],"id":"0b6edfc0-b95a-d858-be9d-db3d3cad8637","name":"Note: Escalate Failure to Slack"},{"parameters":{"content":"### Park in Dead-Letter Queue\n\nAppends a new row to 'Email Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\n↻ retries 3×/2s · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5785,1540],"id":"dfc40063-60f3-f57f-1ee0-9ac5e0fbdba9","name":"Note: Park in Dead-Letter Queue"},{"parameters":{"content":"# Distill meeting notes with PostgreSQL and Twilio 24/7\n\n**Pattern:** AI Summarize & Route · **Level:** Production · **Trigger:** Webhook\n\n## What it does\nDistill meeting notes with PostgreSQL and Twilio 24/7. It fires the moment an external system calls its webhook.\n\n## Why it exists\nManual newsletters is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nReceive Inbound Webhook → Stamp & Shape Email → Payload Valid? → Reason & Act (AI Agent) → Shape Agent Output → Confident Enough? → Deliver Answer + Log to Google Sheets → …\n\n## Use it for\n- Teams that want to ai summarize & route without manual effort\n- Anyone automating newsletters in marketing\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Responds in seconds\n- Has retries and error handling built in\n- Removes copy-paste errors\n\n## Before first run\nConnect credentials: Google OAuth2 / service account; OpenRouter API key; Postgres connection; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.\n\n## Try it now\nSample data is pinned on the trigger — hit **Execute Workflow** to watch it flow through every node before connecting any real credentials. Unpin the trigger (right-click → Unpin) when you're ready to go live.","width":480,"height":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,80],"id":"5eab63a6-d2f5-fd72-6130-895c56e66b92","name":"📘 Workflow Overview"},{"parameters":{"content":"## Design decisions\n\nUses an AI Agent, not a fixed Chain, because the assistant must choose which tool answers the question — a Chain would need one hard-coded branch per tool. The 'Confident Enough?' gate after the agent routes low-confidence answers to a human queue instead of shipping an uncertain answer: a little latency traded for not eroding trust.","width":480,"height":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1020],"id":"c2cadd49-21f8-1201-27b7-1f39cddf8667","name":"🎓 Design Decisions"},{"parameters":{"content":"## Practice exercises\n\nAlready production-grade — deepen your understanding:\n\n1. Add one more tool to the pool with a clear one-line description and watch how the agent decides to use it.\n2. Change the confidence threshold on 'Confident Enough?' and see how often answers get escalated to a human.\n3. Swap the Think tool for a Vector Store tool wired to a real knowledge base and turn this into RAG.","width":480,"height":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1360],"id":"f3a37657-7394-ef57-7d06-76fe7db4b4f6","name":"🧪 Practice Exercises"},{"parameters":{"content":"## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.","width":360,"height":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-230,-260],"id":"f3ab12d6-015a-6a07-405c-00e6103beadd","name":"🛟 Error handling & retries"},{"parameters":{"content":"## 🔐 Security\n\nNever trust inbound payloads: the webhook path is unguessable. Add header auth or IP allow-listing for defense in depth. Secrets live in n8n credentials — never in node parameters.","width":360,"height":260,"color":1},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[190,-260],"id":"f7c1f58a-8cfb-a04e-1e73-ccd6e24d4f22","name":"🔐 Security"},{"parameters":{"content":"## 🤖 AI cluster\n\nPurple nodes form one AI unit: the root node orchestrates, sub-nodes plug in via typed ports (model / memory / tools / parser). Swap the chat model without rewiring anything else. Costs scale with tokens — keep prompts lean and cap iterations.","width":360,"height":260,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[610,-260],"id":"ab60a348-9e16-f9d3-6b92-7f520651b749","name":"🤖 AI cluster"},{"parameters":{"content":"## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your newsletters process. Every node card explains its role — safe to extend at any marked branch.","width":360,"height":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1030,-260],"id":"acf64d02-f61a-1b6f-88cc-571e1e0713ba","name":"🛠 Customize me"}],"connections":{"Receive Inbound Webhook":{"main":[[{"node":"Stamp & Shape Email","type":"main","index":0}]]},"Stamp & Shape Email":{"main":[[{"node":"Payload Valid?","type":"main","index":0}]]},"Payload Valid?":{"main":[[{"node":"Reason & Act (AI Agent)","type":"main","index":0}],[{"node":"Record Rejected Input","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Reason & Act (AI Agent)","type":"ai_languageModel","index":0}]]},"Search Reference Wiki":{"ai_tool":[[{"node":"Reason & Act (AI Agent)","type":"ai_tool","index":0}]]},"Lookup API Data":{"ai_tool":[[{"node":"Reason & Act (AI Agent)","type":"ai_tool","index":0}]]},"Think It Through":{"ai_tool":[[{"node":"Reason & Act (AI Agent)","type":"ai_tool","index":0}]]},"Reason & Act (AI Agent)":{"main":[[{"node":"Shape Agent Output","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Shape Agent Output":{"main":[[{"node":"Confident Enough?","type":"main","index":0}]]},"Confident Enough?":{"main":[[{"node":"Deliver Answer + Log to Google Sheets","type":"main","index":0}],[{"node":"Escalate to Human Queue","type":"main","index":0}]]},"Deliver Answer + Log to Google Sheets":{"main":[[{"node":"Join Outcomes","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Escalate to Human Queue":{"main":[[{"node":"Join Outcomes","type":"main","index":1}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Join Outcomes":{"main":[[{"node":"Serialize Run Output (CSV)","type":"main","index":0}]]},"Serialize Run Output (CSV)":{"main":[[{"node":"Archive Row Snapshot","type":"main","index":0}]]},"Archive Row Snapshot":{"main":[[{"node":"Summarize Run Stats","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Summarize Run Stats":{"main":[[{"node":"Append Audit Row (PostgreSQL)","type":"main","index":0}]]},"Append Audit Row (PostgreSQL)":{"main":[[{"node":"Send Summary to Slack","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Capture Failure Context":{"main":[[{"node":"Escalate Failure to Slack","type":"main","index":0}]]},"Escalate Failure to Slack":{"main":[[{"node":"Park in Dead-Letter Queue","type":"main","index":0}]]},"Send Summary to Slack":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveManualExecutions":true,"executionTimeout":3600},"meta":{"templateCredsSetupCompleted":false},"tags":[],"pinData":{"Receive Inbound Webhook":[{"json":{"messageId":"MSG-6601","from":"support@vendor.com","subject":"Your invoice is ready","receivedAt":"2026-07-19T08:12:00.000Z"}},{"json":{"messageId":"MSG-6602","from":"newsletter@partner.io","subject":"July product digest","receivedAt":"2026-07-19T09:40:00.000Z"}}]},"versionId":"97975353-53a9-4494-b6e1-45ec1181af4b","id":"FDX03084"}