product-files/workflows/AI Agents/Conversational AI/Intermediate/00647_Reply to chat messages with instant alerts for Conversational AI (00647).json
{
  "name": "Reply to chat messages with instant alerts for Conversational AI (00647)",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -200,
        400
      ],
      "id": "028670a6-e94c-425b-a1f9-2215b345bee2",
      "name": "When Chat Message Received",
      "webhookId": "47e655b0-57ec-4275-bd9d-f8879264dfc4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a152c63-0c40-4f28-bb9a-c232c6a325a3",
              "leftValue": "={{ $json.query }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        40,
        400
      ],
      "id": "36820bb6-db8b-41d1-beb0-bd96b255839f",
      "name": "Required Fields Present?"
    },
    {
      "parameters": {
        "errorType": "errorMessage",
        "errorMessage": "Missing required field 'query' on incoming request."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        40,
        570
      ],
      "id": "a0587e94-c2f5-48dd-a897-c506728a6416",
      "name": "Abort — Malformed Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || $json.query || JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are a conversational ai specialist for the ai agents team. Use the attached tools to look up real data before answering — never invent request details. Keep answers under 150 words, cite which tool you used, and escalate anything you cannot verify.",
          "maxIterations": 8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        280,
        400
      ],
      "id": "1e476017-9c7d-447b-a33b-72b494413289",
      "name": "Reason & Act (AI Agent)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        460,
        590
      ],
      "id": "24a06959-3680-4816-8245-7c42c1669560",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        460,
        730
      ],
      "id": "b4847fcd-c79a-411b-916d-f7ed340adc72",
      "name": "Think It Through"
    },
    {
      "parameters": {
        "name": "score_helper",
        "description": "Compute a quality score for a request record.",
        "jsCode": "const j = JSON.parse(query);\nreturn String((j.signals || []).length * 10);"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        630,
        730
      ],
      "id": "c361df18-35cb-4eab-9d0d-81475ff999df",
      "name": "Custom Logic Tool"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || $execution.id }}",
        "tableName": "chat_history"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        450,
        590
      ],
      "id": "bed84813-081c-40b5-9657-04edc878931f",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5be8c16-d878-461d-976a-8613067c17cb",
              "name": "answer",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "c88b6777-9937-4d60-a81b-a64e580d184c",
              "name": "confidence",
              "value": "={{ $json.output && $json.output.length > 40 ? 'high' : 'low' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        870,
        400
      ],
      "id": "46bd6a19-8806-4199-9818-5984c3650562",
      "name": "Shape Agent Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ea793019-c75c-4977-845b-876e1ee972d3",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1110,
        400
      ],
      "id": "88728c89-b860-456c-bb9f-b30aeeb5aa1a",
      "name": "Confident Enough?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1350,
        320
      ],
      "id": "f4ac95d3-5f01-4aba-a5c8-30e614af4457",
      "name": "Deliver Answer + Log to Google Sheets",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#ai-ops",
          "cachedResultName": "#ai-ops"
        },
        "text": "=🙋 Low-confidence answer needs review: {{ $json.answer }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1590,
        520
      ],
      "id": "94e979cc-a68d-4650-afcd-77140205ff47",
      "name": "Escalate to Human Queue",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2070,
        400
      ],
      "id": "c2fb9316-601e-4195-acba-121ae5f89118",
      "name": "Join Outcomes"
    },
    {
      "parameters": {
        "operation": "getCurrentDate",
        "outputFieldName": "completedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2790,
        400
      ],
      "id": "8b35558a-cedd-4b9b-8d84-1f6ffba2445c",
      "name": "Stamp Completion Time"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "runId",
              "value": "={{ $execution.id }}"
            },
            {
              "key": "itemCount",
              "value": "={{ $items().length }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        3030,
        400
      ],
      "id": "1d7f9407-caf6-42cc-85a2-9095a0ea4c92",
      "name": "Persist Run Metadata"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aaad537b-cb87-41b3-95ee-d51f22041b82",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "b9a5bea5-920e-4b49-9b25-7777595b113a",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "22c05df0-7ca4-4218-a257-c375a3007754",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3270,
        400
      ],
      "id": "e44fab54-7a1c-495b-bf49-6962912562fa",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3510,
        400
      ],
      "id": "18ae9557-dc97-4b57-8196-3a2909cf6529",
      "name": "Append Audit Row (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#ai-ops",
          "cachedResultName": "#ai-ops"
        },
        "text": "=✅ Reply to chat messages with instant alerts for Conversational AI (0064 — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3750,
        400
      ],
      "id": "fbe55354-5d68-44dd-972a-98c9917a2c05",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e763e686-9efb-4265-8d50-6e8caffc5102",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "d8a42965-77bf-48be-ba1e-77ad8e111073",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "b1eff6b0-1bfa-4b00-bbb7-2788d8f62b63",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3270,
        740
      ],
      "id": "2063dc15-2afe-426c-945d-4b7199f765aa",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#ai-ops",
          "cachedResultName": "#ai-ops"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3510,
        740
      ],
      "id": "2f8e16ad-bfb9-4734-a70a-fa513101f65c",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Request Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3750,
        740
      ],
      "id": "4bd62608-3935-4b46-a79b-9191238b7405",
      "name": "Park in Dead-Letter Queue",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Reply to chat messages with instant alerts for Conversational AI (00647)\n\n**Pattern:** Chatbot Responder  \n**Trigger:** Chat  \n**Level:** Production\n\nProcesses requests for conversational ai — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        60
      ],
      "id": "77d0581f-cb00-477a-87c6-a9d792a6b403",
      "name": "Overview"
    }
  ],
  "connections": {
    "When Chat Message Received": {
      "main": [
        [
          {
            "node": "Required Fields Present?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Required Fields Present?": {
      "main": [
        [
          {
            "node": "Reason & Act (AI Agent)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Abort — Malformed Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Reason & Act (AI Agent)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think It Through": {
      "ai_tool": [
        [
          {
            "node": "Reason & Act (AI Agent)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Custom Logic Tool": {
      "ai_tool": [
        [
          {
            "node": "Reason & Act (AI Agent)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Reason & Act (AI Agent)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Reason & Act (AI Agent)": {
      "main": [
        [
          {
            "node": "Shape Agent Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape Agent Output": {
      "main": [
        [
          {
            "node": "Confident Enough?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confident Enough?": {
      "main": [
        [
          {
            "node": "Deliver Answer + Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate to Human Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deliver Answer + Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Join Outcomes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate to Human Queue": {
      "main": [
        [
          {
            "node": "Join Outcomes",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join Outcomes": {
      "main": [
        [
          {
            "node": "Stamp Completion Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Completion Time": {
      "main": [
        [
          {
            "node": "Persist Run Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Run Metadata": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (Google Sheets)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Failure to Slack": {
      "main": [
        [
          {
            "node": "Park in Dead-Letter Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "cfab4967-50db-45b3-8cf3-7a9d0dfd6e48",
  "id": "FDX00647"
}