product-files/workflows/AI Agents/Conversational AI/Intermediate/00999_Automate an AI agent task with Slack without manual work.json
{
  "name": "Automate an AI agent task with Slack without manual work",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "95afa01b",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "94215517-e27b-4d5f-8f28-c8ad5e35374d",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        300
      ],
      "webhookId": "aaf98355-40ab-4ff5-9939-d265942f5704"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "abba0c42-f62c-4210-a426-5459a33156e0",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "27134664-0807-49fe-846c-4a04e969d25a",
              "name": "isValid",
              "value": "={{ $json ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "86983473-9399-459f-bdc9-52cdd09388fe",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        300
      ],
      "notes": "Validate & normalize the input before downstream steps (§9.1)."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Handle this request and use tools when needed:\n{{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are a helpful automation assistant.",
          "maxIterations": 10
        }
      },
      "id": "7848e850-ea46-435a-80bd-cbf3bd5a5c55",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        800,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {}
      },
      "id": "8af0bc59-489e-409f-b5cb-afe5ddf1d6fb",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        740,
        520
      ]
    },
    {
      "parameters": {
        "toolDescription": "Fetch data from an external API",
        "url": "https://api.example.com/data",
        "options": {}
      },
      "id": "44d5710c-8eaa-41b2-9e03-a0726426b84f",
      "name": "HTTP Request Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        940,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34622021-6cc6-4976-8e35-a1fbd9a452ff",
              "name": "count",
              "value": "={{ $json.items ? $json.items.length : 1 }}",
              "type": "number"
            },
            {
              "id": "2be36702-307e-4d30-96a4-66490e42646d",
              "name": "status",
              "value": "='processed'",
              "type": "string"
            },
            {
              "id": "0b607a7a-b42a-40a3-9c11-712faa82d3e1",
              "name": "source",
              "value": "='flowdex-workflow'",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5139cfee-b513-4523-9829-a03fb3e2583f",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "general",
          "mode": "name"
        },
        "text": "={{ $json.summary || 'New event' }}",
        "otherOptions": {}
      },
      "id": "4762184b-8792-41fe-a407-e07eeb98745d",
      "name": "Send Slack Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1280,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Automate an AI agent task with Slack without manual work\n\n**Pattern:** AI Agent\n**Trigger:** Webhook\n**Integrations:** Slack\n\nImport, add your credentials, then adjust parameters. Original FlowDex template.",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "135fa0d5-0c07-4d5c-9ee0-a5018c0212f9",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1320,
        80
      ]
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "18e5f054-0daa-4326-bb8a-2d8e78dfc28f",
  "id": "FDX00999"
}