product-files/workflows/AI Agents/Conversational AI/Intermediate/01835_Distill long emails with Google Sheets and Discord at scale.json
{"name":"Distill long emails with Google Sheets and Discord at scale","nodes":[{"parameters":{"httpMethod":"POST","path":"wf01835-request","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-270,400],"id":"d2357a2b-f310-42df-a434-3387dca25c43","name":"Receive Inbound Webhook","webhookId":"34d7f06d-8b85-4d7c-a41e-23a89cd6ec85"},{"parameters":{"assignments":{"assignments":[{"id":"d8ddcffd-2187-474e-b55a-d56496d42400","name":"content","value":"={{ $json.body?.text || $json.content || JSON.stringify($json) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[54,400],"id":"b3f4c533-f33c-475d-8b83-7d29941fd814","name":"Collect Raw Text"},{"parameters":{"text":"={{ $json.text || $json.content }}","attributes":{"attributes":[{"name":"requestId","description":"The requestId of this request.","required":true},{"name":"query","description":"The query of this request.","required":true},{"name":"context","description":"The context of this request.","required":false}]},"options":{"systemPromptTemplate":"You are a precise extraction engine. Only extract values present in the text."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[378,400],"id":"598bfebe-59fa-4964-a296-710b0eb6a047","name":"Extract Structured Fields","onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[621,970],"id":"9096c20a-faaa-4486-b5c0-d2e5d90d3395","name":"OpenAI Chat Model"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d59dbe13-2c12-40bd-a20d-60364aed33bf","leftValue":"={{ $json.output?.requestId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[945,400],"id":"93de8e92-757e-4293-a8a3-f32f786e7e21","name":"All Required Fields Found?"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Request Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["requestId"],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1269,160],"id":"542794c1-962a-4bef-9d20-fef36207cd09","name":"Upsert into Google Sheets","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"authentication":"webhook","content":"=✍️ Extraction incomplete for {{ $json.fileName || 'document' }} — please review.","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1593,760],"id":"569c0287-cf39-44af-afd2-de25838047ae","name":"Queue for Manual Review","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"mode":"append","numberInputs":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2241,400],"id":"4314680b-36e4-414f-82e4-6a0da0d036ce","name":"Merge Review Paths"},{"parameters":{"method":"GET","url":"https://enrichment.example.com/v2/lookup","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.query }}"}]},"options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3213,400],"id":"a34c9643-9013-40ea-94ff-b8cdacd282f0","name":"Enrich with Reference Data","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"056ab1ac-094f-4a6f-9a21-c4b08775c1c5","name":"enrichedAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"aee75498-1a82-4fe2-abf3-e793bb85e104","name":"enrichmentSource","value":"reference-api","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3537,400],"id":"b4ec0e9d-d2ba-4b85-942d-44501aa34667","name":"Fold In Enrichment Fields"},{"parameters":{"operation":"getCurrentDate","outputFieldName":"completedAt","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[3861,400],"id":"b12a3100-2a12-424b-8489-4980d6fe2331","name":"Stamp Completion Time"},{"parameters":{"dataToSave":{"values":[{"key":"runId","value":"={{ $execution.id }}"},{"key":"itemCount","value":"={{ $items().length }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[4185,400],"id":"b5770713-52ac-48ae-a9e7-51bad1b0c404","name":"Persist Run Metadata"},{"parameters":{"operation":"csv","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[4509,400],"id":"c8c6d89b-83f6-495d-8fe4-4d4381a7add0","name":"Serialize Run Output (CSV)"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Request Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4833,400],"id":"b784b71f-2df4-4e7e-b47a-c53780f99f75","name":"Archive Row Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Build a stable idempotency key per request (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.requestId, j.query].join('|')) } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5157,400],"id":"0bfd2b4d-0b68-4a47-b6bb-e35d8f00f7c9","name":"Fingerprint for Idempotency"},{"parameters":{"operation":"removeItemsSeenInPreviousExecutions","logic":"removeItemsWithAlreadySeenKeyValues","dedupeValue":"={{ $json.idempotencyKey }}","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[5481,400],"id":"66cab4ee-2163-42a8-aa01-e9fe1aa405f9","name":"Drop Already-Processed Items"},{"parameters":{"assignments":{"assignments":[{"id":"b4b30093-7048-415b-9506-9b26449fa714","name":"runAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"f8b40c51-9624-49e6-9a9d-0efacee4a189","name":"itemCount","value":"={{ $input.all().length }}","type":"number"},{"id":"81dfc447-5947-4bd0-8679-7a65bb6cef03","name":"status","value":"completed","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5805,400],"id":"4de63035-d0b5-470d-8584-7fb00d8cddab","name":"Summarize Run Stats"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Request Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[6129,400],"id":"74beb800-de7d-4040-a54c-1a3c656dfed3","name":"Append Audit Row (Google Sheets)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#ai-ops","cachedResultName":"#ai-ops"},"text":"=✅ Distill long emails with Google Sheets and Discord at scale — run completed at {{ $now.toFormat('HH:mm') }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[6453,400],"id":"366f0f2d-eaa0-47d5-99cf-7647cf168d9e","name":"Send Summary to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"8957fad4-55cb-4617-b151-ca3a4a8de021","name":"failedNode","value":"={{ $json.error?.node?.name || 'unknown' }}","type":"string"},{"id":"63bf361f-bf01-4b32-aa6e-9b157c794b94","name":"errorMessage","value":"={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}","type":"string"},{"id":"42ac7888-9d3b-4d49-9c98-3760d0829400","name":"workflow","value":"={{ $workflow.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5805,1420],"id":"13cd9a56-dc00-4e2a-b6b9-c065e95df804","name":"Capture Failure Context"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#ai-ops","cachedResultName":"#ai-ops"},"text":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[6129,1420],"id":"24ad64b4-6902-4113-93f9-cae6b55863b0","name":"Escalate Failure to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Request Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[6453,1420],"id":"b7d72500-6051-42c7-b4b9-cb569cbdc91d","name":"Park in Dead-Letter Queue","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"content":"### Receive Inbound Webhook\n\nEntry point: listens for POST calls on `/wf01835-request`. Use the TEST url while building, switch callers to the PRODUCTION url after publishing.\n\nNext: Collect Raw Text","width":280,"height":232,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-330,520],"id":"71d22566-17cc-7ef9-79a0-c7c2bcb0327f","name":"Note: Receive Inbound Webhook"},{"parameters":{"content":"### Collect Raw Text\n\nShapes the item: writes `content`. Keeps the schema explicit between stages.\n\nNext: Extract Structured Fields","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6,520],"id":"6b4d4d8e-4756-73c0-d6f1-519ea7af4e04","name":"Note: Collect Raw Text"},{"parameters":{"content":"### Extract Structured Fields\n\nPulls structured fields (requestId, query, context) out of free text using a strict extraction prompt.\n\nPorts: ①→ All Required Fields Found? · ②→ Capture Failure Context\n\n⚠ failures exit via the error rail","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[318,520],"id":"595abf46-0b9e-587c-667c-e52c56c86d45","name":"Note: Extract Structured Fields"},{"parameters":{"content":"### OpenAI Chat Model\n\nChat model powering the AI step (model: `gpt-4o-mini`). Swap providers here without rewiring.\n\nFeeds **Extract Structured Fields** as `languageModel`\n\n🔑 OpenAI API key","width":280,"height":232,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[561,1090],"id":"02b452f1-137d-3393-3e1b-83e19e195ea6","name":"Note: OpenAI Chat Model"},{"parameters":{"content":"### All Required Fields Found?\n\nTwo-way gate on `={{ $json.output?.requestId }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Upsert into Google Sheets · ②→ Queue for Manual Review","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[885,520],"id":"08118709-6f5b-d330-39c7-3dd2b7c21ad7","name":"Note: All Required Fields Found?"},{"parameters":{"content":"### Upsert into Google Sheets\n\ngoogleSheets — `appendOrUpdate` operation against the connected account.\n\nPorts: ①→ Merge Review Paths · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1209,280],"id":"6283b4a5-d4f7-ac7c-4a2f-e2bdb3c82db5","name":"Note: Upsert into Google Sheets"},{"parameters":{"content":"### Queue for Manual Review\n\ndiscord — `action` operation against the connected account.\n\nPorts: ①→ Merge Review Paths · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Discord webhook URL","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1533,880],"id":"20b40350-1995-cf69-c6b8-adb86ca7ad23","name":"Note: Queue for Manual Review"},{"parameters":{"content":"### Merge Review Paths\n\nRejoins 2 branches into one stream (mode: append) so downstream logic runs once.\n\nNext: Enrich with Reference Data","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2181,520],"id":"7e0cb4dc-6da8-48fd-2a90-97ff2662918b","name":"Note: Merge Review Paths"},{"parameters":{"content":"### Enrich with Reference Data\n\nGET https://enrichment.example.com/v2/lookup — retries 3× with backoff on failure.\n\nPorts: ①→ Fold In Enrichment Fields · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3153,520],"id":"f6efe0d1-5dfa-61fc-0708-00b0b0fba108","name":"Note: Enrich with Reference Data"},{"parameters":{"content":"### Fold In Enrichment Fields\n\nShapes the item: writes `enrichedAt`, `enrichmentSource`. Keeps the schema explicit between stages.\n\nNext: Stamp Completion Time","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3477,520],"id":"fce4525e-129b-41aa-12a6-d9c09de782e6","name":"Note: Fold In Enrichment Fields"},{"parameters":{"content":"### Stamp Completion Time\n\nStamps `completedAt` with the current time for auditing.\n\nNext: Persist Run Metadata","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3801,520],"id":"afe4ae1e-af56-0df8-45cb-690c1338445b","name":"Note: Stamp Completion Time"},{"parameters":{"content":"### Persist Run Metadata\n\nSaves key fields onto the execution record — searchable later in n8n's execution list.\n\nNext: Serialize Run Output (CSV)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4125,520],"id":"c2c9e123-310c-2bcd-da00-56b211e82c37","name":"Note: Persist Run Metadata"},{"parameters":{"content":"### Serialize Run Output (CSV)\n\nSerializes items to a CSV binary file.\n\nNext: Archive Row Snapshot","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4449,520],"id":"0b2c04c6-c6ae-ca42-6310-47cd2062cb83","name":"Note: Serialize Run Output (CSV)"},{"parameters":{"content":"### Archive Row Snapshot\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Fingerprint for Idempotency · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4773,520],"id":"9fb75ae5-c09d-5100-7b95-242b23444d72","name":"Note: Archive Row Snapshot"},{"parameters":{"content":"### Fingerprint for Idempotency\n\nCustom JavaScript: Build a stable idempotency key per request (djb2 hash, no deps)\n\nNext: Drop Already-Processed Items","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5097,520],"id":"932c7550-eea7-3f14-7e1a-0a66b864a1fb","name":"Note: Fingerprint for Idempotency"},{"parameters":{"content":"### Drop Already-Processed Items\n\nCross-execution dedupe: remembers keys it has processed before and drops repeats — the idempotency guard.\n\nNext: Summarize Run Stats","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5421,520],"id":"2cf888b9-00c0-da07-fc79-41d0e89c211d","name":"Note: Drop Already-Processed Items"},{"parameters":{"content":"### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Google Sheets)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5745,520],"id":"c47735e7-4eb5-b76c-bea0-dde07c54b1ca","name":"Note: Summarize Run Stats"},{"parameters":{"content":"### Append Audit Row (Google Sheets)\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6069,520],"id":"e02afdb7-33c5-868e-cefb-735b8030d7f8","name":"Note: Append Audit Row (Google Sheets)"},{"parameters":{"content":"### Send Summary to Slack\n\nslack — `action` operation against the connected account.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6393,520],"id":"a39e5349-bd7c-eaa7-cb76-7584f51d07be","name":"Note: Send Summary to Slack"},{"parameters":{"content":"### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Slack","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5745,1540],"id":"d07020e1-a6f9-e45c-c18c-c6d961292e8f","name":"Note: Capture Failure Context"},{"parameters":{"content":"### Escalate Failure to Slack\n\nslack — `action` operation against the connected account.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Slack OAuth2","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6069,1540],"id":"05ef2e9f-de63-a6f8-700c-76aeb684fcc3","name":"Note: Escalate Failure to Slack"},{"parameters":{"content":"### Park in Dead-Letter Queue\n\ngoogleSheets — `append` operation against the connected account.\n\n↻ retries 3×/2s · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6393,1540],"id":"5c80d6e2-6ca3-ffc9-c2a7-33a46510e373","name":"Note: Park in Dead-Letter Queue"},{"parameters":{"content":"# Distill long emails with Google Sheets and Discord at scale\n\n**Pattern:** AI Summarize & Route · **Level:** Production · **Trigger:** Webhook\n\n## What it does\nDistill long emails with Google Sheets and Discord at scale. It fires the moment an external system calls its webhook.\n\n## Why it exists\nManual conversational ai is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nReceive Inbound Webhook → Collect Raw Text → Extract Structured Fields → All Required Fields Found? → Upsert into Google Sheets → Merge Review Paths → Enrich with Reference Data → …\n\n## Use it for\n- Teams that want to ai summarize & route without manual effort\n- Anyone automating conversational ai in ai\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Removes copy-paste errors\n- Improves response time\n- Saves hours of manual work each week\n\n## Before first run\nConnect credentials: API key / bearer for the target API; Discord webhook URL; Google OAuth2 / service account; OpenAI API key; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.","width":480,"height":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,80],"id":"35485f87-31d8-c29e-18ad-a13e604aa682","name":"📘 Workflow Overview"},{"parameters":{"content":"## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.","width":360,"height":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-230,-260],"id":"47a7fef3-79fe-15b0-9a84-30750390036f","name":"🛟 Error handling & retries"},{"parameters":{"content":"## 🔐 Security\n\nNever trust inbound payloads: the webhook path is unguessable. Add header auth or IP allow-listing for defense in depth. Secrets live in n8n credentials — never in node parameters.","width":360,"height":260,"color":1},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[190,-260],"id":"5ded6658-e8c8-0c06-5609-199837446450","name":"🔐 Security"},{"parameters":{"content":"## 🤖 AI cluster\n\nPurple nodes form one AI unit: the root node orchestrates, sub-nodes plug in via typed ports (model / memory / tools / parser). Swap the chat model without rewiring anything else. Costs scale with tokens — keep prompts lean and cap iterations.","width":360,"height":260,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[610,-260],"id":"58968ede-c9b7-8193-b1c4-bbcd2a0398c6","name":"🤖 AI cluster"},{"parameters":{"content":"## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your conversational ai process. Every node card explains its role — safe to extend at any marked branch.","width":360,"height":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1030,-260],"id":"045cae37-4c07-ea81-af9b-011512444f07","name":"🛠 Customize me"}],"connections":{"Receive Inbound Webhook":{"main":[[{"node":"Collect Raw Text","type":"main","index":0}]]},"Collect Raw Text":{"main":[[{"node":"Extract Structured Fields","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Extract Structured Fields","type":"ai_languageModel","index":0}]]},"Extract Structured Fields":{"main":[[{"node":"All Required Fields Found?","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"All Required Fields Found?":{"main":[[{"node":"Upsert into Google Sheets","type":"main","index":0}],[{"node":"Queue for Manual Review","type":"main","index":0}]]},"Upsert into Google Sheets":{"main":[[{"node":"Merge Review Paths","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Queue for Manual Review":{"main":[[{"node":"Merge Review Paths","type":"main","index":1}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Merge Review Paths":{"main":[[{"node":"Enrich with Reference Data","type":"main","index":0}]]},"Enrich with Reference Data":{"main":[[{"node":"Fold In Enrichment Fields","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Fold In Enrichment Fields":{"main":[[{"node":"Stamp Completion Time","type":"main","index":0}]]},"Stamp Completion Time":{"main":[[{"node":"Persist Run Metadata","type":"main","index":0}]]},"Persist Run Metadata":{"main":[[{"node":"Serialize Run Output (CSV)","type":"main","index":0}]]},"Serialize Run Output (CSV)":{"main":[[{"node":"Archive Row Snapshot","type":"main","index":0}]]},"Archive Row Snapshot":{"main":[[{"node":"Fingerprint for Idempotency","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Fingerprint for Idempotency":{"main":[[{"node":"Drop Already-Processed Items","type":"main","index":0}]]},"Drop Already-Processed Items":{"main":[[{"node":"Summarize Run Stats","type":"main","index":0}]]},"Summarize Run Stats":{"main":[[{"node":"Append Audit Row (Google Sheets)","type":"main","index":0}]]},"Append Audit Row (Google Sheets)":{"main":[[{"node":"Send Summary to Slack","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Capture Failure Context":{"main":[[{"node":"Escalate Failure to Slack","type":"main","index":0}]]},"Escalate Failure to Slack":{"main":[[{"node":"Park in Dead-Letter Queue","type":"main","index":0}]]},"Send Summary to Slack":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"meta":{"templateCredsSetupCompleted":false},"tags":[],"pinData":{},"versionId":"d9b9b2fb-2ecf-4c05-bf8a-2897efd0d61f","id":"FDX01835"}