product-files/workflows/Workflow Automation/Integrations/Expert/06330_Ingest webhook payloads with Google Sheets at scale.json
{
  "name": "Ingest webhook payloads with Google Sheets at scale",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf06330-job",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        400
      ],
      "id": "f5c44d92-ffbf-45d1-9741-87f11d194b21",
      "name": "Receive Inbound Webhook",
      "webhookId": "fd6b8fde-6582-4e90-8e1f-ffc1bb1b10bc"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f38781e7-cba9-487d-8c77-dca1d7c935f7",
              "leftValue": "={{ $json.jobId || $json.type }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        40,
        400
      ],
      "id": "2251f86a-799a-4a0f-9488-e3ea1af5c433",
      "name": "Keep Valid Jobs"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "24e121e9-f845-4ef2-a336-e0f8d012ed7f",
                    "leftValue": "={{ $json.kind || $json.type || 'standard' }}",
                    "rightValue": "standard",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "standard"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "30398737-265a-426b-a9cf-088d0107bfbd",
                    "leftValue": "={{ $json.kind || $json.type || 'standard' }}",
                    "rightValue": "priority",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "priority"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        280,
        400
      ],
      "id": "d554d75b-39d9-4968-9997-eacc29f5196a",
      "name": "Route by Work Type"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Job Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "jobId"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        520,
        310
      ],
      "id": "e2053cc9-b3ca-4c57-b6db-fa8e1946a916",
      "name": "Process 'standard' → Google Sheets",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#automation",
          "cachedResultName": "#automation"
        },
        "text": "=🚀 Priority job handled: {{ $json.jobId }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        760,
        480
      ],
      "id": "e677382f-840d-471b-98f0-db13151268a6",
      "name": "Fast-Track 'priority' + Alert",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Job Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1000,
        650
      ],
      "id": "82e99164-817a-4b7f-8b70-2e6650f11eb9",
      "name": "Hold Unknown Types (DLQ)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1480,
        400
      ],
      "id": "644a6d58-1709-4b82-9e57-f996b40bf543",
      "name": "Merge Routed Work"
    },
    {
      "parameters": {
        "operation": "getCurrentDate",
        "outputFieldName": "processedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2200,
        400
      ],
      "id": "6bebde5a-fa91-424f-a660-3ca7c4f4651e",
      "name": "Stamp Processing Time"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "jobId",
              "value": "={{ $json.jobId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        2440,
        400
      ],
      "id": "f2d172fe-ca7e-4d64-93e7-3271d576320f",
      "name": "Save Execution Metadata"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ea2f97c-b615-45a3-8c7e-03323237d069",
              "name": "pipeline",
              "value": "Integrations",
              "type": "string"
            },
            {
              "id": "476d7e2a-ac57-4ad3-bfea-d089585a6848",
              "name": "version",
              "value": "2.0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2680,
        400
      ],
      "id": "bf40de30-2c30-4007-9f29-831c79d2663b",
      "name": "Tag Pipeline Metadata"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#automation",
          "cachedResultName": "#automation"
        },
        "text": "=✅ Ingest webhook payloads with Google Sheets at scale — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2920,
        400
      ],
      "id": "d62097dc-e109-4cb2-9478-8eea7faf07fb",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "008e870c-7ead-45ae-969a-f4ee2757c27a",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "fa8a6003-4c61-42ae-bf67-e83cbcc2c1dc",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "1ae699d9-810c-4014-9916-b6174b5eae7f",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2440,
        740
      ],
      "id": "21fd734e-2f07-46f5-853a-24c9b9a010d9",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#automation",
          "cachedResultName": "#automation"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2680,
        740
      ],
      "id": "104262f0-49dc-4122-9572-d8019993de1e",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Ingest webhook payloads with Google Sheets at scale\n\n**Pattern:** Webhook Pipeline  \n**Trigger:** Webhook  \n**Level:** Core\n\nProcesses jobs for integrations — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        50
      ],
      "id": "f557b021-820e-40a7-a182-04b0fd041671",
      "name": "Overview"
    }
  ],
  "connections": {
    "Receive Inbound Webhook": {
      "main": [
        [
          {
            "node": "Keep Valid Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Valid Jobs": {
      "main": [
        [
          {
            "node": "Route by Work Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Work Type": {
      "main": [
        [
          {
            "node": "Process 'standard' → Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fast-Track 'priority' + Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hold Unknown Types (DLQ)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process 'standard' → Google Sheets": {
      "main": [
        [
          {
            "node": "Merge Routed Work",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fast-Track 'priority' + Alert": {
      "main": [
        [
          {
            "node": "Merge Routed Work",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hold Unknown Types (DLQ)": {
      "main": [
        [
          {
            "node": "Merge Routed Work",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Routed Work": {
      "main": [
        [
          {
            "node": "Stamp Processing Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Processing Time": {
      "main": [
        [
          {
            "node": "Save Execution Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Execution Metadata": {
      "main": [
        [
          {
            "node": "Tag Pipeline Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Pipeline Metadata": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "72891d92-2f3e-48c1-b385-a9c7e1a087ed",
  "id": "FDX06330"
}