product-files/workflows/Lead Generation/Routing/Expert/04164_Route demo requests with HubSpot and Slack automatically.json
{
  "name": "Route demo requests with HubSpot and Slack automatically",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Submit your details",
        "formDescription": "Fill in the fields below to get started.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "fieldType": "text",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Message",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "id": "78350452-088f-42d2-9253-bf1a624b2e6a",
      "name": "On Form Submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        320,
        300
      ],
      "webhookId": "1098183c-0fa1-4064-bf1e-6ef549e3e23a"
    },
    {
      "parameters": {
        "jsCode": "// Normalize and tag each item\nreturn $input.all().map(i => {\n  i.json.normalized = true;\n  i.json.processedAt = new Date().toISOString();\n  return i;\n});"
      },
      "id": "dae1b890-f7fe-469a-97c8-82de34d3d853",
      "name": "Transform Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cb716af5-7038-4fe5-982b-ccb0886600ea",
              "leftValue": "={{ $json.status }}",
              "rightValue": "open",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "0cb3fe8a-9bf2-4eae-844c-12b5011c5d90",
      "name": "Route on Condition",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "upsert",
        "email": "={{ $json.email }}",
        "additionalFields": {}
      },
      "id": "5cb6994b-08d3-4060-b3ea-dd709f154bb0",
      "name": "Upsert HubSpot Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        1040,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "general",
          "mode": "name"
        },
        "text": "={{ $json.summary || 'New event' }}",
        "otherOptions": {}
      },
      "id": "cb254b5e-cf06-45b6-a2d7-c5364b986dc0",
      "name": "Send Slack Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1280,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {},
      "id": "b0385454-7459-4ff5-8ebf-e67a0d9f5469",
      "name": "Skip (No Action)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        500
      ]
    },
    {
      "parameters": {
        "content": "## Route demo requests with HubSpot and Slack automatically\n\n**Pattern:** Lead Capture & Routing\n**Trigger:** Form\n**Integrations:** HubSpot, Slack\n\nImport, add your credentials, then adjust parameters. Original FlowDex template.",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "24ba1cab-c27f-4e6d-af62-fda3ad6ac0e0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1320,
        80
      ]
    }
  ],
  "connections": {
    "On Form Submission": {
      "main": [
        [
          {
            "node": "Transform Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Items": {
      "main": [
        [
          {
            "node": "Route on Condition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route on Condition": {
      "main": [
        [
          {
            "node": "Upsert HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip (No Action)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert HubSpot Contact": {
      "main": [
        [
          {
            "node": "Send Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "e8bf7a6b-3409-486a-9626-7976f945a712",
  "id": "FDX04164"
}