product-files/workflows/Chatbots & Conversational AI/Support Bots/Intermediate/07908_Automate an assistant workflow with Discord in real time for Support Bots.json
{
  "name": "Automate an assistant workflow with Discord in real time for Support Bots",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf07908-conversation",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        400
      ],
      "id": "5015ae07-1c19-436a-ba89-6d5fb362d3e1",
      "name": "Receive Inbound Webhook",
      "webhookId": "609a1b3d-edfc-44e2-a42a-e6f4b7ab2617"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0918e306-78c2-4a19-a9ae-e5b712ebed98",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        40,
        400
      ],
      "id": "3b40e33c-f878-4506-b0a0-7120d9419346",
      "name": "Required Fields Present?"
    },
    {
      "parameters": {
        "errorType": "errorMessage",
        "errorMessage": "Missing required field 'message' on incoming conversation."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        40,
        570
      ],
      "id": "50cc1b97-2493-4c44-aae5-71deadb854a6",
      "name": "Abort — Malformed Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || $json.message || JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are a support bots specialist for the chatbots & conversational ai team. Use the attached tools to look up real data before answering — never invent conversation details. Keep answers under 150 words, cite which tool you used, and escalate anything you cannot verify.",
          "maxIterations": 8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        280,
        400
      ],
      "id": "4681459d-219e-4975-8fe9-491744a0f866",
      "name": "Reason & Act (AI Agent)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        460,
        590
      ],
      "id": "05f923fc-6917-48dd-8a0a-3c55b6d48e6d",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "toolDescription": "Fetch live conversation data from the internal REST API by id or query.",
        "url": "https://api.example.com/v1/conversations",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        460,
        730
      ],
      "id": "4ef80675-c01b-4f59-857a-d5a63589f6d7",
      "name": "Lookup API Data"
    },
    {
      "parameters": {
        "name": "score_helper",
        "description": "Compute a quality score for a conversation record.",
        "jsCode": "const j = JSON.parse(query);\nreturn String((j.signals || []).length * 10);"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        630,
        730
      ],
      "id": "4d933516-5a64-479b-906b-b5e67477e47b",
      "name": "Custom Logic Tool"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        970,
        730
      ],
      "id": "e0831ff6-cc8d-4ebd-bd51-79a5c52d5b55",
      "name": "Search Reference Wiki"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        1480,
        730
      ],
      "id": "f388a200-e09c-4fd0-a553-cd6c58daf86f",
      "name": "Think It Through"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || $execution.id }}",
        "contextWindowLength": 12
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1300,
        590
      ],
      "id": "f5635dbd-e1bf-4e32-b666-01471d214e3e",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfcda619-cf09-4cd8-b916-66249f29b6b2",
              "name": "answer",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "820bef4d-5dab-42c3-a3e0-d6416da8c1cd",
              "name": "confidence",
              "value": "={{ $json.output && $json.output.length > 40 ? 'high' : 'low' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1720,
        400
      ],
      "id": "4c42bd6c-8630-488f-87e7-a3eca0691219",
      "name": "Shape Agent Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b62eeb2d-6d5b-4d0e-aef9-f864a6739d64",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1960,
        400
      ],
      "id": "942e3e74-508a-458f-b322-f7526006bfd0",
      "name": "Confident Enough?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Conversation Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2200,
        320
      ],
      "id": "8f5652a8-ac04-4b55-83b4-ab57a6178f0c",
      "name": "Deliver Answer + Log to Google Sheets",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=🙋 Low-confidence answer needs review: {{ $json.answer }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2440,
        520
      ],
      "id": "db3c4217-7e60-4f2e-ae0b-05a1308b5697",
      "name": "Escalate to Human Queue",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2920,
        400
      ],
      "id": "7f8da586-3ffa-4766-8da0-928454da75c7",
      "name": "Join Outcomes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe46e02d-a80f-4bd8-a9c5-3e97b89ecffc",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "997965b5-6749-4746-8767-17d92a44b5ff",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "82b1a2aa-6b44-4204-b3bc-1aa35e313e02",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3640,
        400
      ],
      "id": "974414e2-1ba1-43c4-a0af-06d72ae82241",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Conversation Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3880,
        400
      ],
      "id": "cd208903-5a36-4188-976d-f9bec289f8c0",
      "name": "Append Audit Row (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=✅ Automate an assistant workflow with Discord in real time for Support B — run completed at {{ $now.toFormat('HH:mm') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        4120,
        400
      ],
      "id": "0343c1ec-805e-4d75-92bc-6c9f7a0b7b33",
      "name": "Send Summary to Discord",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "becc2810-baf2-45c1-bc91-17315784983c",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "6ce19259-d67f-4499-b676-01eef0551352",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "83b120a0-737d-4d37-a808-b4c8fc0b6c83",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3640,
        740
      ],
      "id": "1e8a405c-e6e2-4401-80b9-79bd3eefed05",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#support",
          "cachedResultName": "#support"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3880,
        740
      ],
      "id": "8c4b44ac-4673-408c-8b4b-8e7a20e9d9b7",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Automate an assistant workflow with Discord in real time for Support Bots\n\n**Pattern:** AI Agent  \n**Trigger:** Webhook  \n**Level:** Advanced\n\nProcesses conversations for support bots — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        60
      ],
      "id": "35bfe33f-693d-4a58-a67c-27cc570dc8c2",
      "name": "Overview"
    }
  ],
  "connections": {
    "Receive Inbound Webhook": {
      "main": [
        [
          {
            "node": "Required Fields Present?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Required Fields Present?": {
      "main": [
        [
          {
            "node": "Reason & Act (AI Agent)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Abort — Malformed Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Reason & Act (AI Agent)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Lookup API Data": {
      "ai_tool": [
        [
          {
            "node": "Reason & Act (AI Agent)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Custom Logic Tool": {
      "ai_tool": [
        [
          {
            "node": "Reason & Act (AI Agent)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Reference Wiki": {
      "ai_tool": [
        [
          {
            "node": "Reason & Act (AI Agent)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think It Through": {
      "ai_tool": [
        [
          {
            "node": "Reason & Act (AI Agent)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Reason & Act (AI Agent)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Reason & Act (AI Agent)": {
      "main": [
        [
          {
            "node": "Shape Agent Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape Agent Output": {
      "main": [
        [
          {
            "node": "Confident Enough?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confident Enough?": {
      "main": [
        [
          {
            "node": "Deliver Answer + Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate to Human Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deliver Answer + Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Join Outcomes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate to Human Queue": {
      "main": [
        [
          {
            "node": "Join Outcomes",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join Outcomes": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (Google Sheets)": {
      "main": [
        [
          {
            "node": "Send Summary to Discord",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Discord": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "8ec92f8b-80c8-43b4-9c9e-6251c2053b75",
  "id": "FDX07908"
}