product-files/workflows/Chatbots & Conversational AI/Support Bots/Intermediate/07909_Handle chat messages for Support Bots (07909).json
{
  "name": "Handle chat messages for Support Bots (07909)",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -270,
        400
      ],
      "id": "23ec8733-5dda-41ea-8d56-d57809518d12",
      "name": "When Chat Message Received",
      "webhookId": "9fc2bde0-ad84-4fd3-9d59-0f8ba74b135c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2f51a01c-5a9c-4e98-bf58-93219df7fda5",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        54,
        400
      ],
      "id": "0d381034-578e-438c-ba17-208e345f1a8a",
      "name": "Required Fields Present?"
    },
    {
      "parameters": {
        "errorType": "errorMessage",
        "errorMessage": "Missing required field 'message' on incoming conversation."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        54,
        910
      ],
      "id": "7a01f73e-d810-42de-8dc6-c308185e5f96",
      "name": "Abort — Malformed Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d2bf151-46ae-4679-92b9-0874fc967584",
              "name": "assignment",
              "value": "={{ $json.chatInput || JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "4ebc1c97-98f6-4898-8e86-160e388b3d68",
              "name": "deadline",
              "value": "={{ $now.plus({minutes: 5}).toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        378,
        400
      ],
      "id": "35984dc5-948a-4275-a1ce-4a613f79ceb7",
      "name": "Frame the Assignment"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.assignment }}",
        "options": {
          "systemMessage": "You are the coordinator for a support bots pipeline. Break the request into sub-tasks, delegate each to the matching specialist tool, then merge results into one coherent answer. Never call the same specialist twice for one request.",
          "maxIterations": 10
        },
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        702,
        400
      ],
      "id": "fad223a3-04d5-4738-8c2a-d9bde835fc86",
      "name": "Coordinator Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        945,
        970
      ],
      "id": "9b14c08f-7d88-4b83-9ec1-774babc5df8c",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "description": "Delegate research sub-tasks for a conversation to the Research specialist workflow.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "lib: Research Specialist"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        864,
        1390
      ],
      "id": "fda041a5-c1a0-4803-bc4c-35ac3f3caef2",
      "name": "Research Specialist (Sub-workflow)"
    },
    {
      "parameters": {
        "description": "Delegate draft sub-tasks for a conversation to the Draft specialist workflow.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "lib: Draft Specialist"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1120,
        1390
      ],
      "id": "70de2ef1-2b5a-43f3-8322-f06b523eb2db",
      "name": "Draft Specialist (Sub-workflow)"
    },
    {
      "parameters": {
        "description": "Delegate review sub-tasks for a conversation to the Review specialist workflow.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "lib: Review Specialist"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1552,
        1390
      ],
      "id": "54432379-2887-49d3-9800-3fe0f37b92e9",
      "name": "Review Specialist (Sub-workflow)"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary\": \"string\",\n  \"sections\": [\"string\"],\n  \"status\": \"complete\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1714,
        970
      ],
      "id": "310de5be-c036-435f-ae00-132f869525b3",
      "name": "Enforce Result Schema"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.sections",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2038,
        400
      ],
      "id": "a3426796-5109-46e3-be3a-7bfaec2316b8",
      "name": "Unpack Sections"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Conversation Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2362,
        400
      ],
      "id": "4888bb8e-c4fe-4ae2-8e08-d2759d6112cd",
      "name": "Persist Deliverable to Google Sheets",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "csv",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2686,
        400
      ],
      "id": "fe6ea1c3-a7c4-48a4-b961-1f28dce18ae3",
      "name": "Serialize Run Output (CSV)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Conversation Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3010,
        400
      ],
      "id": "06bdbfc7-b73b-4469-991f-7c3b74e03327",
      "name": "Archive Row Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getCurrentDate",
        "outputFieldName": "completedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3334,
        400
      ],
      "id": "b9c3980f-ebd3-468f-acd8-bdae565e181d",
      "name": "Stamp Completion Time"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "runId",
              "value": "={{ $execution.id }}"
            },
            {
              "key": "itemCount",
              "value": "={{ $items().length }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        3658,
        400
      ],
      "id": "4fff2720-9628-4d28-be32-a7eb0d46ff54",
      "name": "Persist Run Metadata"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c37ff684-cc9e-4761-9750-b99a3388153d",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "e86b689e-02ac-40cf-a827-12141a154613",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "70e58469-51c5-4831-a9b8-5e3546ede5a9",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3982,
        400
      ],
      "id": "adc25c3a-e309-41ca-8fc4-787a86ed3b6d",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Conversation Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4306,
        400
      ],
      "id": "e9f0a699-476e-4302-a405-3aa1c8282ea1",
      "name": "Append Audit Row (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#support",
          "cachedResultName": "#support"
        },
        "text": "=✅ Handle chat messages for Support Bots (07909) — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        4630,
        400
      ],
      "id": "4d2de164-352a-448f-9182-d566e0701d6b",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e8b3e82-92b0-41a0-a727-a8db8fe492ea",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "6b497771-9b84-4379-89a3-4b0a00b135dc",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "85bdc49b-0d29-4e80-8992-c659ad5db926",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3982,
        1420
      ],
      "id": "578d6531-4182-44c9-b444-f74671d020fd",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#support",
          "cachedResultName": "#support"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        4306,
        1420
      ],
      "id": "84744702-bc46-4a5f-aa2b-b69c32816629",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Conversation Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4630,
        1420
      ],
      "id": "9ae7f7df-4498-4577-b829-2cb25f60c59a",
      "name": "Park in Dead-Letter Queue",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "### When Chat Message Received\n\nOpens a hosted chat session; every user message starts an execution with `chatInput` + `sessionId`.\n\nNext: Required Fields Present?",
        "width": 280,
        "height": 232,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -330,
        520
      ],
      "id": "9070717d-d39a-6120-fc9e-59720c9fbd91",
      "name": "Note: When Chat Message Received"
    },
    {
      "parameters": {
        "content": "### Required Fields Present?\n\nTwo-way gate on `={{ $json.message }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Frame the Assignment · ②→ Abort — Malformed Input",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6,
        520
      ],
      "id": "ac4548fa-7e48-6315-5d6a-408527feffa3",
      "name": "Note: Required Fields Present?"
    },
    {
      "parameters": {
        "content": "### Abort — Malformed Input\n\nFails fast with a clear message; triggers the error workflow instead of processing bad data.",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6,
        1030
      ],
      "id": "58687b22-8323-5539-a683-c4c1029e06db",
      "name": "Note: Abort — Malformed Input"
    },
    {
      "parameters": {
        "content": "### Frame the Assignment\n\nShapes the item: writes `assignment`, `deadline`. Keeps the schema explicit between stages.\n\nNext: Coordinator Agent",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        318,
        520
      ],
      "id": "cf6adc2d-77a0-b4e5-9a47-154188996666",
      "name": "Note: Frame the Assignment"
    },
    {
      "parameters": {
        "content": "### Coordinator Agent\n\nThe AI brain: reads the input, decides which attached tools to call (and in what order), then composes the answer.\n\nPorts: ①→ Unpack Sections · ②→ Capture Failure Context\n\n⚠ failures exit via the error rail",
        "width": 280,
        "height": 232,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        642,
        520
      ],
      "id": "00f7539c-06cf-9239-8361-0291e9fa1e68",
      "name": "Note: Coordinator Agent"
    },
    {
      "parameters": {
        "content": "### Groq Chat Model\n\nChat model powering the AI step (model: `llama-3.3-70b-versatile`). Swap providers here without rewiring.\n\nFeeds **Coordinator Agent** as `languageModel`\n\n🔑 Groq API key",
        "width": 280,
        "height": 232,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        885,
        1090
      ],
      "id": "c2d6666f-0e8c-415c-69cb-4f734431dfae",
      "name": "Note: Groq Chat Model"
    },
    {
      "parameters": {
        "content": "### Research Specialist (Sub-workflow)\n\nSpecialist sub-workflow exposed as a callable tool — one narrow capability per tool.\n\nFeeds **Coordinator Agent** as `tool`",
        "width": 280,
        "height": 232,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        804,
        1510
      ],
      "id": "5804012b-da40-72dc-5d2f-883c09c373dc",
      "name": "Note: Research Specialist (Sub-workflow)"
    },
    {
      "parameters": {
        "content": "### Draft Specialist (Sub-workflow)\n\nSpecialist sub-workflow exposed as a callable tool — one narrow capability per tool.\n\nFeeds **Coordinator Agent** as `tool`",
        "width": 280,
        "height": 232,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1060,
        1750
      ],
      "id": "227936d1-6964-75b0-d25b-34e1bb4f8e79",
      "name": "Note: Draft Specialist (Sub-workflow)"
    },
    {
      "parameters": {
        "content": "### Review Specialist (Sub-workflow)\n\nSpecialist sub-workflow exposed as a callable tool — one narrow capability per tool.\n\nFeeds **Coordinator Agent** as `tool`",
        "width": 280,
        "height": 232,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1492,
        1510
      ],
      "id": "20cff987-70d8-5231-71a0-1bdfa1223cff",
      "name": "Note: Review Specialist (Sub-workflow)"
    },
    {
      "parameters": {
        "content": "### Enforce Result Schema\n\nForces the agent's answer into the JSON schema below — downstream nodes rely on this exact shape.\n\nFeeds **Coordinator Agent** as `outputParser`",
        "width": 280,
        "height": 232,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1654,
        1090
      ],
      "id": "43592de6-4fb2-17e2-de71-ef90ded867ca",
      "name": "Note: Enforce Result Schema"
    },
    {
      "parameters": {
        "content": "### Unpack Sections\n\nExplodes the `output.sections` array into one item per element.\n\nNext: Persist Deliverable to Google Sheets",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1978,
        520
      ],
      "id": "432b9534-8ce6-5000-762e-04d7f00121d7",
      "name": "Note: Unpack Sections"
    },
    {
      "parameters": {
        "content": "### Persist Deliverable to Google Sheets\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Serialize Run Output (CSV) · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2302,
        520
      ],
      "id": "28c9f492-294e-3fd1-de08-b8eeaede437d",
      "name": "Note: Persist Deliverable to Google Sheets"
    },
    {
      "parameters": {
        "content": "### Serialize Run Output (CSV)\n\nSerializes items to a CSV binary file.\n\nNext: Archive Row Snapshot",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2626,
        520
      ],
      "id": "2ae75e52-fb31-e8be-8d76-9189b3eaa41b",
      "name": "Note: Serialize Run Output (CSV)"
    },
    {
      "parameters": {
        "content": "### Archive Row Snapshot\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Stamp Completion Time · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2950,
        520
      ],
      "id": "b774ee33-8680-ed2b-3af5-cb539c70aa9b",
      "name": "Note: Archive Row Snapshot"
    },
    {
      "parameters": {
        "content": "### Stamp Completion Time\n\nStamps `completedAt` with the current time for auditing.\n\nNext: Persist Run Metadata",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3274,
        520
      ],
      "id": "9804f7d4-28ba-282a-a8ef-8da6c4df81fd",
      "name": "Note: Stamp Completion Time"
    },
    {
      "parameters": {
        "content": "### Persist Run Metadata\n\nSaves key fields onto the execution record — searchable later in n8n's execution list.\n\nNext: Summarize Run Stats",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3598,
        520
      ],
      "id": "342d0be1-ea08-a457-a175-28bc443494e0",
      "name": "Note: Persist Run Metadata"
    },
    {
      "parameters": {
        "content": "### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Google Sheets)",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3922,
        520
      ],
      "id": "beb1f5c7-ddbb-da34-a444-94dc44a34f87",
      "name": "Note: Summarize Run Stats"
    },
    {
      "parameters": {
        "content": "### Append Audit Row (Google Sheets)\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4246,
        520
      ],
      "id": "f814998d-9d1a-6061-b10e-8473152140aa",
      "name": "Note: Append Audit Row (Google Sheets)"
    },
    {
      "parameters": {
        "content": "### Send Summary to Slack\n\nslack — `action` operation against the connected account.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2",
        "width": 280,
        "height": 232,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4570,
        520
      ],
      "id": "c9b4ca5b-630a-3779-c2c9-1db2acf10605",
      "name": "Note: Send Summary to Slack"
    },
    {
      "parameters": {
        "content": "### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Slack",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3922,
        1540
      ],
      "id": "8864a7d0-6399-8321-cf0a-1985d70e85cc",
      "name": "Note: Capture Failure Context"
    },
    {
      "parameters": {
        "content": "### Escalate Failure to Slack\n\nslack — `action` operation against the connected account.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Slack OAuth2",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4246,
        1540
      ],
      "id": "35a9f520-3ca9-68c1-52be-600553811c2c",
      "name": "Note: Escalate Failure to Slack"
    },
    {
      "parameters": {
        "content": "### Park in Dead-Letter Queue\n\ngoogleSheets — `append` operation against the connected account.\n\n↻ retries 3×/2s · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4570,
        1540
      ],
      "id": "974c66c2-7bc4-0728-c9e1-97969322aa2c",
      "name": "Note: Park in Dead-Letter Queue"
    },
    {
      "parameters": {
        "content": "# Handle chat messages for Support Bots (07909)\n\n**Pattern:** Chatbot Responder · **Level:** Production · **Trigger:** Chat\n\n## What it does\nHandle chat messages for Support Bots (07909). It responds live to chat messages.\n\n## Why it exists\nManual support bots is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nWhen Chat Message Received → Required Fields Present? → Frame the Assignment → Coordinator Agent → Unpack Sections → Persist Deliverable to Google Sheets → Serialize Run Output (CSV) → …\n\n## Use it for\n- Teams that want to chatbot responder without manual effort\n- Anyone automating support bots in customer support\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Saves hours of manual work each week\n- Responds in seconds\n- Runs 24/7 in the background\n\n## Before first run\nConnect credentials: Google OAuth2 / service account; Groq API key; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.",
        "width": 480,
        "height": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -830,
        80
      ],
      "id": "35104a4f-b390-e56f-24fb-9b25a648497f",
      "name": "📘 Workflow Overview"
    },
    {
      "parameters": {
        "content": "## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.",
        "width": 360,
        "height": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -230,
        -20
      ],
      "id": "306d7b5c-841f-d101-004c-e04c5115476c",
      "name": "🛟 Error handling & retries"
    },
    {
      "parameters": {
        "content": "## 🤖 AI cluster\n\nPurple nodes form one AI unit: the root node orchestrates, sub-nodes plug in via typed ports (model / memory / tools / parser). Swap the chat model without rewiring anything else. Costs scale with tokens — keep prompts lean and cap iterations.",
        "width": 360,
        "height": 260,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        190,
        -20
      ],
      "id": "27099c4b-f508-95ff-c4c7-f0f5593695b0",
      "name": "🤖 AI cluster"
    },
    {
      "parameters": {
        "content": "## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your support bots process. Every node card explains its role — safe to extend at any marked branch.",
        "width": 360,
        "height": 260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        610,
        -20
      ],
      "id": "b51cc290-b390-f7b0-e76c-7621b1236920",
      "name": "🛠 Customize me"
    }
  ],
  "connections": {
    "When Chat Message Received": {
      "main": [
        [
          {
            "node": "Required Fields Present?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Required Fields Present?": {
      "main": [
        [
          {
            "node": "Frame the Assignment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Abort — Malformed Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Frame the Assignment": {
      "main": [
        [
          {
            "node": "Coordinator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Coordinator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Research Specialist (Sub-workflow)": {
      "ai_tool": [
        [
          {
            "node": "Coordinator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Draft Specialist (Sub-workflow)": {
      "ai_tool": [
        [
          {
            "node": "Coordinator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Review Specialist (Sub-workflow)": {
      "ai_tool": [
        [
          {
            "node": "Coordinator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enforce Result Schema": {
      "ai_outputParser": [
        [
          {
            "node": "Coordinator Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Coordinator Agent": {
      "main": [
        [
          {
            "node": "Unpack Sections",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unpack Sections": {
      "main": [
        [
          {
            "node": "Persist Deliverable to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Deliverable to Google Sheets": {
      "main": [
        [
          {
            "node": "Serialize Run Output (CSV)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serialize Run Output (CSV)": {
      "main": [
        [
          {
            "node": "Archive Row Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Row Snapshot": {
      "main": [
        [
          {
            "node": "Stamp Completion Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Completion Time": {
      "main": [
        [
          {
            "node": "Persist Run Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Run Metadata": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (Google Sheets)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Failure to Slack": {
      "main": [
        [
          {
            "node": "Park in Dead-Letter Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "57d2cbd3-23de-43b3-96a3-5e1ca23e472b",
  "id": "FDX07909"
}