product-files/workflows/CRM Automation/Enrichment/Advanced/08194_Qualify inbound leads with HubSpot and Gmail for your team.json
{"name":"Qualify inbound leads with HubSpot and Gmail for your team","nodes":[{"parameters":{"formTitle":"Qualify inbound leads with HubSpot and Gmail for your team","formFields":{"values":[{"fieldLabel":"Email","requiredField":true},{"fieldLabel":"Company","requiredField":false},{"fieldLabel":"Dealstage","requiredField":false}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-270,400],"id":"4145c355-9d4c-44d8-b6ec-ea262b3ade38","name":"New Contact Form Submission","webhookId":"c20690af-c0b8-4c7b-9fc4-6c4fee3124df"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93d911c0-7b99-4d31-8820-0c53d2491b63","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[54,400],"id":"48daff15-6a02-4b28-93bb-32984e002973","name":"Required Fields Present?"},{"parameters":{"errorType":"errorMessage","errorMessage":"Missing required field 'email' on incoming contact."},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[54,910],"id":"d3cabf45-fef2-4778-8ba7-907dc55b9a19","name":"Abort — Malformed Input"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"contactId","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[378,400],"id":"3f226832-1495-4ba6-88c4-30b9bf617145","name":"Remove Duplicate Contacts"},{"parameters":{"method":"GET","url":"https://enrichment.example.com/v2/lookup","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.email }}"}]},"options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[702,400],"id":"483a4323-f355-40d4-8995-53dab2b2cd06","name":"Enrich — Primary Provider","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6bfa5e2d-9320-4b54-8564-ab8bd1f3b79a","leftValue":"={{ $json.company || $json.name }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1026,400],"id":"1c126616-ccd4-45e7-954e-96e61eb706fe","name":"Primary Hit?"},{"parameters":{"method":"GET","url":"https://fallback-enrich.example.com/v1/person","sendQuery":true,"queryParameters":{"parameters":[{"name":"email","value":"={{ $json.email }}"}]},"options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1350,880],"id":"a98884cc-004a-43be-b0d7-c1692a46efe8","name":"Enrich — Fallback Provider","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"mode":"append","numberInputs":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1998,400],"id":"6be8c6d7-0830-4a66-a69a-a7181f16fc01","name":"Merge Enrichment Paths"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Score each contact 0-100 from simple heuristics\nreturn $input.all().map(item => {\n  const j = item.json;\n  let score = 50;\n  if (j.email) score += 20;\n  if (j.company) score += 15;\n  if ((j.source || '') === 'referral') score += 15;\n  return { json: { ...j, score: Math.min(100, score) } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2970,400],"id":"3050fc65-fb58-4579-8be0-0dda26b82fd4","name":"Score Enriched Records"},{"parameters":{"resource":"contact","email":"={{ $json.email }}","additionalFields":{"companyName":"={{ $json.company }}"},"authentication":"appToken"},"type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[3294,400],"id":"0e94c5f8-111c-47c0-a736-2398b8d2a786","name":"Upsert into HubSpot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d44f4c3-857f-4e2b-bcf2-aa4e1c869171","leftValue":"={{ $json.score >= 80 }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3618,400],"id":"9686330a-3ce7-4771-bd84-25bad7618b14","name":"Hot Lead?"},{"parameters":{"sendTo":"={{ $json.email || 'ops@company.com' }}","subject":"=🔥 Hot {{ $json.company || $json.email }} (score {{ $json.score }}) — reach out ","message":"=🔥 Hot {{ $json.company || $json.email }} (score {{ $json.score }}) — reach out now","options":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[3942,160],"id":"e247f5b2-e279-4a14-8dc7-a069998c3c60","name":"Ping Owner Immediately","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"operation":"csv","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[4266,400],"id":"d4221274-176e-4675-8a07-377e7b91d746","name":"Serialize Run Output (CSV)"},{"parameters":{"resource":"contact","email":"={{ $json.email }}","additionalFields":{"companyName":"={{ $json.company }}"},"authentication":"appToken"},"type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[4590,400],"id":"ce8d76d8-895e-4ee5-9385-61fae9a6d26d","name":"Archive Row Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"method":"GET","url":"https://enrichment.example.com/v2/lookup","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.email }}"}]},"options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4914,400],"id":"468b07ab-382f-4ca1-8b4e-11bd1257f032","name":"Enrich with Reference Data","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"cc8a4fab-78c5-4a85-baff-a5605f2c7df1","name":"enrichedAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"2e33b879-4e76-4a8c-8d33-13f8f4d442ac","name":"enrichmentSource","value":"reference-api","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5238,400],"id":"990d3943-321a-4439-81db-d1637bad6446","name":"Fold In Enrichment Fields"},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"","cachedResultName":"lib: Post-Process Contacts"},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[5562,400],"id":"602f9d4d-feaa-4186-b106-0ed5f9d03f84","name":"Offload to Post-Process Sub-workflow","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"dataToSave":{"values":[{"key":"subflowStatus","value":"={{ $json.status || 'done' }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[5886,400],"id":"4460b31b-1744-4e9a-89ea-14b53e3fdaec","name":"Record Sub-workflow Result"},{"parameters":{"operation":"getCurrentDate","outputFieldName":"completedAt","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[6210,400],"id":"5203a39d-58bf-4ab7-924c-c7e62a6a232a","name":"Stamp Completion Time"},{"parameters":{"dataToSave":{"values":[{"key":"runId","value":"={{ $execution.id }}"},{"key":"itemCount","value":"={{ $items().length }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[6534,400],"id":"2701b009-c1cc-40ff-b4da-a69325596bea","name":"Persist Run Metadata"},{"parameters":{"operation":"read","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Contact Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[6858,400],"id":"8827867a-2a9b-45b0-99c0-0b6e50699313","name":"Load Previous Snapshot","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Compare current metrics with the previous snapshot\nconst current = $input.first().json;\nconst prev = $('Load Previous Snapshot').first().json || {};\nconst drift = {};\nfor (const k of Object.keys(current)) {\n  if (typeof current[k] === 'number' && typeof prev[k] === 'number' && prev[k] !== 0) {\n    drift[k] = Math.round(((current[k] - prev[k]) / prev[k]) * 1000) / 10;\n  }\n}\nreturn [{ json: { ...current, driftPct: drift, hasDrift: Object.values(drift).some(v => Math.abs(v) > 10) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7182,400],"id":"ee4857ec-5600-4200-98b3-4b0ab3053f25","name":"Compute Drift vs Snapshot"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Build a stable idempotency key per contact (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.contactId, j.email].join('|')) } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7506,400],"id":"405e91df-2fde-4b0e-9bcc-bdfd05aff2cf","name":"Fingerprint for Idempotency"},{"parameters":{"operation":"removeItemsSeenInPreviousExecutions","logic":"removeItemsWithAlreadySeenKeyValues","dedupeValue":"={{ $json.idempotencyKey }}","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[7830,400],"id":"df30ae16-be69-4d38-b13f-b9aeff1ef15d","name":"Drop Already-Processed Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8de965bf-35e4-414d-9ba8-12115b9cd6f4","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[8154,400],"id":"f982c365-797f-44db-83fb-743a63c06a4d","name":"Guard Non-Empty email"},{"parameters":{"assignments":{"assignments":[{"id":"2c5b9ffd-24d7-4c9f-9433-fe69a65693fd","name":"runAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"40ddef48-1bf9-4dcd-b975-d1919cd6d842","name":"itemCount","value":"={{ $input.all().length }}","type":"number"},{"id":"9dd14fed-c37d-4fc3-8c34-ebff6da9d959","name":"status","value":"completed","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[8478,400],"id":"eee5ada4-38d9-461f-8c51-cc3fb935880b","name":"Summarize Run Stats"},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"","cachedResultName":"Contact Tracker"},"sheetName":{"__rl":true,"mode":"name","value":"Main","cachedResultName":"Main"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[8802,400],"id":"ed83817d-e327-4424-b445-5edf2cabe20e","name":"Append Audit Row (Google Sheets)","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"sendTo":"={{ $json.email || 'ops@company.com' }}","subject":"=✅ Qualify inbound leads with HubSpot and Gmail for your team — run completed at","message":"=✅ Qualify inbound leads with HubSpot and Gmail for your team — run completed at {{ $now.toFormat('HH:mm') }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[9126,400],"id":"4b4b5cf1-a4cd-4197-a477-30073d5d2f6f","name":"Send Summary to Gmail","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"46770a7e-47ff-4de6-87e2-6f3aa95c6ac0","name":"failedNode","value":"={{ $json.error?.node?.name || 'unknown' }}","type":"string"},{"id":"3376d4b3-5faf-466e-bade-613d5e0cf8b3","name":"errorMessage","value":"={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}","type":"string"},{"id":"dba56275-f723-486f-ba7f-ba9b2ef86068","name":"workflow","value":"={{ $workflow.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[8478,1420],"id":"62983f20-f0a1-4ca1-a350-10f3cc6e1325","name":"Capture Failure Context"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#sales","cachedResultName":"#sales"},"text":"=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[8802,1420],"id":"bde0f1b0-bbb9-4d42-9ce5-c88fd93ec96e","name":"Escalate Failure to Slack","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"resource":"contact","email":"={{ $json.email }}","additionalFields":{"companyName":"={{ $json.company }}"},"authentication":"appToken"},"type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[9126,1420],"id":"6765ade5-8bb7-4ccd-94dc-7bf1159fc730","name":"Park in Dead-Letter Queue","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"content":"### New Contact Form Submission\n\nServes an n8n-hosted form (Email, Company, Dealstage). Each submission becomes one execution.\n\nNext: Required Fields Present?","width":280,"height":232,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-330,520],"id":"f2181a00-d080-96dc-3d0c-b24206078c9d","name":"Note: New Contact Form Submission"},{"parameters":{"content":"### Required Fields Present?\n\nTwo-way gate on `={{ $json.email }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Remove Duplicate Contacts · ②→ Abort — Malformed Input","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6,520],"id":"339bc4ae-c7bd-dd38-b482-d39f04fd5da4","name":"Note: Required Fields Present?"},{"parameters":{"content":"### Abort — Malformed Input\n\nFails fast with a clear message; triggers the error workflow instead of processing bad data.","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6,1030],"id":"02d46ce0-b0e1-208f-01cd-e990736ab101","name":"Note: Abort — Malformed Input"},{"parameters":{"content":"### Remove Duplicate Contacts\n\nDrops duplicates within this run (compared on `contactId`).\n\nNext: Enrich — Primary Provider","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[318,520],"id":"141989fb-87cd-d0b7-4425-e69959301003","name":"Note: Remove Duplicate Contacts"},{"parameters":{"content":"### Enrich — Primary Provider\n\nGET https://enrichment.example.com/v2/lookup — retries 3× with backoff on failure.\n\nPorts: ①→ Primary Hit? · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[642,520],"id":"ced533ef-f63e-83e9-fb9b-fd72ea818562","name":"Note: Enrich — Primary Provider"},{"parameters":{"content":"### Primary Hit?\n\nTwo-way gate on `={{ $json.company || $json.name }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Merge Enrichment Paths · ②→ Enrich — Fallback Provider","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[966,520],"id":"5399a694-c315-4237-4f2c-e374045e6a9d","name":"Note: Primary Hit?"},{"parameters":{"content":"### Enrich — Fallback Provider\n\nGET https://fallback-enrich.example.com/v1/person — retries 3× with backoff on failure.\n\nPorts: ①→ Merge Enrichment Paths · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1290,1000],"id":"14d179ad-d0c7-6440-9309-aaf8141527fd","name":"Note: Enrich — Fallback Provider"},{"parameters":{"content":"### Merge Enrichment Paths\n\nRejoins 2 branches into one stream (mode: append) so downstream logic runs once.\n\nNext: Score Enriched Records","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1938,520],"id":"0eca89b2-4d74-1196-d815-ee1197a8bf44","name":"Note: Merge Enrichment Paths"},{"parameters":{"content":"### Score Enriched Records\n\nCustom JavaScript: Score each contact 0-100 from simple heuristics\n\nNext: Upsert into HubSpot","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2910,520],"id":"48f14895-526d-7a2b-a4fd-6f15997d286d","name":"Note: Score Enriched Records"},{"parameters":{"content":"### Upsert into HubSpot\n\nCreates or updates a HubSpot contact by email — HubSpot is the CRM system of record for this pipeline.\n\nPorts: ①→ Hot Lead? · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 HubSpot private-app token","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3234,520],"id":"9b43773e-6efd-f6b6-7bba-69b4787073fb","name":"Note: Upsert into HubSpot"},{"parameters":{"content":"### Hot Lead?\n\nTwo-way gate on `={{ $json.score >= 80 }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Ping Owner Immediately · ②→ Serialize Run Output (CSV)","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3558,520],"id":"112c4e02-528e-6270-0e0e-0cec632ec6bf","name":"Note: Hot Lead?"},{"parameters":{"content":"### Ping Owner Immediately\n\nPosts a message to Slack — a low-latency way for the team to see automation activity without checking a dashboard.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3882,280],"id":"303de756-8594-9ca2-2327-c20b75c12407","name":"Note: Ping Owner Immediately"},{"parameters":{"content":"### Serialize Run Output (CSV)\n\nSerializes items to a CSV binary file.\n\nNext: Archive Row Snapshot","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4206,520],"id":"4b232e3a-2f3f-9f6a-fc09-f3516262e806","name":"Note: Serialize Run Output (CSV)"},{"parameters":{"content":"### Archive Row Snapshot\n\nCreates or updates a HubSpot contact by email — HubSpot is the CRM system of record for this pipeline.\n\nPorts: ①→ Enrich with Reference Data · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 HubSpot private-app token","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4530,520],"id":"43ffa292-a3a0-cc6c-d579-3d82b3f0d9ce","name":"Note: Archive Row Snapshot"},{"parameters":{"content":"### Enrich with Reference Data\n\nGET https://enrichment.example.com/v2/lookup — retries 3× with backoff on failure.\n\nPorts: ①→ Fold In Enrichment Fields · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4854,520],"id":"4255f9d9-5cd2-efa1-e638-2647dd035a24","name":"Note: Enrich with Reference Data"},{"parameters":{"content":"### Fold In Enrichment Fields\n\nShapes the item: writes `enrichedAt`, `enrichmentSource`. Keeps the schema explicit between stages.\n\nNext: Offload to Post-Process Sub-workflow","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5178,520],"id":"2c799dc7-a36a-d631-65a3-49ab86680419","name":"Note: Fold In Enrichment Fields"},{"parameters":{"content":"### Offload to Post-Process Sub-workflow\n\nDelegates to a reusable sub-workflow (single-responsibility building block) and waits for its result.\n\nPorts: ①→ Record Sub-workflow Result · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5502,520],"id":"e59ac6a7-ff67-1069-5cd9-06c1baa27c12","name":"Note: Offload to Post-Process Sub-workflow"},{"parameters":{"content":"### Record Sub-workflow Result\n\nSaves key fields onto the execution record — searchable later in n8n's execution list.\n\nNext: Stamp Completion Time","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5826,520],"id":"d8f4c86a-c889-54a6-7293-0a2f828a63f5","name":"Note: Record Sub-workflow Result"},{"parameters":{"content":"### Stamp Completion Time\n\nStamps `completedAt` with the current time for auditing.\n\nNext: Persist Run Metadata","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6150,520],"id":"8ffa3a9c-fda1-5a2b-20bb-02b2dfc9625a","name":"Note: Stamp Completion Time"},{"parameters":{"content":"### Persist Run Metadata\n\nSaves key fields onto the execution record — searchable later in n8n's execution list.\n\nNext: Load Previous Snapshot","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6474,520],"id":"4f75fd8c-38b5-12d9-b4be-f8a8faa45276","name":"Note: Persist Run Metadata"},{"parameters":{"content":"### Load Previous Snapshot\n\nReads every row from 'Contact Tracker' — the read side of the store, e.g. for a digest or a downstream sync.\n\nPorts: ①→ Compute Drift vs Snapshot · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6798,520],"id":"a3d6522c-e2c2-69c6-26b4-280d9ed994e3","name":"Note: Load Previous Snapshot"},{"parameters":{"content":"### Compute Drift vs Snapshot\n\nCustom JavaScript: Compare current metrics with the previous snapshot\n\nNext: Fingerprint for Idempotency","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7122,520],"id":"9505f3a3-e564-db19-3cd5-3ce47bdfa8ac","name":"Note: Compute Drift vs Snapshot"},{"parameters":{"content":"### Fingerprint for Idempotency\n\nCustom JavaScript: Build a stable idempotency key per contact (djb2 hash, no deps)\n\nNext: Drop Already-Processed Items","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7446,520],"id":"138d9efe-3977-030a-caa4-0e20013c570a","name":"Note: Fingerprint for Idempotency"},{"parameters":{"content":"### Drop Already-Processed Items\n\nCross-execution dedupe: remembers keys it has processed before and drops repeats — the idempotency guard.\n\nNext: Guard Non-Empty email","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7770,520],"id":"9ab70807-dd3f-7fd3-3491-c92470af06ba","name":"Note: Drop Already-Processed Items"},{"parameters":{"content":"### Guard Non-Empty email\n\nDrops items that fail the condition; only qualifying items continue (no false branch).\n\nNext: Summarize Run Stats","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8094,520],"id":"1a13275e-b750-345c-b8c1-c27879608596","name":"Note: Guard Non-Empty email"},{"parameters":{"content":"### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Google Sheets)","width":280,"height":232,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8418,520],"id":"d3f6e7dd-7970-5009-3297-3cdfe74bb694","name":"Note: Summarize Run Stats"},{"parameters":{"content":"### Append Audit Row (Google Sheets)\n\nAppends a new row to 'Contact Tracker' — a human-readable audit trail that doesn't require opening n8n to inspect.\n\nPorts: ①→ Send Summary to Gmail · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account","width":280,"height":232,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8742,520],"id":"9cf0bf6d-8000-536a-f8ed-ccac9f9bcacb","name":"Note: Append Audit Row (Google Sheets)"},{"parameters":{"content":"### Send Summary to Gmail\n\nSends an email via Gmail — subject is the first line of the message body, recipient comes from the item's `email` field.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2","width":280,"height":232,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[9066,520],"id":"7a0949fd-620f-fbb9-58e4-b0f43cf86814","name":"Note: Send Summary to Gmail"},{"parameters":{"content":"### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Slack","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8418,1540],"id":"cb077f46-034a-4a10-7208-e47517589174","name":"Note: Capture Failure Context"},{"parameters":{"content":"### Escalate Failure to Slack\n\nPosts a message to Slack (`#sales`) — a low-latency way for the team to see automation activity without checking a dashboard.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Slack OAuth2","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8742,1540],"id":"a3bcae57-0229-40b3-1466-99045fc0c787","name":"Note: Escalate Failure to Slack"},{"parameters":{"content":"### Park in Dead-Letter Queue\n\nCreates or updates a HubSpot contact by email — HubSpot is the CRM system of record for this pipeline.\n\n↻ retries 3×/2s · 🔑 HubSpot private-app token","width":280,"height":232,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[9066,1540],"id":"928c998d-82b8-601e-78e1-97d9ea5758b4","name":"Note: Park in Dead-Letter Queue"},{"parameters":{"content":"# Qualify inbound leads with HubSpot and Gmail for your team\n\n**Pattern:** Lead Capture & Routing · **Level:** Architect · **Trigger:** Form\n\n## What it does\nQualify inbound leads with HubSpot and Gmail for your team. It starts from a hosted form submission.\n\n## Why it exists\nManual enrichment is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nNew Contact Form Submission → Required Fields Present? → Remove Duplicate Contacts → Enrich — Primary Provider → Primary Hit? → Merge Enrichment Paths → Score Enriched Records → …\n\n## Use it for\n- Teams that want to lead capture & routing without manual effort\n- Anyone automating enrichment in sales\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Runs 24/7 in the background\n- Removes copy-paste errors\n- Improves response time\n\n## Before first run\nConnect credentials: API key / bearer for the target API; Google OAuth2; Google OAuth2 / service account; HubSpot private-app token; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.\n\n## Try it now\nSample data is pinned on the trigger — hit **Execute Workflow** to watch it flow through every node before connecting any real credentials. Unpin the trigger (right-click → Unpin) when you're ready to go live.","width":480,"height":900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,80],"id":"8889f925-945a-10dd-89e7-42d0ba05b5c7","name":"📘 Workflow Overview"},{"parameters":{"content":"## Design decisions\n\nThe fallback enrichment provider only fires when the primary genuinely misses (checked explicitly, not assumed) — paying for two enrichment calls per lead when the first one already worked would double the cost for no benefit. Scoring runs after enrichment, not before, so the score reflects the richest data available rather than just what arrived on the original request.","width":480,"height":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1020],"id":"ba262c96-e696-c533-f36a-260f38383be6","name":"🎓 Design Decisions"},{"parameters":{"content":"## Practice exercises\n\nAbout as deep as this pattern goes — extend it:\n\n1. Force the primary provider to miss (e.g. a bad URL) and confirm the fallback picks up the slack.\n2. Add a third-provider rung to the waterfall after the fallback.\n3. Change the hot-lead threshold and watch how often the immediate-ping branch fires.","width":480,"height":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-830,1360],"id":"44b9eda8-7aec-fb80-42fa-e244916e8c91","name":"🧪 Practice Exercises"},{"parameters":{"content":"## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.","width":360,"height":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-230,-260],"id":"4bcbc5a2-981a-c076-968f-bc8f611799cf","name":"🛟 Error handling & retries"},{"parameters":{"content":"## 🧹 Data quality\n\nDedupe/diff steps make re-runs safe: the same input twice will not create duplicate records. If you change the key fields, clear n8n's dedupe memory (node → 'Clear stored keys') before the next run.","width":360,"height":260,"color":1},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[190,-260],"id":"f315e3b5-a695-4d19-5a68-60b1bdf048a7","name":"🧹 Data quality"},{"parameters":{"content":"## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your enrichment process. Every node card explains its role — safe to extend at any marked branch.","width":360,"height":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[610,-260],"id":"283d78d2-09a8-a694-12f9-ef9dd7eb63d8","name":"🛠 Customize me"}],"connections":{"New Contact Form Submission":{"main":[[{"node":"Required Fields Present?","type":"main","index":0}]]},"Required Fields Present?":{"main":[[{"node":"Remove Duplicate Contacts","type":"main","index":0}],[{"node":"Abort — Malformed Input","type":"main","index":0}]]},"Remove Duplicate Contacts":{"main":[[{"node":"Enrich — Primary Provider","type":"main","index":0}]]},"Enrich — Primary Provider":{"main":[[{"node":"Primary Hit?","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Primary Hit?":{"main":[[{"node":"Merge Enrichment Paths","type":"main","index":0}],[{"node":"Enrich — Fallback Provider","type":"main","index":0}]]},"Enrich — Fallback Provider":{"main":[[{"node":"Merge Enrichment Paths","type":"main","index":1}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Merge Enrichment Paths":{"main":[[{"node":"Score Enriched Records","type":"main","index":0}]]},"Score Enriched Records":{"main":[[{"node":"Upsert into HubSpot","type":"main","index":0}]]},"Upsert into HubSpot":{"main":[[{"node":"Hot Lead?","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Hot Lead?":{"main":[[{"node":"Ping Owner Immediately","type":"main","index":0}],[{"node":"Serialize Run Output (CSV)","type":"main","index":0}]]},"Serialize Run Output (CSV)":{"main":[[{"node":"Archive Row Snapshot","type":"main","index":0}]]},"Archive Row Snapshot":{"main":[[{"node":"Enrich with Reference Data","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Enrich with Reference Data":{"main":[[{"node":"Fold In Enrichment Fields","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Fold In Enrichment Fields":{"main":[[{"node":"Offload to Post-Process Sub-workflow","type":"main","index":0}]]},"Offload to Post-Process Sub-workflow":{"main":[[{"node":"Record Sub-workflow Result","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Record Sub-workflow Result":{"main":[[{"node":"Stamp Completion Time","type":"main","index":0}]]},"Stamp Completion Time":{"main":[[{"node":"Persist Run Metadata","type":"main","index":0}]]},"Persist Run Metadata":{"main":[[{"node":"Load Previous Snapshot","type":"main","index":0}]]},"Load Previous Snapshot":{"main":[[{"node":"Compute Drift vs Snapshot","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Compute Drift vs Snapshot":{"main":[[{"node":"Fingerprint for Idempotency","type":"main","index":0}]]},"Fingerprint for Idempotency":{"main":[[{"node":"Drop Already-Processed Items","type":"main","index":0}]]},"Drop Already-Processed Items":{"main":[[{"node":"Guard Non-Empty email","type":"main","index":0}]]},"Guard Non-Empty email":{"main":[[{"node":"Summarize Run Stats","type":"main","index":0}]]},"Summarize Run Stats":{"main":[[{"node":"Append Audit Row (Google Sheets)","type":"main","index":0}]]},"Append Audit Row (Google Sheets)":{"main":[[{"node":"Send Summary to Gmail","type":"main","index":0}],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Capture Failure Context":{"main":[[{"node":"Escalate Failure to Slack","type":"main","index":0}]]},"Escalate Failure to Slack":{"main":[[{"node":"Park in Dead-Letter Queue","type":"main","index":0}]]},"Ping Owner Immediately":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]},"Send Summary to Gmail":{"main":[[],[{"node":"Capture Failure Context","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveManualExecutions":true,"executionTimeout":3600},"meta":{"templateCredsSetupCompleted":false},"tags":[],"pinData":{"New Contact Form Submission":[{"json":{"contactId":"CT-8801","email":"maria.gomez@northwind.io","company":"Northwind Traders","dealStage":"Proposal Sent"}},{"json":{"contactId":"CT-8802","email":"raj.patel@blueharbor.com","company":"Blue Harbor Logistics","dealStage":"Negotiation"}}]},"versionId":"99a47384-ec89-4e1e-8b2b-c26ce30ee9e9","id":"FDX08194"}