product-files/workflows/CRM Automation/Enrichment/Intermediate/08347_Route demo requests with HubSpot and Twilio automatically.json
{
  "name": "Route demo requests with HubSpot and Twilio automatically",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Route demo requests with HubSpot and Twilio automatically",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email",
              "requiredField": true
            },
            {
              "fieldLabel": "Company",
              "requiredField": false
            },
            {
              "fieldLabel": "Dealstage",
              "requiredField": false
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -200,
        400
      ],
      "id": "f1129da7-b1b9-4bb3-b720-bb1f8f5f481f",
      "name": "New Contact Form Submission",
      "webhookId": "ae5bac4d-e656-487c-95d3-f59ce70f1949"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "027637cb-6742-4c01-b52e-f4f197b0bab9",
              "name": "contactId",
              "value": "={{ $json.contactId || $json.id || $execution.id }}",
              "type": "string"
            },
            {
              "id": "f25efc9c-401f-445e-8d76-2922abfe853c",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        400
      ],
      "id": "036d702f-d4da-4d9c-bdf9-25caa2bad371",
      "name": "Stamp & Shape Contact"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5a882e3a-88d0-48c7-9c9b-ae1b77f9e4a0",
              "leftValue": "={{ $json.contactId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        400
      ],
      "id": "fd1d6b71-0aa8-42fc-8993-970c788c1e91",
      "name": "Payload Valid?"
    },
    {
      "parameters": {
        "resource": "contact",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "companyName": "={{ $json.company }}"
        },
        "authentication": "appToken"
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        280,
        570
      ],
      "id": "4f53fd69-dede-47f1-9294-f8ad5e7038c1",
      "name": "Record Rejected Input",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9100faa-7582-4065-a63a-82e598f0b54a",
              "leftValue": "={{ ($json.score ?? 50) >= 50 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        400
      ],
      "id": "c09af871-ec62-4761-b927-473b65a7e0f5",
      "name": "Segment Audience"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#sales",
          "cachedResultName": "#sales"
        },
        "text": "=Hi {{ $json.name || 'there' }}, here's how to get started…",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        760,
        320
      ],
      "id": "c1fe575e-5851-4c57-8736-04acc094f13b",
      "name": "Step 1 — Welcome (Slack)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "contact",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "companyName": "={{ $json.company }}"
        },
        "authentication": "appToken"
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        1000,
        520
      ],
      "id": "77e3173d-1bc6-4596-83d9-986aa4a65455",
      "name": "Tag for Slow Nurture",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1240,
        400
      ],
      "id": "dda89eb2-50fb-4edf-90c0-a67b6be641ec",
      "name": "Wait Before Step 2",
      "webhookId": "6b5ce6fb-5611-429a-a17a-814f281ac9f3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d2571096-ca20-4e82-9fa6-1788f0c6d12b",
              "leftValue": "={{ $json.status }}",
              "rightValue": "converted",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1480,
        400
      ],
      "id": "4f44c146-017a-4b8b-be0b-80b5050bfd1c",
      "name": "Converted Already?"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#sales",
          "cachedResultName": "#sales"
        },
        "text": "=Quick tip for {{ $json.company || 'your team' }} — see what others automate.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1720,
        320
      ],
      "id": "5f41b1df-1cb4-421e-b9c2-d76946ab3270",
      "name": "Step 2 — Value Nudge (Slack)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "contact",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "companyName": "={{ $json.company }}"
        },
        "authentication": "appToken"
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        1960,
        520
      ],
      "id": "95c474b9-72e6-45e9-9f85-80aebdaf910d",
      "name": "Mark Converted — Stop Drip",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "contact",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "companyName": "={{ $json.company }}"
        },
        "authentication": "appToken"
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        2200,
        400
      ],
      "id": "229b120e-3320-4e9f-8db1-e748e2ddf27b",
      "name": "Update Drip Status",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0aeadaf-1040-4421-93af-671b8f8072f2",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "43b6bc9d-1e15-455d-9c06-7717fca7f449",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "194def49-b545-4e80-a92f-b9216671114e",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2440,
        400
      ],
      "id": "e7aff074-f502-4065-919d-4db3dcc0daf5",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "resource": "contact",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "companyName": "={{ $json.company }}"
        },
        "authentication": "appToken"
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        2680,
        400
      ],
      "id": "9783f49c-c201-4224-b2df-c712621cbc4c",
      "name": "Append Audit Row (HubSpot)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#sales",
          "cachedResultName": "#sales"
        },
        "text": "=✅ Route demo requests with HubSpot and Twilio automatically — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2920,
        400
      ],
      "id": "b57f1441-b929-4e5e-afbe-99e42da268e9",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ebfac26b-34c3-4d9c-b227-c3ba283dc07d",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "54826023-3274-4c7d-ba4d-a313057a0284",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "cce4d6a5-5c8a-4748-ae8b-d781add88adf",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2440,
        740
      ],
      "id": "d5029ffc-cbb5-4554-bf94-abf7cdb84f60",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "from": "+15550100000",
        "to": "={{ $json.phone || 'ONCALL_NUMBER' }}",
        "message": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2680,
        740
      ],
      "id": "bd4fbc8a-c224-4583-97db-4ad326c74346",
      "name": "Escalate Failure to Twilio",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Route demo requests with HubSpot and Twilio automatically\n\n**Pattern:** Lead Capture & Routing  \n**Trigger:** Form  \n**Level:** Advanced\n\nProcesses contacts for enrichment — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        60
      ],
      "id": "6fbe29fb-0266-4880-8818-39d64c9bc9e4",
      "name": "Overview"
    }
  ],
  "connections": {
    "New Contact Form Submission": {
      "main": [
        [
          {
            "node": "Stamp & Shape Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp & Shape Contact": {
      "main": [
        [
          {
            "node": "Payload Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Valid?": {
      "main": [
        [
          {
            "node": "Segment Audience",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Rejected Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segment Audience": {
      "main": [
        [
          {
            "node": "Step 1 — Welcome (Slack)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tag for Slow Nurture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 1 — Welcome (Slack)": {
      "main": [
        [
          {
            "node": "Wait Before Step 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Step 2": {
      "main": [
        [
          {
            "node": "Converted Already?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converted Already?": {
      "main": [
        [
          {
            "node": "Step 2 — Value Nudge (Slack)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Converted — Stop Drip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 2 — Value Nudge (Slack)": {
      "main": [
        [
          {
            "node": "Update Drip Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Drip Status": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (HubSpot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (HubSpot)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag for Slow Nurture": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Converted — Stop Drip": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "2464bb35-7319-4def-954d-18492c442028",
  "id": "FDX08347"
}