product-files/workflows/Content Generation/Newsletters/Intermediate/05709_Schedule social posts with Google Drive and WordPress for your team.json
{
  "name": "Schedule social posts with Google Drive and WordPress for your team",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 7,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -270,
        400
      ],
      "id": "82baeac2-6605-47c8-b603-943677fbe749",
      "name": "Daily Schedule"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Draft Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        54,
        400
      ],
      "id": "dba563d3-b63a-4815-bc4b-ac51b8d16739",
      "name": "Read Content Calendar (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10ca480b-efe3-40f3-b9c3-35074b3af679",
              "leftValue": "={{ new Date($json.scheduledAt || 0) <= new Date() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "82c3aca5-c725-4207-b111-f96039472b7e",
              "leftValue": "={{ $json.status }}",
              "rightValue": "published",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        378,
        400
      ],
      "id": "0e9b6461-4594-4005-bb44-b07bf507729c",
      "name": "Due for Publishing?"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        702,
        400
      ],
      "id": "1456b0ff-d4fc-4e8c-94f0-c6bdafabb417",
      "name": "Post One at a Time"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#content",
          "cachedResultName": "#content"
        },
        "text": "={{ $json.content }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1026,
        880
      ],
      "id": "2ef49239-e47f-4897-a0ed-19e474bf78fe",
      "name": "Publish to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1674,
        880
      ],
      "id": "9f2b005a-8f0f-4d27-90d1-ca66d458cee3",
      "name": "Space Out Posts"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Draft Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "draftId"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2646,
        880
      ],
      "id": "6e86d543-328c-41ec-95de-f3cc974c829d",
      "name": "Mark Row Published",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2970,
        400
      ],
      "id": "9d743f2e-4eb2-44ac-9d8d-2297bd3dd1e6",
      "name": "Count Published"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1cc6087-fe87-43b6-91b0-115d470dabc9",
              "name": "pipeline",
              "value": "Newsletters",
              "type": "string"
            },
            {
              "id": "c848a29e-4cfb-4c43-b10b-bcc7ac2bd816",
              "name": "version",
              "value": "2.0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3294,
        400
      ],
      "id": "b62b0c20-682f-4daf-9071-5f563ab02a49",
      "name": "Tag Pipeline Metadata"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "id",
              "newKey": "draftId"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        3618,
        400
      ],
      "id": "f36e83af-5dd0-4b9a-8ed7-ddbffd61c73b",
      "name": "Align Field Names"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c047a4c0-9a04-4d12-9430-b041617feee6",
              "leftValue": "={{ $json.topic }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        3942,
        400
      ],
      "id": "38a734e5-8990-4969-b873-377fdd99e78c",
      "name": "Guard Non-Empty topic"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "tone",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        4266,
        400
      ],
      "id": "baf8ae43-021e-4602-8aa8-147f57ffc283",
      "name": "Sort Drafts Newest First"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0be9f480-3c1f-46d8-a285-fea1cad35acf",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "261903bf-7a22-4550-9f1b-b22b452e9717",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "ecd3afad-f8c8-49db-9dd2-c9bcfe31a95a",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4590,
        400
      ],
      "id": "f205d4f2-d328-4bf1-a560-c2e14eea14b3",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Draft Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4914,
        400
      ],
      "id": "2fcb30ae-f017-4f77-b6ef-37db708ce611",
      "name": "Append Audit Row (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#content",
          "cachedResultName": "#content"
        },
        "text": "=✅ Schedule social posts with Google Drive and WordPress for your team — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        5238,
        400
      ],
      "id": "86709595-91ea-4d4b-aaf2-c2e349eb220f",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d788a3ad-22de-4886-bb9f-1c2033b28eac",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "5c9c6707-b18c-4abb-9c2a-eafe930a7e9f",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "ea03b57f-7f5a-49c4-9801-c6aab9e93cae",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4590,
        1420
      ],
      "id": "b33e079d-2290-4d02-a793-a44a0a34ce75",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#content",
          "cachedResultName": "#content"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        4914,
        1420
      ],
      "id": "8bb8d3df-f433-430d-9934-770fbd51efc4",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "### Daily Schedule\n\nStarts the workflow on a timer — daily at 7:00. No input data; downstream nodes fetch what they need.\n\nNext: Read Content Calendar (Google Sheets)",
        "width": 280,
        "height": 232,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -330,
        520
      ],
      "id": "98c1e60d-114d-1291-cf3c-df15ddd3eac0",
      "name": "Note: Daily Schedule"
    },
    {
      "parameters": {
        "content": "### Read Content Calendar (Google Sheets)\n\ngoogleSheets — `read` operation against the connected account.\n\nPorts: ①→ Due for Publishing? · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6,
        520
      ],
      "id": "1cdcceed-a4de-81fe-fc12-bc5cb0328f2c",
      "name": "Note: Read Content Calendar (Google Sheets)"
    },
    {
      "parameters": {
        "content": "### Due for Publishing?\n\nDrops items that fail the condition; only qualifying items continue (no false branch).\n\nNext: Post One at a Time",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        318,
        520
      ],
      "id": "51c3a992-4ac0-98ef-07bd-9de7a396b231",
      "name": "Note: Due for Publishing?"
    },
    {
      "parameters": {
        "content": "### Post One at a Time\n\nLoop controller — releases 1 item(s) per pass. Output 2 (loop) processes the batch, output 1 (done) fires after the last batch.\n\nPorts: ①→ Count Published · ②→ Publish to Slack",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        642,
        520
      ],
      "id": "1587fe9f-3f0d-d6b0-1a37-c5b6cab4ef53",
      "name": "Note: Post One at a Time"
    },
    {
      "parameters": {
        "content": "### Publish to Slack\n\nslack — `action` operation against the connected account.\n\nPorts: ①→ Space Out Posts · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2",
        "width": 280,
        "height": 232,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        966,
        1000
      ],
      "id": "42b6c3f3-6772-55a2-0c98-ad27e1f6c953",
      "name": "Note: Publish to Slack"
    },
    {
      "parameters": {
        "content": "### Space Out Posts\n\nPauses 30 seconds — spacing calls to respect rate limits.\n\nNext: Mark Row Published",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1614,
        1000
      ],
      "id": "7b378f88-74ce-bee9-e01c-7b77da150937",
      "name": "Note: Space Out Posts"
    },
    {
      "parameters": {
        "content": "### Mark Row Published\n\ngoogleSheets — `appendOrUpdate` operation against the connected account.\n\nPorts: ①→ Post One at a Time · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2586,
        1000
      ],
      "id": "0ca58ed2-76c0-0bc6-23ee-b2b7ae910859",
      "name": "Note: Mark Row Published"
    },
    {
      "parameters": {
        "content": "### Count Published\n\nCollapses all items into a single summary item (for counts and run stats).\n\nNext: Tag Pipeline Metadata",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2910,
        520
      ],
      "id": "85d358d6-90a5-287d-69ba-a547740270c1",
      "name": "Note: Count Published"
    },
    {
      "parameters": {
        "content": "### Tag Pipeline Metadata\n\nShapes the item: writes `pipeline`, `version`. Keeps the schema explicit between stages.\n\nNext: Align Field Names",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3234,
        520
      ],
      "id": "fd85d684-1ba4-2e22-909a-c4f781cabc9a",
      "name": "Note: Tag Pipeline Metadata"
    },
    {
      "parameters": {
        "content": "### Align Field Names\n\nNormalizes field names so every source feeds the same downstream schema.\n\nNext: Guard Non-Empty topic",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3558,
        520
      ],
      "id": "f6a70653-fc15-40b7-af22-ae8c791a2558",
      "name": "Note: Align Field Names"
    },
    {
      "parameters": {
        "content": "### Guard Non-Empty topic\n\nDrops items that fail the condition; only qualifying items continue (no false branch).\n\nNext: Sort Drafts Newest First",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3882,
        520
      ],
      "id": "fc3f266b-087f-9126-2b2e-310dffe57f5d",
      "name": "Note: Guard Non-Empty topic"
    },
    {
      "parameters": {
        "content": "### Sort Drafts Newest First\n\nOrders items (newest first) so limits and digests pick the most relevant records.\n\nNext: Summarize Run Stats",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4206,
        520
      ],
      "id": "4e864382-7c4a-3a6a-3f35-ab75479b4d42",
      "name": "Note: Sort Drafts Newest First"
    },
    {
      "parameters": {
        "content": "### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Google Sheets)",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4530,
        520
      ],
      "id": "570d9d83-ee37-653c-5294-74e6145d3147",
      "name": "Note: Summarize Run Stats"
    },
    {
      "parameters": {
        "content": "### Append Audit Row (Google Sheets)\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Send Summary to Slack · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4854,
        520
      ],
      "id": "ca86ac5f-157b-bf4e-24ee-a236ba30be68",
      "name": "Note: Append Audit Row (Google Sheets)"
    },
    {
      "parameters": {
        "content": "### Send Summary to Slack\n\nslack — `action` operation against the connected account.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Slack OAuth2",
        "width": 280,
        "height": 232,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5178,
        520
      ],
      "id": "24efd29c-9542-fa55-448e-c64e79c4c674",
      "name": "Note: Send Summary to Slack"
    },
    {
      "parameters": {
        "content": "### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Slack",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4530,
        1540
      ],
      "id": "f9778eef-2047-1b54-dc71-aface0a2f13f",
      "name": "Note: Capture Failure Context"
    },
    {
      "parameters": {
        "content": "### Escalate Failure to Slack\n\nslack — `action` operation against the connected account.\n\n↻ retries 3×/2s · 🔑 Slack OAuth2",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4854,
        1540
      ],
      "id": "4c48e834-d7a3-3eed-23c0-48a8e820513d",
      "name": "Note: Escalate Failure to Slack"
    },
    {
      "parameters": {
        "content": "# Schedule social posts with Google Drive and WordPress for your team\n\n**Pattern:** Social Scheduler · **Level:** Advanced · **Trigger:** Scheduled\n\n## What it does\nSchedule social posts with Google Drive and WordPress for your team. It runs automatically on a schedule.\n\n## Why it exists\nManual newsletters is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nDaily Schedule → Read Content Calendar (Google Sheets) → Due for Publishing? → Post One at a Time → Count Published → Tag Pipeline Metadata → Align Field Names → …\n\n## Use it for\n- Teams that want to social scheduler without manual effort\n- Anyone automating newsletters in content creation\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Removes copy-paste errors\n- Responds in seconds\n- Runs 24/7 in the background\n\n## Before first run\nConnect credentials: Google OAuth2 / service account; Slack OAuth2.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.",
        "width": 480,
        "height": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -830,
        80
      ],
      "id": "d2e09d5b-4bfd-5be5-e80a-f3184edbed36",
      "name": "📘 Workflow Overview"
    },
    {
      "parameters": {
        "content": "## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Set an n8n **Error Workflow** in settings as the final safety net.",
        "width": 360,
        "height": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -230,
        -20
      ],
      "id": "8277e79b-d3bc-ce53-a161-59b62c794cb9",
      "name": "🛟 Error handling & retries"
    },
    {
      "parameters": {
        "content": "## ⏱ Rate limiting\n\nWork is batched and spaced with Wait so provider quotas aren't tripped. If you hit 429s, lower the batch size or raise the wait — throughput drops, reliability rises.",
        "width": 360,
        "height": 260,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        190,
        -20
      ],
      "id": "f186d034-cf44-8ef4-57b2-d1be8336fb51",
      "name": "⏱ Rate limiting"
    },
    {
      "parameters": {
        "content": "## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your newsletters process. Every node card explains its role — safe to extend at any marked branch.",
        "width": 360,
        "height": 260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        610,
        -20
      ],
      "id": "80996d8f-b892-c4d0-3e12-ff6e1bb1b3ec",
      "name": "🛠 Customize me"
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Read Content Calendar (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Content Calendar (Google Sheets)": {
      "main": [
        [
          {
            "node": "Due for Publishing?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Due for Publishing?": {
      "main": [
        [
          {
            "node": "Post One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post One at a Time": {
      "main": [
        [
          {
            "node": "Count Published",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Slack": {
      "main": [
        [
          {
            "node": "Space Out Posts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Space Out Posts": {
      "main": [
        [
          {
            "node": "Mark Row Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Row Published": {
      "main": [
        [
          {
            "node": "Post One at a Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Published": {
      "main": [
        [
          {
            "node": "Tag Pipeline Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Pipeline Metadata": {
      "main": [
        [
          {
            "node": "Align Field Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Align Field Names": {
      "main": [
        [
          {
            "node": "Guard Non-Empty topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard Non-Empty topic": {
      "main": [
        [
          {
            "node": "Sort Drafts Newest First",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort Drafts Newest First": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (Google Sheets)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "8635d6c7-2062-465c-852d-b1078e7fbfd7",
  "id": "FDX05709"
}