product-files/workflows/Lead Generation/Outreach/Advanced/04846_Clean contact records with HubSpot and HTTP REST API end to end for Outreach.json
{
  "name": "Clean contact records with HubSpot and HTTP / REST API end to end for Outreach",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        400
      ],
      "id": "e2bb30d8-c69c-48cf-bef2-7a31793f4ad9",
      "name": "Hourly Schedule"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54376041-d14b-4e64-a56a-249b1a859aa0",
              "name": "leadId",
              "value": "={{ $json.leadId || $json.id || $execution.id }}",
              "type": "string"
            },
            {
              "id": "9c222681-552c-4b2c-8fea-8b23a3673e6f",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        400
      ],
      "id": "1924f566-3645-4aec-9222-b166d1ea9e4e",
      "name": "Stamp & Shape Lead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "81366de9-2b9c-4134-bf3e-ad51b961759e",
              "leftValue": "={{ $json.leadId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        400
      ],
      "id": "d71495ff-850b-4537-b33a-167060034c33",
      "name": "Payload Valid?"
    },
    {
      "parameters": {
        "resource": "contact",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "companyName": "={{ $json.company }}"
        },
        "authentication": "appToken"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        280,
        570
      ],
      "id": "f0914347-bdc7-4a9f-92d4-ee919ef76a44",
      "name": "Record Rejected Input",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "leadId",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        520,
        400
      ],
      "id": "de0c75e8-5a1c-49e5-ae66-c44297612d35",
      "name": "Remove Duplicate Leads"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://enrichment.example.com/v2/lookup",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        400
      ],
      "id": "b36375dc-8967-44d0-9359-ff00f209f940",
      "name": "Enrich — Primary Provider",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cfafff2a-6bed-46fb-ab43-f892b50b9ce3",
              "leftValue": "={{ $json.company || $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1000,
        400
      ],
      "id": "362b8f14-ca1b-49ca-80bf-ae08171eea8d",
      "name": "Primary Hit?"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://fallback-enrich.example.com/v1/person",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        560
      ],
      "id": "832ea800-e12a-443f-8cac-b9c11441e780",
      "name": "Enrich — Fallback Provider",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1720,
        400
      ],
      "id": "328b3700-8a1f-4f1c-a818-b12b2a5eacd2",
      "name": "Merge Enrichment Paths"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Score each lead 0-100 from simple heuristics\nreturn $input.all().map(item => {\n  const j = item.json;\n  let score = 50;\n  if (j.email) score += 20;\n  if (j.company) score += 15;\n  if ((j.source || '') === 'referral') score += 15;\n  return { json: { ...j, score: Math.min(100, score) } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        400
      ],
      "id": "42533126-3b67-411d-90b4-3f9743186ff1",
      "name": "Score Enriched Records"
    },
    {
      "parameters": {
        "resource": "contact",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "companyName": "={{ $json.company }}"
        },
        "authentication": "appToken"
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        2680,
        400
      ],
      "id": "1e54fb3f-91b7-4b52-a72b-a53a876f0178",
      "name": "Upsert into HubSpot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "41eaab00-7395-40ac-b38d-8e28c7e8d819",
              "leftValue": "={{ $json.score >= 80 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2920,
        400
      ],
      "id": "c08a5edb-1030-4404-8284-8d741a3d7905",
      "name": "Hot Lead?"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#sales",
          "cachedResultName": "#sales"
        },
        "text": "=🔥 Hot {{ $json.company || $json.email }} (score {{ $json.score }}) — reach out now",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3160,
        320
      ],
      "id": "c630350f-37d2-4048-9f44-6c71862544e4",
      "name": "Ping Owner Immediately",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getCurrentDate",
        "outputFieldName": "completedAt",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3400,
        400
      ],
      "id": "13ca9b19-d7b9-484d-8119-62c6c4d3cd6e",
      "name": "Stamp Completion Time"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "runId",
              "value": "={{ $execution.id }}"
            },
            {
              "key": "itemCount",
              "value": "={{ $items().length }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        3640,
        400
      ],
      "id": "c61111b4-2d9b-44d5-a7db-81bb86bc283d",
      "name": "Persist Run Metadata"
    },
    {
      "parameters": {
        "operation": "csv",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3880,
        400
      ],
      "id": "08460a00-74fc-4673-9816-ccdb18099549",
      "name": "Serialize Run Output (CSV)"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Lead Database"
        },
        "title": "={{ $json.email || $json.leadId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        4120,
        400
      ],
      "id": "2b2874cc-fcd0-45e3-bc2b-ec05a45714d3",
      "name": "Archive Row Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://enrichment.example.com/v2/lookup",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4360,
        400
      ],
      "id": "1c1fa5a3-0154-4183-a520-e66e76478c1d",
      "name": "Enrich with Reference Data",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e6be1b0-9f96-4e36-8d8d-3bd97f1d2583",
              "name": "enrichedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "288fb74b-4206-4593-aca6-7b5ddc5f8563",
              "name": "enrichmentSource",
              "value": "reference-api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4600,
        400
      ],
      "id": "5ff9236c-65e4-4eec-9ecb-49264a277340",
      "name": "Fold In Enrichment Fields"
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "search",
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "lastmodifieddate",
                    "operator": "GTE",
                    "value": "={{ $now.minus({days: 1}).toMillis() }}"
                  }
                ]
              }
            }
          ]
        },
        "authentication": "appToken",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        4840,
        400
      ],
      "id": "fd63b580-89b7-4da4-b05a-afcc54d38514",
      "name": "Load Previous Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Compare current metrics with the previous snapshot\nconst current = $input.first().json;\nconst prev = $('Load Previous Snapshot').first().json || {};\nconst drift = {};\nfor (const k of Object.keys(current)) {\n  if (typeof current[k] === 'number' && typeof prev[k] === 'number' && prev[k] !== 0) {\n    drift[k] = Math.round(((current[k] - prev[k]) / prev[k]) * 1000) / 10;\n  }\n}\nreturn [{ json: { ...current, driftPct: drift, hasDrift: Object.values(drift).some(v => Math.abs(v) > 10) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5080,
        400
      ],
      "id": "5ca4559b-90c7-4304-9eb0-f8190994defc",
      "name": "Compute Drift vs Snapshot"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "lib: Post-Process Leads"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5320,
        400
      ],
      "id": "288715d6-d34a-4f43-a60c-2477932e793e",
      "name": "Offload to Post-Process Sub-workflow",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "subflowStatus",
              "value": "={{ $json.status || 'done' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        5560,
        400
      ],
      "id": "d98ba9cf-8a87-4dd9-985a-1eb7b5aca647",
      "name": "Record Sub-workflow Result"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build a stable idempotency key per lead (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.leadId, j.email].join('|')) } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5800,
        400
      ],
      "id": "ebb0aa55-5283-47f5-9f63-3462f0cdba9f",
      "name": "Fingerprint for Idempotency"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "logic": "removeItemsWithAlreadySeenKeyValues",
        "dedupeValue": "={{ $json.idempotencyKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        6040,
        400
      ],
      "id": "00c157fd-67e6-4e17-b942-7ff97f569aa2",
      "name": "Drop Already-Processed Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "248c75ad-c768-4aff-8846-c0bda290ba00",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "c31b1bfa-4dec-4564-b2c3-3d960df8326a",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "49bba3d1-316e-4984-a002-bd8526973ae2",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6280,
        400
      ],
      "id": "4342c61a-c850-46b9-9ee5-ac4391ca07a4",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "resource": "contact",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "companyName": "={{ $json.company }}"
        },
        "authentication": "appToken"
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        6520,
        400
      ],
      "id": "91f6269e-f664-4610-9731-41025a7e25bc",
      "name": "Append Audit Row (HubSpot)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#sales",
          "cachedResultName": "#sales"
        },
        "text": "=✅ Clean contact records with HubSpot and HTTP / REST API end to end for  — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        6760,
        400
      ],
      "id": "514934c3-d4d8-453c-99dd-69facc9f0011",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eac9b0fd-a78b-4904-b528-60d4469a9db4",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "25271d91-34a6-435e-9e23-d20597a9fb0c",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "7ffb7c61-d7c9-44a1-b394-bbd53c7b351f",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6280,
        740
      ],
      "id": "90702a70-d83f-4751-b00a-2f00a9d2d2ac",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#sales",
          "cachedResultName": "#sales"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        6520,
        740
      ],
      "id": "b6f12c31-be8f-4636-ba65-846c2aa362d0",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Lead Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6760,
        740
      ],
      "id": "d05fba85-7162-4905-bf4e-ed9d23686ea2",
      "name": "Park in Dead-Letter Queue",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Clean contact records with HubSpot and HTTP / REST API end to end for Outreach\n\n**Pattern:** Data Enrichment  \n**Trigger:** Scheduled  \n**Level:** Architect\n\nProcesses leads for outreach — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        60
      ],
      "id": "4e12ffdf-63c4-4cba-bf8d-d8e448a6a11d",
      "name": "Overview"
    }
  ],
  "connections": {
    "Hourly Schedule": {
      "main": [
        [
          {
            "node": "Stamp & Shape Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp & Shape Lead": {
      "main": [
        [
          {
            "node": "Payload Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Valid?": {
      "main": [
        [
          {
            "node": "Remove Duplicate Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Rejected Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate Leads": {
      "main": [
        [
          {
            "node": "Enrich — Primary Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich — Primary Provider": {
      "main": [
        [
          {
            "node": "Primary Hit?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary Hit?": {
      "main": [
        [
          {
            "node": "Merge Enrichment Paths",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enrich — Fallback Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich — Fallback Provider": {
      "main": [
        [
          {
            "node": "Merge Enrichment Paths",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Enrichment Paths": {
      "main": [
        [
          {
            "node": "Score Enriched Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Enriched Records": {
      "main": [
        [
          {
            "node": "Upsert into HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert into HubSpot": {
      "main": [
        [
          {
            "node": "Hot Lead?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hot Lead?": {
      "main": [
        [
          {
            "node": "Ping Owner Immediately",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stamp Completion Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp Completion Time": {
      "main": [
        [
          {
            "node": "Persist Run Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Run Metadata": {
      "main": [
        [
          {
            "node": "Serialize Run Output (CSV)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serialize Run Output (CSV)": {
      "main": [
        [
          {
            "node": "Archive Row Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Row Snapshot": {
      "main": [
        [
          {
            "node": "Enrich with Reference Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with Reference Data": {
      "main": [
        [
          {
            "node": "Fold In Enrichment Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fold In Enrichment Fields": {
      "main": [
        [
          {
            "node": "Load Previous Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Previous Snapshot": {
      "main": [
        [
          {
            "node": "Compute Drift vs Snapshot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Drift vs Snapshot": {
      "main": [
        [
          {
            "node": "Offload to Post-Process Sub-workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offload to Post-Process Sub-workflow": {
      "main": [
        [
          {
            "node": "Record Sub-workflow Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Sub-workflow Result": {
      "main": [
        [
          {
            "node": "Fingerprint for Idempotency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fingerprint for Idempotency": {
      "main": [
        [
          {
            "node": "Drop Already-Processed Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drop Already-Processed Items": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (HubSpot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (HubSpot)": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Failure to Slack": {
      "main": [
        [
          {
            "node": "Park in Dead-Letter Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping Owner Immediately": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "e29f113e-9e01-4209-bdbb-618112e0ec6d",
  "id": "FDX04846"
}