product-files/workflows/AI Agents/Task Automation/Advanced/01076_Summarize meeting notes with MySQL and Gmail in real time.json
{
  "name": "Summarize meeting notes with MySQL and Gmail in real time",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "07ebef8c",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "2a5e910b-c524-4a5b-b11f-6b6ccd1a6891",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        300
      ],
      "webhookId": "f33d4fbb-9f0f-4b59-be21-af96ab4ca5ac"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69430f5a-504c-483a-9369-a2cea50aa45a",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "b717f8a3-e821-489c-a51c-3b1b45bff027",
              "name": "isValid",
              "value": "={{ $json ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "6c35cf55-88a8-41a2-8fa0-1ef11ba0c213",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        300
      ],
      "notes": "Validate & normalize the input before downstream steps (§9.1)."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a4894a36-27bc-4a9f-b5a4-4528685fab17",
      "name": "Summarize with AI",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        800,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "9e34c2dc-3005-44c9-89f1-ce78db126a15",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        740,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09165d99-3a35-4a3e-bc11-ea68ae1c2dcb",
              "name": "count",
              "value": "={{ $json.items ? $json.items.length : 1 }}",
              "type": "number"
            },
            {
              "id": "35f4f952-9c13-4225-8391-283291696d56",
              "name": "summary",
              "value": "={{ JSON.stringify($json).slice(0, 280) }}",
              "type": "string"
            },
            {
              "id": "7005c337-0764-4605-a8f8-8999afc63edc",
              "name": "source",
              "value": "='flowdex-workflow'",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2798781c-55eb-46d9-9dbc-29631c61efb5",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "value": "records",
          "mode": "name"
        },
        "options": {}
      },
      "id": "bd4437ed-3649-4009-aa3e-e6732793f9b4",
      "name": "Save to MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1280,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.email }}",
        "subject": "Automated update",
        "message": "={{ $json.summary }}",
        "options": {}
      },
      "id": "302197a2-cc2c-452b-a2ee-1255b160549e",
      "name": "Send Gmail Message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1520,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Summarize meeting notes with MySQL and Gmail in real time\n\n**Pattern:** AI Summarize & Route\n**Trigger:** Webhook\n**Integrations:** MySQL, Gmail\n\nImport, add your credentials, then adjust parameters. Original FlowDex template.",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "451ed894-9288-4970-8054-f223a232af76",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1560,
        80
      ]
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Summarize with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with AI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Save to MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to MySQL": {
      "main": [
        [
          {
            "node": "Send Gmail Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "5afa2ca6-38f0-4c2a-97ab-bf0121e41969",
  "id": "FDX01076"
}