product-files/workflows/Web Scraping & Data Extraction/Research/Intermediate/09654_Scrape prices with HTTP REST API and Notion for your team.json
{
  "name": "Scrape prices with HTTP / REST API and Notion for your team",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "84fa35eb-66e1-4162-b9f8-f4dfe33ebc9b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "daf21099-869a-4c6a-88ef-041ed547546d",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "6b0a04b1-1f83-4f41-ab45-c84715d05457",
              "name": "isValid",
              "value": "={{ $json ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "e554f6c8-dfab-405e-9eee-4ad59d1c8497",
      "name": "Validate Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        300
      ],
      "notes": "Validate & normalize the input before downstream steps (§9.1)."
    },
    {
      "parameters": {
        "url": "https://api.example.com/records",
        "options": {}
      },
      "id": "8d115edc-dbc2-4de6-a586-1bfb1c50cf62",
      "name": "Fetch Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "// Deduplicate by email\nconst seen = new Set();\nreturn $input.all().filter(i => {\n  const k = i.json.email || i.json.id;\n  if (seen.has(k)) return false; seen.add(k); return true;\n});"
      },
      "id": "2538e48e-efa7-42a0-85af-1d123547bcbf",
      "name": "Transform Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "text": "={{ JSON.stringify($json) }}",
        "schemaType": "fromAttributes",
        "attributes": {
          "attributes": [
            {
              "name": "summary",
              "description": "A short summary",
              "type": "string"
            },
            {
              "name": "category",
              "description": "A category label",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c262c4bd-5c0c-442c-bc8d-a161af46ce26",
      "name": "Structure Data with AI",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        1280,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "a5f696ea-066c-4730-958e-14290b6a7097",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1220,
        520
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "options": {}
      },
      "id": "47a69d77-a7a3-4dfa-9f3a-3caa3d58cb1f",
      "name": "Save to Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1520,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Scrape prices with HTTP / REST API and Notion for your team\n\n**Pattern:** Web Scraping\n**Trigger:** Scheduled\n**Integrations:** HTTP / REST API, Notion\n\nImport, add your credentials, then adjust parameters. Original FlowDex template.",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "79f78859-0f23-4b95-8c75-2aa9a62b6a69",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1560,
        80
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Fetch Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Data": {
      "main": [
        [
          {
            "node": "Transform Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Items": {
      "main": [
        [
          {
            "node": "Structure Data with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Data with AI": {
      "main": [
        [
          {
            "node": "Save to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structure Data with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "5617bc16-0eb2-4b5a-bebb-982d0693ced4",
  "id": "FDX09654"
}