product-files/workflows/Email Automation/Inbox Triage/Intermediate/02458_Save form submissions with Airtable and Twilio without manual work.json
{
  "name": "Save form submissions with Airtable and Twilio without manual work",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Save form submissions with Airtable and Twilio without manua",
        "formFields": {
          "values": [
            {
              "fieldLabel": "From",
              "requiredField": true
            },
            {
              "fieldLabel": "Subject",
              "requiredField": false
            },
            {
              "fieldLabel": "Receivedat",
              "requiredField": false
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -200,
        400
      ],
      "id": "590032d9-f8aa-4bdd-bad2-43b9834cc364",
      "name": "New Email Form Submission",
      "webhookId": "267aba1b-4b33-40b5-ab97-c5fa6f854064"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c939631e-2dd2-4e92-bcb6-0cdbeb22f409",
              "name": "messageId",
              "value": "={{ $json.messageId || $json.id || $execution.id }}",
              "type": "string"
            },
            {
              "id": "740928f8-0f42-44f9-ad4c-e663db5e98ba",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        400
      ],
      "id": "d2fc278e-2b93-4359-91ef-53c79dbd58de",
      "name": "Stamp & Shape Email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f84329fc-0c5e-4310-81fc-87de747a729b",
              "leftValue": "={{ $json.messageId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        400
      ],
      "id": "43199971-9b8f-4b04-b82d-dd4056a567b6",
      "name": "Payload Valid?"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Email Automation Base"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Emails"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        280,
        570
      ],
      "id": "3229f9f8-6f2d-441a-a8ff-16fdcfb7f611",
      "name": "Record Rejected Input",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ee606c5-08e8-4e11-afc5-f278e652528f",
              "name": "requestId",
              "value": "={{ $json.messageId || $execution.id }}",
              "type": "string"
            },
            {
              "id": "df415158-6469-4e70-8e04-2308dc12e57f",
              "name": "summary",
              "value": "={{ ($json.from || '').toString().slice(0, 200) }}",
              "type": "string"
            },
            {
              "id": "9fc4e8f0-dc6e-477d-817a-d577859d1b81",
              "name": "requestedBy",
              "value": "={{ $json.email || 'system' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        400
      ],
      "id": "9d78344f-8bee-4741-8fb4-ce7c8d7bd960",
      "name": "Prepare Approval Packet"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#inbox-ops",
          "cachedResultName": "#inbox-ops"
        },
        "text": "=🟡 Approval needed for {{ $json.summary }} — resume link: {{ $execution.resumeUrl }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        760,
        400
      ],
      "id": "92f836ab-0949-4076-9bd6-c9c5c78e222c",
      "name": "Request Approval via Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1000,
        400
      ],
      "id": "d75452d2-87ff-43e9-8480-191fd7fd92f6",
      "name": "Hold for Decision",
      "webhookId": "4b8051f4-5360-4240-9802-0b9eb252550f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af644dba-31d5-4f8c-96f6-4f15dda95513",
              "leftValue": "={{ $json.body?.decision || $json.decision }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1240,
        400
      ],
      "id": "436587ef-b21e-4d46-bfc2-7b1a573a9946",
      "name": "Approved?"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Email Automation Base"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Emails"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "messageId"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1480,
        320
      ],
      "id": "3108be1c-e191-45c0-800e-b1a4ccfb088d",
      "name": "Apply Approved Change (Airtable)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "from": "+15550100000",
        "to": "={{ $json.phone || 'ONCALL_NUMBER' }}",
        "message": "=❌ Request {{ $json.requestId }} was declined.",
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1720,
        520
      ],
      "id": "e3cb8d17-b662-4cdc-8870-03aa55f4e770",
      "name": "Record Decline + Notify Requester",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2200,
        400
      ],
      "id": "74ef0a71-e46e-4ae2-9232-18e43c67462c",
      "name": "Join Decision Paths"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#inbox-ops",
          "cachedResultName": "#inbox-ops"
        },
        "text": "=✅ Save form submissions with Airtable and Twilio without manual work — run completed at {{ $now.toFormat('HH:mm') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2920,
        400
      ],
      "id": "3337e498-f46f-45af-b8b8-182164f7b41c",
      "name": "Send Summary to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5010ea2e-c95e-4370-a282-574ac182f349",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "e1d93bc1-4594-45bf-9f67-e65aeba8410c",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "f0f3904d-a49d-4228-a60c-5b04f67d2963",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2440,
        740
      ],
      "id": "a446171f-026a-471a-9e5f-5e3216b3d78f",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#inbox-ops",
          "cachedResultName": "#inbox-ops"
        },
        "text": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2680,
        740
      ],
      "id": "44a8dc4f-400e-48d0-9340-30ce2823502b",
      "name": "Escalate Failure to Slack",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "## Save form submissions with Airtable and Twilio without manual work\n\n**Pattern:** Form Intake  \n**Trigger:** Form  \n**Level:** Core\n\nProcesses emails for inbox triage — see node notes for details. Configure credentials on the marked nodes before first run.",
        "height": 220,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        60
      ],
      "id": "7f3cceea-b6ad-4133-a8c1-0efb0e50b524",
      "name": "Overview"
    }
  ],
  "connections": {
    "New Email Form Submission": {
      "main": [
        [
          {
            "node": "Stamp & Shape Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp & Shape Email": {
      "main": [
        [
          {
            "node": "Payload Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Valid?": {
      "main": [
        [
          {
            "node": "Prepare Approval Packet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Rejected Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Approval Packet": {
      "main": [
        [
          {
            "node": "Request Approval via Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Approval via Slack": {
      "main": [
        [
          {
            "node": "Hold for Decision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hold for Decision": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Apply Approved Change (Airtable)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Decline + Notify Requester",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Approved Change (Airtable)": {
      "main": [
        [
          {
            "node": "Join Decision Paths",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Decline + Notify Requester": {
      "main": [
        [
          {
            "node": "Join Decision Paths",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join Decision Paths": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Slack": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "9e33f2d8-74c1-4a47-af5e-f4b2cfe4e0d0",
  "id": "FDX02458"
}