product-files/workflows/Email Automation/Inbox Triage/Intermediate/02684_Nurture leads with PostgreSQL and Outlook for your team.json
{
  "name": "Nurture leads with PostgreSQL and Outlook for your team",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -270,
        400
      ],
      "id": "9ca5a175-f4fd-4acc-a432-b945a3937a19",
      "name": "Daily Schedule"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Normalize incoming email records to a stable schema\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  out.push({ json: {\n    messageId: String(j.messageId ?? j.id ?? '').trim(),\n    from: typeof j.from === 'string' ? j.from.trim() : j.from ?? null,\n    source: j.source ?? 'api',\n    receivedAt: new Date().toISOString(),\n  } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        54,
        400
      ],
      "id": "2206d24e-b908-4c93-b839-c6a95c172e4d",
      "name": "Normalize Email Payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9945ba01-7352-4a52-b26a-b20b2123f052",
              "leftValue": "={{ ($json.score ?? 50) >= 50 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        378,
        400
      ],
      "id": "727a77eb-5687-4fce-94e6-283a38d3e159",
      "name": "Segment Audience"
    },
    {
      "parameters": {
        "subject": "=Hi {{ $json.name || 'there' }}, here's how to get started…",
        "bodyContent": "=Hi {{ $json.name || 'there' }}, here's how to get started…",
        "toRecipients": "={{ $json.email || 'ops@company.com' }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        702,
        160
      ],
      "id": "493e826e-a546-4c14-af62-d620a0c1d0e8",
      "name": "Step 1 — Welcome (Outlook)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO emails (messageId, from, subject, updated_at)\nVALUES ($1, $2, $3, NOW())\nON CONFLICT (messageId) DO UPDATE SET updated_at = NOW();",
        "options": {
          "queryReplacement": "={{ [ $json.messageId, $json.from, $json.subject ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1026,
        760
      ],
      "id": "ccb578f1-f641-4c05-8784-83ce30d83ec2",
      "name": "Tag for Slow Nurture",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1350,
        400
      ],
      "id": "8e859c12-78a0-489a-996c-769b476223cf",
      "name": "Wait Before Step 2",
      "webhookId": "ac7fc5c9-8c16-4108-bca1-b85701c4fdce"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "979b60a3-1193-4966-880f-9a546da871a7",
              "leftValue": "={{ $json.status }}",
              "rightValue": "converted",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1674,
        400
      ],
      "id": "637bc640-eb53-4315-93a1-c7ba777e9391",
      "name": "Converted Already?"
    },
    {
      "parameters": {
        "subject": "=Quick tip for {{ $json.company || 'your team' }} — see what others automate.",
        "bodyContent": "=Quick tip for {{ $json.company || 'your team' }} — see what others automate.",
        "toRecipients": "={{ $json.email || 'ops@company.com' }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1998,
        160
      ],
      "id": "492a3a2a-9cfe-48f0-bebd-9d614b3e4af7",
      "name": "Step 2 — Value Nudge (Outlook)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Email Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "messageId"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2322,
        760
      ],
      "id": "3740cf5e-3f17-4901-9f23-10968d293b8b",
      "name": "Mark Converted — Stop Drip",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Email Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "messageId"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2646,
        400
      ],
      "id": "8668d95b-09b1-44db-a7b8-56058e702967",
      "name": "Update Drip Status",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build a stable idempotency key per email (djb2 hash, no deps)\nfunction hash(s) {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16);\n}\nreturn $input.all().map(item => {\n  const j = item.json;\n  return { json: { ...j, idempotencyKey: hash([j.messageId, j.from].join('|')) } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2970,
        400
      ],
      "id": "c41dcb9a-6e93-46e5-91fe-87de8aed5ca9",
      "name": "Fingerprint for Idempotency"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "logic": "removeItemsWithAlreadySeenKeyValues",
        "dedupeValue": "={{ $json.idempotencyKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        3294,
        400
      ],
      "id": "d000ddb2-79ec-4ecf-ba3c-54e68ebf19b4",
      "name": "Drop Already-Processed Items"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://enrichment.example.com/v2/lookup",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.from }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3618,
        400
      ],
      "id": "8b3c2947-505b-432f-880b-ecfd5918640f",
      "name": "Enrich with Reference Data",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "932bd719-b3aa-48a9-98c2-0cafaa4d5745",
              "name": "enrichedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "46777bf2-e398-4656-8fa4-00f266033f82",
              "name": "enrichmentSource",
              "value": "reference-api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3942,
        400
      ],
      "id": "88c8bf84-0c49-40cc-a651-6d911f774168",
      "name": "Fold In Enrichment Fields"
    },
    {
      "parameters": {
        "operation": "csv",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4266,
        400
      ],
      "id": "3fed5b30-30fd-4c5d-a16d-76885c7e39fc",
      "name": "Serialize Run Output (CSV)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO email_log (messageId, from, subject, logged_at)\nVALUES ($1, $2, $3, NOW());",
        "options": {
          "queryReplacement": "={{ [ $json.messageId, $json.from, $json.subject ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4590,
        400
      ],
      "id": "6489336a-4764-43c7-ac5d-7bbc6c48b1a1",
      "name": "Archive Row Snapshot",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "650f21c7-586d-4066-9384-d08796430a4e",
              "name": "runAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "e046fdd8-aef3-4c75-9aff-191ae4756a5d",
              "name": "itemCount",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "93a53f10-1e99-43af-8044-f313e9228785",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4914,
        400
      ],
      "id": "c80cff3d-3d1a-4bf7-be4e-3058e73410b8",
      "name": "Summarize Run Stats"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Email Tracker"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Main",
          "cachedResultName": "Main"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5238,
        400
      ],
      "id": "ad2e6446-98eb-4c86-a833-3b370b741ccc",
      "name": "Append Audit Row (Google Sheets)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "subject": "=✅ Nurture leads with PostgreSQL and Outlook for your team — run completed at {{",
        "bodyContent": "=✅ Nurture leads with PostgreSQL and Outlook for your team — run completed at {{ $now.toFormat('HH:mm') }}",
        "toRecipients": "={{ $json.email || 'ops@company.com' }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        5562,
        400
      ],
      "id": "1956950c-7057-4af7-8673-e4ddda59cc29",
      "name": "Send Summary to Outlook",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1da020cb-edba-4ad7-a12c-0b043b9bfbcd",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "16c3d71b-c314-4074-97ad-a1b359509a3a",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || JSON.stringify($json).slice(0,200) }}",
              "type": "string"
            },
            {
              "id": "8553d4f2-b5e5-4716-a9de-cd306a65af56",
              "name": "workflow",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4914,
        1420
      ],
      "id": "d4612ccb-850f-4924-ba98-c8a9aae24656",
      "name": "Capture Failure Context"
    },
    {
      "parameters": {
        "subject": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage ",
        "bodyContent": "=🚨 {{ $json.workflow }} failed at {{ $json.failedNode }}: {{ $json.errorMessage }}",
        "toRecipients": "={{ $json.email || 'ops@company.com' }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        5238,
        1420
      ],
      "id": "a20544ea-455c-4e65-81e1-97324700dffd",
      "name": "Escalate Failure to Outlook",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO email_log (messageId, from, subject, logged_at)\nVALUES ($1, $2, $3, NOW());",
        "options": {
          "queryReplacement": "={{ [ $json.messageId, $json.from, $json.subject ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5562,
        1420
      ],
      "id": "ed588132-2d49-459c-b5c0-a109d5e6ac2f",
      "name": "Park in Dead-Letter Queue",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "### Daily Schedule\n\nStarts the workflow on a timer — daily at 8:00. No input data; downstream nodes fetch what they need.\n\nNext: Normalize Email Payload",
        "width": 280,
        "height": 232,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -330,
        520
      ],
      "id": "bebeddb0-dcd4-3161-b240-239b4bc79293",
      "name": "Note: Daily Schedule"
    },
    {
      "parameters": {
        "content": "### Normalize Email Payload\n\nCustom JavaScript: Normalize incoming email records to a stable schema\n\nNext: Segment Audience",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6,
        520
      ],
      "id": "81a9c75b-fcd3-35e6-ad39-26e7ea687c7c",
      "name": "Note: Normalize Email Payload"
    },
    {
      "parameters": {
        "content": "### Segment Audience\n\nTwo-way gate on `={{ ($json.score ?? 50) >= 50 }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Step 1 — Welcome (Outlook) · ②→ Tag for Slow Nurture",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        318,
        520
      ],
      "id": "bf2957b3-52d4-c2e4-5f1e-53f289ae06f4",
      "name": "Note: Segment Audience"
    },
    {
      "parameters": {
        "content": "### Step 1 — Welcome (Outlook)\n\nmicrosoftOutlook — `action` operation against the connected account.\n\nPorts: ①→ Wait Before Step 2 · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Microsoft OAuth2",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        642,
        280
      ],
      "id": "311e99b2-f6cf-1a5e-606d-5da91d313780",
      "name": "Note: Step 1 — Welcome (Outlook)"
    },
    {
      "parameters": {
        "content": "### Tag for Slow Nurture\n\npostgres — `executeQuery` operation against the connected account.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Postgres connection",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        966,
        880
      ],
      "id": "add83cff-9d6f-b495-23b5-71dcd32d51f3",
      "name": "Note: Tag for Slow Nurture"
    },
    {
      "parameters": {
        "content": "### Wait Before Step 2\n\nPauses 2 days — spacing calls to respect rate limits.\n\nNext: Converted Already?",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1290,
        520
      ],
      "id": "dc1bb430-3892-eb4c-0ff4-e2c2639cb93a",
      "name": "Note: Wait Before Step 2"
    },
    {
      "parameters": {
        "content": "### Converted Already?\n\nTwo-way gate on `={{ $json.status }}`. TRUE continues the happy path, FALSE takes the alternate branch.\n\nPorts: ①→ Step 2 — Value Nudge (Outlook) · ②→ Mark Converted — Stop Drip",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1614,
        520
      ],
      "id": "6af98686-30ca-c8d5-eb37-065b05f316bd",
      "name": "Note: Converted Already?"
    },
    {
      "parameters": {
        "content": "### Step 2 — Value Nudge (Outlook)\n\nmicrosoftOutlook — `action` operation against the connected account.\n\nPorts: ①→ Update Drip Status · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Microsoft OAuth2",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1938,
        280
      ],
      "id": "2460f6d0-908d-ec44-9924-11c41a7cac6c",
      "name": "Note: Step 2 — Value Nudge (Outlook)"
    },
    {
      "parameters": {
        "content": "### Mark Converted — Stop Drip\n\ngoogleSheets — `appendOrUpdate` operation against the connected account.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2262,
        880
      ],
      "id": "dbbd3998-1f18-d212-fa6d-96714ce660f4",
      "name": "Note: Mark Converted — Stop Drip"
    },
    {
      "parameters": {
        "content": "### Update Drip Status\n\npostgres — `appendOrUpdate` operation against the connected account.\n\nPorts: ①→ Fingerprint for Idempotency · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Postgres connection",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2586,
        520
      ],
      "id": "6cbe717c-67a8-8a95-e413-3b5587af28c2",
      "name": "Note: Update Drip Status"
    },
    {
      "parameters": {
        "content": "### Fingerprint for Idempotency\n\nCustom JavaScript: Build a stable idempotency key per email (djb2 hash, no deps)\n\nNext: Drop Already-Processed Items",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2910,
        520
      ],
      "id": "e6091f2e-2dff-0096-04d9-ba16c3db4cc0",
      "name": "Note: Fingerprint for Idempotency"
    },
    {
      "parameters": {
        "content": "### Drop Already-Processed Items\n\nCross-execution dedupe: remembers keys it has processed before and drops repeats — the idempotency guard.\n\nNext: Enrich with Reference Data",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3234,
        520
      ],
      "id": "a52f962b-fb49-bbf7-8d44-0f6f2ec83112",
      "name": "Note: Drop Already-Processed Items"
    },
    {
      "parameters": {
        "content": "### Enrich with Reference Data\n\nGET https://enrichment.example.com/v2/lookup — retries 3× with backoff on failure.\n\nPorts: ①→ Fold In Enrichment Fields · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 API key / bearer for the target API",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3558,
        520
      ],
      "id": "c73c2c90-52c1-ca91-3e53-4a07b59ebd2b",
      "name": "Note: Enrich with Reference Data"
    },
    {
      "parameters": {
        "content": "### Fold In Enrichment Fields\n\nShapes the item: writes `enrichedAt`, `enrichmentSource`. Keeps the schema explicit between stages.\n\nNext: Serialize Run Output (CSV)",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3882,
        520
      ],
      "id": "11090ced-8b92-f917-bd0f-b982d290a74b",
      "name": "Note: Fold In Enrichment Fields"
    },
    {
      "parameters": {
        "content": "### Serialize Run Output (CSV)\n\nSerializes items to a CSV binary file.\n\nNext: Archive Row Snapshot",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4206,
        520
      ],
      "id": "68a8781a-d96e-681a-5496-37a7e1600c00",
      "name": "Note: Serialize Run Output (CSV)"
    },
    {
      "parameters": {
        "content": "### Archive Row Snapshot\n\npostgres — `executeQuery` operation against the connected account.\n\nPorts: ①→ Summarize Run Stats · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Postgres connection",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4530,
        520
      ],
      "id": "0655547e-fa9f-5221-7058-112552c231b9",
      "name": "Note: Archive Row Snapshot"
    },
    {
      "parameters": {
        "content": "### Summarize Run Stats\n\nShapes the item: writes `runAt`, `itemCount`, `status`. Keeps the schema explicit between stages.\n\nNext: Append Audit Row (Google Sheets)",
        "width": 280,
        "height": 232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4854,
        520
      ],
      "id": "8875e3b8-61bf-cb17-1332-f146f51af196",
      "name": "Note: Summarize Run Stats"
    },
    {
      "parameters": {
        "content": "### Append Audit Row (Google Sheets)\n\ngoogleSheets — `append` operation against the connected account.\n\nPorts: ①→ Send Summary to Outlook · ②→ Capture Failure Context\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Google OAuth2 / service account",
        "width": 280,
        "height": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5178,
        520
      ],
      "id": "4aa7fc7a-8230-72c2-ad6d-1c825c5a319b",
      "name": "Note: Append Audit Row (Google Sheets)"
    },
    {
      "parameters": {
        "content": "### Send Summary to Outlook\n\nmicrosoftOutlook — `action` operation against the connected account.\n\n↻ retries 3×/2s · ⚠ failures exit via the error rail · 🔑 Microsoft OAuth2",
        "width": 280,
        "height": 232,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5502,
        520
      ],
      "id": "896af725-386c-0f5a-2315-59baf98d3c99",
      "name": "Note: Send Summary to Outlook"
    },
    {
      "parameters": {
        "content": "### Capture Failure Context\n\nShapes the item: writes `failedNode`, `errorMessage`, `workflow`. Keeps the schema explicit between stages.\n\nNext: Escalate Failure to Outlook",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4854,
        1540
      ],
      "id": "62abd679-e37a-bf4c-b76c-ce7cc451169a",
      "name": "Note: Capture Failure Context"
    },
    {
      "parameters": {
        "content": "### Escalate Failure to Outlook\n\nmicrosoftOutlook — `action` operation against the connected account.\n\nNext: Park in Dead-Letter Queue\n\n↻ retries 3×/2s · 🔑 Microsoft OAuth2",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5178,
        1540
      ],
      "id": "d88a3d23-84db-ec5c-32e3-27b28c3d4fe0",
      "name": "Note: Escalate Failure to Outlook"
    },
    {
      "parameters": {
        "content": "### Park in Dead-Letter Queue\n\npostgres — `executeQuery` operation against the connected account.\n\n↻ retries 3×/2s · 🔑 Postgres connection",
        "width": 280,
        "height": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5502,
        1540
      ],
      "id": "ead7e994-c334-7138-1eef-cd0825b069f5",
      "name": "Note: Park in Dead-Letter Queue"
    },
    {
      "parameters": {
        "content": "# Nurture leads with PostgreSQL and Outlook for your team\n\n**Pattern:** Drip Sequence · **Level:** Production · **Trigger:** Scheduled\n\n## What it does\nNurture leads with PostgreSQL and Outlook for your team. It runs automatically on a schedule.\n\n## Why it exists\nManual inbox triage is slow and error-prone; this workflow makes the process repeatable, monitored and hands-off, with failures surfaced instead of silently lost.\n\n## Main flow\nDaily Schedule → Normalize Email Payload → Segment Audience → Step 1 — Welcome (Outlook) → Wait Before Step 2 → Converted Already? → Step 2 — Value Nudge (Outlook) → …\n\n## Use it for\n- Teams that want to drip sequence without manual effort\n- Anyone automating inbox triage in marketing\n- Replacing a fragile manual process with a reliable workflow\n\n## You get\n- Standardizes the process every time\n- Saves hours of manual work each week\n- Scales without extra headcount\n\n## Before first run\nConnect credentials: API key / bearer for the target API; Google OAuth2 / service account; Microsoft OAuth2; Postgres connection.\nFollow the color key: 🟦 entry · 🟪 AI · 🟫 actions · ⬜ utilities · 🟩 outputs · 🟥 error rail.\nEach node has its own doc card underneath — read those before editing.",
        "width": 480,
        "height": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -830,
        80
      ],
      "id": "cc34e432-2cdc-1c3a-c372-0913a7640cdb",
      "name": "📘 Workflow Overview"
    },
    {
      "parameters": {
        "content": "## 🛟 Error handling & retries\n\nExternal calls retry **3× with 2s backoff**. Anything still failing exits through its node's error output into the red error rail → context is captured and the on-call channel is alerted. Failures are also parked in a dead-letter queue for replay. Set an n8n **Error Workflow** in settings as the final safety net.",
        "width": 360,
        "height": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -230,
        -260
      ],
      "id": "382cfa32-2f80-2220-5d99-923b2de841c8",
      "name": "🛟 Error handling & retries"
    },
    {
      "parameters": {
        "content": "## ⏱ Rate limiting\n\nWork is batched and spaced with Wait so provider quotas aren't tripped. If you hit 429s, lower the batch size or raise the wait — throughput drops, reliability rises.",
        "width": 360,
        "height": 260,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        190,
        -260
      ],
      "id": "98e7e358-4f19-87a4-9933-1dde9ad14147",
      "name": "⏱ Rate limiting"
    },
    {
      "parameters": {
        "content": "## 🧹 Data quality\n\nDedupe/diff steps make re-runs safe: the same input twice will not create duplicate records. If you change the key fields, clear n8n's dedupe memory (node → 'Clear stored keys') before the next run.",
        "width": 360,
        "height": 260,
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        610,
        -260
      ],
      "id": "5b84a965-35ca-8238-940a-3a44937a7f82",
      "name": "🧹 Data quality"
    },
    {
      "parameters": {
        "content": "## 🛠 Customize me\n\nQuick wins: point the data nodes at your own accounts (see 🔑 lines on each card), adjust the trigger cadence, and tune thresholds/labels to your inbox triage process. Every node card explains its role — safe to extend at any marked branch.",
        "width": 360,
        "height": 260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1030,
        -260
      ],
      "id": "a8d77c00-2dbd-8950-ae0e-d6a9b50d50bf",
      "name": "🛠 Customize me"
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Normalize Email Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Email Payload": {
      "main": [
        [
          {
            "node": "Segment Audience",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segment Audience": {
      "main": [
        [
          {
            "node": "Step 1 — Welcome (Outlook)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tag for Slow Nurture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 1 — Welcome (Outlook)": {
      "main": [
        [
          {
            "node": "Wait Before Step 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Step 2": {
      "main": [
        [
          {
            "node": "Converted Already?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converted Already?": {
      "main": [
        [
          {
            "node": "Step 2 — Value Nudge (Outlook)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Converted — Stop Drip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 2 — Value Nudge (Outlook)": {
      "main": [
        [
          {
            "node": "Update Drip Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Drip Status": {
      "main": [
        [
          {
            "node": "Fingerprint for Idempotency",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fingerprint for Idempotency": {
      "main": [
        [
          {
            "node": "Drop Already-Processed Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drop Already-Processed Items": {
      "main": [
        [
          {
            "node": "Enrich with Reference Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with Reference Data": {
      "main": [
        [
          {
            "node": "Fold In Enrichment Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fold In Enrichment Fields": {
      "main": [
        [
          {
            "node": "Serialize Run Output (CSV)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serialize Run Output (CSV)": {
      "main": [
        [
          {
            "node": "Archive Row Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Row Snapshot": {
      "main": [
        [
          {
            "node": "Summarize Run Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Run Stats": {
      "main": [
        [
          {
            "node": "Append Audit Row (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Audit Row (Google Sheets)": {
      "main": [
        [
          {
            "node": "Send Summary to Outlook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Failure Context": {
      "main": [
        [
          {
            "node": "Escalate Failure to Outlook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate Failure to Outlook": {
      "main": [
        [
          {
            "node": "Park in Dead-Letter Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag for Slow Nurture": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Converted — Stop Drip": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Outlook": {
      "main": [
        [],
        [
          {
            "node": "Capture Failure Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "a05f8256-4817-4a83-9789-be1c9e81aa54",
  "id": "FDX02684"
}