product-files/workflows/Project & Task Management/Standups/Expert/08523_Route documents with Outlook and PostgreSQL 247.json
{
  "name": "Route documents with Outlook and PostgreSQL 24/7",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Submit your details",
        "formDescription": "Fill in the fields below to get started.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "fieldType": "text",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Message",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "id": "2c24eb23-e4a5-45ac-8e9f-d706d11c6f84",
      "name": "On Form Submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        320,
        300
      ],
      "webhookId": "2b220f68-6fca-45ec-bd7a-505953287496"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f7c271e-bbb8-4432-813c-782f8626cae8",
              "name": "count",
              "value": "={{ $json.items ? $json.items.length : 1 }}",
              "type": "number"
            },
            {
              "id": "add45552-7f1e-491b-aaac-525ee1211f1a",
              "name": "status",
              "value": "='processed'",
              "type": "string"
            },
            {
              "id": "238ddc0f-d252-4c1e-88ea-08d5296f1dff",
              "name": "source",
              "value": "='flowdex-workflow'",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8e550c04-f734-421f-9b19-c47537c9b127",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "04d4e47f-7c71-49ba-a86d-ede76ca1d4f1",
              "leftValue": "={{ $json.amount }}",
              "rightValue": "new",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "1c1e3556-8f84-42b5-b801-609fc4a9db0e",
      "name": "Route on Condition",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "subject": "Automated update",
        "bodyContent": "={{ $json.summary }}",
        "toRecipients": "={{ $json.email }}"
      },
      "id": "a45563a7-4ee4-4b96-9755-1c5b3f5c953d",
      "name": "Send Outlook Message",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "records",
          "mode": "name"
        },
        "options": {}
      },
      "id": "71aaf831-f9d6-4e9c-bbb9-392f5e118341",
      "name": "Save to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1280,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {},
      "id": "c58d5a33-39ed-4385-a5fa-eba061f90ad1",
      "name": "Skip (No Action)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        500
      ]
    },
    {
      "parameters": {
        "content": "## Route documents with Outlook and PostgreSQL 24/7\n\n**Pattern:** Approval Workflow\n**Trigger:** Form\n**Integrations:** Outlook, PostgreSQL\n\nImport, add your credentials, then adjust parameters. Original FlowDex template.",
        "height": 260,
        "width": 360,
        "color": 4
      },
      "id": "60947dec-c6be-483b-81fb-deb9186e580c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1320,
        80
      ]
    }
  ],
  "connections": {
    "On Form Submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Route on Condition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route on Condition": {
      "main": [
        [
          {
            "node": "Send Outlook Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip (No Action)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Outlook Message": {
      "main": [
        [
          {
            "node": "Save to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "ba3be062-65a8-41f3-b1c7-7b43efc57be5",
  "id": "FDX08523"
}